<?xml version="1.0" encoding="UTF-8"?>
<?python
from pootle_app.templates import pootlepage
from pootle_app.views.util import form_set_as_table
from Pootle.util import l
?>
<include py:layout="'page_layout.kid'" xmlns:py="http://purl.org/kid/ns#">

  <div id="content" py:def="content_block()">
    <div py:if="sessionvars.issiteadmin" class="module-primary first">
      <div class="bd">
	<ul class="linklist">
	  <li><a href="../home/" py:content="text.home">Home page</a></li>
	  <li><a href="index.html" py:content="text.admin">Main Admin page</a></li>
	</ul>
	
	<div class="fullwidthcontents">
	  <h3 class="title" py:content="text.projects">Projects</h3>
	  
	  <form action="" method="post" name="projects" id="projects">
	    <div py:content="text.error_msg"></div>
	    <div py:replace="XML(formset.management_form.as_table())"/>
	    <table cellpadding="1" cellspacing="1">
	      <tr>
		<th py:for="field in [field for field in formset.forms[0].fields if field != 'id']">
		  <span py:replace="formset.forms[0][field].label" />
		</th>
	      </tr>

	      <tr py:for="form in formset.forms">
		<td>
		  <div py:replace="XML(form['id'].as_widget())" />
		  <!-- !If 'code' in form.initial, then we're dealing with a form for an existing language.
		       Thus, print a link to the admin page of that language. -->
		  <div py:if="'code' in form.initial" py:strip="">
		    <a href="${l('/projects/'+form.initial['code']+'/admin.html')}"><span py:replace="form.initial['code']" /></a>
		    <!-- !Remember a hidden field to pass the data through unchanged -->
		    <div py:replace="XML(form['code'].as_hidden())" />
		  </div>
		  <!-- !If 'code' not in form.initial, then we're dealing with the form used to insert a new langauge.
		       Print the textbox widget so that we can insert the language code for the new language. -->
		  <div py:if="'code' not in form.initial" py:strip="">
		    <div py:replace="XML(form['code'].as_widget())" />
		  </div>
		</td>
		<td align="center" py:for="field in [field for field in formset.forms[0].fields if field not in ('id', 'code')]">
		  <div py:replace="XML(form[field].as_widget())" />
		</td>
	      </tr>
	    </table>
	    <input type="submit" name="changeprojects" value="${text.savechanges}" />
	  </form>
	</div>
      </div>
    </div>
  </div><!--content-->

</include>
