{% extends "user_profile_base_extended.html"  %}
{% load assets i18n baseurl %}
 
{% block title %}{% trans "Translation Settings" %} | {{ block.super }}{% endblock %}

{% block breadcrumbs %}
{{ block.super }}<li>{% trans "Translation Settings" %}</li>
{% endblock %}

{% block body_id %}settings{% endblock %}

{% block section_description %}{% trans "Here you can configure the settings related to the translation interface as well as your language preferences." %}{% endblock %}

{% block section_body %}
<form method="post" action="">
  {% csrf_token %}
  {{ form.non_field_errors }}
  {% for field in form %}
  <p>{{ field.errors }}
    {{ field.label_tag }} {{ field }}
    {% if field.help_text %}<span class="help_text">{{ field.help_text }}</span>{% endif %}
  </p>
  {% endfor %}
  <p class="buttons">
      <input type="submit" class="save" value="{% trans 'Save' %} "/>
  </p>
</form>
{% endblock %}

{% block scripts_extra %}
{% assets "js_common" %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
{% if LANGUAGE_BIDI %}
<script type="text/javascript">
$(function() {
  $("select#id_ui_lang option").filter(":not([dir])").bidi();
});
</script>
{% endif %}
{% endblock %}
