{% extends "user_profile_base.html"  %}
{% load i18n baseurl profile_tags %}

{% block title %}
    {% if user == profile.user %}
        {{ block.super }}
    {% else %}
        {{ profile.user }} | {% trans "Users" %} | {{ settings.TITLE }}
    {% endif %}
{% endblock %}

{% block body_id %}dashboard{% endblock %}

{% block breadcrumbs %}
    {% if user == profile.user %}
        {{ block.super }}
    {% else %}
        <li>{% trans "Users" %}</li><li>{{ profile.user }}</li>
    {% endif %}
{% endblock %}

{% block header_tabs_block %}
{% if user == profile.user %}
  {{ block.super }}
{% endif %}
{% endblock %}

{% block content %}
<div class="module first" lang="{{ LANGUAGE_CODE }}">
    <div class="hd">
        <h2>{% trans "Quick Links" %}</h2>
    </div>
    <div class="bd">
    {% if profile.getquicklinks %}
        {% for language in profile.getquicklinks %}
        <dl class="languagelist">
            <dt class="language">
                <a href="{% filter l %}/{{ language.code }}/{% endfilter %}">{{ language.name }}</a>
                {% if user == profile.user and language.islangadmin %}
                    <span class="adminlink">(<a href="{% filter l %}/{{ language.code }}/admin.html{% endfilter %}">{% trans "Admin" %}</a>)</span>
                {% endif %}
            </dt>
            {% for project in language.projects %}
            <dd>
            <a href="{% filter l %}/{{ language.code }}/{{ project.code }}/{% endfilter %}">{{ project.name }}</a>
            {% if user == profile.user and project.isprojectadmin %}
                <span class="adminlink">(<a href="{% filter l %}/{{ language.code }}/{{ project.code }}/admin_permissions.html{% endfilter %}">{% trans "Permissions" %}</a> | <a href="{% filter l %}/{{ language.code }}/{{ project.code }}/admin_files.html{% endfilter %}">{% trans "Files" %}</a>)</span>
            {% endif %}
            </dd>
            {% endfor %}
        </dl>
        {% endfor %}
    {% else %}
        {% if user == profile.user %}
        <p><a href='{{ "/accounts/edit/"|l }}'>{% trans "No languages or projects selected. Choose yours now." %}</a></p>
        {% else %}
        {% trans "This user has not selected languages or projects yet." %}
        {% endif %}
    {% endif %}
    </div>
</div>
{% endblock %}

{% block postcontent %}
<div class="module user-statistics" lang="{{ LANGUAGE_CODE }}">
  <div class="hd">
    <h2>{% trans "User Statistics" %}</h2>
  </div>
  <div class="bd">
    <div class="avatar">
        <img src="{{ profile|gravatar:100 }}" width="100" height="100"{% if user == profile.user %} title="{% trans "You can set or change your avatar image at www.gravatar.com" %}"{% endif %} />
    </div>
    <table>
      {% for stat in profile.getuserstatistics %}
      <tr>
        <th scope="row">{{ stat.text }}</th><td class="stats-number">{{ stat.count }}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>
{% if user.is_superuser and user == profile.user %}
<div style="clear: {% if LANGUAGE_BIDI %}left{% else %}right{% endif %};" ></div>
{% include "admin/rss_widget.html" %}
{% endif %}
{% endblock %}
