{% extends "profiles/settings/base.html"  %}
{% load i18n %}

{% block title %}{% trans "Evernote account" %} | {{ block.super }}{% endblock %}

{% block breadcrumbs %}
{{ block.super }}<li>{% trans "Evernote account" %}</li>
{% endblock %}

{% block body_id %}evernote_account{% endblock %}

{% block section_description %}
{% if user.evernote_account %}
  <p>{% blocktrans with username=user.evernote_account.name %}This Pootle account is linked with "<strong>{{ username }}</strong>" Evernote account.{% endblocktrans %}</p>
{% else %}
  <p>{% blocktrans %}Here you can link this Pootle account with Evernote account — this will allow you to sign in faster next time.{% endblocktrans %}</p>
{% endif %}
{% endblock %}

{% block section_body %}
{% if user.evernote_account %}
  {% if user.evernote_account.user_autocreated %}
  <div class="disconnect-error">
    <p>{% trans 'This Pootle account cannot be unlinked from Evernote.' %}</p>
  </div>
  {% else %}
  <form method="post" action="{% url 'en-auth-account-unlink' %}">
  {% csrf_token %}
    <p class="buttons">
      <input type="submit" class="btn" value="{% trans 'Unlink from Evernote' %}" />
    </p>
  </form>
  {% endif %}
{% else %}
  <form method="get" action="{% url 'en-auth-sso-login' %}">
    {% csrf_token %}
    <p class="buttons">
      <input type="submit" class="btn" value="{% trans 'Link with Evernote' %}" />
      <input type="hidden" name="next" value="{{ request.path }}" />
      <input type="hidden" name="create" value="" />
    </p>
  </form>
{% endif %}
{% endblock %}
