{% extends "profiles/settings/base.html"  %}
{% load i18n %}

{% block title %}{% trans "Evernote account" %} | {{ block.super }}{% endblock %}

{% block breadcrumbs %}
{{ block.super }}<li>{% trans "Evernote account" %}</li>
{% endblock %}

{% block body_id %}evernote_account{% endblock %}

{% block section_description %}
{% if user.evernote_account %}
  <p>This Pootle account is linked with "<strong>{{ user.evernote_account.name }}</strong>" Evernote account.</p>
{% else %}
  <p>Here you can link this Pootle account with Evernote account — this will allow you to log in faster next time.</p>

{% endif %}
{% endblock %}

{% block section_body %}
{% if user.evernote_account %}
  {% if user.evernote_account.user_autocreated %}
  <div class="disconnect-error">
    <p>This Pootle account can't be unlinked from Evernote.</p>
  </div>
  {% else %}
  <form method="post" action="{% url 'evernote_account_disconnect' %}">
  {% csrf_token %}
    <p class="buttons">
      <input type="submit" class="btn" value="Unlink from Evernote" />
    </p>
  </form>
  {% endif %}
{% else %}
  <form method="get" action="{% url 'evernote_create_login' %}">
    {% csrf_token %}
    <p class="buttons">
      <input type="submit" class="btn" value="Link with Evernote" />
      <input type="hidden" name="next" value="{{ request.path_info }}" />
    </p>
  </form>
{% endif %}
{% endblock %}
