<?xml version="1.0" encoding="UTF-8"?>
<?python
from pootle_app.templates import pootlepage, navbar, util
from pootle_app.lib.util import l, m
?>

<include py:layout="'../page_layout.kid'" xmlns:py="http://purl.org/kid/ns#">


  <!--! search form -->
  <div py:if="search" py:def="search_block()" class="searchform" dir="$uidir" lang="$uilanguage">
    <form action="translate.html?view_mode=translate" method="post" name="searchform" id="searchform">
      <div py:replace="XML(search.search_form.as_p())"/>
      <input type="hidden" name="new_search" value="new_search" />
      <a class="advancedlink">
	<img src="${m('images/bullet_arrow_down.png')}" title="${search.advanced_search_title}" class="togglesearch" />
	<img src="${m('images/bullet_arrow_up.png')}" title="${search.advanced_search_title}" class="togglesearch" style="display: none;"/>
      </a>
      <div class="advancedsearch" dir="$uidir" >
	<table py:content="XML(search.advanced_search_form.as_table())" />
      </div>
    </form>
  </div><!--search-->

  <!--! Navigation bar -->
  <div id="innernav" py:def="innernav_block()" class="navbar" py:for="item in navitems">
    <div py:def="itemtitle(item)" id="breadcrumbs" class="title">
      <a href="${l(item.href)}">${item.title}</a>
      <h3 class="title">
      <div py:strip="True" py:if="item.path.language">[<a href="${l(item.path.language.href)}">${item.path.language.text}</a>]</div>
      <div py:strip="True" py:if="item.path.project">[<a href="${l(item.path.project.href)}">${item.path.project.text}</a>]</div>
      <div py:strip="True" py:for="pathlink in item.path.pathlinks">
        <a href="${l(pathlink.href)}">${pathlink.text}</a>${pathlink.sep}
        <em py:if="item.path.goal"><a href="${l(item.path.goal.href)}">${item.path.goal.text}</a></em>
      </div>
      </h3>
    </div>
    <div py:replace="navbar.item_block(item, uidir, uilanguage, mediaurl, itemtitle(item))" class="contentsitem"/>
    <div py:replace="navbar.itemstats(item)"/>
  </div><!--innernav-->

  <div id="content" py:def="content_block()">
    <!--! The statistics view -->
    <div py:if="not editing and children" py:strip="True">
      <div class="module-primary">
	<div class="bd">
	  <table class="sortable stats" id="stats" cellpadding="5" cellspacing="0" width="100%">
	    <thead>
	      <tr>
		<th class="stats">${stats_headings.name}</th>
		<th class="stats">${stats_headings.progress}</th>
		<th class="stats">${stats_headings.summary}</th>
		<th class="stats">${stats_headings.totalwords}</th>
	      </tr>
	    </thead>
	    <tbody class="stats">
	      <div py:for="p, item in util.parity(children)" py:strip="True">
		<tr class="item ${p}" title="${item.description}">
		  <div py:replace="navbar.itemsummary(item, uidir, untranslated_text, fuzzy_text, complete)"/>
		</tr>
	      </div>
	    </tbody>
	  </table>
	</div>
      </div>
    </div>

    <!--! The editing view -->
    <div py:if="editing" py:for="p, item in util.parity(children)" py:strip="True">
      <div class="module-primary">
	<div class="bd">
	  <div py:if="'isgoal' in item" class="goalitem">
	    <div py:replace="navbar.item_block(item, uidir, uilanguage, mediaurl, show_goals(item))"/>
	    <div py:replace="navbar.itemstats(item)"/>
	  </div>
	  
	  <div py:if="'isdir' in item" class="item ${p}">
	    <div py:replace="navbar.item_block(item, uidir, uilanguage, mediaurl)"/>
	    <div py:replace="navbar.itemstats(item)"/>
	  </div>
	  
	  <div py:if="'isfile' in item" class="item ${p}">
	    <div py:replace="navbar.item_block(item, uidir, uilanguage, mediaurl)"/>
	    <div py:replace="navbar.itemstats(item)"/>
	  </div>
	</div>
      </div>
    </div>
    
    <!--! The goals view -->
    <div py:if="assign or goals" class="module first">
      <div class="bd">
	<div class="sidetitle" py:if="assign" py:content="assign.title">
	  Assign Strings
	</div>

	<form py:if="assign" action="" method="post" name="assignform">
	  <select name="assignto" title="${assign.users_text}">
	    <option py:for="user in assign.users" value="${user}" py:content="assign.users[user].description">Username</option>
	  </select>
	  <input type="text" name="action" value="translate" title="${assign.action_text}" />
	  <input type="submit" name="doassign" value="${assign.button}" />
	</form>
	
	<div class="sidetitle" py:if="goals" py:content="goals.title">Goals</div>
	<form py:if="goals" action="" method="post" name="goalform">
	  <input type="text" name="newgoal" title="${goals.name_title}" />
	  <input type="submit" name="doaddgoal" value="${goals.button}" />
	</form>
      </div>
    </div>
  </div><!--content-->
  
  <div id="postcontent" py:def="postcontent_block()">
    <div py:if="upload" id="upload" class="module first clear">
      <div class="bd">
        <h2 py:if="upload" py:content="upload.form.title">Upload File</h2>
        <form py:if="upload" action="" method="post" id="uploadform" name="uploadform" enctype="multipart/form-data">
          <div py:replace="XML(upload.as_p())" />
        </form>
      </div>
    </div>

    <div py:if="update" id="update" class="module first clear">
      <div class="bd">
        <form py:if="update" action="" method="post" name="updateform" enctype="multipart/form-data">
          <div py:replace="XML(update.as_p())" />
        </form>
      </div>
    </div>
    
    <div py:replace="pootlepage.topcontributerstable(topstats, topstatsheading)" />
  </div><!--postcontent-->
  
  <!--! only called from item_block().  should be moved to navbar.kid or removed-->
  <div py:def="show_goals(item)">
    <div py:if="item.goal.users or item.goal.show_adduser">
      <img src="${mediaurl}images/person.png" class="icon" alt="" dir="$uidir" lang="$uilanguage" />
      <div py:for="user in item.goal.users" py:strip="True">${user.name}${user.sep}</div>
      <form py:if="item.goal.show_adduser" action="" method="post" name="goaluserform">
	<input type="hidden" name="editgoalname" value="${item.goal.name}"/>
	<select name="newgoaluser">
	  <option py:for="user in item.goal.otherusers" value="${user}" py:content="item.goal.otherusers[user].description">Username</option>
	</select>
	<input type="submit" name="doeditgoalusers" value="${item.goal.adduser_title}"/>
      </form>
    </div>
  </div>

</include>
