<?xml version="1.0" encoding="UTF-8"?>
<?python
from pootle_app.templates import pootlepage
from pootle_app.lib.util import l
?>
<include py:layout="'../page_layout.kid'" xmlns:py="http://purl.org/kid/ns#">

  <div id="content" py:def="content_block()">
    <div class="module first">
      <div class="hd">
        <h2 py:content="languagelink">Languages</h2>
      </div>
      <div class="bd">
        <table class="sortable">
          <tr><th>Language</th><th>Overall Completion</th><th>Last Activity</th></tr>
          <tr py:for="zebra, lang in enumerate(languages)" class="${zebra%2 and 'odd' or 'even'}">
            <td class="language"><a href="${l('/'+lang.code+'/')}" py:content="lang.name">Language</a></td>
            <td>
              <span class="graph" dir="$uidir">
                <span class="translated" style="width: ${l.transper}px" title="${l.trans}/${l.total} words translated" />
                <span class="fuzzy" style="${cssaligndir}: ${l.transper}px; width: ${l.fuzzyper}px" title="${l.fuzzy}/${l.total} words fuzzy" />
                <span class="untranslated" style="${cssaligndir}: ${l.transper+l.fuzzyper}px; width: ${l.untransper}px" title="${l.untrans}/${l.total} words untranslated" />
              </span>
              <span class="sortkey">${l.transper}%</span>
            </td> 
            <td>${l.lastactivity}</td>
          </tr>
        </table>
      </div>
    </div>
  </div><!--content-->

  <div id="postcontent" py:def="postcontent_block()">
    <div class="module first clear">
      <div class="bd">
        <div py:replace="pootlepage.translationsummarylegend(translationlegend, mediaurl)" />
      </div>
    </div>
  </div><!--postcontent-->

</include>

