<?xml version="1.0" encoding="UTF-8"?>
<?python
from pootle_app.templates import pootlepage, navbar
from pootle_app.lib.util import l
?>
<include py:layout="'../page_layout.kid'" xmlns:py="http://purl.org/kid/ns#">


  <div id="breadcrumbs" py:def="breadcrumbs_block()">
    <h3 class="title">[ <a href="${l('/'+language.code+'/')}" py:content="language.name">Language</a> (<py:content>$language.code</py:content>)]</h3>
  </div><!--breadcrumbs-->

  <div id="innernav" py:def="innernav_block()">	
    <div class="item-statistics" py:content="language.stats">0 projects, average 0% translated</div>
  </div><!--nav-secondary-->



  <div id="content" py:def="content_block()">
    <div class="module-primary">
      <div class="bd">
	<table class="sortable stats" id="stats" cellpadding="5" cellspacing="0" width="100%">
	  <thead>
	    <tr>
	      <th class="stats">${statsheadings.name}</th>
	      <th class="stats">${statsheadings.progress}</th>
	      <th class="stats">${statsheadings.summary}</th>
	      <th class="stats">${statsheadings.totalwords}</th>
	    </tr>
	  </thead>
	  <tbody class="stats">
	    <div py:for="item in projects" py:strip="True">
	      <tr class="item ${item.parity}" title="${item.description}">
		<div py:replace="navbar.itemsummary(item, uidir, untranslatedtext, fuzzytext, complete)"/>
	      </tr>
	    </div>
	  </tbody>
	</table>
      </div>
    </div>
  </div><!--content-->

  <div id="postcontent" py:def="postcontent_block()">
    <div class="module first clear">
      <div class="bd">
	<div py:replace="pootlepage.translationsummarylegend(translationlegend, mediaurl)" />
      </div>
    </div>

    <div py:replace="pootlepage.topcontributerstable(topstats, topstatsheading)" />
  </div><!--postcontent-->
</include>
