{% extends "layout.html" %}
{% load i18n %}

{% block title %}{% trans "Permission Denied" %} | {{ block.super }}{% endblock %}

{% block breadcrumbs %}
{{ block.super }}<li>{% trans "Permission Denied" %}</li>
{% endblock %}

{% block content %}
<div class="form message error" lang="{{ LANGUAGE_CODE }}">
    <h2>{% trans 'Permission Denied' %}</h2>
    {% if permission_error %}
    <p>{{ permission_error }}</p>
    {% else %}
    <p>{% trans "You don't have permission to access this page." %}</p>
    {% endif %}
    {% if login_message %}
    <p>{{ login_message|safe }}</p>
    {% endif %}
</div>
{% endblock %}
