{% extends "layout.html" %}
{% load i18n %}

{% block title %}{% trans "Server Error" %} | {{ block.super }}{% endblock %}

{% block breadcrumbs %}
{{ block.super }}<li>{% trans "Server Error" %}</li>
{% endblock %}

{% block content %}
<div class="form message error" lang="{{ LANGUAGE_CODE }}">
  <h2>{% trans 'Server Error' %}</h2>
  <p>{% trans "An error has occurred. Thank you for your patience." %}</p>
  {% if fserror %}
  <p class="exception">{{ fserror }}</p>
  {% else %}
  <p class="exception">{{ exception }}</p>
  {% endif %}
  {% if request.sentry.id %}
  <p class="exception">{% blocktrans with ref=request.sentry.id %}If you need assistance, you may refer to this error as <strong>{{ ref }}</strong>.{% endblocktrans %}</p>
  {% endif %}
</div>
{% endblock %}
