{% load i18n %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8">
    <title>{% trans "Maintenance" %} | {{ settings.TITLE }}</title>
    <link rel="stylesheet" type="text/css" href="/media/css/fonts.css" />
    <link rel="stylesheet" type="text/css" href="/media/css/style.css" />
    <link rel="icon" sizes="48x48" href="/media/img/icon_48x48.png" />
  </head>
  <body>
    <div style="margin: 5em;">
      <h1>{% trans "We're doing some maintenance" %}</h1>
      <p>{% trans "Please check back in a few minutes." %}</p>
    </div>
  </body>
</html>
