{% extends "layout.html" %}

{% load i18n locale %}

{% get_current_language as LANGUAGE_CODE %}

{% block title %}{% trans 'About' %} | {{ block.super }}{% endblock title %}

{% block header_block %}{% endblock %}

{% block content %}
<div class="staticpage" lang="{{ LANGUAGE_CODE }}" dir="{% locale_dir %}">
  <h1 class="title">{% trans 'About This Pootle Server' %}</h1>
  {# Translators: For better readability, make sure to leave an space after the closing </i> tag #}
  <p>
    {% blocktrans trimmed %}
    This site is running Pootle — powerful web software to empower
    teams to do translation and translation management. This community
    tool is Free Software, and any team can use it and contribute to the
    Pootle community. Read more on the
    <a href="http://pootle.translatehouse.org/">project website</a>.
    {% endblocktrans %}
  </p>
  <p>
    {% blocktrans trimmed %}
    Pootle {{ pootle_version }} is powered by Translate Toolkit {{ toolkit_version }}.
    {% endblocktrans %}
  </p>
</div>
{% endblock %}
