{% load i18n baseurl %}
<ul id="tabs" class="admin">
  <li><a href='{{ "/admin/"|l}}' class="admindashboard" title="{% trans 'Information and statistics about this Pootle server' %}">{% trans "Info" %}</a></li>
  <li><a href='{{ "/admin/general.html"|l }}' class="admingeneral" title="{% trans 'Configure the general settings for your site' %}">{% trans "General" %}</a></li>
  <li><a href='{{ "/admin/users.html"|l }}' class="adminusers" title="{% trans 'Manage the users' %}">{% trans "Users" %}</a></li>
  <li><a href='{{ "/admin/languages.html"|l }}' class="adminlanguages" title="{% trans 'Manage the languages' %}">{% trans "Languages" %}</a></li>
  <li><a href='{{ "/admin/projects.html"|l }}' class="adminprojects" title="{% trans 'Manage the projects' %}">{% trans "Projects" %}</a></li>
  <li><a href='{{ "/admin/permissions.html"|l }}' class="adminpermissions" title="{% trans 'Manage the default permissions' %}">{% trans "Permissions" %}</a>
  <li><a href='{{ "/admin/features.html"|l }}' class="adminfeatures" title="{% trans 'Manage the features switchers' %}">{% trans "Features" %}</a>
  <li><a href='{{ "/admin/pages/"|l }}' class="adminstaticpages" title="{% trans 'Manage Static Pages' %}">{% trans "Static Pages" %}</a></li>
</ul>
