{% extends "layout.html" %}
{% load i18n %}

{% block title %}{% trans "Database Error" %} | {{ block.super }}{% endblock %}

{% block breadcrumbs %}
{{ block.super }}<li>{% trans "Database Error" %}</li>
{% endblock %}

{% block content %}
<div class="form message error" lang="{{ LANGUAGE_CODE }}">
  <h2>{% trans 'Database Error' %}</h2>
  <p>
  {% blocktrans %}Pootle can't connect to the database, the database is not
initialized yet, or a schema upgrade is needed before continuing.{% endblocktrans %}
  </p>
  <p>
  {% blocktrans with url="http://docs.translatehouse.org/projects/pootle/en/latest/server/index.html" %}
Please read the <a href="{{ url }}">Pootle documentation</a> for installation
and upgrade instructions. Contact the server administrator if you feel this is
a mistake.{% endblocktrans %}
  </p>
  <p class="exception">
  {% trans "The reported error was:" %}<br />
  {{ exception }}
  </p>
</div>
{% endblock %}
