{% load i18n baseurl %}
<ul id="tabs">
  <li><a href='{{ "."|l }}' class="languageoverview" title="{% trans 'Language main page' %}">{% trans "Overview" %}</a></li>
  <li><a href='{{ "notices"|l }}' class="languagenews" title="{% trans 'Language news' %}">{% trans "News" %}{% if user.is_superuser or request.permissions.administrate %} <span class="admin">+</span>{%endif%}</a></li>
  {% if user.is_superuser or request.permissions.administrate %}
  <li><a href='{{ "admin.html"|l }}' class="languageadmin admintab" title="{% trans 'Administrate your language permissions' %}">{% trans "Permissions" %}</a></li>
  {% endif %}
</ul>
