{% load i18n assets baseurl locale profile_tags humanize staticfiles %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}" dir="{% locale_dir %}" id="{% block html_id %}pootle-base{% endblock %}" class="{{ settings.POOTLE_INSTANCE_ID }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% block title %}{{ settings.TITLE }}{% endblock title %}</title>
    {% block meta %}
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="application-name" content="{{ settings.TITLE }}" />
    <link rel="icon" href="{% static 'images/app-32x32.png' %}" sizes="32x32" />
    <link rel="icon" href="{% static 'images/app-64x64.png' %}" sizes="64x64" />
    {% endblock meta %}
    {% block css %}
    {% assets "css_common" %}
    <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}" />
    {% endassets %}
    {% endblock css %}
    {% block css_overrides %}
    {% endblock css_overrides %}
    {% block favicon %}
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" />
    {% endblock favicon %}
    {% block js %}
    {% assets "js_vendor" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
    {% assets "js_common" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
    <script type="text/javascript">
    function l(path) {
      var basepath = "{{ settings.SCRIPT_NAME  }}";
      if (path[0] == '/') {
        return basepath + path;
      }
      return path;
    }
    function s(path) {
      return "{{ STATIC_URL }}" + path;
    }

    PTL.contact.init({url: "{% url 'pootle-contact' %}"});

    $(function () {
      PTL.common.init({
        hasSidebar: {{ announcement|yesno:'true, false' }}
      });

      {% if user.is_authenticated %}
      PTL.score.init({{ request.user.public_score }});
      PTL.dropdown.init('.js-navbar-dropdown');
      {% endif %}

      $(document).tipsy({
        gravity: $.fn.tipsy.autoBounds2(150, 'n'),
        html: true,
        fade: true,
        delayIn: 750,
        opacity: 1,
        live: '[title], [original-title]'
      });
      $.ajaxSetup({
        traditional: true,
        crossDomain: false,
        beforeSend: function (xhr, settings) {
          if (!/^(GET|HEAD|OPTIONS|TRACE)$/.test(settings.type)) {
            xhr.setRequestHeader('X-CSRFToken', '{{ csrf_token }}');
          }
        }
      });

      {% if display_agreement %}
      PTL.agreement.init('{% url "pootle-staticpages-legal-agreement" %}');
      {% endif %}
    });
    </script>
    {% endblock js %}
    {% block extra_head %}{% endblock %}
  </head>

  <body id="{% block body_id %}pootle-body-base{% endblock %}" class="preload {% block body_class %}{% endblock %}">
    {% block body %}
    <div id="wrapper">
      <noscript>
        <div id="noscript" class="alert alert-danger affix">
          <h1>{% trans "Pootle requires JavaScript" %}</h1>
          <p>{% trans "Please enable JavaScript in your browser preferences and reload the page." %}</p>
        </div>
      </noscript>
      <div id="alerts" class="affix js-alerts">
        {% for message in messages %}
        <div class="alert alert-block alert-{{ message.tags }} fade in" lang="{{ LANGUAGE_CODE }}">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          {{ message|safe }}
        </div>
        {% endfor %}
      </div>

      <nav id="navbar">
        {% block navbar %}
        <div id="nav-access">
          <a href="#nav-main">{% trans 'skip to navigation' %}</a>
        </div>
        {% block logo %}
        <h1 class="brand"><a href="{% url 'pootle-home' %}"><i class="icon-logo"></i><span class="site-title">{{ settings.TITLE }}</span></a></h1>
        {% endblock %}
        <a href="#nav-main" id="menu-toggle" class="js-toggle">&nbsp;</a>
        <ul id="nav-main">
          {% block nav_items %}
          {% block nav_items_pre %}{% endblock %}
          {% if user.is_authenticated %}
          <li id="user" class="js-navbar-dropdown">
            <a href="{{ user.get_absolute_url }}" data-action="toggle">
              <img src="{{ user|gravatar:20 }}" />
              <span>{{ user.display_name }}</span>
              <span class="odometer js-score">{{ user.public_score|intcomma }}</span>
            </a>

            <ul class="dropdown-menu">
              <li><a href="{{ user.get_absolute_url }}">{% trans 'Public Profile' %}</a></li>
              <li><a href="{% url 'pootle-profile-edit' %}">{% trans 'Settings' %}</a></li>
              <li><a href="{% url 'pootle-user-stats' user.username %}">{% trans 'Statistics' %}</a></li>
              {% if user.is_superuser %}
              <li><a class="admin" href="{% url 'pootle-admin' %}">{% trans 'Admin' %}</a></li>
              {% endif %}
              <li class="menu-divider"></li>
              <li><a href="{% url 'account_logout' %}">{% trans 'Sign Out' %}</a></li>
            </ul>
          </li>
          {% else %}
          <li><a id="js-login" href="{% url 'pootle-profile-login' %}{{ request|get_next }}"><span class="btn btn-login">{% trans "Sign In" %}</span></a></li>
          {% endif %}
          {% block nav_items_post %}{% endblock %}
          {% endblock %}
        </ul>
        {% block navbar_extra %}{% endblock %}
        {% endblock %}
      </nav>

    {% block header_block %}
      {% block header_meta_block %}
      <div id="header-meta" class="header">
        {% block header_meta %}{% endblock %}

        {% block breadcrumbs_block %}
        <ul class="breadcrumb js-breadcrumb">
          {% block breadcrumbs %}{% endblock %}
        </ul>
        {% endblock %}
      </div>
      {% endblock %}

      {% block header_content_block %}{% endblock %}
      {% block actions_block %}{% endblock %}

      {% block header_tabs_block %}
      <div id="header-tabs" class="header">
        {% block tabs %}{% endblock %}
      </div>
      {% endblock %}
    {% endblock %}

    <div id="body">
      {% block pre_content %}{% endblock %}
      <div id="content">
        {% block content %}{% endblock %}
      </div>
      {% block post_content %}{% endblock %}
    </div>

    </div>
    {% block footer %}
    <div id="footer">
      <ul class="nav">
        {% block footer_items_pre %}{% endblock %}
        <li><a href="{% url 'pootle-about' %}">{% trans "About" %}</a></li>
        {% block footer_items_post %}{% endblock %}
      </ul>
    </div>
    {% endblock footer %}
    {% block scripts %}
    {% block scripts_extra %}{% endblock %}
    <script type="text/javascript" src="{% url 'django.views.i18n.javascript_catalog' %}"></script>
    {% endblock scripts %}
    {% endblock body %}
  </body>
</html>
