{% load i18n assets baseurl locale profile_tags staticpages humanize %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}" dir="{% locale_dir %}" id="{% block html_id %}{% endblock %}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% block title %}{{ settings.TITLE }}{% endblock title %}</title>
    {% block meta %}
    <meta name="application-name" content="{{ settings.TITLE }}" />
    <link rel="icon" href="{{ "images/app-32x32.png"|s }}" sizes="32x32" />
    <link rel="icon" href="{{ "images/app-64x64.png"|s }}" sizes="64x64" />
    {% endblock meta %}
    {% block css %}
    
    {#   The CSS file below link copyrighted web fonts (Caecilia family)          #}
    {#   so we're not distributing this as a part of open-source Pootle project   #}
    {#   but link directly to an external /media/ directory where the CSS file    #}
    {#   and the fonts should be located.                                         #}

    <link rel="stylesheet" type="text/css" href="/media/css/fonts.css" />

    {% assets "css_common" %}
    <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}" />
    {% endassets %}
    {% endblock css %}
    {% block favicon %}
    <link rel="shortcut icon" href="{{ "favicon.ico"|s }}" />
    {% endblock favicon %}
    {% block js %}
    {% assets "js_common" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
    <script type="text/javascript">
      Spinner.defaults = {
        lines: 11,
        length: 2,
        width: 5,
        radius: 11,
        rotate: 0,
        corners: 1,
        color: '#000',
        direction: 1,
        speed: 1,
        trail: 50,
        opacity: 1/4,
        fps: 20,
        zIndex: 2e9,
        className: 'spinner',
        top: 'auto',
        left: 'auto',
        position: 'relative'
      };

    function l(path) {
      var basepath = "{{ settings.SCRIPT_NAME  }}";
      if (path[0] == '/') {
        return basepath + path;
      }
      return path;
    }
    function s(path) {
      return "{{ STATIC_URL }}" + path;
    }
    {% if display_agreement %}
    PTL.common.displayAgreementPopup = function () {
      $.magnificPopup.open({
        items: {
          src: '{% url "pootle-staticpages-legal-agreement" %}',
          type: 'ajax'
        },
        callbacks: {
          parseAjax: function (mfpResponse) {
            mfpResponse.data = mfpResponse.data.form;
          }
        },
        modal: true
      });
    };

    $(document).on('click', '.js-agreement-popup', function (e) {
      e.preventDefault();
      $.magnificPopup.close();
      $.magnificPopup.open({
        items: {
          src: this.href,
          type: 'ajax'
        },
        callbacks: {
          afterClose: PTL.common.displayAgreementPopup
        },
        mainClass: 'popup-ajax'
      });
    });
    $(document).on('submit', '.js-agreement-form', function (e) {
      e.preventDefault();
      PTL.common.submitAgreementForm();
    });
    {% endif %}

    PTL.contact.init({url: "{% url 'pootle-contact' %}"});

    $(function() {
      {% if user.is_authenticated %}
      PTL.score.init({{ request.user.public_score }});
      {% endif %}

      $(document).tipsy({
        gravity: $.fn.tipsy.autoBounds2(150, 'n'),
        html: true,
        fade: true,
        delayIn: 750,
        opacity: 1,
        live: '[title], [original-title]'
      });
      $.ajaxSetup({
        traditional: true,
        crossDomain: false,
        beforeSend: function (xhr, settings) {
          if (!/^(GET|HEAD|OPTIONS|TRACE)$/.test(settings.type)) {
            xhr.setRequestHeader('X-CSRFToken', '{{ csrf_token }}');
          }
        }
      });

      {% if display_agreement %}
      PTL.common.displayAgreementPopup();
      {% endif %}
    });
    </script>
    {% endblock js %}
    {% block extra_head %}{% endblock %}
  </head>

  <body id="{% block body_id %}{% endblock %}" class="preload {% block body_class %}{% endblock %}">
    {% block body %}
    <div id="wrapper">
      <noscript>
        <div id="noscript" class="alert alert-danger affix">
          <h1>{% trans "Pootle requires JavaScript" %}</h1>
          <p>{% trans "Please enable JavaScript in your browser preferences and reload the page." %}</p>
        </div>
      </noscript>
      <div id="alerts" class="affix js-alerts">
        {% for message in messages %}
        <div class="alert alert-block alert-{{ message.tags }} fade in" lang="{{ LANGUAGE_CODE }}">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          {{ message|safe }}
        </div>
        {% endfor %}
      </div>

      <div id="navbar">
        {% block navbar %}
        <div id="nav-access">
          <a href="#nav-main">{% trans 'skip to navigation' %}</a>
        </div>
        <h1 class="brand"><a href="{% url 'pootle-home' %}"><img class="logo" src="{{ "images/logo.png"|s }}" /> EVERNOTE <span class="site-title">{{ settings.TITLE }}</span></a></h1>
        <div class="parent-site">
          <div class="divider">&nbsp;</div>
          <a href="//evernote.com">evernote.com</a>
        </div>
        <ul id="nav-main">
          <li><a href="{% staticpage_url 'getting-started' %}">{% trans "Getting Started" %}</a></li>
          <li><a class="js-popup-ajax" href="{% url 'pootle-contact' %}">{% trans "Contact Us" %}</a></li>
          {% if user.is_authenticated %}
          <li id="user">
            <a href="{{ user.get_absolute_url }}">
            <img src="{{ user|gravatar:20 }}" />
            <span>{{ user.username }}</span>
            <span class="odometer js-score">{{ user.public_score|intcomma }}</span>
            </a>
          </li>
          {% endif %}
          {% if user.is_superuser %}
          <li><a class="admin" href="{% url 'pootle-admin' %}">{% trans "Admin" %}</a></li>
          {% endif %}
          {% if user.is_authenticated %}
          <li><a href="{% url 'pootle-profile-logout' %}">{% trans "Sign Out" %}</a></li>
          {% else %}
          <li><a id="js-login" href="{% url 'pootle-profile-login' %}{{ request|get_next }}"><span class="btn btn-success">{% trans "Sign In" %}</span></a></li>
          {% endif %}
        </ul>
        {% block navbar_extra %}{% endblock %}
        {% endblock %}
      </div>

    {% block header_block %}
      {% block header_meta_block %}
      <div id="header-meta" class="header">
        {% block header_meta %}{% endblock %}

        {% block breadcrumbs_block %}
        <ul class="breadcrumb js-breadcrumb">
          {% block breadcrumbs %}{% endblock %}
        </ul>
        {% endblock %}
      </div>
      {% endblock %}

      {% block header_content_block %}{% endblock %}
      {% block actions_block %}{% endblock %}

      {% block header_tabs_block %}
      <div id="header-tabs" class="header">
        {% block tabs %}{% endblock %}
      </div>
      {% endblock %}
    {% endblock %}

    <div id="body">
      {% block pre_content %}{% endblock %}
      <div id="content">
        {% block content %}{% endblock %}
      </div>
      {% block post_content %}{% endblock %}
    </div>

    </div>
    {% block footer %}
    <div id="footer">
      <ul class="nav">
        <li><a href="{% staticpage_url 'about' %}">{% trans "About" %}</a></li>
        <li><a href="{% staticpage_url 'tos' %}">{% trans "Terms and Conditions" %}</a></li>
      </ul>
    </div>
    {% endblock footer %}
    {% block scripts %}
    {% block scripts_extra %}{% endblock %}
    <script type="text/javascript" src="{% url 'django.views.i18n.javascript_catalog' %}"></script>
    {% endblock scripts %}
    {% endblock body %}
  </body>
</html>
