{% extends "layout.html" %}
{% load i18n assets locale %}

{% block title %}{% trans "Sign In" %} | {{ block.super }}{% endblock %}

{% block body_id %}login-page{% endblock %}

{% block breadcrumbs %}
{{ block.super }}<li>{% trans "Sign In" %}</li>
{% endblock %}

{% block content %}
<div id="evernote-login">
  <form method="post" action="{% url 'en-auth-sso-login' %}">
  {% csrf_token %}
  <input type="submit" class="btn btn-xl btn-success" value="{% trans "Sign In with Evernote" %}"></input>
  <input type="hidden" name="next" value="{{ next }}" />
  </form>
</div>

<div class="formlink pootle">{% trans "or" %}&nbsp;
  <a href="#" class="js-en-auth-login">
      {% trans "Sign in using your dedicated account" %}
  </a>
</div>


<div class="login{% if not form.errors %} hide{% endif %}">
  <div id="login" class="form" dir="{% locale_dir %}">
    <h2>{% trans "Dedicated Account" %}</h2>
    <form method="post" action="{% url 'pootle-profile-login' %}"
          name="loginform" id="loginform">
      {% csrf_token %}
      {% if form.errors %}
      <div class="error">
      {% trans "Your username and password didn't match. Please try again." %}
      </div>
      {% endif %}
      <p>
        {{ form.username.label_tag }}
        {{ form.username }}
      </p>
      <p>
        {{ form.password.label_tag }}
        {{ form.password }}
      </p>
      <p class="buttons">
        <input type="submit" class="btn btn-lg btn-primary" name="login"
               value="{% trans 'Sign In' %}" />
        <input type="hidden" name="next" value="{{ next }}" />
      </p>
    </form>
  </div>
  <div class="formlink evernote">
    <a href="{% url 'pootle-password-reset' %}">
        {% trans "Lost your Password?" %}
    </a>
  </div>
</div>
{% endblock content %}
