{% load url from future %}
{% load i18n baseurl %}
<ul id="tabs">
  <li><a href='{% url 'pootle-project-overview' project.code %}' class="projectoverview" title="{% trans 'Project main page' %}">{% trans "Overview" %}</a></li>
  <li><a href='{% url 'pootle-project-overview' project.code %}notices' class="tpnews" title="{% trans 'Project news' %}">{% trans "News" %}{% if user.is_superuser or request.permissions.administrate %} <span class="admin">+</span>{%endif%}</a></li>
  <li><a href='{% url 'pootle-project-translate' project.code %}'
      class="projecttranslate" title="{% trans 'Translate this project' %}">{% trans "Translate" %}</a></li>
  {% if user.is_superuser or request.permissions.administrate %}
  <li><a href='{% url 'pootle-project-admin' project.code %}' class="projectadmin admintab" title="{% trans 'Administrate your project' %}">{% trans "Administrate" %}</a></li>
  <li><a href='{% url 'pootle-project-admin-permissions' project.code %}' class="projectperm admintab" title="{% trans 'Manage project permissions' %}">{% trans "Permissions" %}</a></li>
  {% endif %}
</ul>
