{% extends "layout.html" %}
{% load common_tags i18n %}

{% block title %}{% trans "Welcome" %} | {{ block.super }}{% endblock %}

{% block body_id %}welcome-page{% endblock %}

{% block header_block %}{% endblock %}

{% block content %}
<div class="top">
  <h1>{% trans 'Make Evernote' %}<br/>{% trans 'Speak Your Language' %}</h1>
  <h2>{% trans 'Join our translation community' %}</h2>

  <div id="evernote-login">
    <form method="post" action="{% url 'evernote_login' %}">
      {% csrf_token %}
      <input type="submit" class="btn btn-xl btn-success"
        value="{% trans 'Sign In with Evernote' %}"></input>
      <input type="hidden" name="next" value="{{ next }}" />
    </form>
  </div>
</div>

<div class="columns">
  <div class="columns-inner">

    <!-- centered column -->
    <div class="column center">

      <div class="section">
        <h1>{% trans 'Top Contributors This Month' %}</h1>
        {% top_scorers %}
      </div>

    </div>
    <!-- / centered column -->

  </div>
</div>
{% endblock content %}
