{% load i18n baseurl %}
{% block itemtitle %}
<div id="breadcrumbs" class="title">
  <h3 class="title">
    {% if item.path.language %}[<a href="{{item.path.language.href|l}}">{{item.path.language.text}}</a>]{% endif %}
    {% if item.path.project %}[<a href="{{item.path.project.href|l}}">{{item.path.project.text}}</a>]{% endif %}
    {% for pathlink in item.path.pathlinks %}
      <a href="{{pathlink.href|l}}">{{pathlink.text}}</a>{{pathlink.sep}}
      {% if item.path.goal %}<em><a href="{{item.path.goal.href|l}}">{{item.path.goal.text}}</a></em>{% endif %}
    {% endfor %}
  </h3>
</div>
{% endblock itemtitle %}
