{% load i18n baseurl %}

{% block itemtitle %}
<div id="breadcrumbs" class="title">
    <h2 class="title">
        {% if item.path.language %}<a href="{{ item.path.language.href|l }}">{{ item.path.language.text }}</a>{% endif %}
        {% if item.path.project %}{% trans " » " %}<a href="{{ item.path.project.href|l }}">{{ item.path.project.text }}</a>{% endif %}
        {% for pathlink in item.path.pathlinks %}
        {% if forloop.first %}{% trans " » " %}{% endif %}
        <a href="{{ pathlink.href|l }}">{{ pathlink.text }}</a>{{ pathlink.sep }}
        {% endfor %}
    </h2>
</div>
{% endblock itemtitle %}
