{% load i18n baseurl %}

{% get_current_language as LANGUAGE_CODE %}

{% block itemstats %}
<!-- itemstats -->
<div class="item-statistics small" lang="{{ LANGUAGE_CODE }}">
    <div>
    {% if not item.title %}
    <img src="{% filter m %}images/{{ item.icon }}.png{% endfilter %}"
    class="icon" alt="icon" lang="{{ LANGUAGE_CODE }}" dir="{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}"/>
    {% endif %}
    {{ item.stats.summary|safe }}
    </div>
    {% if item.stats.checks %}
    <dl>
        {% for check in item.stats.checks %}
        <dt><a href="{{ check.href|l }}">{{ check.text }}</a></dt><dd>{{ check.stats }}</dd>
        {% endfor %}
    </dl>
    {% endif %}
</div>
<!-- /itemstats -->
{% endblock itemstats %}
