{% load i18n baseurl %}

{% get_current_language_bidi as LANGUAGE_BIDI %}

{% block itemstats %}
<td class="stats-name">
    <a href="{{ item.href|l }}">{{ item.title }}</a>
</td>
{% if item.data %}
<td class="stats-graph">
    <span class="sortkey">{{ item.data.translatedpercentage }}</span>
    <span class="graph" title="{{ item.data.translatedpercentage }}% complete">
    <span class="translated" style="width: {{ item.data.translatedpercentage }}px;"> </span>
    {% if item.data.fuzzysourcewords %}<span class="fuzzy" style="{% if LANGUAGE_BIDI %}right{%else%}left{%endif%}: {{ item.data.translatedpercentage }}px; width: {{ item.data.fuzzypercentage }}px;"> </span>{% endif %}
    {% if item.data.untranslatedsourcewords %}<span class="untranslated" style="{% if LANGUAGE_BIDI %}right{%else%}left{%endif%}: {{ item.data.translatedpercentage|add:item.data.fuzzypercentage }}px; width: {{ item.data.untranslatedpercentage }}px;"> </span>{% endif %}
    </span>
</td>
<td class="stats">
    <ul>
        {% if item.data.untranslatedsourcewords or item.data.fuzzysourcewords %}
        <li class="todo"><a href="{% filter l %}{% if item.code %}{{ item.href }}{% endif %}translate.html?match_names=fuzzy,untranslated&editing=1&view_mode=review{% endfilter %}" title="{{ item.todo_tooltip }}">{{ item.todo_text }}</a></li>
        {% endif %}
        {% ifequal item.data.translatedsourcewords item.data.totalsourcewords %}
        <li class="complete">{% trans "Complete" %}</li>
        {% endifequal %}
    </ul>
</td>
<td class="stats-words">{{ item.data.totalsourcewords }}</td>
{% endif %}
{% endblock itemstats %}
