{% extends "base.html" %}
{% load i18n baseurl %}
{% get_current_language as LANGUAGE_CODE %}
{% get_current_language_bidi as LANGUAGE_BIDI %}
{% block body.id %}languageindex{% endblock body.id %}

{% block breadcrumbs %}
  <div id="breadcrumbs">
    <h3 class="title">[<a href="{%filter l%}/{{language.code}}/{%endfilter%}">{{language.name}}</a> 
      ({{language.code}})]</h3>
  </div><!--breadcrumbs-->
{% endblock breadcrumbs %}

{% block innernav %}
  <div id="innernav">	
    <div class="item-statistics">{{language.stats}}</div>
  </div><!--nav-secondary-->
{% endblock innernav %}

{% block content %}
  <div id="content">
    <div class="module-primary">
      <div class="bd">
	<table class="sortable stats" id="stats" cellpadding="5" cellspacing="0" width="100%">
	  <thead>
	    <tr>
	      <th class="stats">{{statsheadings.name}}</th>
	      <th class="stats">{{statsheadings.progress}}</th>
	      <th class="stats">{{statsheadings.summary}}</th>
	      <th class="stats">{{statsheadings.totalwords}}</th>
	    </tr>
	  </thead>
	  <tbody class="stats">
	    {% for item in projects %}
	      <tr class="item {% cycle 'even' 'odd' %}" title="{{item.description}}">
		{% include "language/item_summary.html" %}
	      </tr>
	    {% endfor %}
	  </tbody>
	</table>
      </div>
    </div>
  </div><!--content-->
{% endblock content %}

{% block postcontent %}
  <div id="postcontent">
    <div class="module first clear">
      <div class="bd">
	{% include "translation_summary_legend.html" %}
      </div>
    </div>
    {% include "top_contributers_table.html" %}
    <div py:replace="pootlepage.topcontributerstable(topstats, topstatsheading)" />
  </div><!--postcontent-->
{% endblock postcontent %}

