{% extends "base.html" %}
{% load i18n baseurl %}

{% block precontent %}

<h3 class="title">{{ pagetitle }}</h3>
<div class="info">
{% if not hide_fileadmin_links %}
  <ul class="menu">
    <li class="menuitem"><a href="{% filter l %}index.html{% endfilter %}"> {{ main_link }} </a></li>
    <li class="menuitem"><a href="{% filter l %}?scan_files=1{% endfilter %}"> {{ rescan_files_link }} </a></li>
    <li class="menuitem"><a href="{% filter l %}files.html{% endfilter %}">{% trans 'Manage project files' %}</a></li>
  </ul>
{% endif %}
</div>
<div class="intro">
    {{  filestyle_text }}
</div>

{% endblock %}

{% block content %}

<div class="module first">
    <div class="bd">
        <form action="" method="post" name="permissionsform" id="permissionsform">
            {{ permission_set_formset.management_form }}
            <table cellpadding="1" cellspacing="1">
                <tr>
                    <th>{% trans "Username" %}</th><th>{% trans "Permissions" %}</th><th>{% trans "Delete" %}</th>
                </tr>
                {% for form in permission_set_formset.forms %}
                {{ form.as_table }}
                {% endfor %}
            </table>
            <input type="submit" name="doupdaterights" value="{{ updaterights_text }}" />
        </form>
    </div>
</div>

{% endblock %}

