{% extends "base.html" %}
{% load i18n baseurl %}

{% block precontent %}

<h3 class="title">{% trans pagetitle %}</h3>
<div class="info">
    <a href="{% filter l %}index.html{% endfilter %}"> {% trans main_link %} </a><br />
    <a href="{% filter l %}?scan_files=1{% endfilter %}"> {% trans rescan_files_link %} </a><br />
</div>
<div class="intro">
    {% trans filestyle_text %}
</div>

{% endblock %}

{% block content %}

<div class="module first">
    <div class="bd">
        <form action="" method="post" name="permissionsform" id="permissionsform">
            {{ permission_set_formset.management_form }}
            <table cellpadding="1" cellspacing="1">
                <tr>
                    <th>{% trans "Username" %}</th><th>{% trans "Permissions" %}</th><th>{% trans "Delete" %}</th>
                </tr>
                {% for form in permission_set_formset.forms %}
                {{ form.as_table }}
                {% endfor %}
            </table>
            <input type="submit" name="doupdaterights" value="{% trans updaterights_text %}" />
        </form>
    </div>
</div>

{% endblock %}

