{% extends "tp_base_admin.html" %}

{% load i18n baseurl %}

{% block title %}
{% blocktrans with block.super as prevtitle %}{{ prevtitle }} » Files{% endblocktrans %}
{% endblock %}

{% block bodyclass %}tpadminfiles{% endblock %}

{% block section_description %}{% blocktrans %}Here you can delete the available files in this translation project. 
You may also want to <a href="?scan_files=1">rescan the project files</a> or <a href="?template_update=1">update files from template</a>.{% endblocktrans %}{% endblock %}

{% block section_body %}
{% include "admin/admin_general.html" %}
{% endblock %}
