{% extends "tp_base_admin.html" %}

{% load i18n baseurl %}

{% block title %}
{% blocktrans with block.super as prevtitle %}
{{ prevtitle }} » Files
{% endblocktrans %}
{% endblock %}

{% block bodyclass %}tpadminfiles{% endblock %}

{% block section_description %}{% blocktrans %}Here you can delete the available files in this translation project. You may also want to <a href="?scan_files=1">rescan the project files</a>.{% endblocktrans %}{% endblock %}

{% block section_body %}
<form action="" method="post" name={{ text.formid }} id={{ text.formid }}>
    {% if text.error_msg %}
    <div id="site-message">
        <div class="error">{% trans text.error_msg %}</div>
    </div>
    {% endif %}
    {{ formset.management_form }}
    <table cellpadding="1" cellspacing="1">
            {{ formset_text }}
    </table>
    <p>
        <input type="submit" name={{ text.submitname }} value="{% trans text.savechanges %}" />
    </p>
</form>
{% endblock %}
