{% extends "tp_base_extended.html" %}

{% block bodyclass %}tptranslate{% endblock bodyclass %}

{% block breadcrumbs_content %}
{% include "language/item_title.html" %}
{% endblock %}

{% block content %}
<!-- The editing view -->
{% for item in children %}
<div class="module-primary">
    <div class="bd">
        {% if item.isdir or item.isfile %}
        <div class="item {% cycle 'even' 'odd' %}">
        {% include "language/item_block.html" %}
        {% include "language/item_stats.html" %}
        </div>
        {% endif %}
    </div>
</div>
{% endfor %}
{% endblock content %}

{% block postcontent %}
{% if upload %}
<div id="upload" class="module first clear">
    <div class="bd">
        <h2>{{ upload.form.title }}</h2>
        <form action="" method="post" id="uploadform" name="uploadform" enctype="multipart/form-data">
          {{ upload.as_p }}
        </form>
    </div>
</div>
{% endif %}

{% if update %}
<div id="update" class="module first clear">
    <div class="bd">
        <form action="" method="post" name="updateform" enctype="multipart/form-data">
          {{ update.as_p }}
        </form>
    </div>
</div>
{% endif %}

{% include "top_contributers_table.html" %}
{% endblock postcontent %}
