<?xml version="1.0" encoding="UTF-8"?>
<?python
from pootle_app.templates import pootlepage
from pootle_misc.baseurl import l
?>
<include py:layout="'../page_layout.kid'" xmlns:py="http://purl.org/kid/ns#">

  <div id="content" py:def="content_block()">
    <div class="module first">
      <div class="hd">
	<h2 py:content="quicklinkstitle">Quick Links</h2>
      </div>
      <div class="bd">
	<div py:for="language in quicklinks" py:strip="True">
	  <dl>
	    <dt> <a href="${l('/'+language.code+'/')}" py:content="language.name">Language</a> </dt>
	    <dd py:for="project in language.projects">
	      <a href="${l('/'+language.code+'/'+project.code+'/')}" py:content="project.name">Language Project</a>
	      <div py:if="project.isprojectadmin" py:strip="True">
		(<a href="${l('/' + language.code + '/' + project.code + '/admin.html')}" py:content="admintext">Admin</a>)
	      </div>
	    </dd>
	  </dl>
	</div>

	<div py:if="not quicklinks" class="item-description" py:content="XML(setoptionstext)">
	  You need to <a href="/accounts/edit/">choose your languages and projects</a>.
	</div>

	<ul>
	  <li><a href="/accounts/edit/" py:content="optionslink">Change options</a></li>
	  <li py:if="sessionvars.issiteadmin"><a href="${l('/admin/')}" py:content="adminlink">Admin page</a></li>
	</ul>
      </div>
    </div>
  </div><!--content-->

  <div id="postcontent" py:def="postcontent_block()">
    <div class="module">
      <div class="hd">
	<h2 py:content="statstitle">User Statistics</h2>
      </div>
      <div class="bd">
	<div py:replace="pootlepage.userstatistics(user, statstext, statstitle)"/>
      </div>
    </div>
  </div><!--postcontent-->

</include>
