{% load i18n baseurl %}

{% get_current_language_bidi as LANGUAGE_BIDI %}

{% block itemstats %}
<td class="stats-name"{% if item.description %} title="{{ item.description|striptags }}"{% endif %}>
  {% if item.icon %}
    <img src="{% filter m %}images/{{ item.icon }}.png{% endfilter %}"
    class="icon" lang="{{ LANGUAGE_CODE }}" dir="{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}"/>
 {% endif %}
    <a href="{{ item.href|l }}">{{ item.title }}</a>
    {% if item.data.errors %}
    <img src="{{ "images/error.png"|m }}" alt="{% trans 'Error' %}"
         title="{{ item.errortooltip }}" class="error" />
    {% endif %}
</td>
{% if item.data %}
<td class="stats-graph">
    <div class="sortkey">{{ item.data.translatedpercentage }}</div>
    <div class="graph" title="{{ item.tooltip }}">
        <div class="translated" style="width: {{ item.data.translatedpercentage }}px;"></div>
        {% if item.data.fuzzysourcewords %}
        <div class="fuzzy" style="{% if LANGUAGE_BIDI %}right{%else%}left{%endif%}: {{ item.data.translatedpercentage }}px; width: {{ item.data.fuzzypercentage }}px;"></div>
        {% endif %}
        {% if item.data.untranslatedsourcewords %}
        <div class="untranslated" style="{% if LANGUAGE_BIDI %}right{%else%}left{%endif%}: {{ item.data.translatedpercentage|add:item.data.fuzzypercentage }}px; width: {{ item.data.untranslatedpercentage }}px;"></div>
        {% endif %}
    </div>
</td>
<td class="stats-number">
    {% if item.todo_words > 0 %}
    <a href="{{ item.href_todo }}" title="{{ item.todo_tooltip }}">{{ item.todo_words }}</a>
    {% else %}
    <span class="muted">0</span>
    {% endif %}
</td>
{% block extra_columns %}{% endblock %}
{% else %}
<td colspan="3"></td>
{% endif %}
{% endblock itemstats %}
