{% load i18n baseurl %}

<!-- itemblock -->
<div class="contentsitem" lang="{{ LANGUAGE_CODE }}" dir="{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}">
    {% if item.title %}
    <div class="title">
    <img src="{% filter m %}images/{{ item.icon }}.png{% endfilter %}"
    class="icon" alt="icon" lang="{{ LANGUAGE_CODE }}" dir="{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}"/>
    <a href="{{ item.href|l }}">{{ item.title }}</a>
    {% if item.data.errors %}
    <img src="{{ "images/error.png"|m }}" alt="{% trans 'Error' %}"
         title="{{ item.errortooltip }}" class="error" />
    {% endif %}
    </div>
    {% endif %}

    <h2>
    {{ item.stats.summary|safe }}
    </h2>

    {% if item.actions %}
    <div id="actionlinks" class="item-description">
        {% for link in item.actions %}
        <a class="{{ link.class }}" href="{{ link.href|l }}" title="{{ link.title }}"><span>{{ link.text }}</span></a>
        {% endfor %}
    </div>
    {% endif %}

    {% include "language/item_stats.html" %}
</div>
<!-- /itemblock -->
