{% load i18n baseurl locale %}

<!-- itemblock -->
<div class="contentsitem" lang="{{ LANGUAGE_CODE }}" dir="{% locale_dir %}">
    {% if item.title %}
    <div class="title">
      <a href="{{ item.href|l }}"><i class="icon-{{ item.icon }}"
          lang="{{ LANGUAGE_CODE }}" dir="{% locale_dir %}"></i> {{ item.title }}</a>
      {% if item.data.errors %}
      <i class="icon-error.png" alt="{% trans 'Error' %}"
        title="{{ item.errortooltip }}" class="error"></i>
      {% endif %}
    </div>
    {% endif %}

    <h2>
    {{ item.stats.summary|safe }}
    </h2>
</div>
<!-- /itemblock -->
