{% load i18n baseurl locale %}

<!-- itemblock -->
<div class="contentsitem" lang="{{ LANGUAGE_CODE }}" dir="{% locale_dir %}">
    {% if item.title %}
    <div class="title">
    <img src="{% filter s %}images/{{ item.icon }}.png{% endfilter %}"
    class="icon" alt="icon" lang="{{ LANGUAGE_CODE }}" dir="{% locale_dir %}"/>
    <a href="{{ item.href|l }}">{{ item.title }}</a>
    {% if item.data.errors %}
    <img src="{{ "images/error.png"|s }}" alt="{% trans 'Error' %}"
         title="{{ item.errortooltip }}" class="error" />
    {% endif %}
    </div>
    {% endif %}

    <h2>
    {{ item.stats.summary|safe }}
    </h2>
</div>
<!-- /itemblock -->
