{% load i18n baseurl progressbar locale %}

{% block itemstats %}
<td class="stats-name"{% if item.description %} title="{{ item.description|striptags }}"{% endif %}>
  <a href="{{ item.href|l }}">{% if item.icon %}<i class="icon-{{ item.icon }}"></i> {% endif %}<span>{{ item.title }}</span></a>
  {% if item.stats.errors %}
  <i class="icon-error"></i>
  {% endif %}
</td>
{% if item.stats %}
<td class="stats-graph">
  <div class="sortkey">{{ item.stats.translated.percentage }}</div>
  {% block progressbar %}{% progressbar item.stats %}{% endblock %}
</td>
<td class="stats-number">
  {% if item.todo_words > 0 %}
  <a href="{{ item.href_todo }}" title="{{ item.todo_tooltip }}">{{ item.todo_words }}</a>
  {% else %}
  <span class="muted">0</span>
  {% endif %}
</td>
{% block extra_columns %}{% endblock %}
{% else %}
<td></td><td></td><td></td>
{% endif %}
{% endblock itemstats %}
