# /deploy/*/
/deploy/*/fabric.py
/deploy/*/settings.conf
/deploy/*/virtualhost.conf

# /docs/
/docs/_build/
/docs/icons.rst.inc

# /pootle/assets/*/
/pootle/assets/

# /pootle/dbs/
/pootle/dbs/*.db

# /pootle/locale/*/LC_MESSAGES/
/pootle/locale/*/LC_MESSAGES/

# /pootle/static/
/pootle/static/.webassets-cache/
/pootle/static/css/*.min.css
/pootle/static/js/*.min.js

# /pootle/settings/
/pootle/settings/*-local.conf

# General
*.bak
*.pyc
*.pyo
*.prefs
*.stats
*.pending
*.po.tm
.translation_index

# ViM-generated
*.swn
*.swo
*.swp
*~

# Ignore stuff from the 'gh-pages' branch
assets/
_layouts/
_site/

# Build stuff
dist/
Pootle.egg-info/
