# /pootle/dbs/
/pootle/dbs/*.db

# /pootle/static/
/pootle/static/.webassets-cache/
/pootle/static/*.min.css
/pootle/static/js/*.min.js

# /mo/
/pootle/mo/*

# General
*.pyc
*.prefs
*.stats
*.pending
*.po.tm
.translation_index

# ViM-generated
*.swo
*.swp
*~
