# https://travis-ci.org/#!/translate/pootle
language: python
python:
  - 2.6
  - 2.7
env:
  - DJANGO_VERSION=1.5.5
  - DJANGO_VERSION=1.6
matrix:
  allow_failures:
    - env: DJANGO_VERSION=1.6
before_install:
  - sudo apt-get install bc
install:
  - pip install -r requirements/build.txt --use-mirrors --timeout=240
  - pip install --use-mirrors "Django>=$DJANGO_VERSION,<"$(echo $(echo $DJANGO_VERSION | cut -d"." -f1,2) + 0.1 | bc) --timeout=240
  - python -V; pip freeze  # Print all installed versions for reference.
script:
  - make build SHELL=/bin/bash TAIL='|tail -40; exit $$PIPESTATUS'
  - python manage.py syncdb --noinput
  - python manage.py migrate
  - python manage.py initdb
  - ./manage.py runserver &
  - TESTPID=$!
  - sleep 20
  - kill -2 $TESTPID
notifications:
  email:
    on_failure: always
    on_success: change
