# https://travis-ci.org/#!/translate/pootle
sudo: false
language: python
env:
  - TOXENV=py27-django17-sqlite
  - TOXENV=py27-django17-mysql
  - TOXENV=py27-django17-postgres
  # Meta
  - TOXENV=docs
  - TOXENV=eslint
  - TOXENV=mo
  - TOXENV=pep8
  - TOXENV=pep257
  - TOXENV=sdist
cache:
  directories:
    - pootle/assets/js/node_modules
    - $HOME/.cache/pip
    - docs/_build
before_install:
  # Error as early as possible if we can't compile
  - python -m compileall -q -f .
install:
  - pip install --upgrade pip # FIXME remove once Travis support pip7 by default
  - pip install tox
script:
  - tox -e $TOXENV
notifications:
  email:
    on_failure: always
    on_success: change
  irc:
    on_failure: always
    on_success: change
    channels:
      - "chat.freenode.net#pootle-dev"
    use_notice: true
    skip_join: true
    template:
      - "(%{branch} @ %{commit} : %{author}): %{message} %{build_url}"
services:
  - redis-server
after_success:
  - if [[ $TOXENV == py27-django17* ]]; then
        coveralls;
    fi
