# https://travis-ci.org/#!/translate/pootle
language: python
python:
  - 2.5
  - 2.6
  - 2.7
env:
  - DJANGO_VERSION=1.3
  - DJANGO_VERSION=1.4.5
install:
  - pip install --use-mirrors Django==$DJANGO_VERSION
  - pip install -r requirements/build.txt --use-mirrors
script:
  - make build TAIL='|tail -40'
  - ./manage.py --version
  - ./manage.py syncdb --noinput
  - ./manage.py initdb
  - ./manage.py update_against_templates
  - ./manage.py update_translation_projects --cleanup
  - ./manage.py list_projects
  - ./manage.py list_languages --project terminology
  # need to get change id past 0 for *_stores to do anything interesting?
  - ./manage.py sync_stores
  - ./manage.py update_stores
  # these get DoesNotExist exception if there are no changes
  #- ./manage.py latest_change_id
  #- ./manage.py list_languages --modified-since 0
  - ./manage.py refresh_stats
  - ./manage.py runserver &
  - TESTPID=$!
  - sleep 100
  - kill -2 $TESTPID
notifications:
  email:
    on_failure: change
    on_success: change
