# https://travis-ci.org/#!/translate/pootle
language: python
python:
  - 2.5
  - 2.6
  - 2.7
env:
  - DJANGO_VERSION=1.3
  - DJANGO_VERSION=1.4.5
install:
  - pip install --use-mirrors Django==$DJANGO_VERSION
  - pip install -r requirements/build.txt --use-mirrors
script:
  - make build TAIL='|tail -40'
  - ./manage.py runserver &
  - TESTPID=$!
  - sleep 100
  - kill -2 $TESTPID
notifications:
  email:
    on_failure: change
    on_success: change
