# https://travis-ci.org/#!/translate/pootle
sudo: false
language: python
python:
  - 2.6
  - 2.7
env:
  matrix:
    # FIXME reenable backends when these are made to work once again
    #- DJANGO_VERSION=1.6.5 DATABASE_BACKEND=sqlite
    #- DJANGO_VERSION=1.6.5 DATABASE_BACKEND=postgres
    - DJANGO_VERSION=1.6.5 DATABASE_BACKEND=mysql_myisam
    #- DJANGO_VERSION=1.6.5 DATABASE_BACKEND=mysql_innodb
    #- DJANGO_VERSION=1.7.1 DATABASE_BACKEND=sqlite
    #- DJANGO_VERSION=1.7.1 DATABASE_BACKEND=postgres
    #- DJANGO_VERSION=1.7.1 DATABASE_BACKEND=mysql_myisam
    #- DJANGO_VERSION=1.7.1 DATABASE_BACKEND=mysql_innodb
  global:
    - PIP_DOWNLOAD_CACHE=".pip_download_cache"
matrix:
  exclude:
    - python: 2.6
      env: DJANGO_VERSION=1.7.1 DATABASE_BACKEND=sqlite
    - python: 2.6
      env: DJANGO_VERSION=1.7.1 DATABASE_BACKEND=mysql_myisam
    - python: 2.6
      env: DJANGO_VERSION=1.7.1 DATABASE_BACKEND=mysql_innodb
    - python: 2.6
      env: DJANGO_VERSION=1.7.1 DATABASE_BACKEND=postgres
  allow_failures:
    # Allow failure on Django 1.7.1 until we've migrated away from South to
    # Django migration
    - env: DJANGO_VERSION=1.7.1 DATABASE_BACKEND=sqlite
    - env: DJANGO_VERSION=1.7.1 DATABASE_BACKEND=mysql_myisam
    - env: DJANGO_VERSION=1.7.1 DATABASE_BACKEND=mysql_innodb
    - env: DJANGO_VERSION=1.7.1 DATABASE_BACKEND=postgres
    # Disable alternate databases until we break away from being stuck on
    # MyISAM
    - env: DJANGO_VERSION=1.6.5 DATABASE_BACKEND=sqlite
    - env: DJANGO_VERSION=1.6.5 DATABASE_BACKEND=postgres
    - env: DJANGO_VERSION=1.6.5 DATABASE_BACKEND=mysql_innodb
cache:
  apt: true
  directories:
    - node_modules
    - .pip_download_cache
    - docs/_build
install:
  - CFLAGS="-O0" travis_retry pip install -r requirements/travis.txt --timeout=240
  - travis_retry pip install "Django>=$DJANGO_VERSION,<"$(echo $(echo $DJANGO_VERSION | cut -d"." -f1).$(( $(echo $DJANGO_VERSION | cut -d"." -f2) + 1 )) ) --timeout=240
  - pip freeze  # Print all installed versions for reference.
before_script:
  - if [[ $DATABASE_BACKEND == 'postgres' ]]; then psql -c 'create database pootle;' -U postgres; fi
  - if [ $DATABASE_BACKEND == 'mysql_myisam' -o  $DATABASE_BACKEND == 'mysql_innodb' ]; then mysql -e 'create database pootle;'; fi
script:
  - python -m compileall -q -f .
  - make docs
  # FIXME revert breakdown of 'make build' after core merge
  #- make build SHELL=/bin/bash TAIL='|tail -40; exit $$PIPESTATUS'
  # FIXME Don't raise Warning as Errors till docs have landed and are cleaned
  # up See https://github.com/translate/pootle/issues/3307
  - make assets
  - make mo
  - coverage run --parallel-mode manage.py syncdb --noinput --traceback
  # FIXME disable the migrate, initdb, runserver..kill block until merge or
  # #3378 and #3379 are fixed
  #- coverage run --parallel-mode manage.py migrate --traceback
  #- coverage run --parallel-mode manage.py initdb --traceback
  #- coverage run --parallel-mode ./manage.py runserver --traceback &
  #- TESTPID=$!
  #- sleep 20
  #- kill -2 $TESTPID
  # FIXME reenable migration testing
  #- tests/version-migration/migrate.sh
  - make pep8
  - py.test
after_success:
  - coverage combine
  - coveralls
notifications:
  email:
    on_failure: always
    on_success: change
  irc:
    on_failure: always
    on_success: change
    channels:
      - "chat.freenode.net#pootle-dev"
    use_notice: true
    skip_join: true
services:
  - redis-server
