include CREDITS INSTALL LICENSE README.rst
include requirements/base.txt
include requirements/tests.txt
include pootle/dbs/README
include pootle/log/README
recursive-include docs *
recursive-exclude docs/_themes/.git *
exclude docs/_themes/.gitignore
recursive-include pootle/assets *
recursive-include pootle/locale *
prune pootle/locale/*/.translation_index
recursive-include pootle/translations *
recursive-include pootle/settings *
recursive-include pootle/static *
recursive-include pootle/templates *
recursive-include pootle/apps/*/templates *
global-exclude tests.py
exclude pootle/strings.py
exclude pootle/static/js/strings.js
exclude pootle/assets/js/strings.js
exclude pootle/settings/*-local.conf
prune pootle/static/images/sprite/
prune pootle/static/js/node_modules/*
global-exclude *~
global-exclude *.pyc
