include CREDITS INSTALL README.rst
include requirements/base.txt
include pootle/dbs/README
include pootle/repos/README
recursive-include pootle/locale *
recursive-include pootle/po *
recursive-include pootle/settings *
recursive-include pootle/static *
recursive-include pootle/templates *
recursive-include pootle/apps/*/templates *
global-exclude tests.py
exclude pootle/strings.py
prune pootle/static/images/sprite/
