# ====================================
# Minimum Requirements
# ====================================
#
# These are the minimum versions of dependencies that the Pootle developers
# claim will work with Pootle.
#
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
#
