{% load i18n baseurl locale %}

{% get_current_language as LANGUAGE_CODE %}
{% get_current_language as LANGUAGE_BIDI %}

<div id="search" lang="{{ LANGUAGE_CODE }}" dir="{% locale_dir %}">
  <script type="text/javascript">
  $(document).ready(function() {
    shortcut.add('ctrl+shift+s', function () {
      $("#id_search").focus().select();
    });
    $("#id_search").focus(function() {
      $(this).attr("focused", true);
    });
    $("#id_search").blur(function() {
      $(this).attr("focused", "");
    });
    shortcut.add('escape', function () {
      if ($("#id_search").attr("focused")) {
        $("#id_search").blur();
      }
    });

    $("#searchform").submit(function(e) {
      e.preventDefault();

      var s = $(this.search).val().trim();
      if (!s) return false;

      var params = [];
      $(this.sfields).each(function() {
        if ($(this).attr("checked")) {
          params.push(encodeURIComponent($(this).val()));
        }
      });

      window.location = this.action + '#search=' + encodeURIComponent(s) + (params.length > 0 ? '&sfields=' + params.join(',') : '');
      return false;
    });
  });
  </script>
  <form action="{{ search_action }}" method="get" id="searchform" title="{% trans 'Search (Ctrl+Shift+S)<br/>Type in, then press Enter to search' %}">
    <label class="inputHint" for="id_search">{% trans "Search" %}</label>{{ search_form.search }}
    <a class="advancedlink">
      {% if LANGUAGE_BIDI %}
      <img src='{{ "images/sarrow_down_rtl.png"|m }}' alt="{{ advanced_search_title }}" title="{{ advanced_search_title }}" class="togglesearch" />
      <img src='{{ "images/sarrow_up_rtl.png"|m }}' alt="{{ advanced_search_title }}" title="{{ advanced_search_title }}" class="togglesearch" style="display: none;"/>
      {% else %}
      <img src='{{ "images/sarrow_down.png"|m }}' alt="{{ advanced_search_title }}" title="{{ advanced_search_title }}" class="togglesearch" />
      <img src='{{ "images/sarrow_up.png"|m }}' alt="{{ advanced_search_title }}" title="{{ advanced_search_title }}" class="togglesearch" style="display: none;"/>
      {% endif %}
    </a>
    <div class="advancedsearch">
      {{ search_form.sfields }}
    </div>
  </form>
</div>
