{% load i18n locale %}
{% if trans_stats %}
<div class="hd">
  <h3><span>{% trans "Translation Statistics" %}</span></h3>
</div>
<div>
  <table class="stats" lang="{{ LANGUAGE_CODE }}" dir="{% locale_dir %}">
      <tbody>
          {% for item in trans_stats %}
          <tr class="item">
            <td class="stats-name">{{ item.title }}</td>
            <td class="stats-number">{{ item.words|safe }}</td>
            <td class="stats-number">{{ item.percentage }}</td>
            <td class="stats-number">{{ item.units }}</td>
          </tr>
          {% endfor %}
      </tbody>
  </table>
</div>
{% endif %}
{% if check_failures %}
<div class="hd">
  <h3><span>{% trans "Failing Checks" %}</span></h3>
</div>
<div>
{% for failure in check_failures %}
  <h4>{{ failure.category_display }}</h4>
  <div id="check-{{ failure.category }}" class="checks">
    <dl>
    {% for check in failure.checks %}
    <dt><a href="{{ check.url }}">{{ check.name }}</a></dt>
    {% comment %}Ugly workaround for the non-resetting cycle tag{% endcomment %}
    <dd class="{% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}">{{ check.count}}</dd>
    {% endfor %}
    </dl>
  </div>
{% endfor %}
</div>
{% endif %}
{% if not trans_stats and not check_failures %}
<h3>{% trans "Nothing to show" %}</h3>
{% endif %}
