{% extends "user_profile_base_extended.html" %}
{% load i18n %}

{% block title %}
{{ block.super }} » {% trans "Change Password" %}
{% endblock %}

{% block bodyclass %}password{% endblock %}

{% block breadcrumb_content %}
{{ block.super }} » {% trans "Change Password" %}
{% endblock %}


{% block section_description %}{% trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}{% endblock %}

{% block section_body %}
<form action="" method="post">
    {% if form.non_field_errors %}
        {{ form.non_field_errors }}
    {% endif %}
    <p>
        <label for="id_old_password">{% trans 'Old password' %}</label>
        {{ form.old_password }}
        {{ form.old_password.errors }}
    </p>
    <p>
        <label for="id_new_password1">{% trans 'New password' %}</label>
        {{ form.new_password1 }}
        {{ form.new_password1.errors }}
    </p>
    <p>
        <label for="id_new_password2">{% trans 'Confirm password' %}</label>
        {{ form.new_password2 }}
        {{ form.new_password2.errors }}
    </p>
    <p class="common-buttons-block">
        <input type="submit" class="password-change" value="{% trans 'Change My Password' %}" />
    </p>
</form>
{% endblock %}
