{% extends "base.html" %}
{% load i18n baseurl %}

{% block title %}{% trans 'Password change' %}{% endblock %}

{% block content %}
<div class="settings-container centered">
    <h2>{% trans 'Change Password.' %}</h2>

    <p>{% trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}</p>

    <form action="" method="post">
    {% if form.non_field_errors %}
        {{ form.non_field_errors }}
    {% endif %}
    <p>
        <label for="id_old_password">{% trans 'Old password' %}</label><br />
        {{ form.old_password }}
        {{ form.old_password.errors }}
    </p>
    <p>
        <label for="id_new_password1">{% trans 'New password' %}</label><br />
        {{ form.new_password1 }}
        {{ form.new_password1.errors }}
    </p>
    <p>
        <label for="id_new_password2">{% trans 'Confirm password' %}</label><br />
        {{ form.new_password2 }}
        {{ form.new_password2.errors }}
    </p>
    <p>
        <input type="submit" value="{% trans 'Change My Password' %}" />
    </p>
    </form>
</div>
{% endblock %}
