{% extends "base.html" %}
{% load i18n baseurl %}


{% block title %}{% trans "Reset Password" %}{% endblock %}

{% block content %}
<div class="settings-container centered">
    <h2>{% trans "Reset Password." %}</h2>

    <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll e-mail instructions for setting a new one." %}</p>

    <form action="" method="post">
    <p>
        <label for="id_email">{% trans 'E-mail Address' %}</label><br />
        {{ form.email }}
        {{ form.email.errors }}
    </p>
    <p>
        <input type="submit" value="{% trans 'Reset My Password' %}" />
    </p>
    </form>
</div>

{% endblock %}
