{% extends "base.html" %}

{% load i18n baseurl %}

{% block title %}
{{ block.super }} » {% trans "Reset Password" %}
{% endblock %}

{% block breadcrumb_content %}
{{ block.super }} » <span>{% trans "Reset Password" %}</span>
{% endblock %}

{% block content %}
<div class="settings-container centered">
{% if validlink %}
    <h2>{% trans 'Enter New Password.' %}</h2>

    <p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>

    <form action="" method="post">
    <p>
        <label for="id_new_password1">{% trans 'New Password' %}</label><br />
        {{ form.new_password1 }}
        {{ form.new_password1.errors }}
    </p>
    <p>
        <label for="id_new_password2">{% trans 'Confirm Password' %}</label><br />
        {{ form.new_password2 }}
        {{ form.new_password2.errors }}
    </p>
    <p class="buttons">
        <input type="submit" class="password-change" value="{% trans 'Reset My Password' %}" />
    </p>
    </form>
{% else %}
    <h2>{% trans 'Password Reset Failed.' %}</h2>

    <p>{% trans "The password reset link was invalid, possibly because it has already been used. Please request a new password reset." %}
{% endif %}
</div>

{% endblock %}
