{% load i18n profile_tags %}
<div class="user-bio">
  <img src="{{ profile.user|gravatar:150 }}"
       width="150"
       height="150"
       class="avatar"
       title="{{ user_title }}" />
  {% if bio %}
  <div class="user-bio-text">
    &ldquo;{{ bio }}&rdquo;
  </div>
  {% endif %}
  {% if can_edit_profile %}
  {% if should_edit_profile %}
  <div class="user-bio-text placeholder">
    {{ edit_profile_message }}
  </div>
  {% endif %}
  <div class="js-user-profile-edit"></div>
  {% endif %}
  <div class="user-display-name">
    <h1>{{ profile.display_name }}</h1>
    {% if request_user_is_manager %}
    <div>
      <a class="admin"
	 href="mailto:{{ profile.user.email }}">{{ profile.user.email }}</a>
    </div>
    {% endif %}
  </div>
</div>
