{% extends "layout.html" %}
{% load i18n assets locale %}

{% block title %}{% trans "Log In" %} | {{ block.super }}{% endblock %}

{% block body_id %}login-page{% endblock %}

{% block breadcrumbs %}
{{ block.super }}<li>{% trans "Log In" %}</li>
{% endblock %}

{% block content %}
<div id="login" class="form" dir="{% locale_dir %}">
  <h2>{% trans 'Login to Pootle' %}</h2>
  <form method="post" action="{% url 'account_login' %}"
        name="loginform" id="loginform">
  {% csrf_token %}
  {% if form.errors %}
    <div class="error">
    {% trans "Your username and password didn't match. Please try again." %}
    </div>
  {% endif %}
  {{ form.as_p }}
  <p class="buttons">
    <input type="submit" class="btn btn-lg btn-primary"
           value="{% trans 'Login' %}" />
    <input type="hidden" name="next" value="{{ next }}" />
  </p>
  </form>
</div>

<h2 class="formlink">
  <a href="{% url 'pootle-password-reset' %}">{% trans "Lost your Password?" %}</a>
</h2>
{% endblock content %}

{% block scripts_extra %}
<script type="text/javascript">
$(function () {
  $("#id_username").focus();
});
</script>
{% endblock scripts_extra %}
