{% load i18n %}{% autoescape off %}
{% load url from future %}
{% filter wordwrap:70 %}{% blocktrans %}You're receiving this e-mail because an user account for you has been automatically created at {{ site_name }}. In order to use that account you need to set a password for it.{% endblocktrans %}{% endfilter %}

{% trans "Please go to the following page and set your account's password:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'django.contrib.auth.views.password_reset_confirm' uidb36=uid token=token %}
{% endblock %}
{% blocktrans %}Your username is {{ user }}.{% endblocktrans %}

{% trans "Thank you for using Pootle!" %}
{{ protocol }}://{{ domain }}
{% endautoescape %}
