{% extends "layout.html" %}
{% load i18n %}

{% block title %}{% trans "Password Reset" %} | {{ block.super }}{% endblock %}

{% block breadcrumbs %}
{{ block.super }}<li>{% trans "Password Reset" %}</li>
{% endblock %}

{% block content %}
<div class="form message success">
  <h2>{% trans 'Password Reset Complete.' %}</h2>
  {% url 'account_login' as login_url %}
  <p>{% blocktrans %}Your password has been set. You may go ahead and <a href="{{ login_url }}">sign in</a> now.{% endblocktrans %}</p>
</div>
{% endblock %}
