{% extends "layout.html" %}

{% load i18n %}

{% block title %}{% if token_fail %}{% trans "Password Reset Failed." %}{% else %}{% trans "Reset Password" %}{% endif %} | {{ block.super }}{% endblock %}

{% block breadcrumbs %}
{{ block.super }}<li>{% if token_fail %}{% trans "Password Reset Failed." %}{% else %}{% trans "Reset Password" %}{% endif %}</li>
{% endblock %}

{% block content %}
<div class="settings-container centered">
{% if token_fail %}
    {% url 'account_reset_password' as passwd_reset_url %}
    <p>{% blocktrans %}
        The password reset link was invalid, possibly because it has already been used.
        Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.
    {% endblocktrans %}</p>
{% else %}
    <h2>{% trans 'Enter New Password.' %}</h2>

    <p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>

    <form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <p class="buttons">
        <input type="submit" class="btn" value="{% trans 'Reset My Password' %}"/>
    </p>
    </form>
{% endif %}
</div>

{% endblock %}
