{% extends "layout.html" %}
{% load i18n locale %}

{% block title %}{% trans "Reset Password" %} | {{ block.super }}{% endblock %}

{% block breadcrumbs %}
{{ block.super }}<li>{% trans "Reset Password" %}</li>
{% endblock %}

{% block content %}
<div class="form" dir="{% locale_dir %}">
    <h2>{% trans "Reset Password" %}</h2>

    <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll e-mail instructions for setting a new one." %}</p>

    <form action="" method="post">
    {% csrf_token %}
    <p>
        <label for="id_email">{% trans 'Email Address' %}</label><br />
        {{ form.email }}
        {{ form.email.errors }}
    </p>
    <p class="buttons">
        <input type="submit" class="btn" value="{% trans 'Reset My Password' %}" />
    </p>
    </form>
</div>

{% if settings.CAN_REGISTER %}
<h2 class="formlink">{% trans "Don't have an account yet?" %}
    <a href="{% url 'account_signup' %}" title="{% trans 'Register.' %}">{% trans 'Register.' %}</a>
</h2>
{% endif %}

{% endblock %}
