{% extends "profiles/settings/base.html" %}

{% load i18n %}

{% block title %}{% trans "Change Password" %} | {{ block.super }}{% endblock %}

{% block breadcrumbs %}
{{ block.super }}<li>{% trans "Change Password" %}</li>
{% endblock %}

{% block body_id %}password{% endblock %}

{% block section_description %}{% trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}{% endblock %}

{% block section_body %}
<form action="" method="post">
    {% csrf_token %}
    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn" name="action">{% trans "Change My Password" %}</button>
    </form>
</form>
{% endblock %}
