{% extends "project_base.html" %}

{% load i18n baseurl %}

{% get_current_language as LANGUAGE_CODE %}

{% block title %}
{{ block.super }} » {{ project.name }} » {% trans "Permissions" %}
{% endblock %}

{% block bodyclass %}projectperm{% endblock %}

{% block breadcrumbs_content %}
<a href="{% filter l %}/projects/{{ project.code }}/{% endfilter %}">{{ project.fullname }}</a>
{% endblock breadcrumbs_content %}

{% block content %}
<div class="settings-container centered" lang="{{ LANGUAGE_CODE }}">
    <p class="info">{% trans "Below you can add, edit, and delete the permissions for this project." %}</p>
    <p class="help">
      {% trans "The user “nobody” refers to any user that is not logged in (an anonymous, unidentified user). The user “default” refers to the rights that all logged in users will have by default, unless other specific rights were assigned to them." %}
    </p>

    {% include "admin/admin_general.html" %}
</div>
{% endblock %}

{% block scripts_extra %}
<script type="text/javascript" src='{{ "js/admin.js"|m }}'></script>
{% endblock %}
