{% extends "project_base.html" %}

{% load i18n baseurl %}

{% get_current_language as LANGUAGE_CODE %}

{% block title %}
{{ block.super }} » {{ project.name }} » {% trans "Permissions" %}
{% endblock %}

{% block breadcrumb_content %}
  {{ block.super }} » <span>{{ project.name }}</span> » 
  <span><a href="{% filter l %}/projects/{{ project.code }}/{% endfilter %}">{{ project.name }}</a></span>
{% endblock %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href='{{ "admin.css"|m }}' />
{% endblock %}

{% block bodyclass %}projectadmin{% endblock %}

{% block content %}
<div class="settings-container centered" lang="{{ LANGUAGE_CODE }}">
    <p>{% trans "Here you can add, edit, or delete the languages for this project." %}</p>
    {% include "admin/admin_general.html" %}
</div>
{% endblock %}

{% block scripts_extra %}
<script type="text/javascript" src='{{ "js/sorttable.js"|m }}'></script>
<script type="text/javascript" src="{{ "js/admin.js"|m }}"></script>
{% endblock %}
