{% extends "project_base.html" %}

{% load i18n baseurl %}

{% get_current_language as LANGUAGE_CODE %}

{% block title %}
{{ block.super }} » {{ project.name }} » {% trans "Administrate" %}
{% endblock %}

{% block breadcrumb_content %}
  {{ block.super }} » <span><a href="{% filter l %}/projects/{{ project.code }}/{% endfilter %}">{{ project.name }}</a></span> » <span>{% trans "Administrate" %}</span>
{% endblock %}

{% block css %}
{{ block.super }}
{% if DEBUG %}
<link rel="stylesheet" type="text/css" href='{{ "admin.css"|m }}' />
{% endif %}
{% endblock %}

{% block bodyclass %}projectadmin{% endblock %}

{% block content %}
<div class="settings-container centered" lang="{{ LANGUAGE_CODE }}">
    <p>{% trans "Here you can add, edit, or delete the languages for this project." %}</p>
    {% include "admin/admin_general.html" %}
</div>
{% endblock %}

{% block scripts_extra %}
{% if DEBUG %}
<script type="text/javascript" src="{{ "js/admin.js"|m }}"></script>
{% else %}
<script type="text/javascript" src="{{ "js/admin_bundle.js"|m }}"></script>
{% endif %}
{% endblock %}
