{% extends "admin_profile_base.html" %}
{% load i18n %}

{% block title %}
{{ block.super }} » {% trans "Edit Legal Page" %}
{% endblock %}

{% block body_id %}adminlegalpages{% endblock %}

{% block breadcrumb_content %}
{{ block.super }} » <span>{% trans "Edit Legal Page" %}</span>
{% endblock %}

{% block section_body %}
<div class="legalpages settings-container centered">
  <div class="legalpages-edit">
    <div class="hd">
      <h2>{% trans "Edit Legal Page" %}</h2>
    </div>
    <div class="bd">
    {% include "legalpages/admin/form.html" %}
    </div>
  </div>
</div>
{% endblock %}
