{% extends "admin_profile_base.html" %}
{% load i18n %}

{% block title %}{% trans "Edit Legal Page" %} | {{ block.super }}{% endblock %}

{% block body_id %}adminlegalpages{% endblock %}

{% block breadcrumbs %}
{{ block.super }}<li>{% trans "Edit Legal Page" %}</li>
{% endblock %}

{% block section_body %}
<div class="legalpages settings-container centered">
  <div class="legalpages-edit">
    <div class="hd">
      <h2>{% trans "Edit Legal Page" %}</h2>
    </div>
    <div class="bd">
    {% include "legalpages/admin/form.html" %}
    </div>
  </div>
</div>
{% endblock %}
