{% extends "admin_profile_base.html" %}
{% load i18n %}

{% block title %}{% trans "Edit Legal Page" %} | {{ block.super }}{% endblock %}

{% block body_id %}adminstaticpages{% endblock %}

{% block breadcrumbs %}
{{ block.super }}<li>{% trans "Edit Legal Page" %}</li>
{% endblock %}

{% block section_body %}
<div class="staticpages settings-container centered">
  <div class="staticpages-edit">
    <div class="hd">
      <h2>{% trans "Edit Legal Page" %}</h2>
    </div>
    <div class="bd">
    {% include "staticpages/admin/form.html" %}
    </div>
  </div>
</div>
{% endblock %}
