{% load i18n %}
{% load cleanhtml %}
<div class="staticpage">
  {% if not page.active %}
  <div class="alert alert-error">
  {% blocktrans with page.get_edit_url as edit_url trimmed %}
  This static page is inactive and visible to administrators only.
  You can activate it by <a href="{{ edit_url }}">editing its properties</a>
  {% endblocktrans %}
  </div>
  {% endif %}
  <h1 class="title">
    {{ page.title }}
    {% if user.is_superuser %}
    <span class="edit-link">
      <a href="{{ page.get_edit_url }}">{% trans "edit" %}</a>
    </span>
    {% endif %}
  </h1>
  {% with language_code=language.code %}
  {{ page.body|rewrite_language_links:language_code }}
  {% endwith %}
</div>
