{% load i18n store_tags cleanhtml locale %}
{% get_current_language as LANGUAGE_CODE %}
<td colspan="1" rowspan="1" class="translate-original terminology" dir="{{ source_language.direction }}">
  <!-- Original -->
  <div id="orig{{ unit.index }}" class="translate-term-original left">
    {{ form.source_f.errors }}
    {{ form.source_f }}
  </div>
  <!-- Add description button -->
  <a class="collapse left"><i class="icon-comment-add"
      title="{% trans "Description..." %}"></i></a>
  <div class="translate-term-original collapsethis tiny clear">{{ form.developer_comment }}</div>
</td>
<td colspan="1" rowspan="1" class="translate-translation terminology">
  <!-- Additional information button -->
  {% if unit.translator_comment or unit.locations %}
  <a class="collapse tiny left"><i class="icon-information"
      title="{% trans "Details..." %}"></i></a>
  {% endif %}
  <div id="trans{{ unit.index }}" class="translate-term-translation" dir="{% locale_dir %}">
    <!-- Translation -->
    <div dir="{{ language.direction }}" lang="{{ language.code }}"
      class="js-translation-text translation-text">{{ unit.target }}</div>
  </div>
  {% if unit.getcontext %}
  <div class="translate-context">
    {{ unit.getcontext }}
  </div>
  {% endif %}
  <div class="collapsethis tiny" lang="{{ LANGUAGE_CODE }}">
    {% if unit.translator_comment %}
    <div title="{% trans "Translator Comments" %}" class="translator-comments tiny" dir="{{ language.dir }}" lang="{{ language.code }}"><i class="icon-comment-user"></i> {{ unit.translator_comment }}</div>
    {% endif %}
    {% if unit.locations %}
    <div class="translate-locations" lang="en" dir="ltr">{{ unit.locations }}</div>
    {% endif %}
  </div>
</td>
