{% extends "translation_projects/terminology/base.html" %}
{% load i18n %}

{% block content %}
<div class="form" lang="{{ LANGUAGE_CODE }}">
  <h2>{% trans "Regenerate Glossary" %}</h2>
  <p>{% trans "Are you sure you want to regenerate the glossary? Any existing terms and their translations will be deleted." %}</p>
  <form action="" method="post">
    {% csrf_token %}
    <p class="buttons">
      <input type="submit" class="btn" name="extract" value="{% trans "Extract" %}" />
    </p>
  </form>
</div>
{% endblock content %}
