{% extends "translation_projects/terminology/base.html" %}
{% load i18n locale %}

{% block content %}
{% if stores %}
<div class="settings-container centered" lang="{{ LANGUAGE_CODE }}">
    <p>{% trans "Here you can manage the terms in the terminology files." %}</p>
</div>

<table class="sortable stats" id="stats" cellpadding="5"
    cellspacing="0" width="100%" lang="{{ LANGUAGE_CODE }}" dir="{% locale_dir %}">
  <thead>
    <tr>
      <th>{% trans "File" %}</th>
    </tr>
  </thead>
  <tbody>
  {% for store in stores %}
  <tr class="item {% cycle 'even' 'odd' %}">
    <td>
      <a href="{% url 'pootle-terminology-manage-store' store.translation_project.language.code store.translation_project.project.code store.path %}">{{ store.nice_name}}</a>
    </td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% else %}
<p>{% trans "Once you upload files, you will be able to add, edit and delete terms." %}</p>
{% endif %}
{% endblock content %}
