{% extends "translation_projects/terminology/base.html" %}
{% load i18n locale %}

{% block content %}
{% if stores %}
<div class="settings-container centered" lang="{{ LANGUAGE_CODE }}">
  <p>{% trans "Here you can manage the terms in the terminology files." %}</p>
</div>

<table class="sortable stats" id="stats"
    lang="{{ LANGUAGE_CODE }}" dir="{% locale_dir %}">
  <thead>
    <tr>
      <th>{% trans "File" %}</th>
    </tr>
  </thead>
  <tbody>
  {% for store in stores %}
  <tr class="item">
    <td>
      <a href="{{ store.pootle_path }}/terminology/">{{ store.nice_name }}</a>
    </td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% else %}
<p>{% trans "Once you upload files, you will be able to add, edit and delete terms." %}</p>
{% endif %}
{% endblock content %}
