{% extends "layout.html" %}
{% load i18n locale baseurl %}

{% block title %}{% trans "We're almost there!" %} | {{ block.super }}{% endblock %}

{% block breadcrumbs %}
{{ block.super }}<li>{% trans "We're almost there!" %}</li>
{% endblock %}

{% block content %}
<div class="form question{% if form.errors %} hidden{% endif %}">
  <h2>{% trans "Link with existing account" %}</h2>

  <p>{% blocktrans %}If you already have a dedicated account at our translation server, please link your accounts now to make sure you inherit all your existing permissions.{% endblocktrans %}</p>

  <p>{% blocktrans %}If you didn't have a dedicated account up to this point, you can skip this step — this will create a new account for you with the default permission set.{% endblocktrans %}</p>

  <p class="buttons">
    <button class="btn btn-primary js-en-auth-link">Link</button>
    <a class="btn" href="{% url 'evernote_create_login' %}{{ request|get_next }}">{% trans "Skip this step" %}</a>
  </p>
</div>

<div class="login{% if not form.errors %} hide{% endif %}">
  <div id="login" class="form" dir="{% locale_dir %}">
  <h2>{% trans "Provide your existing account credentials" %}</h2>
  <form method="post" action="{% url 'evernote_login_link' %}" name="loginform" id="loginform">
    {% csrf_token %}
    {% if form.errors %}
    <div class="error">
    {% trans "Your username and password didn't match. Please try again." %}
    </div>
    {% endif %}
    <p>
      {{ form.username.label_tag }}:
      {{ form.username }}
    </p>
    <p>
      {{ form.password.label_tag }}:
      {{ form.password }}
    </p>
    <p class="buttons">
      <input type="submit" class="btn btn-primary" name="login" value="{% trans 'Link Now' %}" />
      <input type="hidden" name="next" value="{{ next }}" />
    </p>
  </form>
  </div>

  <h2 class="formlink">
    <a href="{% url 'pootle-password-reset' %}">{% trans "Lost your Password?" %}</a>
  </h2>
</div>
{% endblock content %}
