/*
 * ADMIN DASHBOARD
 */

/* DEPENDENCY CHECKS */

div#depchecks ul
{
    margin-bottom: 1em;
}

div#depchecks ul#optional,
div#depchecks ul#optimal
{
    font-style: italic;
    background-color: inherit;
    color: #4B4740;
}

div#depchecks ul li
{
    margin: 0.5em 0;
}

div#depchecks ul li.error
{
    font-weight: bold;
    color: #d54e21;
}

/* ADMIN GENERAL SETTINGS */

textarea#id_DESCRIPTION,
.legalpages-form textarea
{
    width: 100%;
}

/* LEGAL PAGES */

.legalpages-list li
{
    margin: 0 1em;
    list-style-type: square;
}

.legalpages-form input[type="checkbox"]
{
    display: inline;
    float: left;
    margin: 0 .25em;
}

html[dir="rtl"] .legalpages-form input[type="checkbox"]
{
    float: right;
}

/* ADMIN LANGUAGES, FILES */

td.code input
{
   width: 5em;
}

td.fullname {
    width: 20%;
}

td.pluralequation
{
    width: 50%;
}

td.fullname input
{
    min-width: 10em;
}

td.specialchars input
{
    min-width: 5em;
}

td.fullname input,
td.pluralequation input,
td.specialchars input
{
    width: 90%;
}

td.fullname input,
td.pluralequation input,
td.pootle_path
{
    direction: ltr;
}

html[dir="rtl"] td.pootle_path
{
    text-align: right;
}

/* ADMIN BUTTONS */

.admin-buttons-block input
{
    display: inline;
    margin-bottom: 1em;
    margin-left: .25em;
    margin-right: .25em;
}
