/*
 * ADMIN DASHBOARD
 */

/* DEPENDENCY CHECKS */

div#depchecks ul
{
    margin-bottom: 1em;
}

div#depchecks ul#optional,
div#depchecks ul#optimal
{
    font-style: italic;
    background-color: inherit;
    color: #4B4740;
}

div#depchecks ul li
{
    margin: 0.5em 0;
}

div#depchecks ul li.error
{
    font-weight: bold;
    color: #d54e21;
}

/* ADMIN GENERAL SETTINGS */

textarea#id_DESCRIPTION,
.staticpages-form textarea
{
    width: 100%;
}

.staticpages-form textarea
{
    height: 30em;
}

/* STATIC PAGES */

.control-group
{
    clear: both;
    margin-bottom: 1.5em;
    line-height: 1.5;
}

.control-group label
{
    float: left;
    width: 140px;
}

html[dir="rtl"] .control-group label
{
    float: right;
}

.control-group .controls
{
    position: relative;
    margin-left: 180px;
}

html[dir="rtl"] .controls
{
    margin-left: auto;
    margin-right: 180px;
}

.control-group .controls .radio-pre,
.control-group .controls .help-pre
{
    position: absolute;
}

.control-group .controls .help-pre
{
    left: -4em;
}

html[dir="rtl"] .control-group .controls .help-pre
{
    left: auto;
    right: -4em;
}

.control-group .controls .radio-pre
{
    left: -2em;
}

html[dir="rtl"] .control-group .controls .radio-pre
{
    left: auto;
    right: -2em;
}

.control-group .controls input
{
    display: inline-block;
}

.control-group-separator
{
    margin-left: 2em;
    margin-top: -1.5em;
}

html[dir="rtl"] .control-group-separator
{
    margin-left: auto;
    margin-right: 2em;
}

/* ADMIN LANGUAGES, FILES */

td.code input
{
   width: 5em;
}

td.fullname {
    width: 20%;
}

td.pluralequation
{
    width: 50%;
}

td.fullname input
{
    min-width: 10em;
}

td.specialchars input
{
    min-width: 5em;
}

td.fullname input,
td.pluralequation input,
td.specialchars input
{
    width: 90%;
}

td.fullname input,
td.pluralequation input,
td.pootle_path
{
    direction: ltr;
}

html[dir="rtl"] td.pootle_path
{
    text-align: right;
}

/* ADMIN BUTTONS */

.admin-buttons-block input
{
    display: inline;
    margin-bottom: 1em;
    margin-left: .25em;
    margin-right: .25em;
}
