/* Breadcrumbs */

.breadcrumb
{
    font-size: 1.5em;
    font-weight: normal;
    font-family: 'Helvetica Neue', Helvetica, Helvetica, Arial, sans-serif;
    visibility: hidden;
    padding: 5px 0;
    height: 2em;
    display: table-cell;
    vertical-align: middle;
}

.browser .breadcrumb
{
    padding: 5px 0 0;
}

/* By default (on small screens), place resource dropdown on the second line */
#js-breadcrumb-resource
{
    display: block;
}

/* When browser window is wide enough, force breadcrumbs to be on the single line */
@media screen and (min-width: 1350px)
{
    .breadcrumb
    {
        white-space: nowrap;
        overflow: visible;
    }

    #js-breadcrumb-resource
    {
        display: inline-block;
    }
}

.breadcrumb li
{
    display: inline-block;
    float: left;
    margin-left: 0.3em;
}

html[dir="rtl"] .breadcrumb li
{
    float: right;
    margin-left: 0;
    margin-right: 0.3em;
}

.breadcrumb li.hide
{
    display: none;
}

.breadcrumb li::before
{
    content: " / ";
}

.breadcrumb li:first-child::before,
.translate .breadcrumb li::before,
.browser .breadcrumb li::before
{
    margin-left: 0;
    content: normal;
}
