/* Standard button */

.btn
{
    border: medium none;
    border-radius: 4px;

    outline: 0;
    cursor: pointer;

    display: inline-block;

    background-image: none;
    box-shadow: 0 -0.2em 0 rgba(0, 0, 0, 0.2) inset;

    text-align: center;
    text-decoration: none;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
    font-weight: bold;

    transition: all 0.25s linear 0s;

    /* btn-default colors */
    color: #fff;
    background-color: #bdc3c7;

    /* btn-normal size */
    font-size: inherit;
    min-width: 110px;
    padding: 0 1em;

    height: 2.3em;
    line-height: 2.3em;
}

.btn:active,
.btn:hover,
.btn:focus
{
    background-color: #cacfd2;
}


/* Sizes */

.btn-xl
{
    font-size: 1.6em;
    min-width: 250px;

    height: 3em;
    padding: 0 2em;
}

.btn-lg
{
    font-size: 1.4em;
    min-width: 150px;
}

.btn-sm
{
    font-size: 0.9em;
    min-width: 80px;
}

.btn-xs
{
    font-size: 0.8em;
    min-width: 40px;
    borde-radius: 3px;
}


/* Button types */

.btn.btn-primary
{
    background-color: #4dbdcb;
}

.btn.btn-primary:hover,
.btn.btn-primary:focus
{
    background-color: #74ccd8;
}

.btn.btn-success
{
    background-color: #5fb336;
}

.btn.btn-success:hover,
.btn.btn-success:focus
{
    background-color: #69bb2f;
}

.btn.btn-info
{
    background-color: #3498db;
}

.btn.btn-info:hover,
.btn.btn-info:focus
{
    background-color: #5dade2;
}

.btn.btn-warning
{
    background-color: #f1c40f;
}

.btn.btn-warning:hover,
.btn.btn-warning:focus
{
    background-color: #f5d313;
}

.btn.btn-danger
{
    background-color: #d2322d;
}

.btn.btn-danger:hover,
.btn.btn-danger:focus
{
    background-color: #ec7063;
}

.btn:disabled,
.btn-disabled
{
    cursor: default;

    color: rgba(255, 255, 255, 0.75);
    opacity: 0.5;

    /* Webkit */
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
    -webkit-filter: grayscale(50%);

    /* Firefox */
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'saturate\' values=\'0.5\'/></filter></svg>#grayscale");
}

/* Zoom */

/* FIXME: whenever we use preprocessors, these should just reference
 * btn-<size> */

body.zoom-out-1 .btn
{
    min-width: 100px;
}

body.zoom-out-2 .btn
{
    min-width: 90px;
}
