/* Standard button */

.btn
{
    border: medium none;
    border-radius: 4px;

    outline: 0;
    cursor: pointer;

    display: inline-block;

    background-image: none;
    box-shadow: 0 -0.2em 0 rgba(0, 0, 0, 0.2) inset;

    text-align: center;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
    font-weight: bold;

    transition: all 0.25s linear 0s;

    /* btn-default colors */
    color: #fff !important;
    background-color: #bdc3c7;

    /* btn-normal size */
    font-size: inherit;
    min-width: 110px;
    padding: 0 1em;

    height: 2.3em;
    line-height: 2.3em;
}

.btn:active,
.btn:hover,
.btn:focus
{
    text-decoration: none;
    background-color: #cacfd2;
    color: #fff;
}


/* Sizes */

.btn-xl
{
    font-size: 1.6em;
    min-width: 250px;

    height: 3em;
    padding: 0 2em;
}

.btn-lg
{
    font-size: 1.4em;
    min-width: 150px;
}

.btn-sm
{
    font-size: 0.9em;
    min-width: 80px;
}

.btn-xs
{
    font-size: 0.8em;
    min-width: 40px;
    borde-radius: 3px;
}


/* Button types */

.btn.btn-primary,
.btn.btn-primary:disabled,
.btn.btn-primary:disabled:hover,
.btn.btn-primary:disabled:focus,
.btn.btn-primary:disabled:active,
.btn.btn-primary.btn-disabled,
.btn.btn-primary.btn-disabled:hover,
.btn.btn-primary.btn-disabled:focus,
.btn.btn-primary.btn-disabled:active
{
    background-color: #4dbdcb;
}

.btn.btn-primary:hover,
.btn.btn-primary:focus
{
    background-color: #74ccd8;
}

.btn.btn-success,
.btn.btn-success:disabled,
.btn.btn-success:disabled:hover,
.btn.btn-success:disabled:focus,
.btn.btn-success:disabled:active,
.btn.btn-success.btn-disabled,
.btn.btn-success.btn-disabled:hover,
.btn.btn-success.btn-disabled:focus,
.btn.btn-success.btn-disabled:active
{
    background-color: #5fb336;
}

.btn.btn-success:hover,
.btn.btn-success:focus
{
    background-color: #69bb2f;
}

.btn.btn-info,
.btn.btn-info:disabled,
.btn.btn-info:disabled:hover,
.btn.btn-info:disabled:focus,
.btn.btn-info:disabled:active,
.btn.btn-info.btn-disabled,
.btn.btn-info.btn-disabled:hover,
.btn.btn-info.btn-disabled:focus,
.btn.btn-info.btn-disabled:active
{
    background-color: #3498db;
}

.btn.btn-info:hover,
.btn.btn-info:focus
{
    background-color: #5dade2;
}

.btn.btn-warning,
.btn.btn-warning:disabled,
.btn.btn-warning:disabled:hover,
.btn.btn-warning:disabled:focus,
.btn.btn-warning:disabled:active,
.btn.btn-warning.btn-disabled,
.btn.btn-warning.btn-disabled:hover,
.btn.btn-warning.btn-disabled:focus,
.btn.btn-warning.btn-disabled:active
{
    background-color: #f1c40f;
}

.btn.btn-warning:hover,
.btn.btn-warning:focus
{
    background-color: #f5d313;
}

.btn.btn-danger,
.btn.btn-danger:disabled,
.btn.btn-danger:disabled:hover,
.btn.btn-danger:disabled:focus,
.btn.btn-danger:disabled:active,
.btn.btn-danger.btn-disabled,
.btn.btn-danger.btn-disabled:hover,
.btn.btn-danger.btn-disabled:focus,
.btn.btn-danger.btn-disabled:active
{
    background-color: #d2322d;
}

.btn.btn-danger:hover,
.btn.btn-danger:focus
{
    background-color: #ec7063;
}

.btn:disabled,
.btn:disabled:hover,
.btn:disabled:focus,
.btn:disabled:active,
.btn-disabled,
.btn-disabled:hover,
.btn-disabled:focus,
.btn-disabled:active
{
    box-shadow: none;
    cursor: default;

    background-color: #bdc3c7;
    color: rgba(255, 255, 255, 0.75);
    opacity: 0.65;
}

/* Zoom */

/* FIXME: whenever we use preprocessors, these should just reference
 * btn-<size> */

body.zoom-out-1 .btn
{
    min-width: 100px;
}

body.zoom-out-2 .btn
{
    min-width: 90px;
}
