/*
 * CONTACT PAGE
 */

#contact label[for="id_captcha_answer"]
{
    display: inline;
}

#contact #id_name,
#contact #id_email
{
    width: 25em;
}

#contact #id_subject,
#contact #id_body
{
    width: 40em;
}
