/*
 * CONTACT PAGE
 */

#contact
{
    line-height: 150%!important;
    margin: 3em;

    font-family: "Open Sans", sans-serif;
    font-size: 1.2em;
}

#contact h1
{
    color: rgba(25, 15, 0, 0.6);
    font-size: 3em;
    line-height: 85%;
    margin: 0.5em 0;

    font-family: "Open Sans Condensed", "Open Sans", sans-serif;
    font-weight: bold;
    text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.8);
}

#contact p
{
    margin: 1em 0;
}

#contact input,
#contact textarea
{
    font-family: "Segoe UI", "Ubuntu", sans-serif;
    font-size: 1em;
    padding-left: 0.2em;
    padding-right: 0.2em;
}

#contact .buttons input
{
    padding: 0.3em 1.5em;
    margin: 0.3em 0px 0px;
}

#contact label
{
    display: block;
}

#contact label[for="id_captcha_answer"]
{
    display: inline;
}

#contact #id_name,
#contact #id_email
{
    width: 25em;
}

#contact #id_subject,
#contact #id_body
{
    width: 40em;
}
