html {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 15px;
  background-color: #fff;
  color: #130f30;
}

table,
caption,
th,
td {
  margin: 0px;
}
table {
  border: 1px solid #e9e9e9;
  border-collapse: collapse;
  border-spacing: 0px;

  padding: 0px;

  width: 100%;
}
caption, th, td {
  border: 1px solid #d9d9d9;
  padding: 0.5em;
}
caption, th {
  line-height: 1;
}
caption {
  background-color: #eee;
  border-style: solid solid none;
  font-size: 1.2em;
  font-weight: bold;
}
caption span {
  font-size: 0.7em;
  font-weight: 300;
  vertical-align: middle;
}
th {
  background-color: #f8f8f8;
  font-weight: 300;
  text-align: center;
}
th#source,
th#translation {
  width: 50%;
}
tbody {
  line-height: 1.6;
}
td {
  vertical-align: top;
}
tr.empty {
  text-align: center;
}
tr.separator {
  font-style: italic;
}

.unit-number {
  float: right;
  font-size: 0.7em;
  line-height: 1;
}
html[dir="rtl"] .unit-number {
  float: left;
}

.highlight-escape {
  color: #8e44ad;
}
.highlight-html {
  color: #840;
}
