/* General styling */

.markup-body
{
    font-size: 13px;
    line-height: 1.5;
    color: #666;
}


/* Lists and paragraphs */

.markup-body p,
.markup-body ul,
.markup-body ol
{
    margin: 10px 0;
}

.markup-body ul,
.markup-body ol
{
    padding-left: 30px;
}

html[dir="rtl"] .markup-body ul,
html[dir="rtl"] .markup-body ol
{
    padding-left: 0;
    padding-right: 30px;
}

.markup-body ul li
{
    list-style-type: square;
}

.markup-body ol li
{
    list-style-type: decimal;
}


/* Headings */

.markup-body h1,
.markup-body h2,
.markup-body h3,
.markup-body h4,
.markup-body h5,
.markup-body h6
{
    font-weight: bold;
    margin: 10px 0 5px !important;
    color: #666 !important;
}

.markup-body h1 + p,
.markup-body h2 + p,
.markup-body h3 + p,
.markup-body h4 + p,
.markup-body h5 + p,
.markup-body h6 + p
{
    margin-top: 0;
}

.markup-body h1
{
    font-size: 28px;
}

.markup-body h2
{
    font-size: 24px;
}

.markup-body h3
{
    font-size: 18px;
}

.markup-body h4
{
    font-size: 16px;
}

.markup-body h5
{
    font-size: 14px;
}

.markup-body h6
{
    font-size: 14px;
    color: #999;
}
