/*
 * NAVBAR
 */

#navbar
{
    background: #222;
    line-height: 50px;
}

#navbar > *
{
    vertical-align: middle;
}
#user a > *
{
    vertical-align: middle;
    line-height: 1;
}

#navbar a
{
    color: #c1e1ee;
    text-decoration: none;
}

#navbar a:active,
#navbar a:hover
{
    color: #f8f8f8;
}

#navbar h1
{
    font-family: webfont_bold, 'Helvetica Neue', Helvetica, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: inline-block;
    font-size: 18px;
    padding: 0 16px;
}

#navbar .logo
{
    width: 32px;
    height: 32px;
    margin-top: -4px;
    vertical-align: middle;
}

#navbar h1 a
{
    color: #fff;
}

#navbar h1 .site-title
{
    color: rgb(127, 232, 245);
    padding-left: 0.2em;
}

/* Link to parent site */

.parent-site
{
    display: inline-block;
    font-size: 13px;
    float: right;
}

html[dir="rtl"] .parent-site
{
    float: left;
}

.parent-site .divider
{
    display: inline-block;
    background: black;
    box-shadow: 1px 0 0 rgba(255, 255, 255, 0.1);
    height: 100%;
    margin-right: -2px;
    width: 1px;
}

html[dir="rtl"] .parent-site .divider
{
    margin-right: 0;
    margin-left: 20px;
}

#navbar .parent-site a
{
    color: #fff;
    display: inline-block;
    padding: 0 20px;
}

#navbar .parent-site a:hover
{
    background: #000;
}


/* Main navigation items */

#nav-main
{
    float: right;
}

html[dir="rtl"] #nav-main
{
    float: left;
}

#nav-main li
{
    float: left;
}

html[dir="rtl"] #nav-main li
{
    float: right;
}

#nav-main li a,
#nav-main li a:hover,
#nav-main li a:active
{
    color: rgba(255, 255, 255, 0.9);
    display: inline-block;
    margin-left: 0.5em;
    text-decoration: none;
    border-radius: 3px;
    padding: 0 1em;
    font-size: 1.1em;
}

#nav-main li a:hover,
#nav-main li.show-dropdown
{
    background: rgba(0, 0, 0, 0.6);
}

#nav-main li a:active
{
    background: rgba(0, 0, 0, 1);
}

#nav-main a.admin,
#nav-main a.admin:hover
{
    color: #f33;
}

#user
{
    float: left;
}

#user img
{
    display: inline-block;
    width: 24px;
    height: 24px;
    margin: 0 8px;
    border: 2px solid white;
    border-radius: 3px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
}

#nav-main #js-login .btn
{
    padding: 0.1em 1em;
    font-weight: normal;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
    line-height: 2em;
}


/* Accessibility */

#nav-access
{
    position: absolute;
    top: -1000px;
}

html[dir="ltr"] #nav-access
{
    left: -1000px;
}

html[dir="rtl"] #nav-access
{
    right: -1000px;
}


/* Language picker */

#s2id_js-language-picker
{
    padding-top: 8px;
    width: auto !important;
}

#s2id_js-language-picker:not(.select2-dropdown-open)
{
    opacity: 0.5;
    padding-left: 14px;
}

#s2id_js-language-picker:not(.select2-dropdown-open):hover
{
    opacity: 1.0;
}

#s2id_js-language-picker:not(.select2-dropdown-open) a
{
    background: transparent;
    border: 0;
    padding: 0 !important;
}

#s2id_js-language-picker.select2-container-active
{
    box-shadow: none;
}

#s2id_js-language-picker.select2-dropdown-open a
{
    color: rgb(72, 112, 117);
    padding: 0 0 0 12px !important;
    text-shadow: none;
}

#s2id_js-language-picker:not(.select2-dropdown-open) .select2-arrow
{
    background: none;
    border: 0;
}

#s2id_js-language-picker:not(.select2-dropdown-open) .select2-arrow b
{
    background: none;
}

.select2-drop.s2js-freefloat-drop
{
    padding-top: 5px;
    width: auto !important;
}
