/*
 * NAVBAR
 */

#navbar
{
    background-color: #0489B7;
    height: 50px;
    line-height: 50px;
}

#navbar > *
{
    vertical-align: middle;
}

#user a > *
{
    vertical-align: middle;
    line-height: 1;
}

#navbar a
{
    color: #c1e1ee;
    text-decoration: none;
    outline: none;
}

#navbar a:active,
#navbar a:focus,
#navbar a:hover
{
    color: #f8f8f8;
}

#navbar h1
{
    font-family: webfont, 'Helvetica Neue', Helvetica, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: inline-block;
    float: left;
    font-size: 18px;
    padding: 0 16px;
}

#navbar .logo
{
    width: 32px;
    height: 32px;
    margin-top: -4px;
    vertical-align: middle;
}

#navbar h1 a
{
    color: #fff;
}

#navbar h1 .site-title
{
    color: #fff;
    padding-left: 0.2em;
}

#nav-main > .menu-divider
{
    display: inline-block;
    background-color: #2D73BE;
    box-shadow: 1px 0 0 rgba(255, 255, 255, 0.1);
    height: 100%;
    margin-right: 2px;
    width: 1px;
}

/* Link to parent site */

#nav-main .parent-site a,
#nav-main .parent-site a:active,
#nav-main .parent-site a:focus,
#nav-main .parent-site a:hover
{
    font-size: 13px;
}


/* Main navigation items */

#nav-main
{
    float: right;
    position: relative;
}

html[dir="rtl"] #nav-main
{
    float: left;
}

#nav-main > li
{
    float: left;
}

html[dir="rtl"] #nav-main > li
{
    float: right;
}

#nav-main li a,
#nav-main li a:hover,
#nav-main li a:active,
#nav-main li a:focus
{
    color: rgba(255, 255, 255, 0.9);
    display: inline-block;
    text-decoration: none;
    padding: 0 1.5em;
    font-size: 1.1em;

    box-sizing: border-box;
    width: 100%;
}

#nav-main li a:hover,
#nav-main li.show-dropdown
{
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.3);
}

#nav-main li a:active,
#nav-main li a:focus
{
    background-color: rgba(28, 120, 172, 1);
}

#nav-main a.admin,
#nav-main a.admin:hover
{
    color: #f33;
}

#user
{
    float: left;
}

#user img
{
    display: inline-block;
    width: 24px;
    height: 24px;
    margin: 0 8px;
    border: 2px solid white;
    border-radius: 3px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
}

#nav-main #js-login .btn
{
    padding: 0.1em 1em;
    font-weight: normal;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
    line-height: 2em;
}


/* Accessibility */

#nav-access
{
    position: absolute;
    top: -1000px;
}

html[dir="ltr"] #nav-access
{
    left: -1000px;
}

html[dir="rtl"] #nav-access
{
    right: -1000px;
}


/* Language picker */

#s2id_js-language-picker
{
    padding-top: 8px;
    width: auto !important;
}

#s2id_js-language-picker:not(.select2-dropdown-open)
{
    opacity: 0.5;
    padding-left: 14px;
}

#s2id_js-language-picker:not(.select2-dropdown-open):hover
{
    opacity: 1.0;
}

#s2id_js-language-picker:not(.select2-dropdown-open) a
{
    background: transparent;
    border: 0;
    padding: 0 !important;
}

#s2id_js-language-picker.select2-container-active
{
    box-shadow: none;
}

#s2id_js-language-picker.select2-dropdown-open a
{
    color: rgb(72, 112, 117);
    padding: 0 0 0 12px !important;
    text-shadow: none;
}

#s2id_js-language-picker:not(.select2-dropdown-open) .select2-arrow
{
    background: none;
    border: 0;
}

#s2id_js-language-picker:not(.select2-dropdown-open) .select2-arrow b
{
    background: none;
}

.select2-drop.s2js-freefloat-drop
{
    padding-top: 5px;
    width: auto !important;
}


/* Responsive styles */

@media screen and (min-width: 900px) {
    #nav-main
    {
        display: block !important;
    }
}

@media screen and (max-width: 900px) {
    .brand-name
    {
        display: none;
    }

    #navbar:after
    {
        clear: both;
    }

    #nav-main
    {
        float: none;
        display: none;
        background-color: #222;
        transition: all 0.3s ease 0s;
    }

    #nav-main li
    {
        display: block;
        width: 100%;
    }

    #nav-main li a
    {
        background-color: #222;
    }

    #nav-main > .menu-divider
    {
        height: 1px;
        width: 100%;
        box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
    }

    #nav-main .dropdown-menu
    {
        width: 100% !important;
        position: relative;

        border-radius: 0;
        border: 0 none;
        box-shadow: none;
    }

    #nav-main .odometer
    {
        width: auto !important;
    }

    #menu-toggle
    {
        display: block;
        float: right;
        padding: 0 16px;
    }

    html[dir="rtl"] #menu-toggle
    {
        float: left;
    }

    #menu-toggle::after
    {
        content: "";
        display: inline-block;
        background: url('../images/menu_white.png');
        width: 23px;
        height: 15px;
        vertical-align: middle;
    }
}
