/*
 * POPUPS
 */

.popup-inline
{
    background-color: #fff;
    padding: 20px 30px;
    max-width: 650px;
    margin: 0 auto;
    position: relative;
}

.popup-ajax .mfp-content,
.lightbox-content
{
    background-color: #fff;
    border-radius: 0.5em;
    width: auto !important;
    max-width: 920px !important;
    display: inline-block;
}

.popup-ajax .popup-form,
.lightbox-content
{
    line-height: 1!important;
}

/* MFP popus are next to the body, they need a bigger font-size */
.popup-ajax .popup-form
{
    font-size: 1.2em;
    padding: 2em 3em;
}

.lightbox-content
{
    font-size: 0.8em;
}

.popup-form h1,
.lightbox-content h1
{
    margin-bottom: 1em;
}

.popup-form p,
.lightbox-content p
{
    margin: 1em 0;
}

.popup-form textarea,
.lightbox-content textarea
{
    font-size: 1em;
    padding-left: 0.2em;
    padding-right: 0.2em;
}

.popup-form .buttons input,
.lightbox-content .buttons input
{
    margin: 0.3em 0px 0px;
}

.popup-form label,
.lightbox-content label
{
    display: block;
    color: rgba(0, 0, 0, 0.6);
}

/* for forms displayed in lightbox mode (via magnificPopup plugin), use different shadow */
.mfp-content .form
{
    box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.5);
}
