#reports-container
{
    margin: 2em 1em;
}

#reports-results
{
    margin-top: 1em;
}

#reports-results table.stats
{
    margin-bottom: 2em !important;
}

table.stats td
{
    padding: 5px;
}

#reports-results td
{
    padding: 5px;
    width: 1%;
}

#reports-results th,
#reports-summary th,
#reports-paid-tasks th
{
    color: #999;
    font-size: 85%;
    padding: 5px;
}

#reports-calendar
{
    display: none;
}

#reports-params .dates li
{
    display: inline-block;
    margin-right: 2em;
}

#reports-form
{
    width: 250px;
    margin-right: 2em;
}

#reports-params
{
    white-space: nowrap;
    text-align: center;
}

#reports-form .select2-container
{
    width: 100% !important;
    max-width: 250px;
}

/* table row colors, see 'Table Row Colors.psd' */

tr.even td.total
{
    background-color: #e2f4f8;
}

tr.odd td.total
{
    background-color: #ebf7fb;
}

tr.total
{
    background-color: #c0e4f0;
    height: 2.5em;
}

tr.total .number
{
    font-size: 130%;
}

tr.after_break
{
    border-top: 1px dashed #c0e4f0;
}

th.number
{
    text-align: right;
}

#reports-results tbody tr:hover,
#reports-summary tbody tr:hover,
#reports-paid-tasks tbody tr:hover
{
    background-color: #b8fdff !important;
}

#reports-results tbody tr.total:hover,
#reports-summary tbody tr.total:hover
{
    background-color: #7ad3d8 !important;
}

#reports-params .selected
{
    font-size: 125%;
    font-weight: bold;
}

#reports-results h2
{
    display: inline-block;
}

#reports-viewmode
{
    display: inline-block;
    padding-bottom: 10px;
    vertical-align: middle;
    margin-left: 10px;
}

#reports-results.new .new-empty
{
    display: none;
}

#reports-results.new .edit-empty
{
    display: inherit;
}

#reports-results.edit .new-empty
{
    display: inherit;
}

#reports-results.edit .edit-empty
{
    display: none;
}

#user-rates-form
{
    width: 300px;
}

#evernote_reports .settings-container table
{
    margin-bottom: 0;
}

#user-rates-form .help
{
    font-size: 75%;
    color: #999;
}

.field-wrapper
{
    float: left;
}

#user-rates-form .currency
{
    float: left;
    padding: 5px;
}

#user-rates-form .error
{
    background-color: #c55;
}

#user-rates-form input
{
    width: 95px;
}

#user-rates-form input.rate
{
    width: 61px;
}

#user-rates-form select.rate
{
    width: 65px;
}

#detailed
{
    text-align: right;
    margin-right: 5px;
    display: none;
}

#reports-params
{
    display: none;
}

#forms
{
    display: none;
    margin: 3em -2em 0;
    text-align: center;
    background-color: #eee;
    padding-top: 2em;
    padding-bottom: 2em ;
}

#forms h2
{
    color: #c30;
    text-align: left;
}

#forms form
{
    display: inline-block;
}

#forms .label
{
    text-align: left;
}

#paid-task-form
{
    width: 400px;
    margin-left: 100px;
}

#paid-task-form #id_task_type
{
    width: 104px;
}

#paid-task-form input
{
    width: 100px;
}

#paid-task-form .units
{
    float: left;
    padding: 5px;
}

#paid-task-form #id_description
{
    height: 60px;
    width: 200px;
}

#reports-summary h2,
#reports-paid-tasks h2
{
    margin-top: 1em;
}


#reports-summary,
#reports-paid-tasks
{
    display: inline-block;
    width: 100%;
}

#reports-summary td:nth-child(1),
#reports-paid-tasks td:nth-child(1)
{
    width: 40%;
}

#reports-summary td:nth-child(2),
#reports-paid-tasks td:nth-child(2)
{
    width: 10%;
}

#reports-summary td,
#reports-paid-tasks td
{
    width: 15%;
}

#reports-paid-tasks td:last-child
{
    width: 5%;
}

#reports-paid-tasks i
{
    cursor: pointer;
    vertical-align: middle;
    margin-left: 30px;
}

#reports-activity
{
    display: none;
}

#daily-chart
{
    min-height: 300px;
}

#daily-chart table
{
    width: inherit;
}

.zero
{
    opacity: 0.5;
}

.noresults
{
    padding: 3em;
    text-align: center;
    border: 1px dashed #ccc;
    color: #999;
    font-size: 120%;
    font-style: italic;
}

#reports-container table
{
    width: 100%;
}

#reports-header
{
    width: 100%;
}
