/*
    Pootle customizations for Select2 styles.
*/


/* Customizations for breadcrumbs selects */

.select2-container
{
    top: -2px; /* needed because of the border */
}

.select2-container .select2-choice
{
    border: 1px solid #d9d9d9;

    -webkit-border-radius: 2px;
       -moz-border-radius: 2px;
            border-radius: 2px;

    background-color: #fcfcfc;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #eeeeee), color-stop(0.5, #fcfcfc));
    background-image: -webkit-linear-gradient(center bottom, #eeeeee 0%, #fcfcfc 50%);
    background-image: -moz-linear-gradient(center bottom, #eeeeee 0%, #fcfcfc 50%);
    background-image: -o-linear-gradient(bottom, #eeeeee 0%, #fcfcfc 50%);
    background-image: -ms-linear-gradient(top, #fcfcfc 0%, #eeeeee 50%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#fcfcfc', endColorstr = '#eeeeee', GradientType = 0);
    background-image: linear-gradient(top, #fcfcfc 0%, #eeeeee 50%);
}

.breadcrumb .select2-container .select2-choice
{
    border: 1px solid transparent;
    background-color: transparent;
    background-image: none;
    filter: none;
}

.select2-container:hover .select2-choice
{
    border: 1px solid #d9d9d9;
}

.select2-container.select2-drop-above .select2-choice
{
    border-bottom-color: #d9d9d9;
    -webkit-border-radius:0 0 2px 2px;
       -moz-border-radius:0 0 2px 2px;
            border-radius:0 0 2px 2px;
}

.select2-drop
{
    border: 1px solid #d9d9d9;
    border-top: 0;
         -o-box-shadow: 0 4px 5px rgba(0, 0, 0, .15);
}

.select2-drop.select2-drop-above
{
    border-top: 1px solid #d9d9d9;
         -o-box-shadow: 0 -4px 5px rgba(0, 0, 0, .15);
}

.select2-container .select2-choice .select2-arrow
{
    border-left: 1px solid #d9d9d9;
    -webkit-border-radius: 0 2px 2px 0;
       -moz-border-radius: 0 2px 2px 0;
            border-radius: 0 2px 2px 0;

    background-color: #ddd;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #ddd), color-stop(0.6, #eee));
    background-image: -webkit-linear-gradient(center bottom, #ddd 0%, #eee 60%);
    background-image: -moz-linear-gradient(center bottom, #ddd 0%, #eee 60%);
    background-image: -o-linear-gradient(bottom, #ddd 0%, #eee 60%);
    background-image: -ms-linear-gradient(top, #dddddd 0%, #eeeeee 60%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#eeeeee', endColorstr = '#dddddd', GradientType = 0);
    background-image: linear-gradient(top, #dddddd 0%, #eeeeee 60%);
}

.breadcrumb .select2-container .select2-choice .select2-arrow
{
    border-left: 1px solid transparent;
    background-color: transparent;
    background-image: none;
    filter: none;
}

.select2-search input
{
    border: 1px solid #d9d9d9;
}

.select2-container-active .select2-choice,
.select2-container-active .select2-choices
{
    border: 1px solid #0489b7;
         -o-box-shadow: 0 0 5px rgba(0,0,0,.3);
}

.breadcrumb .select2-dropdown-open .select2-choice,
.select2-dropdown-open .select2-choice
{
    border: 1px solid #d9d9d9;
    border-bottom-color: transparent;
         -o-box-shadow: 0 1px 0 #fff inset;
}

.breadcrumb .select2-dropdown-open .select2-choice
{
    background-color: #eee;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, white), color-stop(0.5, #eeeeee));
    background-image: -webkit-linear-gradient(center bottom, white 0%, #eeeeee 50%);
    background-image: -moz-linear-gradient(center bottom, white 0%, #eeeeee 50%);
    background-image: -o-linear-gradient(bottom, white 0%, #eeeeee 50%);
    background-image: -ms-linear-gradient(top, #ffffff 0%,#eeeeee 50%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#ffffff',GradientType=0 );
    background-image: linear-gradient(top, #ffffff 0%,#eeeeee 50%);
}

.select2-results .select2-highlighted
{
    background: #0489b7;
}

.select2-container-multi .select2-choices
{
    border: 1px solid #d9d9d9;
}

.select2-container-multi.select2-container-active .select2-choices
{
    border: 1px solid #0489b7;
         -o-box-shadow: 0 0 5px rgba(0,0,0,.3);
}

.select2-container-multi .select2-choices .select2-search-field input
{
    height: 15px;
         -o-box-shadow: none;
}

.select2-container-multi .select2-choices .select2-search-choice
{
    border: 1px solid #d9d9d9;
}



/* Width specification for several selects */

/* Styles for "multiple" selects */
.select2-multiple
{
    width: 30em;
    min-width: 30em;
    max-width: 30em;
}

/* Styles for other selects */
.select2-nplurals
{
    width: 8em;
    min-width: 8em;
    max-width: 12em;
}

.select2-checkstyle
{
    width: 14em;
    min-width: 14em;
    max-width: 20em;
}

.select2-localfiletype
{
    width: 16em;
    min-width: 16em;
    max-width: 20em;
}

.select2-treestyle
{
    width: 26em;
    min-width: 26em;
    max-width: 30em;
}

.select2-language
{
    width: 21em;
    min-width: 21em;
    max-width: 30em;
}

.select2-username,
.select2-filter-status
{
    width: 20em;
    min-width: 20em;
    max-width: 20em;
}

.select2-filter-checks
{
    width: 24em;
    min-width: 24em;
    max-width: 30em;
}

