/* glue: 0.11.1 hash: 251b284f63 */
        .icon-user-website,
.icon-user-twitter,
.icon-user-linkedin,
.icon-logo,
.icon-desc,
.icon-ascdesc,
.icon-asc,
.icon-expand-stats,
.icon-collapse-stats,
.icon-yandex-translate,
.icon-welsh-translate,
.icon-web-translate,
.icon-warning,
.icon-vfolder,
.icon-timeline,
.icon-tick,
.icon-search,
.icon-reject,
.icon-raw-mode,
.icon-project,
.icon-language,
.icon-information,
.icon-google-translate,
.icon-folder,
.icon-folder-parent,
.icon-file,
.icon-error,
.icon-copy,
.icon-comment-user,
.icon-comment-add,
.icon-caighdean-translate,
.icon-block,
.icon-block-muted,
.icon-arrow-up,
.icon-arrow-down,
.icon-accept,
.icon-upload,
.icon-download,
.icon-back,
.icon-external-link {
            background-image: url('../images/sprite.png');
            background-repeat: no-repeat;
        }
        
        .icon-user-website {
            background-position: 0 0;
            width: 32px;
            height: 32px;
        }
        
        .icon-user-twitter {
            background-position: -32px 0;
            width: 32px;
            height: 32px;
        }
        
        .icon-user-linkedin {
            background-position: 0 -32px;
            width: 32px;
            height: 32px;
        }
        
        .icon-logo {
            background-position: -32px -32px;
            width: 32px;
            height: 32px;
        }
        
        .icon-desc {
            background-position: -64px 0;
            width: 21px;
            height: 4px;
        }
        
        .icon-ascdesc {
            background-position: -64px -4px;
            width: 21px;
            height: 9px;
        }
        
        .icon-asc {
            background-position: -64px -13px;
            width: 21px;
            height: 4px;
        }
        
        .icon-expand-stats {
            background-position: -64px -17px;
            width: 17px;
            height: 17px;
        }
        
        .icon-collapse-stats {
            background-position: -64px -34px;
            width: 17px;
            height: 17px;
        }
        
        .icon-yandex-translate {
            background-position: 0 -64px;
            width: 16px;
            height: 16px;
        }
        
        .icon-welsh-translate {
            background-position: -16px -64px;
            width: 16px;
            height: 16px;
        }
        
        .icon-web-translate {
            background-position: -32px -64px;
            width: 16px;
            height: 16px;
        }
        
        .icon-warning {
            background-position: -48px -64px;
            width: 16px;
            height: 16px;
        }
        
        .icon-vfolder {
            background-position: -64px -64px;
            width: 16px;
            height: 16px;
        }
        
        .icon-timeline {
            background-position: -85px 0;
            width: 16px;
            height: 16px;
        }
        
        .icon-tick {
            background-position: -85px -16px;
            width: 16px;
            height: 16px;
        }
        
        .icon-search {
            background-position: -85px -32px;
            width: 16px;
            height: 16px;
        }
        
        .icon-reject {
            background-position: -85px -48px;
            width: 16px;
            height: 16px;
        }
        
        .icon-raw-mode {
            background-position: -85px -64px;
            width: 16px;
            height: 16px;
        }
        
        .icon-project {
            background-position: 0 -80px;
            width: 16px;
            height: 16px;
        }
        
        .icon-language {
            background-position: -16px -80px;
            width: 16px;
            height: 16px;
        }
        
        .icon-information {
            background-position: -32px -80px;
            width: 16px;
            height: 16px;
        }
        
        .icon-google-translate {
            background-position: -48px -80px;
            width: 16px;
            height: 16px;
        }
        
        .icon-folder {
            background-position: -64px -80px;
            width: 16px;
            height: 16px;
        }
        
        .icon-folder-parent {
            background-position: -80px -80px;
            width: 16px;
            height: 16px;
        }
        
        .icon-file {
            background-position: -101px 0;
            width: 16px;
            height: 16px;
        }
        
        .icon-error {
            background-position: -101px -16px;
            width: 16px;
            height: 16px;
        }
        
        .icon-copy {
            background-position: -101px -32px;
            width: 16px;
            height: 16px;
        }
        
        .icon-comment-user {
            background-position: -101px -48px;
            width: 16px;
            height: 16px;
        }
        
        .icon-comment-add {
            background-position: -101px -64px;
            width: 16px;
            height: 16px;
        }
        
        .icon-caighdean-translate {
            background-position: -101px -80px;
            width: 16px;
            height: 16px;
        }
        
        .icon-block {
            background-position: 0 -96px;
            width: 16px;
            height: 16px;
        }
        
        .icon-block-muted {
            background-position: -16px -96px;
            width: 16px;
            height: 16px;
        }
        
        .icon-arrow-up {
            background-position: -32px -96px;
            width: 9px;
            height: 16px;
        }
        
        .icon-arrow-down {
            background-position: -41px -96px;
            width: 9px;
            height: 16px;
        }
        
        .icon-accept {
            background-position: -50px -96px;
            width: 16px;
            height: 16px;
        }
        
        .icon-upload {
            background-position: -66px -96px;
            width: 14px;
            height: 14px;
        }
        
        .icon-download {
            background-position: -80px -96px;
            width: 14px;
            height: 14px;
        }
        
        .icon-back {
            background-position: -64px -51px;
            width: 14px;
            height: 13px;
        }
        
        .icon-external-link {
            background-position: -94px -96px;
            width: 12px;
            height: 12px;
        }
        
        @media screen and (-webkit-min-device-pixel-ratio: 1.0), screen and (min--moz-device-pixel-ratio: 1.0), screen and (-o-min-device-pixel-ratio: 100/100), screen and (min-device-pixel-ratio: 1.0), screen and (min-resolution: 1.0dppx) {
            .icon-user-website,
    .icon-user-twitter,
    .icon-user-linkedin,
    .icon-logo,
    .icon-desc,
    .icon-ascdesc,
    .icon-asc,
    .icon-expand-stats,
    .icon-collapse-stats,
    .icon-yandex-translate,
    .icon-welsh-translate,
    .icon-web-translate,
    .icon-warning,
    .icon-vfolder,
    .icon-timeline,
    .icon-tick,
    .icon-search,
    .icon-reject,
    .icon-raw-mode,
    .icon-project,
    .icon-language,
    .icon-information,
    .icon-google-translate,
    .icon-folder,
    .icon-folder-parent,
    .icon-file,
    .icon-error,
    .icon-copy,
    .icon-comment-user,
    .icon-comment-add,
    .icon-caighdean-translate,
    .icon-block,
    .icon-block-muted,
    .icon-arrow-up,
    .icon-arrow-down,
    .icon-accept,
    .icon-upload,
    .icon-download,
    .icon-back,
    .icon-external-link {
                background-image: url('../images/sprite.png');
                -webkit-background-size: 117px 112px;
                -moz-background-size: 117px 112px;
                background-size: 117px 112px;
            }
        }
        