/* glue: 0.3 hash: a622debd5a */
.logo,
.icon-desc,
.icon-ascdesc,
.icon-asc,
.icon-wikipedia,
.icon-web-translate,
.icon-warning,
.icon-vote-inactive,
.icon-vote-active,
.icon-tick,
.icon-tag,
.icon-tag-remove,
.icon-tag-add,
.icon-search,
.icon-report-bug,
.icon-reject,
.icon-information,
.icon-google-translate,
.icon-folder,
.icon-filter,
.icon-file,
.icon-feed,
.icon-error,
.icon-copy,
.icon-comment-user,
.icon-comment-add,
.icon-block,
.icon-apertium,
.icon-accept,
.icon-vcs-update,
.icon-vcs-commit,
.icon-upload,
.icon-update-templates,
.icon-rescan-files,
.icon-download,
.icon-delete-path,
.icon-external-link{background-image:url('../images/sprite.png');background-repeat:no-repeat}
.logo{background-position:0px 0px;width:52px;height:32px;}
.icon-desc{background-position:0px -32px;width:21px;height:4px;}
.icon-ascdesc{background-position:0px -36px;width:21px;height:9px;}
.icon-asc{background-position:-21px -32px;width:21px;height:4px;}
.icon-wikipedia{background-position:-52px 0px;width:16px;height:16px;}
.icon-web-translate{background-position:-52px -16px;width:16px;height:16px;}
.icon-warning{background-position:0px -45px;width:16px;height:16px;}
.icon-vote-inactive{background-position:-16px -45px;width:16px;height:16px;}
.icon-vote-active{background-position:-32px -45px;width:16px;height:16px;}
.icon-tick{background-position:-48px -45px;width:16px;height:16px;}
.icon-tag{background-position:-68px 0px;width:16px;height:16px;}
.icon-tag-remove{background-position:-68px -16px;width:16px;height:16px;}
.icon-tag-add{background-position:-68px -32px;width:16px;height:16px;}
.icon-search{background-position:0px -61px;width:16px;height:16px;}
.icon-report-bug{background-position:-16px -61px;width:16px;height:16px;}
.icon-reject{background-position:-32px -61px;width:16px;height:16px;}
.icon-information{background-position:-48px -61px;width:16px;height:16px;}
.icon-google-translate{background-position:-64px -61px;width:16px;height:16px;}
.icon-folder{background-position:-84px 0px;width:16px;height:16px;}
.icon-filter{background-position:-84px -16px;width:16px;height:16px;}
.icon-file{background-position:-84px -32px;width:16px;height:16px;}
.icon-feed{background-position:-84px -48px;width:16px;height:16px;}
.icon-error{background-position:0px -77px;width:16px;height:16px;}
.icon-copy{background-position:-16px -77px;width:16px;height:16px;}
.icon-comment-user{background-position:-32px -77px;width:16px;height:16px;}
.icon-comment-add{background-position:-48px -77px;width:16px;height:16px;}
.icon-block{background-position:-64px -77px;width:16px;height:16px;}
.icon-apertium{background-position:-80px -77px;width:16px;height:16px;}
.icon-accept{background-position:-100px 0px;width:16px;height:16px;}
.icon-vcs-update{background-position:-100px -16px;width:14px;height:14px;}
.icon-vcs-commit{background-position:-100px -30px;width:14px;height:14px;}
.icon-upload{background-position:-100px -44px;width:14px;height:14px;}
.icon-update-templates{background-position:-100px -58px;width:14px;height:14px;}
.icon-rescan-files{background-position:-100px -72px;width:14px;height:14px;}
.icon-download{background-position:0px -93px;width:14px;height:14px;}
.icon-delete-path{background-position:-14px -93px;width:14px;height:14px;}
.icon-external-link{background-position:-84px -64px;width:12px;height:12px;}
