/* glue: 0.3 hash: bcc55149a8 */
.icon-desc,
.icon-ascdesc,
.icon-asc,
.icon-expand-stats,
.icon-collapse-stats,
.icon-web-translate,
.icon-warning,
.icon-vote-inactive,
.icon-vote-active,
.icon-tick,
.icon-search,
.icon-reject,
.icon-project,
.icon-language,
.icon-information,
.icon-google-translate,
.icon-folder,
.icon-folder-parent,
.icon-file,
.icon-error,
.icon-copy,
.icon-comment-user,
.icon-comment-add,
.icon-block,
.icon-block-muted,
.icon-apertium,
.icon-accept,
.icon-external-link{background-image:url('../images/sprite.png');background-repeat:no-repeat}
.icon-desc{background-position:0px 0px;width:21px;height:4px;}
.icon-ascdesc{background-position:0px -4px;width:21px;height:9px;}
.icon-asc{background-position:0px -13px;width:21px;height:4px;}
.icon-expand-stats{background-position:-21px 0px;width:17px;height:17px;}
.icon-collapse-stats{background-position:0px -17px;width:17px;height:17px;}
.icon-web-translate{background-position:-17px -17px;width:16px;height:16px;}
.icon-warning{background-position:-38px 0px;width:16px;height:16px;}
.icon-vote-inactive{background-position:-38px -16px;width:16px;height:16px;}
.icon-vote-active{background-position:0px -34px;width:16px;height:16px;}
.icon-tick{background-position:-16px -34px;width:16px;height:16px;}
.icon-search{background-position:-32px -34px;width:16px;height:16px;}
.icon-reject{background-position:-54px 0px;width:16px;height:16px;}
.icon-project{background-position:-54px -16px;width:16px;height:16px;}
.icon-language{background-position:-54px -32px;width:16px;height:16px;}
.icon-information{background-position:0px -50px;width:16px;height:16px;}
.icon-google-translate{background-position:-16px -50px;width:16px;height:16px;}
.icon-folder{background-position:-32px -50px;width:16px;height:16px;}
.icon-folder-parent{background-position:-48px -50px;width:16px;height:16px;}
.icon-file{background-position:-70px 0px;width:16px;height:16px;}
.icon-error{background-position:-70px -16px;width:16px;height:16px;}
.icon-copy{background-position:-70px -32px;width:16px;height:16px;}
.icon-comment-user{background-position:-70px -48px;width:16px;height:16px;}
.icon-comment-add{background-position:0px -66px;width:16px;height:16px;}
.icon-block{background-position:-16px -66px;width:16px;height:16px;}
.icon-block-muted{background-position:-32px -66px;width:16px;height:16px;}
.icon-apertium{background-position:-48px -66px;width:16px;height:16px;}
.icon-accept{background-position:-64px -66px;width:16px;height:16px;}
.icon-external-link{background-position:-86px 0px;width:12px;height:12px;}
