/*
 * BASIC ELEMENT STYLING
 */

html
{
    color: #130f30;
    background: #FFF;
    width: 100%;
    margin: 0;
    padding: 0;
}

body
{
    background: #FFF;
    color: #130f30;
    width: 100%;

    font-family: Segoe UI, Ubuntu, sans-serif;
    font-size: 0.8125em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
}

a,
a:link
{
    text-decoration: none;
    background-color: inherit;
    color: #0489b7;
}

a:visited
{
    text-decoration: none;
}

a:hover
{
    text-decoration: underline;
}

a:active
{
    text-decoration: underline;
}

p,
dd
{
    line-height: 1.5;
}

strong
{
    font-weight: bold;
}

em
{
    font-style: italic;
}

abbr,
acronym
{
    border-bottom: 1px dotted #130f30;
    cursor: help;
}

p,
fieldset,
pre
{
    margin-bottom: 1em;
}

th
{
    font-size: 110%;
    padding: 0 0 7px 0;
    background-color: inherit;
    color: #4b4742;
}

td
{
    padding: 5px 0;
}

h1, h2, h3, h4, h5, h6
{
    font-weight: normal;
    font-size: 100%;
    color: #333;
}

h1
{
    font-size: 185%;
}

h2
{
    font-size: 170%;
}

h3
{
    font-size: 150%;
}

h4
{
    font-size: 137%;
}

h5
{
    font-size: 110%;
}

h6
{
    font-size: 100%;
}

body, div,
ul, ol, li,
h1, h2, h3, h4, h5, h6,
pre, code,
form, fieldset, legend,
p, blockquote
{
    margin: 0;
    padding: 0px;
}

input, textarea
{
    margin: 0;
}

table
{
    border-collapse: collapse;
    border-spacing: 0;
    font-size: inherit;
}

fieldset,
img
{
    border: 0;
}

address, caption, cite, code, dfn,
th, var
{
    font-style: normal;
    font-weight: normal;
}

li
{
    list-style: none;
}

caption,
th
{
    text-align: left;
    padding: 5px;
}

html[dir="rtl"] caption,
html[dir="rtl"] th
{
    text-align: right;
}

q:before,
q:after
{
    content: '';
}

abbr,
acronym
{
    border: 0;
    font-variant: normal;
}

sup
{
    vertical-align: text-top;
}

sub
{
    vertical-align: text-bottom;
}

input,
textarea,
select
{
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}

legend
{ 
    background-color: inherit;
    color: #130f30;
}

pre, code, kbd, samp, tt
{
    font-family: monospace;
    line-height: 100%;
}

#ft
{
    clear: both;
}

#bd:after
{
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}


/*
 * Icons
 */

[class^="icon-"],
[class*=" icon-"]
{
    background-repeat: no-repeat;
    display: inline-block;
    line-height: 16px;
    width: 16px;
    height: 16px;
    vertical-align: text-top;
}

[class^="bar-"],
[class*=" bar-"]
{
    display: inline-block;
    position: absolute;
    vertical-align: middle;
}

ul.icons
{
    list-style-type: none;
    margin-left: 20px;
    text-indent: -20px;
}

html[dir="rtl"] ul.icons
{
    margin-right: 20px;
    margin-left: auto;
}


/*
 * MAIN DIVs
 */

#wrapper,
#doc
{
    width: 100%;
}

#doc:after
{
    content: ".";
    display: block;
    height: 0;
    width: 0;
    clear: both;
    visibility: hidden;
}

#nav-access
{
    position: absolute;
    top: -1000px;
}

html[dir="ltr"] #nav-access
{
    left: -1000px;
}

html[dir="rtl"] #nav-access
{
    right: -1000px;
}

#precontent,
#content,
#postcontent
{
    margin: 0 1em;
}

#precontent,
#content {
    clear: both;
}


/*
 * HEADER
 */

#header h1
{
    float: left;
    padding: 25px 0 10px;
    margin: 0 30px 0 20px;
    text-shadow: 0 1px 0 #F8F8F8;
}

html[dir="rtl"] #header h1
{
    float: right;
    margin: 0px 20px 0 30px;
}

.brand
{
    display: inline-block;
    float: left;
    margin-top: -10px;
}

html[dir="rtl"]
{
    float: right;
}


/*
 * ZOOM CONTROL
 */

#zoom {
    padding: 12px;
    position: absolute;
    right: 0px;
    top: 25px;
    font-size: 12px;
    font-weight: bold;

    filter:alpha(opacity=40);
    -moz-opacity: 0.4;
    -khtml-opacity: 0.4;
    opacity: 0.4;
}

html[dir="rtl"] #zoom {
    right: auto;
    left: 0px;
}

#zoom a {
    padding: 0 2px;
    border: 1px dotted transparent;
}

#zoom:hover {
    filter:alpha(opacity=100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
}

#zoom a:hover {
    border: 1px dotted #0489b7;
    text-decoration: none;
}

/*
 * MENUBAR
 */

#nav-main
{
    margin: 10px 5px 0;
    position: absolute;
    right: 0px;
    top: 0px;
}

html[dir="rtl"] #nav-main
{
    right: auto;
    left: 0px;
}

#nav-main li
{
    float: left;
}

html[dir="rtl"] #nav-main li
{
    float: right;
}

#nav-main li a
{
    padding: 0 10px;
    display: block;
    font-weight: bold;
    font-size: 95%;
}

#nav-main a.admin
{
    color: #c30;
}

#user
{
    float: left;
}

#user img
{
    float: left;
    margin: -2px 5px 0;
}


/*
 * FOOTER
 */

#footer
{
    background: #fff url('../images/footer-bg.jpg') top center repeat-x;
    text-align: center;
    color: #888;
    clear: both;
    font-size: 90%;
    margin-top: 2em;
}

#footer-contents
{
    margin: 0 auto;
    width: 90%;
}

#footer .nav
{
    padding: 35px 0;
}

#footer .nav li
{
    display: inline;
}

#footer .nav li:after
{
    content:  "|";
    margin: 0 10px;
}

#footer .nav li:last-child:after
{
    content: '';
    margin: 0;
}

#footer a
{
    color: #888;
}


/*
 * MESSAGES
 */

.xhr-message
{
    position: fixed;
    height: 2em;
    bottom: 47px; /* #toolbar height + 1 */
    left: 50%;
    width: 400px;
    margin-left: -200px;
    z-index: 1001;
    text-align: center;
}

.xhr-message span
{
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
    border: 1px solid #ccc;
    border-bottom: 0px;
    line-height: 2em;
    padding: 0.5em 1em 0.5em 36px;
}

html[dir="rtl"] #xhr-activity span,
html[dir="rtl"] #xhr-error span
{
    background-position: 85% center;
    padding: 0.5em 36px 0.5em 1em;
}

#xhr-activity span,
#xhr-error span
{
    background-position: 1em center;
}

#xhr-activity span
{
    background: url("../images/activity.gif") 1em center no-repeat #e5f3f8;
}

#xhr-error span
{
    background: url("../images/error.png") 1em center no-repeat #e5f3f8;
}

/* Alerts from Bootstrap */

#alerts
{
    top: 100px;
    width: 400px;
    left: 50%;
    margin-left: -200px;
    z-index: 1001;
}

.alert
{
    padding: 8px 35px 8px 14px;
    margin-bottom: 1em;
    color: #c09853;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    background-color: #fcf8e3;
    border: 1px solid #fbeed5;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
}

.alert h4
{
    margin: 0;
}

.alert .close
{
    position: relative;
    top: -5px;
    right: -21px;
    line-height: 20px;
}

.alert-success
{
    color: #468847;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.alert-danger,
.alert-error
{
    color: #b94a48;
    background-color: #f2dede;
    border-color: #eed3d7;
}

.alert-info
{
    color: #3a87ad;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.alert-block
{
    padding-top: 14px;
    padding-bottom: 14px;
}

.alert-block > p,
.alert-block > ul
{
    margin-bottom: 0;
}

.alert-block p + p
{
    margin-top: 5px;
}

.close
{
    float: right;
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
    color: #000000;
    text-shadow: 0 1px 0 #ffffff;
    opacity: 0.2;
    filter: alpha(opacity=20);
}

.close:hover
{
    color: #000000;
    text-decoration: none;
    cursor: pointer;
    opacity: 0.4;
    filter: alpha(opacity=40);
}

button.close
{
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
}

.fade {
  opacity: 0;
  -webkit-transition: opacity 0.15s linear;
     -moz-transition: opacity 0.15s linear;
       -o-transition: opacity 0.15s linear;
          transition: opacity 0.15s linear;
}

.fade.in {
  opacity: 1;
}

/* Form messages */

.form.message
{
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e5f3f8', endColorstr='#cde7f1');
    background: -webkit-gradient(linear, left top, left bottom, from(#ffd), to(#ffa));
    background: -moz-linear-gradient(top,  #e5f3f8,  #cde7f1);
}

.form.success
{
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeffdd', endColorstr='#ccff99');
    background: -webkit-gradient(linear, left top, left bottom, from(#efd), to(#cf9));
    background: -moz-linear-gradient(top,  #efd,  #cf9);
}

.form.error
{
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffeeee', endColorstr='#ffcccc');
    background: -webkit-gradient(linear, left top, left bottom, from(#fee), to(#fcc));
    background: -moz-linear-gradient(top,  #fee,  #fcc);
}

.form p.info
{
    margin: 0.3em 0;
}

.form .success {
    color: #390;
}

.form .error
{
    color: #c00;
}

.hide
{
    display: none;
}

.invisible
{
    visibility: hidden;
}

.affix
{
    position: fixed;
}

p.help,
span.help_text
{
    font-size: 85%;
    font-style: italic;
}

/* FORM ERROR LISTS */

ul.errorlist
{
    margin: 0;
    padding: 0;
}

.errorlist li
{
    color: #c00;
    margin-top: 0.2em;
}


/*
 * PAGE BODY
 */

#body
{
    margin: 0;
    padding: 5px 0px;
    background: #fff url('../images/page-bg.jpg') top left repeat-x;
    background-repeat: repeat-x;
}

#body:after
{
    content: ".";
    display: block;
    height: 0;
    width: 0;
    clear: both;
    visibility: hidden;
}

#edit_settings,
#show_settings
{
    left: 3px;
    position: absolute;
    cursor: pointer;
}

html[dir="rtl"] #edit_settings,
html[dir="rtl"] #show_settings
{
    left: 100%;
    right: 3px;
}

/* TABLES */

.module table, 
.module-primary table
{
    width: 100%;
}

td.language,
td.code,
td.profile,
td.username
{
    padding-left: 5px;
}

html[dir="rtl"] td.language,
html[dir="rtl"] td.code,
html[dir="rtl"] td.profile,
html[dir="rtl"] td.username
{
    padding-left: 0;
    padding-right: 5px;
}

tr.even, 
td.even, 
li.even
{
    background: #f7f7f7;
}

/* MODULES */

.clear
{
    clear: both;
}

.module
{
    width: 48%;
    float: right;
    margin: 0;
}

html[dir="rtl"] .module
{
    float: left;
}

.module.first
{
    float: left;
}

html[dir="rtl"] .module.first
{
    float: right;
}

.module .hd h2, 
.module-primary .hd h2,
.module .hd h3,
.module .hd h4
{
    color: #999;
}

.module .hd h2,
.module-primary .hd h2
{
    margin: 1em 0.5em 0;
    color: #999;
    border-bottom: 1px solid #eee;
}

html[dir="rtl"] .module .hd h2,
html[dir="rtl"] .module-primary .hd h2
{
    margin-left: 0;
    margin-right: 0.5em;
}

.module .hd h3
{
    border-top: 1px solid #eee;
    margin: 1em 0 0 0;
}

.module .hd h3 span
{
    position: relative;
    top: -10px;
    padding-right: 5px;
    background-color: #fff;
}

html[dir="rtl"] .module .hd h3 span
{
    padding-right: 0;
    padding-left: 5px;
}

.module .bd,
.module-primary .bd
{
    margin: 1em;
}

.module .nomargin,
.module-primary .nomargin
{
    margin: 0;
}

.module .bd h2, 
.module-primary .bd h2
{
    color: #999;
    margin-bottom: 0.5em;
}

.module .bd h3, 
.module-primary .bd h3
{
    font-size: 120%;
}

.module .bd h4
{
    font-size: 100%;
}

/* USER STATISTICS MODULE */

.module.user-statistics table
{
    width: auto;
}

.module.user-statistics table th,
.module.user-statistics table td
{
    padding: 0 0 10px;
}

.module.user-statistics table th
{
    padding-right: 2em;
}

.module.user-statistics div.avatar
{
    position: relative;
}

.module.user-statistics div.avatar img
{
    position: absolute;
    right: 0;
    border: 1px solid #EEE;
}

/* UPLOAD FORM / UPDATE FROM VCS */

div#upload p,
div#upload ul,
div#update p
{
    margin-bottom: 0.5em;
}


/*
 * FORMS
 */

.form {
    width: 30em;
    margin: 2em auto;
    padding: 1em;
    text-align: left;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    box-shadow: 0px 2px 5px #777;
    -moz-box-shadow: 0px 2px 5px #777;
    -webkit-box-shadow: 0px 2px 5px #777;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e5f3f8', endColorstr='#cde7f1');
    background: -webkit-gradient(linear, left top, left bottom, from(#e5f3f8), to(#cde7f1));
    background: -moz-linear-gradient(top,  #e5f3f8,  #cde7f1);
}

html[dir="rtl"] .form
{
    text-align: right;
}

.form h2
{
    margin-bottom: 0.5em;
}

.form p,
.form div.p 
{
    margin-top: 1em;
}

.form input[type="text"],
.form input[type="password"],
.form select,
.form textarea
{
    width: 100%;
}

.form .buttons
{
    margin-top: 2em;
    margin-bottom: 0;
    text-align: right;
}

html[dir="rtl"] .form .buttons
{
    text-align: left;
}

input[type="submit"]
{
    border: 0;
    padding: 5px 10px;
    min-height: 16px;
    min-width: 110px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 0px 1px 2px #130f30;
    -moz-box-shadow: 0px 1px 2px #130f30;
    -webkit-box-shadow: 0px 0px 2px #130f30;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#cccccc');
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ccc));
    background: -moz-linear-gradient(top,  #fff,  #ccc);
    color: #130f30;
}

input.delete[type="submit"]
{
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffeeee', endColorstr='#ffcccc');
    background: -webkit-gradient(linear, left top, left bottom, from(#fee), to(#fcc));
    background: -moz-linear-gradient(top,  #fee,  #fcc);
}

body.zoom-out-1 input[type="submit"]
{
    min-width: 100px;
}

body.zoom-out-2 input[type="submit"]
{
    min-width: 90px;
}

input[type="submit"]:hover {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dddddd');
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ddd));
    background: -moz-linear-gradient(top,  #fff,  #ddd);
}

input[type="submit"]:active
{
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cccccc', endColorstr='#ffffff');
    background: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#fff));
    background: -moz-linear-gradient(top,  #ccc,  #fff);
}

.formlink
{
    margin: 0 auto 1em;
    font-size: 137%;
    text-align: center;
}


/*
 * NEWS FORM
 */

.news-feed,
.news-feed-with-form {
  margin-top: 2em;
}

.news-feed-with-form {
  margin-left: 38em;
}

.news {
  margin: 2em 0;
  float: left;
}

/*
 * CAPTCHA FORM
 */

.form .captcha
{
    text-align: left;
    margin-top: 1em;
}

.form .captcha .question
{
    font-size: 120%;
}

.form .captcha input[type="text"]
{
    font-size: 120%;
    width: 3em;
}

.form .captcha input[type="submit"]
{
    margin-left: 1em;
    vertical-align: bottom;
}

.form .captcha ul.errorlist {
    float: right;
    line-height: 2em;
}


/*
 * EXTERNAL LINKS
 */

a.external {
  background: url('../images/external-link.png') left 50% no-repeat;
  padding-left: 14px;
}

html[dir="rtl"] a.external {
  background: url('../images/external-link.png') right 50% no-repeat;
  padding-left: 0;
  padding-right: 14px;
}

/*
 * DOCUMENTATION, LEGAL, CONTRIBUTORS
 */

#about
{
    margin: 2em;
}

#about .document h1
{
    margin-top: .5em;
    margin-bottom: .25em;
}

#about h2,
#about h3
{
    color: #999;
    border-bottom: 1px solid #eee;
}

#about h3
{
    margin-top: 1.5em;
}

#about p
{
    margin: 1em 0;
}

#about ol,
#about ul
{
    margin: 1em 1.5em;
}

#about ul li
{
    list-style-type: square;
}

#about ol li
{
    list-style-type: inherit;
}

#about dfn
{
    border-bottom: 1px dotted #130f30;
}

#about .sidenote
{
    width: 10em;
    font-size: 95%;
    background-color: #ffe;
    padding: 0 1em;
    border: 1px dashed #cc9;
    margin-top: 4em;
    color: #777;
}

#about .sidenote p
{
    line-height: 130%;
}

#about .sidenote li
{
    margin: 0.2em 0;
}

#contributors ul,
#contributors ul li
{
    margin: 0;
    list-style-type: none;
}

#contributors ul li
{
    padding-left: 25px;
}

#contributors ul li.lang
{
    font-weight: bold;
    font-size: 120%;
    margin-top: 12px;
}

#contributors ul li.proj
{
    font-weight: bold;
    font-size: 80%;
}

#contributors ul li.user
{
    font-weight: normal;
    font-size: 100%;
}


/*
 * TABBED MENU
 */

div#submenu
{
    border-bottom: 1px solid #afaba3;
    clear: both;
    height: 34px;
    margin-bottom: 8px;
}

div#submenu-tabs
{
    float: left;
    font-weight: bold;
}

html[dir="rtl"] div#submenu-tabs
{
    float: right;
}

div#submenu-tabs a
{
    background-color: inherit;
    border: 1px solid transparent;
    color: #4b4740;
    display: block;
    float: left;
    height: 24px;
    line-height: 22px;
    margin: 8px 4px 0;
    padding: 0 11px;
    text-decoration: none;
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
}

html[dir="rtl"] div#submenu-tabs a
{
    float: right;
}

div#submenu-tabs a:hover
{
    background-color: #fff !important;
    border-color: #777 #777 #fff;
    border-style: solid;
    border-width: 1px;
    line-height: 20px;
    margin-top: 9px;
    color: #666 !important;
}

div#submenu-tabs a.admintab,
div#submenu-tabs.admin a,
div#submenu-tabs a .admin
{
    color: #c30 !important;
}

div#submenu-tabs a:visited
{
    color: #888;
}

body.dashboard div#submenu-tabs a.dashboard,
body.settings div#submenu-tabs a.settings,
body.profile div#submenu-tabs a.profile,
body.password div#submenu-tabs a.password,
body.admindashboard div#submenu-tabs a.admindashboard,
body.admingeneral div#submenu-tabs a.admingeneral,
body.adminusers div#submenu-tabs a.adminusers,
body.adminlanguages div#submenu-tabs a.adminlanguages,
body.adminprojects div#submenu-tabs a.adminprojects,
body.adminpermissions div#submenu-tabs a.adminpermissions,
body.adminlegalpages div#submenu-tabs a.adminlegalpages,
body.projectoverview div#submenu-tabs a.projectoverview,
body.projectadmin div#submenu-tabs a.projectadmin,
body.projectperm div#submenu-tabs a.projectperm,
body.languageoverview div#submenu-tabs a.languageoverview,
body.languagenews div#submenu-tabs a.languagenews,
body.languageadmin div#submenu-tabs a.languageadmin,
body.tpoverview div#submenu-tabs a.tpoverview,
body.tpnews div#submenu-tabs a.tpnews,
body.tptranslate div#submenu-tabs a.tptranslate,
body.tpterminology div#submenu-tabs a.tpterminology,
body.tpadminpermissions div#submenu-tabs a.tpadminpermissions
{
    background-color: #fff;
    border-color: #777 #777 #fff;
    border-style: solid;
    border-width: 1px;
    color: #130f30;
    height: 30px;
    line-height: 28px;
    margin-top: 3px;
    padding: 0 11px;
}


/*
 * SETTINGS PAGE
 */

div.settings-container
{
    display: block;
    margin: 0 auto 2em;
    margin: 1em;
}

.settings-container h2
{
    color: #999;
    margin: 1em 0 0.5em;
}

.settings-container p
{
    margin-bottom: 1em;
}

.settings-container input,
.settings-container select,
.settings-container textarea,
#login input[type="text"],
#login input[type="password"],
#login select,
#register input[type="text"],
#register input[type="password"]
{
    display: block;
}

.settings-container table
{
    width: 100%;
    margin-bottom: 1em;
}

.settings-container td
{
    font-size: inherit;
}

div#settings
{
    margin-bottom: 2em;
}

/* ADMIN TABLE BACKGROUNDS */

.other-selected
{
    background-color: #8ec904 !important;
}

.delete-selected
{
    background-color: #e08566 !important;
}

.delete-selected.even
{
    background-color: #d67f62 !important;
}

.delete-selected > * {
    filter:alpha(opacity=40);
    -moz-opacity: 0.4;
    -khtml-opacity: 0.4;
    opacity: 0.4;
}

.delete-selected td.DELETE {
    filter:alpha(opacity=100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
}

.other-selected a,
.delete-selected a
{
    color: #fff;
}

/*
 * SUMMARIES
 */

#summary-legend
{
    color: #888;
    font-size: 85%;
    font-style: italic;
}

#summary-legend li
{
    line-height: 16px;
}

#summary-legend [class^="bar-"],
#summary-legend [class*=" bar-"]
{
    position: relative;
    width: 32px;
}

div.newsitem-sep
{
    border-bottom: 1px solid #ddd;
    margin: 1.5em 0 2em;
}

div#rss-alerts ul,
div.latestnews ul
{
    margin: 0 1em;
}

div#rss-alerts li,
div.latestnews li
{
    list-style-type: square;
}

div.latestnews p.subscribe
{
    background-image: url('../images/feed.png');
    background-repeat: no-repeat;
    margin-top: 1em;
    /* ltr */
    background-position: left center;
    padding-left: 2em;
}

html[dir="rtl"] div.latestnews p.subscribe
{
    /* undo ltr */
    padding-left: 0;
    /* rtl */
    background-position: right center;
    text-align: right;
    padding-right: 2em;
}

div.topcontributors
{
    margin-top: 0;
    padding-top: 3em;
    margin-bottom: 2em;
}

table.topcontributors
{
    width: 100%;
}

table.topcontributors th
{
    color: #999;
    font-size: 85%;
    padding: 0 10px 7px 10px;
}

table.topcontributors td
{
    font-size: inherit;
    padding: 5px 10px;
}

td.stats-number
{
    padding-right: 26px !important; /* magic number to put padding between right and left aligned column, and to right-align heading with number */
    text-align: right;
}

th.stats-number
{
    text-align: right;
}

td.stats-name .user-nobody
{
    font-style: italic;
}

html[dir="rtl"] td.language,
html[dir="rtl"] td.stats-name,
html[dir="rtl"] select#id_ui_lang option
{
    text-align: right !important;
}

div#innernav
{
    margin: 1.5em 1em 0;
}

.item
{
    padding: 1em;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.item .title
{
    font-weight: bold;
}

.item h2
{
    font-size: 100%;
}

div.item-statistics
{
    margin-top: 1em;
}

div.item-statistics dl,
div.checks dl
{
    margin: 0;
}

div.item-statistics dl dt
{
    clear: left;
    float: left;
    text-align: right;
    width: 100px;
}

html[dir="rtl"] div.item-statistics dl dt
{
    clear: right;
    float: right;
    text-align: left;
}

div.checks
{
    margin: .3em 0 1em;
}

div.checks dl dt
{
    display: inline-block;
    width: 18%;
}

div.item-statistics dl dd
{
    line-height: inherit;
    margin: 0 0 0 110px;
}

html[dir="rtl"] div.item-statistics dl dd
{
    margin: 0 110px 0 0;
}

/* Expanded checks */

.checks td
{
    height: 100%;
}

.checks td a
{
    display: inline-block;
    height: 100%;
    width: 100%;
}

.check-name
{
    width: 22%;
}

.check-count
{
    text-align: right;
    width: 5%;
    padding-right: 5%;
}

html[dir="rtl"] .check-count
{
    padding-right: 0;
    padding-left: 5%;
}

#check-100 td a
{
    background-color: inherit;
    color: #c30;
    font-weight: bold;
}


div.small
{
    font-size: 1em;
}

.tiny
{
    font-size: 0.9em;
}

#path-summary ul
{
    line-height: 1.8em;
}

a.path-incomplete
{
    font-weight: bold;
}

#path-summary-toggle
{
    text-align: right;
}


/* 
 * Pretty Graphs, mostly from http://l10n.gnome.org/
 */

div.graph
{
    height: 14px;
    width: 100px;
    border: 0 none;
    position: relative;
}

div.graph[dir="ltr"] div.translated
{
    left: 0%;
}

div.graph[dir="rtl"] div.translated
{
    right: 0%;
}

/* SORTABLE */

table.sortable th,
table tfoot
{
    color: #999;
    font-size: 85%;
}

table.sortable th
{
    cursor: pointer;
}

table.sortable th.sorttable_nosort
{
    cursor: default;
}

table.sortable td
{
    padding: 5px;
}


table.sortable th.sorttable_sorted,
table.sortable th.sorttable_sorted_reverse
{
    color: #130f30;
}

table.sortable th input
{
    float: left;
    margin-right: 5px;
}

html[dir="rtl"] table.sortable th input
{
    float: right;
    margin-right: 0;
    margin-left: 5px;
}

.sortkey
{
    display: none;
}

/* PAGER */

div.pagination-control
{
    margin: 1.5em 0;
}

ul.pager li
{
    display: inline-block;
}

ul.pager li a,
ul.pager li a:visited
{
    border: 1px solid #ccc;
    text-decoration: none;
}

ul.pager li a:hover
{
    border-color: #68b8d4;
    background-color: #b3dbe9;
}

ul.pager li span.current-link,
ul.pager li a
{
    margin: 1px;
    padding: 0.2em 0.7em 0.3em;
}

ul.pager li span.current-link
{
    background-color: #68b8d4;
    color: #fff;
    border: 1px solid #0489b7;
    font-weight: bold;
}

html[dir="ltr"] ul.pager li:first-child > *
{
    padding-left: 1em;
    -moz-border-radius: 1em 0 0 1em;
    -webkit-border-radius: 1em 0 0 1em;
    border-radius: 1em 0 0 1em;
}

html[dir="ltr"] ul.pager li:last-child > *
{
    padding-right: 1em;
    -moz-border-radius: 0 1em 1em 0;
    -webkit-border-radius: 0 1em 1em 0;
    border-radius: 0 1em 1em 0;
}

html[dir="rtl"] ul.pager li:first-child > *
{
    padding-right: 1em;
    -moz-border-radius: 0 1em 1em 0;
    -webkit-border-radius: 0 1em 1em 0;
    border-radius: 0 1em 1em 0;
}

html[dir="rtl"] ul.pager li:last-child > *
{
    padding-left: 1em;
    -moz-border-radius: 1em 0 0 1em;
    -webkit-border-radius: 1em 0 0 1em;
    border-radius: 1em 0 0 1em;
}


/*
 * OVERVIEW PAGE
 */

#overview-actions li
{
    background-color: inherit;
}

.overview-actions-container
{
    padding: 1em 0;
    border-top: 1px solid #eee;
}

.overview-actions-container.first
{
    border-top: 0 none;
}

.overview-actions-group
{
    width: 20%;
    font-size: 85%;
    float: left;
}

.overview-actions-content
{
    width: 75%;
    margin-left: 25%;
}

html[dir="rtl"] .overview-actions-content
{
    margin-left: 0;
    margin-right: 25%;
}

#overview-actions-translate-offline a
{
    color: #cc6633;
}

#overview-actions-translate-offline li
{
    display: inline;
}

#overview-actions-translate-offline li.odd
{
    margin-right: 25%;
}

html[dir="rtl"] #overview-actions-translate-offline li.odd
{
    margin-right: 0;
    margin-left: 25%;
}

#overview-actions-manage a
{
    color: #cc3366;
}

.overview-description-toggle
{
    display: block;
    margin-top: 0.5em;
    text-align: right;
}

html[dir="rtl"] .overview-description-toggle
{
    text-align: left;
}

#overview-description-tp,
#overview-description-project,
#overview-description-language
{
    margin: 1em 0;
}


/*
 * NAVIGATION BAR
 */

.title a
{
    unicode-bidi: embed;
}

#breadcrumbs
{
    font-weight: normal;
}

#breadcrumbs span:last-child a {
    color: inherit;
}


/* SEARCH */

div#search
{
    /* this should better be fixed in html template */
    position: absolute;
    right: 1em;
    top: 85px;
}

div#search[dir="rtl"]
{
    right: auto;
    left: 2em;
}

#search input[type=text]
{
    border: 1px solid #76b0bf;
    height: 16px;
    width: 145px;
    background-color: #fff;
    color: #aaa;
}

#search input[type=text]:focus
{
    color: #130f30;
}

#search .advancedlink
{
    width: 20px;
    height: 20px;
    padding: 0;
    border: 0;
    margin: 0 0 0 -5px;
    cursor: pointer;
    vertical-align: top; /* IE alignment fix */
}

#search[dir="rtl"] .advancedlink
{
    margin: 0 -5px 0 0;
}

div.advancedsearch
{
    background-color: #fff;
    border-bottom: 1px solid #76b0bf;
    border-left: 1px solid #76b0bf;
    border-right: 1px solid #76b0bf;
    overflow: auto;
    padding: 5px;
    position: absolute;
    z-index: 2000;
    display: none;
    width: 135px;
}

div.advancedsearch li {
    padding: 0.4em;
    font-size: 90%;
}

div.advancedsearch li input {
    vertical-align: top;
}

label.inputHint
{
    display: none;
}

.togglesearch
{
    cursor: pointer;
    vertical-align: top;
}

/* Fix for Opera + RTL */
div#search[dir="rtl"] .togglesearch
{
    margin-left: -5px;
}

/* FILENAMES, STATS */

.icon
{
    float: left;
    margin-right: 8px;
}

.icon[dir="rtl"]
{
    float: right;
    margin-left: 8px;
}

.translations-nav
{
    clear: both;
    margin-top: 1em;
}

.translations-nav:after
{
    content: ".";
    display: block;
    height: 0;
    width: 0;
    clear: both;
    visibility: hidden;
}

.translations-nav li
{
    float: left;
    padding: 0 0 0 9px;
}

html[dir="rtl"] .translations-nav li
{
    float: right;
    padding: 0 9px 0 0;
}

.translations-nav li:after
{
    content:  "|";
    margin: 0 0 0 10px;
}

html[dir="rtl"] .translations-nav li:after
{
    content:  "|";
    margin: 0 10px 0 0;
}

.translations-nav li:last-child:after,
html[dir="rtl"] .translations-nav li:last-child:after
{
    content: '';
    margin: 0;
}

.translations-nav a:link
{
    color: #807970;
}

.translations-nav a:visited
{
    color: #807970;
}

.translations-nav .important
{
    font-weight: bold;
}


/*
 * RSS ALERTS
 */

#rss-alerts div.bd div.centered
{
    width: 100%;
    text-align: center;
}

#rss-alerts iframe
{
    height: 25em;
}

/*
 * MISC
 */

a.collapse,
a.slide,
.ptr
{
    cursor: pointer;
}

.collapsethis,
.slidethis
{
    display: none;
}

.pull-left
{
    float: left;
}

html[dir="rtl"] .pull-left
{
    float: right;
}

.pull-right
{
    float: right;
}

html[dir="rtl"] .pull-right
{
    float: left;
}

.muted
{
    color: #999999;
}


/*
 * LANGUAGE SPECIFIC SETTINGS
 */

/*
 * Language codes that are styled with right-to-left (rtl) layout:
 *
 * ar (Arabic)
 * arc (Aramaic)
 * dv (Dhivehi)
 * fa (Persian)
 * he (Hebrew)
 * ks (Kashmir)
 * ps (Pashto)
 * ur (Urdu)
 * yi (Yiddish)
 *
 * See: http://translate.sourceforge.net/wiki/l10n/displaysettings
 * Also see: pagelayout.py::languagedir()
 *
 */

/* Doesn't work: [dir="rtl"] */
*:lang(ar), *:lang(arc), *:lang(dv), *:lang(fa), *:lang(he), *:lang(ks), *:lang(ps), *:lang(ur), *:lang(yi)
{
    /* If any styling is necessary for the rtl languages, add it here */
    direction: rtl;
}

:lang(ak)
{
    font-family: Lucida, "DejaVu Sans", inherit;
}

:lang(ar)
{
    font-family: sans-serif;
    font-size: 1em;
}

:lang(bn)
{
    font-family: FreeSans, MuktiNarrow, Vrinda, inherit;
    font-size: medium;
    line-height: 110%;
}

:lang(el)
{
    font-family: "DejaVu Sans", inherit;
}

:lang(fa)
{
    font-family: Terafik, Traffic, Roya, Nazli, Nazanin, inherit;
    font-size: large;
}

:lang(ja),
:lang(ko)
{
    font-size: medium;
}

:lang(zh)
{
    font-size: large;
}

:lang(km)
{
    font-family: "Khmer OS System", "Khmer OS", "Khmer Kampongtrach", "CDT Khmer", inherit;
    line-height: 170%;
}

:lang(vi)
{
    font-family: "Lucida Grande", "Vu Phu Tho", "DejaVu Sans", inherit;
}

:lang(vi) a:hover[href]
{
    text-decoration: none;
    color: #606047;
}

:lang(vi) a:active[href]
{
    text-decoration: none;
    color: #606047;
}

/* FIX FOR HEADING SIZES */

h2:lang(bn),
h2:lang(ja),
h2:lang(ko),
h2:lang(zh)
{
    font-size: 170%;
}

h2:lang(bn) a,
h2:lang(ja) a,
h2:lang(ko) a,
h2:lang(zh) a
{
    font-size: 100%;
}


/*
 * Size overrides for different zoom levels
 */

body.zoom-out-2 #content .documentation,
body.zoom-out-2 #content table.sortable,
body.zoom-out-2 table.translate-table,
body.zoom-out-2 table.stats {
    font-size: 90%;
}

body.zoom-out-1 #content .documentation,
body.zoom-out-1 #content table.sortable,
body.zoom-out-1 table.translate-table,
body.zoom-out-1 table.stats {
    font-size: 95%;
}

body.zoom-in-1 #content .documentation,
body.zoom-in-1 #content table.sortable,
body.zoom-in-1 table.translate-table,
body.zoom-in-1 table.stats {
    font-size: 115%;
}

body.zoom-in-2 #content .documentation,
body.zoom-in-2 #content table.sortable,
body.zoom-in-2 table.translate-table,
body.zoom-in-2 table.stats {
    font-size: 130%;
}


/*
 * Obfuscated email addresses
 */

span.email {
    direction: rtl;
    unicode-bidi: bidi-override;
}

html[dir="rtl"] span.email {
    direction: ltr;
}

span.email .i {
    display: none;
}
