/*
 * Welcome page-specific styles
 */

#welcome-page #content
{
  background: url(../images/translation-toons.jpg) 50% 0px no-repeat;
  min-height: 500px;
  margin: 0;
}

#welcome-page .top
{
    text-align: center;
    padding-top: 120px;
}

#welcome-page .top h1
{
    font-size: 44px;
}

#welcome-page .top h2
{
    font-family: 'webfont_light_italic', sans-serif;
    font-size: 23px;
    font-weight: normal;
    color: #1a1a1a;
    margin-top: 0.5em;
}

#welcome-page #evernote-login
{
    margin: 3em auto;
}

#welcome-page .top .btn
{
    padding: 0.8em 1.5em;
}


#welcome-page .section
{
    margin: 2em 0;
}

#welcome-page .columns
{
    text-align: center;
    margin: 2em 0;
}

#welcome-page .columns-inner
{
    display: inline-block;
    text-align: left;
    width: 960px;
}

@media
only screen and (max-width: 960px)
{
    #welcome-page .columns-inner
    {
        width: auto;
    }
}

#welcome-page .column
{
    width: 480px;
}

@media
only screen and (max-width: 480px)
{
    #welcome-page .column
    {
        width: 280px;
    }

    .gravatar
    {
        display: none;
    }
}

#welcome-page .column.center
{
    margin: 0 auto;
}

#welcome-page .column.left,
#welcome-page .column.right
{
    float: left;
}

#welcome-page .column.right
{
    float: right;
}

.column.center h1
{
    text-align: center;
}

#welcome-page .section h1
{
    color: #5a8295;
}

#welcome-page .section p
{
    margin: 0.7em 0;
}

#welcome-page .section .btn
{
    width: 4em;
}

#welcome-page #vote-lang
{
    background-color: #fff;
    border: 1px solid #d9d9d9;
    border-radius: 3px;
    display: inline-block;
}

#welcome-page #search-form,
#welcome-page #vote-lang-form
{
    padding: 1px;
}

#welcome-page input[type="text"]
{
    border: 0 none;
    height: 26px;
    line-height: 26px;
    padding: 0px 4px;
    width: 300px;
    background-color: #fff;
    color: #666;
    font-size: 18px;
    outline: 0;
}
