{% extends "base.html" %}
{% load i18n %}

{% get_current_language as LANGUAGE_CODE %}

{% block title %}
{{ block.super }} » {% trans "Contributors" %}
{% endblock %}

{% block content %}
<div id="about">
  <h2>{% trans "Contributors" %}</h2>

  <div id="contributors">
    <ul>
      {% for language, projects in contributors %}
      <li class="lang">{{ language }}
        <ul>
          {% for project, users in projects %}
          <li class="proj">{{ project }}
            <ul>
              {% for user in users %}
              <li class="user">{{ user }}</li>
              {% endfor %}
            </ul>
          </li>
          {% endfor %}
        </ul>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock content%}
