{% load i18n baseurl store_tags cleanhtml %}
{% get_current_language as LANGUAGE_CODE %}
{% get_current_language_bidi as LANGUAGE_BIDI %}
<!--! Cell with original -->
<td colspan="2" rowspan="1" class="translate-full translate-focus" dir="ltr">
  <div class="translate-container">
    {{ form.id.as_hidden }}
    {{ form.index.as_hidden }}
    {{ form.source_f.as_hidden }}
    <div class="translate-{% if LANGUAGE_BIDI %}right{% else %}left{% endif %}">
      <!-- Terminology suggestions -->
      {% with unit.get_terminology as terms %}
      {% if terms %}
      <div id="tm" class="sidebar" dir="{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}">
        <div class="sidetitle" lang="{{ LANGUAGE_CODE }}">{% trans "Terminology" %}</div>
        {% for term in terms %}
        <div class="tm-unit writetm" title="{{ unit.getnotes }}">
          <span class="tm-original" dir="ltr" lang="en">{{ term.source }}</span>
          <span class="tm-translation" dir="{{ language.dir }}" lang="{{ language.code }}">{{ term.target }}</span>
        </div>
        {% endfor %}
      </div>
      {% endif %}
      {% endwith %}
    </div>
    <div class="translate-{% if LANGUAGE_BIDI %}left{% else %}right{% endif %}"></div>
    <div class="translate-middle">
      <!-- Quality Checks -->
      <div id="translate-checks-block" lang="en" dir="ltr">
	<h3 class="sidetitle" lang="{{ LANGUAGE_CODE }}">{% trans "Quality Checks" %}</h3>
	<ul class="checks">
	{% for check in unit.qualitycheck_set.iterator %}
	<li class="check">
	  <a href="http://translate.sourceforge.net/wiki/toolkit/pofilter_tests#{{check.name}}">{{ check.name }}</a>
          {% if canreview %}
          <input type="hidden" class="checkid" name="checkid" value="{{ check.id }}" />
          <a title='{% trans "reject qualitycheck"' class="rejectcheck"><img src='{{ "images/cross.png"|m }}' /></a>
          {% endif %}
	</li>
	{% endfor %}
	</ul>
      </div>
      <!-- Context information and comments -->
      {% if unit.getcontext %}
      <div class="translate-context">
        {{ unit.getcontext }}
      </div>
      {% endif %}
      {% if unit.developer_comment or unit.locations %}
      <div class="comments">
        {% if unit.developer_comment %}
        <div class="developer-comments" lang="en" dir="ltr"{% if unit.locations %}title="{{ unit.locations }}"{% endif %}>{{ unit.developer_comment|linebreaks }}</div>
        {% endif %}
        {% if unit.locations and not unit.developer_comment %}
        <div class="translate-locations" lang="en" dir="ltr">{{ unit.locations }}</div>
        {% endif %}
      </div>
      {% endif %}
      <!-- Alternative source language translation -->
      <div class="altsrcs">
        {% for altunit in altsrcs %}
        {% if not altsrcs|length_is:"1" %}<div class="translation-text-headers altsrclangname" lang="{{ LANGUAGE_CODE }}" dir="{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}">{{ altunit.store.translation_project.language.localname }}</div>{% endif %}
        <div id="unit-{{ altunit.id }}" class="translate-original translate-original-focus">
          {% for i, target, title in altunit|pluralize_target %}
          {% if title %}<span class="translation-text-headers" lang="{{ LANGUAGE_CODE }}">{{ title }}</span><br />{% endif %}
          <div class="translation-text" lang="{{ altunit.store.translation_project.language.code }}" dir="{{ altunit.store.translation_project.language.get_direction }}">{{ target|fancy_highlight }}</div>
          {% endfor %}
          {% if cansuggest or cantranslate %}
          <div class="translate-toolbar">
            <a class="copyoriginal"><img src="{{ 'images/copy.png'|m }}" title="{% trans 'Copy into translation area' %}" /></a>
          </div>
          {% endif %}
        </div>
        {% endfor %}
      </div>
      <!-- Original -->
      <div class="translate-original translate-original-focus">
        {% for i, source, title in unit|pluralize_source %}
        {% if title %}<span class="translation-text-headers" lang="{{ LANGUAGE_CODE }}">{{ title }}</span><br />{% endif %}
        <div class="translation-text" lang="en">{{ source|fancy_highlight }}</div>
        {% endfor %}
        {% if cansuggest or cantranslate %}
        <div class="translate-toolbar">
          <a class="copyoriginal" accesskey="c"><img src="{{ 'images/copy.png'|m }}" title="{% trans 'Copy into translation area' %}" /></a>
        </div>
        {% endif %}
      </div>
      <!-- Buttons, resize links, special characters -->
      <div class="translate-buttons-block" lang="{{ LANGUAGE_CODE }}" dir="{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}">
        {% if cantranslate %}
        <input type="submit" name="submit" class="submit" tabindex="11" accesskey="s" value="{% trans 'Submit' %}" />
        {% endif %}
        {% if cansuggest %}
        <input type="submit" name="suggest" class="suggest" tabindex="12" accesskey="e" value="{% trans 'Suggest' %}" />
        {% endif %}
        <input type="hidden" name="store" value="{{ store }}" />
        <input type="hidden" name="path" value="{{ store|l }}" />
        <input type="hidden" name="pootle_path" value="{{ store.pootle_path }}" />
        <div class="translate-fuzzy-block" lang="{{ LANGUAGE_CODE }}">
          {{ form.state }} {{ form.state.label_tag }}
        </div>
      </div>
      <!-- Translation -->
      <div id="orig{{ unit.index }}" class="translate-translation translate-original-focus">
        <!-- Begin: Normal editing -->
        {{ form.target_f }}
        <div id="prevnext" dir="{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}">
          <input type="submit" class="previous" name="back" tabindex="9" accesskey="b" value="{% trans 'Previous' %}" title="{% trans 'Go to the previous unit' %}" />
          <input type="submit" class="next" name="skip" tabindex="14" accesskey="k" value="{% trans 'Next' %}" title="{% trans 'Go to the next unit' %}" />
        </div>
        {% if cantranslate or cansuggest %}
        <div class="translate-specialchars-block" lang="{{ language.code }}">
          {% for specialchar in language.specialchars %}
          {% if not specialchar.isspace %}
          <a class="writespecial" href="#">{{ specialchar }}</a>
          {% else %}
          <span class="extraspace"> </span>
          {% endif %}
          {% endfor %}
        </div>
        {% endif %}
        <div class="translate-translation translator-comments" lang="{{ LANGUAGE_CODE }}">
          {% if form.initial.translator_comment %}
          <div>{{ form.translator_comment.label_tag }} {{ form.translator_comment }}</div>
          {% else %}
          <p class="tiny"><a class="collapse" tabindex="15">{% trans "Add Comment" %}</a></p>
          <div>{{ form.translator_comment }}</div>
          {% endif %}
        </div>
        {% if suggestions %}
        <!-- (Re)view suggestions while editing -->
        <div id="translate-suggestion-container">
          {% for sugg, sugtitle in suggestions %}
          <div id="suggestion{{ sugg.id }}" class="translate-suggestion-block">
            <strong>{{ sugtitle }}</strong>
            <div class="translate-suggestion">
              {% for i, target, diff, title in sugg|pluralize_diff_sugg %}
                {% if title %}<div class="translation-text-headers" lang="{{ LANGUAGE_CODE }}">{{ title }}</div>{% endif %}
                <div class="suggdiff" id="suggdiff-{{sugg.id}}-{{i}}" lang="{{ language.code }}" dir="{{ language.get_direction }}">{{ diff }}</div>
              {% endfor %}
              {% if canreview %}
                <input type="hidden" id="sugg-{{sugg.id }}" class="suggid" name="suggid" value="{{ sugg.id }}" />
                <a title="{{ accept_title }}" accesskey="a" id="accept-{{ sugg.id }}" class="acceptsugg"><img src='{{ "images/tick.png"|m }}' dir="{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}" /></a>
                <a title="{{ reject_title }}" accesskey="r" id="reject-{{ sugg.id }}" class="rejectsugg"><img src='{{ "images/cross.png"|m }}' dir="{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}" /></a>
              {% endif %}
            </div>
          </div>
          {% endfor %}
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</td>
