#################### PANEL BACKGROUND #########################xx

style "panelbg"
{
  xthickness            			= 0
  ythickness            			= 0
#bg_pixmap[NORMAL]					= "Panel/panel-bg2.png"
#bg_pixmap[SELECTED]					= "Panel/panel-bg.png"
#bg_pixmap[INSENSITIVE]					= "Panel/panel-bg.png"
#bg_pixmap[PRELIGHT]					= "Panel/panel-bg.png"
 


}
style "panelbg2"
{
  xthickness            			= 0
  ythickness            			= 0
 #bg_pixmap[NORMAL]					= "Panel/panel-bg2.png"
}
#class "*Panel*" style "panelbg2"
#class "*notif*" style "panelbg2"
#class "*Notif*" style "panelbg2"
#class "*Tray*" style "panelbg2"
#class "*tray*" style "panelbg2"

style "panel"
{
	bg[NORMAL] 			= "#C1C1C0" 
	fg[NORMAL] 			= "#000000" 
	fg[PRELIGHT] 			= "#ffffff"
	fg[ACTIVE] 			= "#ffffff"
	fg[SELECTED] 			= "#ffffff"
#bg_pixmap[NORMAL]					= "Panel/panel-bg2.png"

}
class "*Panel*" style "panel"
#widget_class "*Panel*GtkToggleButton" style "panel"
#widget_class "*Panel*GtkButton" style "panel"
#widget_class "*.Panel*Button*GtkLabel" style "panel"
#widget_class "*.Panel*GtkLabel" style "panel"

style "my_color"
{
	fg[PRELIGHT] = "#ffffff"
	fg[ACTIVE]   = "#000000"

	xthickness = 0
	ythickness = 0

	engine "pixmap"
	{
#		# Menubar background
		image
		{
			function = BOX
			state = NORMAL
			file = "Panel/panel-bg-trans.png"
			border	= { 2, 2, 2, 2 }
			stretch	= TRUE
    	}
    	
    	# Menubar item (selected item)
		image
		{
			function = BOX
			recolorable = TRUE
			state = PRELIGHT
			file = "Menu-Menubar/menubar-item.png"
			border = { 3, 3, 3, 3 }
			stretch = TRUE
		}

 	}
}

widget "*Panel*Clock*" style "my_color"
widget "*Panel*MenuBar*" style "my_color"
widget "*Panel*Task*" style "my_color"



##################### PANEL BUTTONS ###############################

style "panelbuttons" = "default"
{

  fg[NORMAL]        = "#000000" # very dark brown
  fg[PRELIGHT]      = "#000000" # text on buttons (hover)
  fg[ACTIVE]        = "#333333" # text on unfocused tabs
  fg[SELECTED]      = "#000000" # selected text on lists
  fg[INSENSITIVE]   = "#333333" # greyed "unused" text
 
 xthickness            			= 2
 ythickness            			= 1

	GtkWidget::focus_padding = 0

	engine "pixmap" {
      
		image
		{
			function        			= BOX
			recolorable     		= TRUE
			state										= NORMAL
			file            						= "Panel/panelbutton1.png"
			border          			= { 4, 4, 4, 4 }
			stretch         				= TRUE
		}
		
image
		{
			function        			= BOX
			recolorable     		= TRUE
			state										= PRELIGHT
			file            						= "Panel/panelbutton2.png"
			border          			= { 4, 4, 4, 4 }
			stretch         				= TRUE
		}

		image
		{
			function        			= BOX
			recolorable     		= TRUE
			shadow							= OUT
			state										= PRELIGHT
			file            						= "Panel/panelbutton1.png"
			border          			= { 4, 4, 4, 4 }
			stretch         				= TRUE
			#overlay_file   			= "panelbutton2.png"
			#overlay_border	= { 4, 4, 4, 4 }
			#overlay_stretch	= TRUE
		}
		
		image
		{
			function        			= BOX
			recolorable     		= TRUE
			shadow							= IN
			state										= PRELIGHT
			file            						= "Panel/panelbutton3.png"
			border          			= { 4, 4, 4, 4 }
			stretch         				= TRUE
			#overlay_file     		= "panelbutton2.png"
			#overlay_border	= { 4, 4, 4, 4 }
			#overlay_stretch	= TRUE
		}
		
		image
		{
			function        			= BOX
			recolorable     		= TRUE
			state										= ACTIVE
			file            						= "Panel/panelbutton3.png"
			border          			= { 4, 4, 4, 4 }
			stretch         				= TRUE
		}  
image
		{
			function        			= BOX
			recolorable     		= TRUE
			state										= INSENSITIVE
			file            						= "Panel/panelbutton2.png"
			border          			= { 4, 4, 4, 4 }
			stretch         				= TRUE
		}  

	}

}
widget_class "*Panel*GtkToggleButton" style "panelbuttons"
widget_class "*Panel*GtkButton" style "panelbuttons"


