<div class="container">
  <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </a>
  <a class="brand" href="/"><img src="/assets/img/logo.png" title="{{ site.name }}" alt="{{ site.name }}"/></a>
  <div class="nav-collapse collapse">
    <ul class="nav pull-right">
      <li><a href="/">Home</a></li>
      <li><a href="/discover.html">Discover</a></li>
      <li><a href="/download.html">Download</a></li>
      <li><a href="{{ site.docs_url }}">Documentation</a></li>
    </ul>
  </div>
</div>
