{% block translation_summary_legend %}
{% load i18n baseurl %}
<!-- translation_summary_legend -->
    <div id="translationsummarylegend">
      <div> <img src='{{"/images/green-bar.png"|m}}' alt="" />{% trans 'Translated' %}</div>
      <div> <img src='{{"/images/purple-bar.png"|m}}' alt="" />{% trans 'Needs review' %}</div>
      <div> <img src='{{"/images/red-bar.png"|m}}' alt="" />{% trans 'Untranslated' %}</div>
    </div>
<!-- /translation_summary_legend -->
{% endblock translation_summary_legend %}
