#!/usr/bin/env python
# -*- coding: utf-8 -*-

"""Sample development configuration file.

This file includes settings that are suited for hacking Pootle. For further
customizations, you can find the defaults in the ``*.conf`` files.

In order for this configuration changes to take effect, bear in mind that you
need to change the extension of this file from ``.conf.sample`` to ``.conf``.
"""

#
# Base
#

# Site title
TITLE = 'Development Server'

POOTLE_INSTANCE_ID = 'development'

# General Django debugging settings

# Enable Django debug mode
# https://docs.djangoproject.com/en/dev/ref/settings/#debug
DEBUG = True

# Whether to debug template rendering
# https://docs.djangoproject.com/en/dev/ref/settings/#template-debug
TEMPLATE_DEBUG = DEBUG

# A list of strings representing the host/domain names that this Pootle server
# can serve. This is a Django's security measure. More details at
# https://docs.djangoproject.com/en/dev/ref/settings/#allowed-hosts
ALLOWED_HOSTS = ['127.0.0.1', 'localhost']


#
# Backends
#

# Database backend settings
DATABASES = {
    'default': {
        # Although has issues with locking, SQLite is handy for development
        'ENGINE': 'django.db.backends.sqlite3',
        # Database name or path to database file if using sqlite3.
        'NAME': working_path('dbs/pootle.db'),
        # Not used with sqlite3.
        'USER': '',
        # Not used with sqlite3.
        'PASSWORD': '',
        # Set to empty string for localhost. Not used with sqlite3.
        'HOST': '',
        # Set to empty string for default. Not used with sqlite3.
        'PORT': '',
        # See https://docs.djangoproject.com/en/1.6/topics/db/transactions/
        # required for Django 1.6 + sqlite
        'ATOMIC_REQUESTS': True,
    }
}


#
# Cache Backend settings

# For more information, check
# http://docs.djangoproject.com/en/dev/topics/cache/#setting-up-the-cache
# and http://niwibe.github.io/django-redis/
#CACHES = {
#    'default': {
#        'BACKEND': 'django_redis.cache.RedisCache',
#        'LOCATION': 'redis://127.0.0.1:6379/1',
#        'TIMEOUT': 60,
#    },
#    'redis': {
#        'BACKEND': 'django_redis.cache.RedisCache',
#        'LOCATION': 'redis://127.0.0.1:6379/2',
#        'TIMEOUT': None,
#    },
#    'stats': {
#        'BACKEND': 'django_redis.cache.RedisCache',
#        'LOCATION': 'redis://127.0.0.1:6379/3',
#        'TIMEOUT': None,
#    },
#    'exports': {
#        'BACKEND': 'django.core.cache.backends.filebased.FileBasedCache',
#        'LOCATION': working_path('exports/'),
#        'TIMEOUT': 259200,  # 3 days.
#    },
#}


# Logging

POOTLE_LOG_DIRECTORY = working_path('log/')

LOGGING = {
    'version': 1,
    'formatters': {
        'verbose': {
            'format': '%(levelname)s %(asctime)s %(module)s %(process)d %(thread)d %(message)s'
        },
        'simple': {
            'format': '%(levelname)s %(message)s'
        },
        'action': {
            'format' : "[%(asctime)s]\t%(message)s",
            'datefmt' : "%d/%b/%Y %H:%M:%S"
            # Under Windows, date formatting might give errors when trying to show
            # localized month names, so use month number instead:
            #'datefmt' : "%d/%m/%Y %H:%M:%S"
        },
    },
    'handlers': {
        'null': {
            'level':'DEBUG',
            'class':'django.utils.log.NullHandler',
        },
        'console':{
            'level':'DEBUG',
            'class':'logging.StreamHandler',
            'formatter': 'simple'
        },
        # Log to a text file that can be rotated by logrotate
        'log_action': {
            'class': 'logging.handlers.WatchedFileHandler',
            'filename': os.path.join(POOTLE_LOG_DIRECTORY,
                                     'pootle-activity.log'),
            'formatter':'action',
        },
    },
    'loggers': {
        'django.db.backends': {
            'handlers': ['null'],  # Quiet by default!
            'propagate': False,
            'level':'DEBUG',
        },
        'django.request': {
            'handlers': ['null'],
            'level': 'ERROR',
            'propagate': True,
        },
        'action': {
            'handlers': ['log_action',],
            'level': 'INFO',
            'propagate': False,
        },
    },
}


#
# Site
#

# Mail server settings
#
# By using the 'console' email backend, any emails sent while in development
# mode will be output to stdout.
EMAIL_BACKEND = 'django.core.mail.backends.console.EmailBackend'

# Alternatively, you can run a local dummy SMTP server with
#   python -m smtpd -n -c DebuggingServer localhost:1025
# and use the following settings:
#EMAIL_HOST = 'localhost'
#EMAIL_PORT = 1025


#
# Applications
#

#
# webassets
#
# Enable debugging assets.
#
# When this is set, the templates will generate one script/link tag per each
# JavaScript/CSS file instead of putting them in bundles.
# Further details:
#   http://elsdoerfer.name/docs/webassets/django/settings.html
ASSETS_DEBUG = True

# Controls whether bundles should be automatically built and rebuilt. If set to
# ``False`` you'll need to manually generate the bundles with ``manage.py
# assets build``.
ASSETS_AUTO_BUILD = True


#
# Django extensions
#
INSTALLED_APPS += ['django_extensions']


#
# Django debug toolbar
#
# Check its README for further configuration options:
# https://github.com/django-debug-toolbar/django-debug-toolbar/blob/master/README.rst
INSTALLED_APPS += ['debug_toolbar']

MIDDLEWARE_CLASSES += [
  'debug_toolbar.middleware.DebugToolbarMiddleware',
]

DEBUG_TOOLBAR_CONFIG = {
    # Toolbar options
    'SHOW_COLLAPSED': True,
    # Panel options
    'INTERCEPT_REDIRECTS': False,
}


#
# Translation
#

# The directory where the translation files are kept
PODIRECTORY = working_path('po')

# Two-tuple defining the markup filter to apply in certain textareas.
#
# - Accepted values for the first element are 'textile', 'markdown',
#   'restructuredtext' and None.
# - The second element should be a dictionary of keyword arguments that will be
#   passed to the markup function.
#
# IMPORTANT: If you want to use one of these markup filters you must install on
# your own the required packages.
#
# Examples:
#    MARKUP_FILTER = (None, {})
#    MARKUP_FILTER = ('markdown', {'safe_mode': 'escape'})
#    MARKUP_FILTER = ('restructuredtext', {
#                         'settings_overrides': {
#                             'report_level': 'quiet',
#                         }
#                     })
MARKUP_FILTER = (None, {})

# Suggestions through Machine Translation services (service name, API key).
MT_BACKENDS = [
#        ('APERTIUM', ''),
#        ('GOOGLE_TRANSLATE', ''),
]

# URL for the amaGama TM server.
AMAGAMA_URL = 'https://amagama-live.translatehouse.org/api/v1/'
