{% extends "tp_base_terminology.html" %}
{% load i18n render_pager baseurl store_tags terminology_tags %}
{% get_current_language as LANGUAGE_CODE %}
{% get_current_language_bidi as LANGUAGE_BIDI %}

{% block content %}
{% if formset %}
<div class="settings-container centered">
  <p class="message"><a href='{{ "terminology_extract.html"|l }}'>{% trans "You can regenerate the glossary from scratch." %}</a></p>

  <div class="translation-nav">
  {{ objects|render_pager }}
  </div>

  <div class="translate-form">
    <form action="" method="post">
      {{ formset.management_form }}
      <table callpadding="0" cellspacing="0" class="translate-table" dir="{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}">
      <tr lang="{{ LANGUAGE_CODE }}">
        <th colspan="1" rowspan="1" class="translate-table-title translate-original">{% trans "Term" %}</th>
        <th colspan="1" rowspan="1" class="translate-table-title translate-translation">{% trans "Translation" %}</th>
        <th colspan="1" rowspan="1" class="translate-table-title translate-edit">{% trans "Delete" %}</th>
      </tr>
      {% for form in formset.forms %}
      <tr class="{% cycle 'even' 'odd' %}">
        {% render_term_edit form %}
        <td>{% for hidden_field in form.hidden_fields %}{{ hidden_field }}{% endfor %}
          {{ form.DELETE }}
        </td>
      </tr>
      {% endfor %}
      </table>
      <p><input type="submit" name="submit" value="{% trans "Submit" %}" /></p>
    </form>
  </div>

  <div class="translation-nav">
  {{ objects|render_pager }}
  </div>
</div>
{% else %}
<div class="general-message" lang="{{ LANGUAGE_CODE }}">
  <h2>{% trans "Glossary is Empty" %}</h2>
  <p><a href='{{ "terminology_extract.html"|l }}'>{% trans "Generate Glossary" %}</a></p>
</div>
{% endif %}
{% endblock content %}

{% block scripts_extra %}
<script src='{{ "js/translatepage.js"|m }}' type="text/javascript"></script>

{{ block.super }}
{% endblock %}
