{% load i18n baseurl store_tags cleanhtml %}
{% get_current_language as LANGUAGE_CODE %}
{% get_current_language_bidi as LANGUAGE_BIDI %}
<td colspan="1" rowspan="1" class="translate-original terminology" dir="{{ source_language.get_direction }}">
  <!-- Original -->
  <div id="orig{{unit.index}}" class="translate-term-original left">
    {{ form.source_f }}
  </div>
  <!-- Add description button -->
  <a class="collapse left"><img src="{{ "images/comment_add.png"|m }}" title="{% trans "Description..." %}" /></a>
  <div class="collapsethis tiny">{{ form.developer_comment }}</div>
</td>
<td colspan="1" rowspan="1" class="translate-translation terminology">
  <!-- Additional information button -->
  <a class="collapse tiny left"><img src="{{ "images/information.png"|m }}" title="{% trans "Details..." %}" /></a>
  <div id="trans{{unit.index}}" class="translate-term-translation" dir="{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}">
    <!-- Translation -->
    <div dir="{{ language.get_direction }}" lang="{{ language.code }}" class="translation-text">{{ unit.target|fancy_highlight }}</div>
  </div>
  {% if unit.getcontext %}
  <div class="translate-context">
    {{ unit.getcontext }}
  </div>
  {% endif %}
  <div class="collapsethis tiny" lang="{{ LANGUAGE_CODE }}">
    {% if unit.translator_comment %}
    <div title="{% trans "Translator Comments" %}" class="translator-comments tiny" dir="{{ language.dir }}" lang="{{ language.code }}">{{ unit.translator_comment }}</div>
    {% endif %}
    {% if unit.locations %}
    <div class="translate-locations" lang="en" dir="ltr">{{ unit.locations }}</div>
    {% endif %}
  </div>
</td>
