{% extends "language_base.html" %}

{% load i18n baseurl %}

{% block title %}
{{ block.super }} » {% trans "Permissions" %}
{% endblock %}

{% block bodyclass %}languageadmin{% endblock %}

{% block content %}
<div class="settings-container centered" lang="{{ LANGUAGE_CODE }}">
    <p class="info">{% trans "Below you can add, edit, and delete the permissions for this language." %}</p>
    {% include "admin/admin_general.html" %}
    <p class="help">
      {% trans "The user “nobody” refers to any user that is not logged in (an anonymous, unidentified user). The user “default” refers to the rights that all logged in users will have by default, unless other specific rights were assigned to them." %}
    </p>

</div>
{% endblock %}
