{% load i18n baseurl store_tags voting_tags cleanhtml cache locale %}
{% get_current_language as LANGUAGE_CODE %}
{% cache settings.CACHE_TIMEOUT unit_edit unit.id unit.mtime cantranslate cansuggest canreview report_target altsrcs profile.id LANGUAGE_CODE %}
{% comment %}FIXME: can't we just inherit the big parts from edit.html?{% endcomment %}
<td colspan="3" rowspan="1" class="translate-full translate-focus{% if unit.isfuzzy %} fuzzy-unit{% endif %}" dir="{% locale_dir %}">
  <div class="translate-container">
    {{ form.id.as_hidden }}
    {{ form.index.as_hidden }}
    {{ form.source_f.as_hidden }}
    <div class="translate-{% locale_align %}">
      <!-- Context information and comments -->
      {% if unit.getcontext %}
      {% ifnotequal unit.locations unit.context %}
      <div class="translate-context sidebar">
        <div class="sidetitle" lang="{{ LANGUAGE_CODE }}">{% trans "Context:" %}</div>
        <div class="translate-context-value">
          {{ unit.getcontext }}
        </div>
      </div>
      {% endifnotequal %}
      {% endif %}
      <!-- Developer comments -->
      {% if unit.developer_comment or unit.locations %}
      <div class="comments sidebar">
        {% if unit.developer_comment %}
        <div class="sidetitle" lang="{{ LANGUAGE_CODE }}">{% trans "Comments:" %}</div>
        <div class="developer-comments" lang="{{ source_language.code }}" dir="{{ source_language.get_direction }}"{% if unit.locations %}title="{{ unit.locations }}"{% endif %}>{{ unit.developer_comment|urlize|linebreaks }}</div>
        {% endif %}
        {% if unit.locations and not unit.developer_comment %}
        <div class="sidetitle" lang="{{ LANGUAGE_CODE }}">{% trans "Locations:" %}</div>
        <div class="translate-locations" lang="en" dir="ltr" title="{{ unit.locations }}">{{ unit.locations|truncatewords:3 }}</div>
        {% endif %}
      </div>
      {% endif %}
      <!-- Terminology suggestions -->
      {% with unit.get_terminology as terms %}
      {% if terms %}
      <div id="tm" class="sidebar" dir="{% locale_dir %}">
        <div class="sidetitle" lang="{{ LANGUAGE_CODE }}">{% trans "Terminology:" %}</div>
        {% for term in terms %}
        <div class="tm-unit js-editor-copytext" title="{% trans 'Click to insert the translated term into the editor' %}">
          <span class="tm-original" dir="{{ source_language.get_direction }}" lang="{{ source_language.code }}">{{ term.source }}</span>
          <span class="tm-translation" dir="{{ language.get_direction }}" lang="{{ language.code }}">{{ term.target }}</span>
        </div>
        {% endfor %}
      </div>
      {% endif %}
      {% endwith %}
    </div>
    <div class="translate-middle">
      <div class="sources">
        <!-- Alternative source language translations -->
        {% for altunit in altsrcs %}
        <div class="source-language alternative">
          <div class="translation-text-headers" lang="{{ LANGUAGE_CODE }}" dir="{% locale_dir %}">
            <div class="language-name">{{ altunit.store.translation_project.language.localname }}</div>
            {% if cansuggest or cantranslate %}
            <div class="translate-toolbar">
              <a class="icon-copy js-copyoriginal" title="{% trans 'Copy into translation' %}" accesskey="c"></a>
            </div>
            {% endif %}
          </div>
          <div id="unit-{{ altunit.id }}" class="translate-original translate-original-focus{% if unit.hasplural %} translate-plural{% endif %}">
            {% for i, target, title in altunit|pluralize_target %}
            <div class="translation-text" lang="{{ altunit.store.translation_project.language.code }}" dir="{{ altunit.store.translation_project.language.get_direction }}"{% if title %} title="{{ title }}"{% endif %}>{{ target|fancy_highlight }}</div>
            {% endfor %}
            <div class="placeholder"></div>
          </div>
        </div>
        {% endfor %}
        <!-- Original -->
        <div class="source-language original">
          <div class="translation-text-headers" lang="{{ LANGUAGE_CODE }}" dir="{% locale_dir %}">
            <div class="language-name">{{ source_language.localname }}</div>
            {% if cansuggest or cantranslate %}
              {% if report_target %}
                <a class="report-bug" href="{{ report_target }}" target="_blank"><img src='{{ "images/bug.png"|s }}' title="{% trans 'Report a problem with the source string' %}" /></a>
              {% endif %}
            <div class="translate-toolbar">
              <a class="icon-copy js-copyoriginal" title="{% trans 'Copy into translation' %}" accesskey="c"></a>
            </div>
            {% endif %}
          </div>
          <div class="translate-original translate-original-focus{% if unit.hasplural %} translate-plural{% endif %}">
            {% for i, source, title in unit|pluralize_source %}
            <div class="translation-text" lang="{{ source_language.code }}" dir="{{ source_language.get_direction }}"{% if title %} title="{{ title }}"{% endif %}>{{ source|fancy_highlight }}</div>
            {% endfor %}
            <div class="placeholder"></div>
          </div>
        </div>
      </div>
      <!-- Buttons, resize links, special characters -->
      <div class="buttons translate-buttons-block" lang="{{ LANGUAGE_CODE }}" dir="{% locale_dir %}">
        {% if cantranslate %}
        <input type="submit" name="submit" class="submit" tabindex="11" accesskey="s" value="{% trans 'Submit' %}" title="{% trans 'Submit translation and go to the next unit (Ctrl+Enter)' %}" />
        {% endif %}
        {% if cansuggest %}
        <input type="submit" name="suggest" class="suggest" tabindex="11" accesskey="s" value="{% trans 'Suggest' %}" title="{% trans 'Suggest translation and go to the next unit (Ctrl+Enter)' %}" />
        {% endif %}
        <input type="hidden" name="store" value="{{ store }}" />
        <input type="hidden" name="path" value="{{ store|l }}" />
        <input type="hidden" name="pootle_path" value="{{ store.pootle_path }}" />
        {% if cansuggest and cantranslate %}
        <div class="switch-suggest-mode tiny" lang="{{ LANGUAGE_CODE }}" title="{% trans 'Toggle suggest mode (Ctrl+Shift+Space)' %}">
          <div class="suggest"><a href="#">&harr; {% trans "Submit" %}</a></div>
          <div class="submit"><a href="#">&harr; {% trans "Suggest" %}</a></div>
        </div>
        {% endif %}
        <div class="translate-fuzzy-block" lang="{{ LANGUAGE_CODE }}" title="{% trans 'Toggle fuzzy state (Ctrl+Space)' %}">
          {{ form.state }} {{ form.state.label_tag }}
        </div>
      </div>
      <!-- Translation -->
      <div id="orig{{ unit.index }}" class="translate-translation translate-original-focus" lang="{{ LANGUAGE_CODE }}" dir="{% locale_dir %}">
        <!-- Begin: Normal editing -->
        {{ form.target_f }}
        <a id="show-history" class="tiny ptr" href='{{ "/unit/history/"|l }}{{ unit.id }}'>{% trans 'History' %}</a>
        <a id="hide-history" class="tiny ptr" style="display: none;">{% trans 'Hide History' %}</a>
        {% if cantranslate or cansuggest %}
        <div class="translate-specialchars-block" lang="{{ language.code }}">
          {% for specialchar in language.specialchars %}
          {% if not specialchar.isspace %}
          <a class="editor-specialchar js-editor-copytext" title="{% trans 'Click to insert this symbol into the editor' %}">{{ specialchar }}</a>
          {% else %}
          <span class="extraspace"> </span>
          {% endif %}
          {% endfor %}
        </div>
        {% endif %}
        {% if form.initial.translator_comment or cantranslate %}
        <div class="translator-comments" lang="{{ LANGUAGE_CODE }}">
          {% if form.initial.translator_comment %}
          <div>{{ form.translator_comment.label_tag }} {{ form.translator_comment }}</div>
          {% else %}
          <a class="collapse tiny" tabindex="15">{% trans "Add Comment" %}</a>
          <div class="collapsethis">{{ form.translator_comment }}</div>
          {% endif %}
        </div>
        {% endif %}
        <!-- Suggestions from users and TM -->
        <div id="extras-container">
        {% if suggestions %}
          {% votes_by_user user on suggestions as vote_dict %}
          {% for sugg, sugtitle, score in suggestion_detail %}
          <div id="suggestion{{ sugg.id }}" class="extra-item-block">
            <div class="extra-item-title">{{ sugtitle }}</div>

            <div class="extra-item js-editor-copytext">
            {% if user.is_authenticated %}
              {% dict_entry_for_item sugg from vote_dict as vote %}
              <input type="hidden" id="sugg-{{sugg.id }}" class="suggid" name="suggid" value="{{ sugg.id }}" />
              <input type="hidden" class="voteid" name="voteid" value="{{ vote.id }}" />
              <a class="clearvote suggestion-vote"{% ifnotequal vote.object sugg %} style="display:none;"{% endifnotequal %}>
              <span class="num_votes">
              {% ifnotequal vote.object sugg %}
                {% if score %}{{ score.score|add:"1" }}{% else %}1{% endif %}
              {% else %}
                {% if score %}{{ score.score }}{% endif %}
              {% endifnotequal %}
              </span>
                <img src='{{ "images/vote.png"|s }}' title="{% trans 'Your current vote. Click to remove this vote.' %}" dir="{% locale_dir %}" />
              </a>
              <a class="voteup suggestion-vote"{% ifequal vote.object sugg %} style="display:none;"{% endifequal %}>
                <span class="num_votes">
                {% ifequal vote.object sugg %}
                  {{ score.score|add:"-1" }}
                {% else %}
                  {% if score %}{{ score.score }}{% endif %}
                {% endifequal %}
                </span>
                <img src='{{ "images/vote_bw.png"|s }}' title="{% trans 'Vote for this suggestion' %}" dir="{% locale_dir %}" />
              </a>
              {% endif %}

            {% if canreview %}
              <input type="hidden" id="sugg-{{sugg.id }}" class="suggid" name="suggid" value="{{ sugg.id }}" />
              <a accesskey="a" id="accept-{{ sugg.id }}" class="acceptsugg"><img src='{{ "images/accept.png"|s }}' title="{% trans 'Accept suggestion' %}" dir="{% locale_dir %}" /></a>
              <a accesskey="r" id="reject-{{ sugg.id }}" class="rejectsugg"><img src='{{ "images/reject.png"|s }}' title="{% trans 'Reject suggestion' %}" dir="{% locale_dir %}" /></a>
            {% else %}
              {% if user.is_authenticated %}
              {% ifequal profile sugg.user %}
              <input type="hidden" id="sugg-{{sugg.id }}" class="suggid" name="suggid" value="{{ sugg.id }}" />
              <a title="{% trans 'Remove suggestion' %}" accesskey="r" id="reject-{{ sugg.id }}" class="rejectsugg"><img src='{{ "images/reject.png"|s }}' dir="{% locale_dir %}" /></a>
              {% endifequal %}
              {% endif %}
            {% endif %}

            {% if sugg.target %}
              <div id="suggdiff-{{sugg.id}}-0" class="suggestion-translation" lang="{{ language.code }}" dir="{{ language.get_direction }}">{{ sugg.target }}</div>
            {% endif %}
            {% if sugg.translator_comment %}
              <div class="suggestion-comment-block" lang="{{ language.code }}" dir="{{ language.get_direction }}">{% trans "Comment: " %}<span class="suggestion-comment">{{ sugg.translator_comment }}</span></div>
            {% endif %}
            </div> <!--suggestion -->
          </div>
          {% endfor %}
        {% endif %}
        </div>
      </div>
    </div>
  </div>
</td>
{% endcache %}
