{% load profile_tags %}
{% comment %}TODO: factor this out for better reuse{% endcomment %}
<div class="extra-item-block">
  <div class="extra-item">
    <div class="suggestion-translation" lang="{{ language.code }}" dir="{{ language.get_direction }}">{{ comment }}</div>
    {% if submitter %}
    <div class="extra-gravatar">
      <a href="{{ submitter.get_absolute_url }}"><img src="{{ submitter|gravatar:24 }}" alt="{{ submitter.user.username }}" width="24" height="24" title="{{ submitter }}" /></a>
    </div>
    {% endif %}
  </div>
</div>
