<div id="amagama_results" class="tm-server" style="display:none">
  <div class="suggestion-title">${name}</div>
  {{each(i, sugg) suggs}}
  <div id="tm${i}" class="suggestion-block" title="${sugg.qTitle}">
    <div class="suggestion">
      <div class="suggestion-original" lang="${meta.source_lang}" dir="${meta.source_dir}">{{html sugg.source }}</div>
      <div class="suggestion-translation" lang="${meta.target_lang}" dir="${meta.target_dir}">{{html sugg.target }}</div>
    </div>
  </div>
  {{/each}}
</div>
