<td dir="<%= meta.source_dir %>" class="translate-original" rowspan="1" colspan="1"
  data-target="<%= unit.url %>">
  <div class="translate-original translate-view" id="orig<%= unit.id %>">
    <% _.each(unit.source, function (source, i) { %>
    <div lang="<%= meta.source_lang %>" dir="<%= meta.source_dir %>"
      class="translation-text"<% if (source.title) { %>
      title="<%= source.title %>"<% } %>>
      <%= PTL.editor.fancyHl(source.text) %>
    </div>
    <% }); %>
  </div>
</td>
<td dir="<%= meta.target_dir %>" class="translate-translation<% if (unit.isfuzzy) { %> fuzzy-unit<% } %>"
  rowspan="1" colspan="1" data-target="<%= unit.url %>">
  <div dir="<%= meta.target_dir %>" class="translate-translation translate-view" id="trans<%= unit.id %>">
    <% _.each(unit.target, function (target, i) { %>
    <div lang="<%= meta.target_lang %>" class="translation-text"
      dir="<%= meta.target_dir %>"<% if (target.title) { %>
      title="<%= target.title %>"<% } %>>
      <%= PTL.editor.fancyHl(target.text) %>
    </div>
    <% }); %>
  </div>
</td>
