#!/usr/bin/env python
# -*- coding: utf-8 -*-
#
# Copyright 2012 Zuza Software Foundation
#
# This file is part of Pootle.
#
# This program is free software; you can redistribute it and/or modify it under
# the terms of the GNU General Public License as published by the Free Software
# Foundation; either version 2 of the License, or (at your option) any later
# version.
#
# This program is distributed in the hope that it will be useful, but WITHOUT
# ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
# FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License along with
# this program; if not, see <http://www.gnu.org/licenses/>.

"""Fabric settings file."""

SETTINGS = {}


#
# SSH connection for Fabric
#

#: List of hosts to work on
SETTINGS['hosts'] = ['foo.example.com']
#: Username to log in in the remote machine
SETTINGS['user'] = 'foobarbaz'


#
# Database
#

# DB name
SETTINGS['db_name'] = 'pootle'

# DB user will be used both for Pootle settings and for any command that needs
# it, e.g. create_db.
SETTINGS['db_user'] = 'pootle'

# Password for db_user - included in Pootle settings, and ~user/.my.cnf if you
# create that with mysql_conf().  If you don't enable the corresponding option
# below, you will be prompted for a password for all database operations.
SETTINGS['db_password'] = 'SET_DB_PASSWORD_HERE'

# Password for root DB user - included in ~user/.my.cnf if you create that with
# mysql_conf().  If you don't enable the corresponding option below, you will
# be prompted for a password for database creation (only).
SETTINGS['db_root_password'] = 'SET_ROOT_DB_PASSWORD_HERE'

# Command option for DB password.  The default ('-p') option will prompt you
# for the password.  The alternate ('' - i.e. empty) can be used to avoid
# password prompting, but only after you have run mysql_conf(), e.g.
# `fab settings mysql_conf` to set up user's .my.cnf file.
SETTINGS['db_password_opt'] = '-p'
#SETTINGS['db_password_opt'] = ''

# Command option for root DB password.  The default ('-p') option will prompt
# you for the password.  The alternate ('--defaults-group-suffix=_root') can be
# used to avoid password prompting, but only after you have run mysql_conf(),
# e.g. `fab settings mysql_conf` to set up user's .my.cnf file.
SETTINGS['db_root_password_opt'] = '-p'
#SETTINGS['db_root_password_opt'] = '--defaults-group-suffix=_root'

#
# Project
#

#: A meaningful name for your Pootle installation
SETTINGS['project_name'] = 'pootle-staging'
#: This URL will be used in the VirtualHost section
SETTINGS['project_url'] = 'my-pootle.example.com'
#: Change the first path part if your Apache websites are stored somewhere else
SETTINGS['project_path'] = '/var/www/sites/%s' % SETTINGS['project_name']


#
# The rest of the settings probably won't need any changes
#

SETTINGS['project_repo_path'] = '%s/src' % SETTINGS['project_path']
SETTINGS['project_repo'] = 'git://github.com/translate/pootle.git'
SETTINGS['project_settings_path'] = '%s/pootle/settings' % \
                                        SETTINGS['project_repo_path']
SETTINGS['translations_path'] = '%s/translations' % SETTINGS['project_path']
SETTINGS['repos_path'] = '%s/repos' % SETTINGS['project_path']


#
# Secret key
#

from base64 import b64encode
from os import urandom
SETTINGS['secret_key'] = b64encode(urandom(50))


#
# Virtualenv
#

#: Python version that will be used in the virtualenv
SETTINGS['python'] = 'python2.6'
SETTINGS['env_path'] = '%s/env' % SETTINGS['project_path']


#
# Apache + VirtualHost + WSGI
#

#: The group your web server is running on
SETTINGS['server_group'] = 'www-data'
SETTINGS['vhost_file'] = '/etc/apache2/sites-available/%s' % \
                                SETTINGS['project_name']
SETTINGS['wsgi_file'] = '%s/pootle.wsgi' % SETTINGS['project_path']
