WSGIRestrictEmbedded On
WSGIPythonOptimize 1

<VirtualHost *:80>
    ServerName %(project_url)s

    ErrorLog %(project_path)s/logs/error.log
    CustomLog %(project_path)s/logs/access.log combined

    WSGIDaemonProcess %(project_name)s processes=2 threads=3 stack-size=1048576 maximum-requests=500 inactivity-timeout=300 display-name=%%{GROUP} python-path=%(env_path)s/lib/%(python)s/site-packages
    WSGIProcessGroup %(project_name)s
    WSGIScriptAlias / %(wsgi_file)s

    Options -Indexes

    SetOutputFilter DEFLATE
    AddOutputFilterByType DEFLATE text/html text/css text/plain text/xml application/x-javascript

    ExpiresActive On

    ExpiresByType image/jpg "access plus 10 years"
    ExpiresByType image/png "access plus 10 years"
    ExpiresByType text/css "access plus 10 years"
    ExpiresByType application/x-javascript "access plus 10 years"

    # Optimal caching by proxies:
    Header set Cache-Control "public"

    <Directory "%(project_path)s">
        WSGIProcessGroup %(project_name)s
        WSGIScriptReloading On

        Order deny,allow
        Allow from all
    </Directory>

    Alias /assets %(project_repo_path)s/pootle/assets
    <Directory "%(project_repo_path)s/pootle/assets/">
        Order deny,allow
        Allow from all
    </Directory>

    Alias /export %(translations_path)s
    <Directory "%(translations_path)s">
        Order deny,allow
        Allow from all
    </Directory>

    <Location /export>
        SetOutputFilter DEFLATE
        Options Indexes
    </Location>

</VirtualHost>
