{% extends "base.html"  %}

{% load i18n baseurl cleanhtml %}

{% block extra_head %}
<link rel="alternate" type="application/rss+xml" title="{{ title }}" href="{% url pootle_notifications.feeds.view path %}" />
{% endblock %}

{% block bodyclass %}
{% if is_language %}languagenews{% else %}tpnews{% endif %}
{% endblock %}

{% block precontent %}
{% if is_language %}
    {% include "language_menu.html" %}
{% else %}
    {% include "tp_menu.html" %}
{% endif %}
{% endblock %}

{% block content %}
<div class="settings-container centered">
{% if form %}
    <h2>{{ title }}</h2>
    <p>{{ success }}</p>
    <form method="post" action="">
        {{ form.as_p }}
        <p>
            <input type="submit" value="{% trans "Publish" %}" />
        </p>
    </form>
{% endif %}

    <h2>{% trans "Latest News" %} {{ name }}</h2>
{% if notices %}
    <ul>
        {% for notice in notices %}
        <li>{{ notice.message|clean }}</li>
        {% endfor %}
     </ul>
{% else %}
    <p>{% trans "There is no news in for this project in this language." %}</p>
{% endif %}
</div>

{% endblock %}
