{% extends "base.html"  %}

{% load i18n baseurl %}

{% block extra_head %}
<link rel="alternate" type="application/rss+xml" title="{{ title }}" href="rss.xml" />
{% endblock %}

{% if is_language %}
    {% block bodyclass %}languagenews{% endblock %}
{% endif %}

{% block precontent %}
{% if is_language %}
    {% include "language_menu.html" %}
{% endif %}
{% endblock %}

{% block content %}
<div class="settings-container centered">
{% if form %}
    <h2>{{ title }}</h2>
    <p>{{ success }}</p>
    <form method="post" action="">
        {{ form.as_p }}
        <input type="submit" value="{% trans "Save" %}"/>
    </form>
{% endif %}

    <h2>{% trans "Latest Notices." %} {{ name }}</h2>
{% if notices %}
    <ul>
        {% for notice in notices %}
        <li>{{ notice.message }}</li>
        {% endfor %}
     </ul>
{% else %}
    <p>{% trans "There is no news in for this project in this language." %}</p>
{% endif %}
</div>

{% endblock %}
