{% load i18n baseurl %}

{% get_current_language as LANGUAGE_CODE %}

{% block top_contributers_table %}
<div class="module-primary clear topcontributors" lang="{{ LANGUAGE_CODE }}">
    <div class="hd"><h2>{% trans 'Top Contributors' %}</h2></div>
    <div class="bd">
        {% for stats in topstats %}
        <table class="topcontributors">
            <tr>
                <th>{{ stats.headerlabel }}</th>
            </tr>
            {% for user in stats.data %}
            <tr class="{% cycle 'even' 'odd' %}">
                <td class="stats-name">{{ user.username }}</td>
                <td class="stats-words">{{ user.num_contribs }}</td>
            </tr>
            {% endfor %}
        </table>
        {% endfor %}
    </div>
    <div class="clear"></div>
</div>
{% endblock top_contributers_table %}
