{% load i18n baseurl %}

{% block translation_summary_legend %}
<!-- translation_summary_legend -->
<div id="translationsummarylegend">
    <div><img src='{{ "images/bar-translated.png"|m }}' alt="" />{% trans 'Translated' %}</div>
    <div><img src='{{ "images/bar-fuzzy.png"|m }}' alt="" />{% trans 'Needs review' %}</div>
    <div><img src='{{ "images/bar-untranslated.png"|m }}' alt="" />{% trans 'Untranslated' %}</div>
</div>
<!-- /translation_summary_legend -->
{% endblock translation_summary_legend %}
