{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Legal Agreement" %} | {{ block.super }}{% endblock title %}

{% block breadcrumbs %}
{{ block.super }}<li>{% trans "Legal Agreement" %}</li>
{% endblock %}

{% block content %}
<div id="agreement" class="form">
  <h2>{% trans "Action Required" %}</h2>
  <p>{% trans "Before continuing, you must read and accept the following documents." %}</p>
  <form method="post" action="">
    {% csrf_token %}
    {% for field in form %}
    <p>
      {{ field.errors }}
      {{ field }}
      {{ field.label_tag }}
    </p>
    {% endfor %}
    <p class="buttons">
      <input type="submit" name="continue" class="continue"
        value="{% trans "Continue" %}" />
      <input type="hidden" name="next" value="{{ next }}" />
    </p>
  </form>
</div>
{% endblock content %}

{% block scripts_extra %}
<script type="text/javascript">
$(function ($) {
  PTL.common.updateInputState('.js-legalfield', 'input.continue');
});
</script>
{% endblock scripts_extra %}
