{% load url from future %}
{% load i18n %}
<div id="agreement" class="form js-agreement-box">
  <h2>{% trans "Action Required" %}</h2>
  <p>{% trans "Before continuing, you must read and accept the following documents." %}</p>
  <form method="post" action="{% url 'staticpages.legal-agreement' %}"
    class="js-agreement-form">
    {% csrf_token %}
    {% for field in form %}
    <p>
      {{ field.errors }}
      {{ field }}
      {{ field.label_tag }}
    </p>
    {% endfor %}
    <p class="buttons">
      <input type="submit" name="continue" class="continue"
        value="{% trans "Continue" %}" />
    </p>
  </form>
</div>

<script type="text/javascript">
$(function ($) {
  PTL.common.updateInputState('.js-legalfield', 'input.continue');
});
</script>
