{% extends "projects/base.html" %}

{% load i18n assets %}

{% get_current_language as LANGUAGE_CODE %}

{% block title %}{% trans "Administrate" %} | {{ block.super }}{% endblock %}

{% block css %}
{{ block.super }}
{% assets "css_admin" %}
<link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}" />
{% endassets %}
{% endblock %}

{% block body_id %}projectadmin{% endblock %}

{% block content %}
<div class="settings-container centered" lang="{{ LANGUAGE_CODE }}">
    <p>{% trans "Here you can add, edit, or delete the languages for this project." %}</p>
    {% include "admin/_generic_formset.html" %}
</div>
{% endblock %}

{% block scripts_extra %}
{% assets "js_admin" %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
{% endblock %}
