{% extends "projects/base.html" %}

{% load i18n locale %}
{% load assets %}

{% block css %}
{{ block.super }}
{% assets "css_editor" %}
<link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}" />
{% endassets %}
{% endblock %}

{% block title %}{{ page_project_title }} | {{ block.super }}{% endblock %}

{% block content %}
<div class="settings-container centered" lang="{{ LANGUAGE_CODE }}">
  <p>{{ page_project_description }}</p>
  <form action="" method="post">
    {% csrf_token %}
    {% if error_msg %}
        <div class="error">{% trans error_msg %}</div>
    {% endif %}
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
  {% endif %}
    {{ form.as_p }}
    <p class="admin-buttons-block">
      <input type="submit" class="btn" value="{{ page_project_validation_form }}" />
    </p>
  </form>
</div>
{% endblock %}