{% extends 'user/base.html' %}
{% load assets i18n %}

{% block title %}{% trans 'Settings' %} | {{ block.super }}{% endblock %}

{% block breadcrumbs %}
<li>{{ object.display_name }}</li><li>{% trans 'Settings' %}</li>
{% endblock %}

{% block content %}
<div class="settings-container user-settings" lang="{{ LANGUAGE_CODE }}">
  <h2>{% trans 'User Account' %}</h2>
  <p>
  {% blocktrans trimmed %}
  Do you want to change your password? Click the 'Reset Password' button
  which will initiate the process of setting a new password.
  {% endblocktrans %}
  </p>
  <p>
    <button class="btn" onclick="PTL.auth.open({
        initialScreen: 'requestPasswordReset',
        initPasswordReset: { email: '{{ object.email }}' },
      });"
    >
      {% trans 'Reset Password' %}
    </button>
  </p>
  <h2>{% trans 'Translation' %}</h2>
  <form method="post" action="">
    {% csrf_token %}
    {{ form.non_field_errors }}
    {% for field in form %}
    <p>{{ field.errors }}
      {{ field.label_tag }} {{ field }}
      {% if field.help_text %}<span class="help_text">{{ field.help_text }}</span>{% endif %}
    </p>
    {% endfor %}
    <p class="buttons">
      <input type="submit" class="btn" value="{% trans 'Save' %} "/>
    </p>
  </form>
</div>
{% endblock %}

{% block scripts_extra %}
{% endblock %}
