{% extends "user/base.html" %}

{% load i18n assets store_tags %}

{% block scripts_extra %}
{{ block.super }}
<script id="language_user_activity" type="text/template">
{% include_raw "admin/xhr_language_user_activity.html" %}
</script>

{% endblock scripts_extra %}

{% block title %}{% trans "Statistics" %} | {{ block.super }}{% endblock %}

{% block breadcrumbs %}
  <li>{{ object.display_name }}</li>
  <li>{% trans 'Statistics' %}</li>
{% endblock %}

{% block header_tabs_block %}{% endblock %}

{% block content %}
  <div id="reports-container" class="user-report">
    {% include "admin/reports/header.html" %}
    <div id="reports-results"></div>
    <div id="reports-activity">
      <h2>{% trans 'Daily activity' %}</h2>
      <div id="daily-chart"></div>
    </div>
  </div>
{% endblock %}
