{% load i18n baseurl %}
{% if 'name' in table.fields %}
<td class="stats-name"{% if item.description %} title="{{ item.description|striptags }}"{% endif %}>
  {% if item.href %}<a href="{{ item.href|l }}">{% endif %}
    {% if item.icon %}<i class="icon-{{ item.icon }}"></i>{% endif %}
    <span>{{ item.title }}</span>
  {% if item.href %}</a>{% endif %}
</td>
{% endif %}
{% if 'language' in table.fields %}
<td class="language">
  <a href="{% filter l %}/{{ item.code }}/{% endfilter %}">{{ item.name }}</a>
</td>
{% endif %}
{% if 'project' in table.fields %}
<td class="project">
  <a href="{% filter l %}/projects/{{ item.code }}/{% endfilter %}"
    title="{{ item.description }}">{{ item.name }}</a>
</td>
{% endif %}
{% if 'priority' in table.fields %}
<td class="stats-number">
  <span class="zero muted">{{ item.priority }}</span>
</td>
{% endif %}
{% if 'progress' in table.fields %}
<td class="stats-graph">
  <div id="translated-ratio-{{ item.code }}" class="sortkey"></div>
  <div id="progressbar-{{ item.code }}">
    {% include "common/_progressbar.html" %}
  </div>
</td>
{% endif %}
{% if 'total' in table.fields %}
<td id="total-words-{{ item.code }}" class="stats-number total js-total">
  <a href="{{ item.href_all }}"></a>
  <span class="zero muted">0</span>
</td>
{% endif %}
{% if 'need-translation' in table.fields %}
<td id="need-translation-{{ item.code }}" class="stats-number need-translation js-need-translation">
  <a href="{{ item.href_todo }}"></a>
  <span class="zero muted">0</span>
</td>
{% endif %}
{% if 'suggestions' in table.fields %}
<td id="suggestions-{{ item.code }}" class="stats-number suggestions js-suggestions">
  <a href="{{ item.href_sugg }}"></a>
  <span class="muted">0</span>
</td>
{% endif %}
{% if 'activity' in table.fields %}
<td>{{ item.lastactivity }}</td>
{% endif %}
{% if 'tags' in table.fields %}
<td id="js-tag-tp-{{ item.pk }}-hidden" class="hide tags-cell" colspan="{{ table.headings|length|add:'-1' }}">
  {% if user.is_superuser or request.permissions.administrate %}
  <a href="#js-add-tag-dialog" class="js-project-add-tag-popup tags-aside tags-add"
    title="{% trans "Add a tag" %}">
    <i class="icon-tag-add"></i>
  </a>
  {% endif %}
  <ul class="tag-list">
    {% include "project/xhr_tags_list.html" with tp_tags=item.tags project=item.project language=item.code %}
  </ul>
</td>
{% endif %}
