{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% get_current_language_bidi as LANGUAGE_BIDI %}
{% if upload %}
<div id="upload" class="module first clear" lang="{{ LANGUAGE_CODE }}">
    <div class="bd">
        <h2>{{ upload.form.title }}</h2>
        <form action="" method="post" id="uploadform" name="uploadform" enctype="multipart/form-data">
	  {% for field in upload.form %}
	  <p {% if field.help_text %}title="{{ field.help_text }}"{% endif %}>
	    {{ field.errors }}
	    {{ field.label_tag }} {{ field }}
	  </p>
	  {% endfor %}
	  <p>{{ upload.render_submits }}</p>
        </form>
    </div>
</div>
{% endif %}
{% if update %}
<div id="update" class="module first clear" lang="{{ LANGUAGE_CODE }}">
    <div class="bd">
        <form action="" method="post" name="updateform" enctype="multipart/form-data">
	  {{ update.as_p }}
        </form>
    </div>
</div>
{% endif %}
