{% extends "tp_base_admin.html" %}

{% load i18n baseurl %}

{% block title %}
{{ block.super }} » {% trans "Files" %}
{% endblock %}

{% block breadcrumb_content %}
{{ block.super }} » <span>{% trans "File" %}</span>
{% endblock %}

{% block bodyclass %}tpadminfiles{% endblock %}

{% block section_description %}{% trans "Here you can manage the files in this translation project." %}
<div id="filesmanage">
  <form action="" method="post">
    <div class="admin-buttons-block" lang="{{ LANGUAGE_CODE }}" dir="{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}">
      <input type="submit" class="update" name="template_update" value='{% trans "Update files from templates" %}' />
      <input type="submit" class="rescan" name="scan_files" value='{% trans "Rescan project files" %}' />
    </div>
  </form>
</div>
{% endblock %}

{% block section_body %}
{% include "admin/admin_general.html" %}
{% endblock %}

{% block scripts_extra %}
{{ block.super }}
<script type="text/javascript" src='{{ "js/admin.js"|m }}'></script>
<script type="text/javascript" src='{{ "js/sorttable.js"|m }}'></script>
{% endblock %}
