{% extends "tp_base_admin.html" %}

{% load i18n baseurl %}

{% block title %}
{{ block.super }} » {% trans "Files" %}
{% endblock %}

{% block bodyclass %}tpadminfiles{% endblock %}

{% block section_description %}{% trans "Here you can manage the files in this translation project." %}
<div id="filesmanage">
  <form action="" method="post">
    <input type="submit" name="template_update" value='{% trans "update files from templates" %}' /> <br/>
    <input type="submit" name="scan_files" value='{% trans "rescan project files" %}' />
  </form>
</div>
{% endblock %}

{% block section_body %}
{% include "admin/admin_general.html" %}
{% endblock %}

{% block scripts_extra %}
{{ block.super }}
<script type="text/javascript" src='{{ "js/sorttable.js"|m }}'></script>
{% endblock %}
