{% extends "tp_base_extended.html" %}
{% load i18n render_pager baseurl store_tags translation_project_tags cache %}
{% get_current_language as LANGUAGE_CODE %}
{% get_current_language_bidi as LANGUAGE_BIDI %}

{% block title %}
{{ block.super }} » {{ store.name }}
{% endblock %}

{% block breadcrumb_content %}
{% comment %}
{% cache settings.CACHE_TIMEOUT store_bread store.id LANGUAGE_CODE %}
{% endcomment %}
{{ block.super }} » <span><a href="{{ store.pootle_path|l}}/translate">{{ store.name }}</a></span>
{% comment %}
{% endcache %}
{% endcomment %}
{% endblock %}

{% block body.id %}translatepage{% endblock body.id %}

{% comment %}
{% block bodyclass %}{% if checks %}tpreview{% else %}tptranslate{% endif %}{% endblock %}
{% endcomment %}
{% block bodyclass %}tptranslate{% endblock %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href='{{ "translate.css"|m }}' />
{% if not user.is_authenticated %}
<link rel="stylesheet" type="text/css" href='{{ "fancybox-captcha.css"|m }}' />
{% endif %}
{% endblock css %}

{% block search %}
{% endblock %}

{% comment %}
{% block innernav %}
<!-- Navigation bar -->
<div id="innernav" class="navbar">
  <div class="item-statistics" lang="{{ LANGUAGE_CODE }}">
    <!--{{ store|stat_summary }}-->
  </div>
</div><!--innernav-->
{% endblock innernav %}
{% endcomment %}

{% block precontent %}
{{ block.super }}
{% endblock precontent %}

{% block content %}
{% comment %}
<form action="?{{ GET_state }}" method="post" name="translate" id="translate">
{% cache settings.CACHE_TIMEOUT translate_table edit_unit.id store.get_mtime cantranslate cansuggest canreview alt_src_codes unit_rows profile.id LANGUAGE_CODE %}
{% endcomment %}
<form action="" method="post" name="translate" id="translate">
{% translate_table %}
{% comment %}
{% endcache %}
{% endcomment %}
</form>
{% endblock %}

{% block extra_content %}
<div id="toolbar">

  <div id="toolbar_search" lang="{{ LANGUAGE_CODE }}" dir="{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}">
    <div class="search-container">
      <form action="{{ search_action }}" method="get" id="searchform" title="Search (Ctrl+Shift+S)<br/>Type in, then press Enter to search">
        <div class="advancedsearch">
          {{ search_form.sfields }}
        </div>
        <label class="inputHint" for="id_search">{% trans "Search" %}</label>{{ search_form.search }}
        <a class="advancedlink">
          {% if LANGUAGE_BIDI %}
          <img src='{{ "images/sarrow_up_rtl.png"|m }}' alt="{{ advanced_search_title }}" title="{{ advanced_search_title }}" class="togglesearch" />
          <img src='{{ "images/sarrow_down_rtl.png"|m }}' alt="{{ advanced_search_title }}" title="{{ advanced_search_title }}" class="togglesearch" style="display: none;"/>
          {% else %}
          <img src='{{ "images/sarrow_up.png"|m }}' alt="{{ advanced_search_title }}" title="{{ advanced_search_title }}" class="togglesearch" />
          <img src='{{ "images/sarrow_down.png"|m }}' alt="{{ advanced_search_title }}" title="{{ advanced_search_title }}" class="togglesearch" style="display: none;"/>
          {% endif %}
        </a>
      </form>
    </div>
  </div>

  <div class="label">Filter by:</div>
  <div id="filter-status" class="toolbar-item">
    <select name="filter-status">
      <option selected="selected" value="all">{% trans "All" %}</option>
      <option value="incomplete">{% trans "Incomplete" %}</option>
      <option value="untranslated">{% trans "Untranslated" %}</option>
      <option value="fuzzy">{% trans "Fuzzy" %}</option>
      <option value="suggestions">{% trans "Suggestions" %}</option>
      <option value="checks">{% trans "Checks" %}</option>
    </select>
  </div>

  <div id="prevnext" lang="{{ LANGUAGE_CODE }}" dir="{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}">
    <input type="submit" class="previous" name="back" accesskey="b" value="{% trans 'Previous unit' %}" title="{% trans 'Go to the previous unit (Ctrl+Up)' %}" />
    <span id="item-navigation">
      <input id="item-number" type="text" value="1" size="1" title="{% trans 'Current page number (Ctrl+Shift+U)<br/><br/>Type in the number and press Enter<br/>to go to any position' %}" />
      /
      <span id="items-count" title="{% trans 'Total pages' %}"></span>
    </span>
    <input type="submit" class="next" name="skip" accesskey="k" value="{% trans 'Next unit' %}" title="{% trans 'Go to the next unit (Ctrl+Down)' %}" />
  </div>
</div>
{% endblock %}

{% block scripts_extra %}
{{ block.super }}
<script src='{{ "js/jquery/jquery.easing.js"|m }}' type="text/javascript"></script>
<script src='{{ "js/jquery/jquery.history.js"|m }}' type="text/javascript"></script>
<script src='{{ "js/jquery/jquery.tmpl.js"|m }}' type="text/javascript"></script>
<script src='{{ "js/jquery/jquery.jsonp.min.js"|m }}' type="text/javascript"></script>
<script src='{{ "js/jquery/jquery.textarea-expander.js"|m }}' type="text/javascript"></script>
<script src='{{ "js/diff_match_patch.js"|m }}' type="text/javascript"></script>
<script src='{{ "js/editor.js"|m }}' type="text/javascript"></script>
<script type="text/javascript">
$(document).ready (function() {
  var options = {};
  {% if request.is_secure %}options.secure = true;{% endif %}
  {% if cansuggest or cantranslate %}
  options.mt = [];
    {% for backend, apikey in MT_BACKENDS %}
    options.mt.push({name: "{{ backend|lower }}", key: "{{ apikey }}"});
    {% endfor %}
  {% endif %}
  options.tmUrl = '{{ AMAGAMA_URL }}';
  PTL.editor.init(options);
});
</script>
<script id="view_unit" type="text/x-jquery-template">
{% include_raw "unit/xhr-view.html" %}
</script>
<script id="tm_suggestions" type="text/x-jquery-template">
{% include_raw "unit/xhr-tm.html" %}
</script>
<script src='{{ "js/json2.min.js"|m }}' type="text/javascript"></script>
<script src='{{ "js/jquery/jquery.fieldselection.js"|m }}' type="text/javascript"></script>
<script src='{{ "js/jquery/jquery.caret.js"|m }}' type="text/javascript"></script>
<script src='{{ "js/jquery/jquery.highlightRegex.js"|m }}' type="text/javascript"></script>
<script src='{{ "js/jquery/jquery.serializeObject.min.js"|m }}' type="text/javascript"></script>
{% if not user.is_authenticated %}
<script src='{{ "js/jquery/jquery.fancybox.min.js"|m }}' type="text/javascript"></script>
{% endif %}
{% endblock scripts_extra %}

{% block footer %}
<div id="translate-footer"></div>
{% endblock footer %}
