{% extends "tp_base_extended.html" %}
{% load i18n render_pager baseurl store_tags %}
{% get_current_language as LANGUAGE_CODE %}
{% get_current_language_bidi as LANGUAGE_BIDI %}

{% block title %}
{{ block.super }} » {% trans "Translate" %} » {{ store }}
{% endblock %}

{% block body.id %}translatepage{% endblock body.id %}

{% block bodyclass %}{% if checking_text %}tpreview{% else %}tptranslate{% endif %}{% endblock %}

{% block extra_head %}
<script src='{{ "js/jquery/jquery.textarea-expander.js"|m }}' type="text/javascript"></script>
<script type="text/javascript">
  $(document).ready (function() {
     $('textarea.expanding').TextAreaExpander('20', '100');
  });
</script>
{% endblock extra_head %}

{% block search %}
<div id="search" lang="{{ LANGUAGE_CODE }}" dir="{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}">
  <form action="?" method="get" id="searchform">
    <label class="inputHint" for="id_search">{% trans "Search" %}</label>{{ search_form.search }}
    <a class="advancedlink">
      {% if LANGUAGE_BIDI %}
      <img src='{{ "images/sarrow_down_rtl.png"|m }}' alt="{{ search.advanced_search_title }}" title="{{ search.advanced_search_title }}" class="togglesearch" />
      <img src='{{ "images/sarrow_up_rtl.png"|m }}' alt="{{ search.advanced_search_title }}" title="{{ search.advanced_search_title }}" class="togglesearch" style="display: none;"/>
      {% else %}
      <img src='{{ "images/sarrow_down.png"|m }}' alt="{{ search.advanced_search_title }}" title="{{ search.advanced_search_title }}" class="togglesearch" />
      <img src='{{ "images/sarrow_up.png"|m }}' alt="{{ search.advanced_search_title }}" title="{{ search.advanced_search_title }}" class="togglesearch" style="display: none;"/>
      {% endif %}
    </a>
    <div class="advancedsearch">
      {{ search_form.sfields }}
    </div>
  </form>
</div>
{% endblock %}

{% block breadcrumbs_content %}
<a href="{{ language.pootle_path|l }}">{{ language.localname }}</a> » <a href="{{ translation_project.pootle_path|l }}">{{ translation_project.project }}</a> » 
{% for ancestor in store.ancestors %}
<a href="{{ ancestor.pootle_path|l}}">{{ ancestor.name }}</a> / 
{% endfor %}
<a href="{{ store.pootle_path|l}}/translate">{{ store.name }}</a>
{% endblock %}

{% block innernav %}
<!--! Navigation bar -->
<div id="innernav" class="navbar">
  <div class="item-statistics small" lang="{{ LANGUAGE_CODE }}">
    <p> {{ store|stat_summary }}</p>
  </div>
</div><!--innernav-->
{% endblock innernav %}

{% block precontent %}
{{ block.super }}
{% if checks %}
<div class="check">
  {% for check in checks %}
  <p>
    <img src='{{ "images/help.png"|m }}' class="checkinfo" />
    {{ check|safe }}
  </p>
  {% endfor %}
</div>
{% endif %}
{% endblock precontent %}

{% block content %}
<div class="nomargin translation-nav">
  {{ pager|render_pager }}
</div><br />
<div class="translate-form">
  <form action="?{{ GET_state }}" method="post" name="translate" id="translate">
    <table cellpadding="0" cellspacing="0" class="translate-table" dir="{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}">
      <tr lang="{{ LANGUAGE_CODE }}">
        <th colspan="1" rowspan="1" class="translate-table-title translate-edit"></th>
        <th colspan="1" rowspan="1" class="translate-table-title translate-original">{% trans "Original" %}</th>
        <th colspan="1" rowspan="1" class="translate-table-title translate-translation">{% trans "Translation" %}</th>
      </tr>
      {% for unit in pager.object_list %}
      <tr class="{% cycle 'even' 'odd' %}">
	<td>
	  <a href="{{store.pootle_path|l}}/translate?unit={{unit.id}}" id="editlink{{ unit.index }}" title="{% trans 'Edit translation' %}">
	    <div class="translation-action">{{ unit.index }}</div>
	  </a>
	</td>
	{% ifequal unit form.instance %}
	{% render_unit_edit form %}
	{% else %}
	{% render_unit_view unit %}
	{% endifequal %}
      </tr>
      {% endfor %}
    </table>
  </form>
</div>
<br />
<div class="nomargin translation-nav">
{{ pager|render_pager }}
</div>
{% endblock %}

{% block scripts_extra %}
{{ block.super }}
<script src='{{ "js/json2.min.js"|m }}' type="text/javascript"></script>
<script src="http://www.google.com/jsapi" type="text/javascript"></script>
<script type="text/javascript">
	google.load("language", "1");
</script>
<script src='{{ "js/translatepage.js"|m }}' type="text/javascript"></script>
<script src='{{ "js/jquery/jquery.fieldselection.js"|m }}' type="text/javascript"></script>
{% endblock scripts_extra %}
