{% extends "tp_base_extended.html" %}
{% load i18n baseurl translation_project_tags  %}
{% get_current_language as LANGUAGE_CODE %}
{% get_current_language_bidi as LANGUAGE_BIDI %}

{% block title %}
{{ block.super }} » {% trans "Translate" %}
{% endblock %}

{% block breadcrumb_content %}
{{ block.super }} » <span>{% trans "Translate" %}</span>
{% endblock %}

{% block body.id %}translatepage{% endblock body.id %}

{% block bodyclass %}{% if checks %}tpreview{% else %}tptranslate{% endif %}{% endblock %}

{% block search %}
{% render_search search_form "?" %}
{% endblock %}

{% block content %}
<p class="notice">
{{ endmessage }}
</p>
{% endblock content %}
