{% load i18n baseurl store_tags cache %}
{% get_current_language as LANGUAGE_CODE %}
{% get_current_language_bidi as LANGUAGE_BIDI %}
<!-- JS templates: move from here when possible -->
<textarea id="view_unit" type="text/x-jquery-template">
<td dir="${meta.source_dir}" class="translate-original" rowspan="1" colspan="1">
  <div class="translate-original translate-view" id="orig${unit.id}">
    [[each(i, source) unit.source]]
    [[if source.title]]
    <span class="translation-text-headers" lang="${meta.source_lang}">${ source.title }</span>
    [[/if]]
    <div lang="${meta.source_lang}" dir="${meta.source_dir}" class="translation-text">[[html source.text]]</div>
    [[/each]]
  </div>
</td>
<td dir="${meta.target_dir}" class="translate-translation" rowspan="1" colspan="1">
  <div dir="${meta.target_dir}" class="translate-translation translate-view" id="trans${unit.id}">
    [[each(i, target) unit.target]]
    [[if target.title && target.text]]
    <span class="translation-text-headers" lang="${meta.target_lang}">${ target.title }</span>
    [[/if]]
    <div lang="${meta.target_lang}" class="translation-text" dir="${meta.target_dir}">[[html target.text]]</div>
    [[/each]]
  </div>
</td>
</textarea>
<div class="translate-form">
    <div id="pootle_path" class="hide">{{ store.pootle_path }}</div>
    <div id="active_uid" class="hide">{{ form.instance.id }}</div>
    <table cellpadding="0" cellspacing="0" class="translate-table" dir="{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}">
      <thead>
        <tr lang="{{ LANGUAGE_CODE }}">
          <th colspan="1" rowspan="1" class="translate-table-title translate-original"></th>
          <th colspan="1" rowspan="1" class="translate-table-title translate-translation"></th>
        </tr>
      </thead>
      <tbody>
        {% for unit in units %}
        <tr id="row{{ unit.id }}" class="{% ifequal unit form.instance %}edit-row{% else %}view-row {% cycle 'even' 'odd' %}{% endifequal %}{% if unit.isfuzzy %} translate-translation-fuzzy{% endif %}"{% ifequal unit form.instance %} colspan="2"{% endifequal %}>
          {% ifequal unit form.instance %}
            {% cache settings.CACHE_TIMEOUT unit_edit unit.id unit.mtime cantranslate cansuggest canreview alt_src_codes profile.id LANGUAGE_CODE %}
            {% render_unit_edit form %}
            {% endcache %}
          {% else %}
            {% cache settings.CACHE_TIMEOUT unit_view unit.id unit.mtime LANGUAGE_CODE %}
            {% render_unit_view unit %}
            {% endcache %}
          {% endifequal %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
</div>
