{% load i18n %}
<option
  value="browse"
  data-href="{{ browse_url }}">
  {% trans "Browse" %}
</option>
{% if has_admin_access %}
<option
  value="translate"
  data-href="{{ translate_url }}">
  {% trans "Translate" %}
</option>
{% endif %}
{% if user.is_superuser or request.permissions.administrate %}
<option disabled></option>
<option
  value="admin-languages" class="admin"
  data-href="{% url 'pootle-admin-languages' %}">
  {% trans "Languages" %}
</option>
<option
  value="admin-permissions" class="admin"
  data-href="{% url 'pootle-admin-permissions' %}">
  {% trans "Permissions" %}
</option>
{% endif %}
