{% load i18n assets locale %}
{% get_current_language as LANGUAGE_CODE %}
<div id="editor">
    <noscript>
      <h1>{% trans "Pootle's editor requires JavaScript" %}</h1>
      <p>{% trans "Please enable JavaScript in your browser preferences and reload the page." %}</p>
    </noscript>

    <div id="js-editor-act" class="hide editor-overlay loader"></div>
    <div id="js-editor-msg" class="hide editor-overlay">
      <div class="alert alert-block alert-info fade in" lang="{{ LANGUAGE_CODE }}">
        <button type="button" class="close js-editor-msg-hide">&times;</button>
        <span> <span>
      </div>
    </div>
    <div id="js-editor-error" class="hide toolbar-message">
      <div>
        <i class="icon-error pull-{% locale_align %}"></i>&nbsp;<span> </span>
      </div>
    </div>

    <table cellpadding="0" cellspacing="0" class="translate-table{% if cansuggest and not cantranslate %} suggest-mode{% endif%}" dir="{% locale_dir %}">
      <thead>
        <tr lang="{{ LANGUAGE_CODE }}">
          <th colspan="1" rowspan="1" class="translate-table-title translate-original"></th>
          <th colspan="1" rowspan="1" class="translate-table-title translate-translation"></th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
</div>
