{% load i18n assets locale %}
{% get_current_language as LANGUAGE_CODE %}
<div id="editor">
    <div id="js-editor-act" class="hide editor-overlay loader"></div>
    <div id="js-editor-msg" class="hide editor-overlay">
      <div class="alert alert-block alert-info fade in" lang="{{ LANGUAGE_CODE }}">
        <button type="button" class="close js-editor-msg-hide">&times;</button>
        <span> <span>
      </div>
    </div>
    <div id="js-editor-error" class="hide toolbar-message">
      <div>
        <i class="icon-error pull-{% locale_align %}"></i>&nbsp;<span> </span>
      </div>
    </div>

    <table cellpadding="0" cellspacing="0" class="translate-table{% if cansuggest and not cantranslate %} suggest-mode{% endif%}" dir="{% locale_dir %}">
      <tbody>
      </tbody>
    </table>
</div>
