{% load i18n locale %}
{% get_current_language as LANGUAGE_CODE %}
<div id="toolbar">
  <div class="unit-sort s2-pootle">
    <select id="js-filter-sort">
      <option selected value="default">{% trans "Default order" %}</option>
      {% if display_priority %}
      <option value="priority">{% trans "Important first" %}</option>
      {% endif %}
      <option value="newest">{% trans "Newest first" %}</option>
      <option value="oldest">{% trans "Oldest first" %}</option>
    </select>
  </div>

  <div id="prevnext" lang="{{ LANGUAGE_CODE }}" dir="{% locale_dir %}">
    <button id="js-nav-prev" class="btn btn-xs"
      title="{% trans 'Go to the previous string (Ctrl+Up)' %}"><i class="icon-arrow-up"></i></button>
    <span id="item-navigation">
      <span contenteditable id="item-number" class="js-unit-index"
        title="{% trans 'Current string number (Ctrl+Shift+U)<br/><br/>Type in the number and press Enter<br/>to go to any position' %}">0</span>
      /
      <span id="items-count" class="js-unit-count" title="{% trans 'Total strings' %}">0</span>
    </span>
    <button id="js-nav-next" class="btn btn-xs"
      title="{% trans 'Go to the next string (Ctrl+Down)' %}"><i class="icon-arrow-down"></i></button>
  </div>
</div>
