{% load i18n locale %}
{% get_current_language as LANGUAGE_CODE %}
<div id="toolbar">

  <div class="toolbar pull-left">
    <div class="label">{% trans "Filter by:" %}</div>
    <div id="filter-status">
      <select class="js-select2 select2-filter-status" name="filter-status">
        {# Translators: This refers to "All strings" #}
        <option selected="selected" value="all">{% trans "All" %}</option>
        <option value="translated">{% trans "Translated" %}</option>
        <option value="incomplete">{% trans "Incomplete" %}</option>
        <option value="untranslated">{% trans "Untranslated" %}</option>
        <option value="fuzzy">{% trans "Needs work" %}</option>
        <option value="suggestions">{% trans "Suggestions" %}</option>
        <option value="my-suggestions">{% trans "My suggestions" %}</option>
        <option value="my-submissions">{% trans "My submissions" %}</option>
        {% comment %}Translators: This is a type of filtering criterion that
        selects the strings that have been submitted by me at some point
        in time but have been overwritten by other users.{% endcomment %}
        <option value="my-submissions-overwritten">{% trans "My overwritten submissions" %}</option>
        <option value="checks">{% trans "Checks" %}</option>
      </select>
    </div>
    <div id="filter-checks">
      <select id="js-select2-filter-checks" class="select2-filter-checks" name="filter-checks">
        <option selected="selected" value="none">------</option>
        {% for item in check_categories %}
          <optgroup label="{{ item.title }}">
          {% for check in item.checks %}
            <option value="{{ check.code }}" data-title="{{ check.title }}"></option>
          {% endfor %}
          </optgroup>
        {% endfor %}
      </select>
    </div>
    <div id="js-editor-export"></div>
  </div>

  <div class="toolbar pull-right">
    <div id="prevnext" lang="{{ LANGUAGE_CODE }}" dir="{% locale_dir %}">
      <input type="submit" id="js-nav-prev" name="back" accesskey="b"
        class="btn btn-sm" value="{% trans 'Previous' %}"
        title="{% trans 'Go to the previous string (Ctrl+Up)' %}" />
      <span id="item-navigation">
        <input id="item-number" type="text" value="1" size="4"
          title="{% trans 'Current string number (Ctrl+Shift+U)<br/><br/>Type in the number and press Enter<br/>to go to any position' %}" />
        /
        <span id="items-count" title="{% trans 'Total strings' %}"></span>
      </span>
      <input type="submit" id="js-nav-next" name="skip" accesskey="k"
        class="btn btn-sm" value="{% trans 'Next' %}"
        title="{% trans 'Go to the next string (Ctrl+Down)' %}" />
    </div>
  </div>
</div>
