{% extends editor_extends %}
{% load i18n %}

{% block title %}{% trans "Translate" %} | {{ block.super }}{% endblock %}

{% block css %}
{{ block.super }}
{% include 'editor/_css.html' %}
{% endblock %}

{% block body_class %}translate{% endblock %}

{% block actions %}
{% include 'editor/_actions.html' %}
{% endblock %}

{% block filters %}
{% include 'editor/_filters.html' %}
{% endblock %}

{% block pre_content %}
{% include 'editor/_toolbar.html' %}
{% endblock %}

{% block content %}
{% include 'editor/_editor.html' %}
{% endblock %}

{% block scripts_extra %}
{{ block.super }}
{% include 'editor/_scripts.html' %}
{% endblock %}

{% block footer %}{% endblock footer %}
