{% load i18n render_pager %}
<div class="pagination-control">
  {{ objects|render_pager }}
</div>
<form action="" method="post">
  {% csrf_token %}
  {% if error_msg %}
      <div class="error">{% trans error_msg %}</div>
  {% endif %}
  {% if messages %}
  <ul class="messages">
      {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
  </ul>
{% endif %}
  {{ formset.management_form }}
  <table class="permissions sortable">
    {{ formset_text }}
  </table>
  <p class="admin-buttons-block">
    <input type="submit" class="btn" value="{% trans 'Save Changes' %}" />
  </p>
</form>
<div class="pagination-control">
  {{ objects|render_pager }}
</div>
