{% load i18n %}
<form class="js-admin-edit-meta" action="{{ form_action }}" method="POST">
  {% csrf_token %}
  {{ form.non_field_errors }}
  {% for field in form %}
  <p> {{ field.errors }}
      {{ field.label_tag }}
      {{ field }}
      {% if field.help_text %}
      <span class="help_text">{{ field.help_text }}</span>
      {% endif %}
  </p>
  {% endfor %}
  <p class="form-horizontal form-actions">
    <input type="submit" class="btn" value="{% trans 'Save' %}" />
    <span class="cancel js-edit-details-cancel"><a class="danger">{% trans "Cancel" %}</a></span>
  </p>
</form>
