{% load url from future %}
{% load i18n %}
<ul id="tabs" class="admin">
  <li><a href="{% url 'pootle-admin' %}" class="admindashboard">{% trans "Info" %}</a></li>
  <li><a href="{% url 'pootle-admin-general' %}" class="admingeneral">{% trans "General" %}</a></li>
  <li><a href="{% url 'pootle-admin-users' %}" class="adminusers">{% trans "Users" %}</a></li>
  <li><a href="{% url 'pootle-admin-languages' %}" class="adminlanguages">{% trans "Languages" %}</a></li>
  <li><a href="{% url 'pootle-admin-projects' %}" class="adminprojects">{% trans "Projects" %}</a></li>
  <li><a href="{% url 'pootle-admin-permissions' %}" class="adminpermissions">{% trans "Permissions" %}</a>
  <li><a href="{% url 'pootle-staticpages' %}" class="adminstaticpages">{% trans "Static Pages" %}</a></li>
</ul>
