{% extends "admin/base.html" %}
{% load i18n assets %}

{% block title %}{% trans "Permissions" %} | {{ block.super }}{% endblock %}

{% block breadcrumbs %}
{{ block.super }}<li>{% trans "Permissions" %}</li>
{% endblock %}

{% block section_description %}{% trans "Here you can add, edit, and delete the default permissions in this Pootle server." %}{% endblock %}

{% block section_body %}
    <p class="help">
      {% trans "The user “nobody” refers to any user that is not logged in (an anonymous, unidentified user). The user “default” refers to the rights that all logged in users will have by default, unless other specific rights were assigned to them." %}
    </p>
    {% include "admin/_generic_formset.html" %}
{% endblock %}

{% block scripts_extra %}
{% assets 'js_admin_general_app' %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
{% assets 'js_admin_app' %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
<script type="text/javascript">
  $(function () {
    PTL.commonAdmin.init({page: 'formset'});
    PTL.userAdmin.init();
  });
</script>
{% endblock %}
