{% extends "admin/base.html" %}

{% load i18n assets store_tags %}

{% block body_id %}evernote_reports{% endblock %}

{% block css %}
{{ block.super }}
{% assets "css_reports" %}
<link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}" />
{% endassets %}
{% endblock css %}

{% block scripts_extra %}
{{ block.super }}
{% assets "js_reports" %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}

<script id="language_user_activity" type="text/template">
{% include_raw "admin/xhr_language_user_activity.html" %}
</script>
<script id="summary" type="text/template">
{% include_raw "admin/xhr_summary_report.html" %}
</script>
<script id="paid-tasks" type="text/template">
{% include_raw "admin/xhr_paid_tasks_report.html" %}
</script>
<script id="month_selector" type="text/template">
  <li>
    <a class="month-selector"
    data-month-offset="<%= month_offset %>" href="#">
    <%= month %></a>
  </li>
</script>

<script type="text/javascript">
  {% autoescape off %}
    PTL.reports.users = {{ users }};
    PTL.reports.updateUserRatesUrl = "{% url 'evernote-update-user-rates' %}";
    PTL.reports.addPaidTaskUrl = "{% url 'evernote-add-paid-task' %}";
    PTL.reports.removePaidTaskUrl = "{% url 'evernote-remove-paid-task' %}";
  {% endautoescape %}
</script>

{% endblock scripts_extra %}

{% block title %}{% trans "Reports" %} | {{ block.super }}{% endblock %}

{% block breadcrumbs %}
{{ block.super }}<li>{% trans "Reports" %}</li>
{% endblock %}

{% block section_body %}
<div id="reports-container">
  <table id="reports-header">
    <tr>
      <td id="reports-form">
        <input id="reports-user" type="text" placeholder="User"></input>
      </td>
      <td id="reports-params">
        <div class="dates">
          <ul></ul>
        </div>
      </td>
      <td id="detailed">
        <a href="{% url 'evernote-reports-detailed' %}" target="_blank">{% trans 'Detailed report' %}</a>
      </td>
    </tr>
  </table>
  <div id="reports-results"></div>
  <div id="reports-activity">
    <h2>{% trans 'Daily activity' %}</h2>
    <div id="daily-chart"></div>
  </div>
  <div id="forms">
    <form id="user-rates-form" method="post" action="">
      <h2>{% trans "Set rates" %}</h2>
      {% csrf_token %}
      <table>
      {% for field in user_rates_form %}
        {% if not field.is_hidden %}
        <tr>
        <td class="label">
          {{ field.label_tag }}
        </td>
        <td>
          {% if field.help_text %}
            <div class="help">{{ field.help_text }}</div>
          {% endif %}
          <div class="field-wrapper">
          {{ field }}
          </div>
          {% if field.name == 'rate' or field.name == 'review_rate' or field.name == 'hourly_rate' %}
            <div class="currency"></div>
          {% endif %}
        </td>
        </tr>
        {% else %}
          {{ field }}
        {% endif %}
      {% endfor %}
        <tr>
          <td></td>
          <td><input type="submit" class="submit btn" value="{% trans 'Save' %}"/></td>
        </tr>
      </table>
    </form>
    <form id="paid-task-form" method="post" action="">
      {% csrf_token %}
      <h2>{% trans "Record New Paid Task" %}</h2>
      <table>
      {% for field in paid_task_form %}
        {% if not field.is_hidden %}
        <tr>
        <td class="label">
          {{ field.label_tag }}
        </td>
        <td>
          <div class="field-wrapper">
          {% if field.name == 'date' %}
            {{ field.as_hidden }}
            <div class="month"></div>
          {% else %}
            {{ field }}
          {% endif %}
          </div>
          {% if field.name == 'amount' %}
            <div class="units task-0 task-1">{% trans "words" %}</div>
            <div class="units task-2">{% trans "hours" %}</div>
          {% endif %}
        </td>
        </tr>
        {% else %}
          {{ field }}
        {% endif %}
      {% endfor %}
        <tr>
          <td></td>
          <td><input type="submit" class="submit btn" value="{% trans 'Add record' %}"/></td>
        </tr>
      </table>
    </form>
  </div>
  <div id="reports-paid-tasks"></div>
  <div id="reports-summary"></div>
</div>
{% endblock %}
