<% if (meta.user !== "") { %>
<% if (_.size(paid_tasks) > 0) { %>
  <h2><%= gettext('Registered Paid Tasks') %></h2>
  <table class="stats">
    <thead>
    <tr>
      <th><%= gettext('Comment') %></th>
      <th><%= gettext('Action') %></th>
      <th class="number"><%= gettext('Amount') %></th>
      <th class="number">&times; <%= gettext('Rate') %></th>
      <th class="number"><%= gettext('Subtotal') %></th>
      <th class="remove"></th>
    </tr>
    </thead>
    <tbody>
    <%= PTL.reports.resetRowStyle()  %>
    <% _.each(paid_tasks, function (row) { %>
      <tr class="item <%= PTL.reports.cycleEvenOdd() %>">
        <td><%= row.description %></td>
        <td><%= row.action %></td>
        <td class="number"><%= row.amount %> <% if (row.type === 2) { %><%= ngettext("hour", "hours", Math.round(row.amount)) %><% } else { %><%= ngettext("word", "words", Math.round(row.amount)) %><% } %></td>
        <td class="number"><%= row.rate %> <%= meta.user.currency %></td>
        <td class="number"><%= (row.rate * row.amount).toFixed(2) %> <%= meta.user.currency %></td>
        <td class="remove">
          <i class="icon-reject js-remove-task"  data-id="<%= row.id %>" original-title="<%= gettext('Remove task') %>"></i>
        </td>
      </tr>
    <% }); %>
    </tbody>
  </table>
<% } %>
<% } %>