/*
 * ADMIN DASHBOARD
 */

/* DEPENDENCY CHECKS */

div#depchecks ul
{
    margin-bottom: 1em;
}

div#depchecks ul#optional,
div#depchecks ul#optimal
{
    font-style: italic;
    background-color: inherit;
    color: #4B4740;
}

div#depchecks ul li
{
    background-repeat: no-repeat;
    padding: 0 2em;
}

div#depchecks ul li.good
{
    background-image: url('images/good.png');
    background-position: left top;
}

html[dir="rtl"] div#depchecks ul li.good
{
    background-position: right top;
}

div#depchecks ul li.warning
{
    background-image: url('images/warning.png');
    background-position: left top;
}

html[dir="rtl"] div#depchecks ul li.warning
{
    background-position: right top;
}

div#depchecks ul li.error
{
    background-image: url('images/error.png');
    background-position: left top;
    font-weight: bold;
    color: #d54e21;
}

html[dir="rtl"] div#depchecks ul li.error
{
    background-position: right top;
}

/* ADMIN RSS NEWS FEED */

#rss-alerts div.bd div.centered
{
    width: 100%;
    text-align: center;
}

/* ADMIN LANGUAGES, FILES */

td.fullname input,
td.pluralequation input,
td.pootle_path
{
    direction: ltr;
}

html[dir="rtl"] td.pootle_path
{
    text-align: right;
}

/* ADMIN BUTTONS */

.admin-buttons-block
{
    margin-bottom: 1em;
}

.admin-buttons-block input
{
    margin-bottom: 0.3em;
}

.admin-buttons-block input[type="submit"]
{
    cursor: pointer;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    background-position: 5px 50%;
    background-repeat: no-repeat;
    border: 1px solid #ccc;
    padding: 2px 5px 2px 23px;
    min-height: 16px;
}

html[dir="rtl"] .admin-buttons-block input[type="submit"]
{
    padding: 2px 23px 2px 5px;
    background-position: 95% center;
}

.admin-buttons-block .update
{
    background-image: url('images/page_refresh.png');
}

.admin-buttons-block .rescan
{
    background-image: url('images/arrow_refresh.png');
}

.admin-buttons-block .save
{
    background-image: url('images/database_save.png');
}

.admin-buttons-block input[type="submit"]:hover,
.admin-buttons-block input[type="submit"]:active,
.admin-buttons-block input[type="submit"]:focus
{
    border-color: #999;
    border-style: solid;
}
