/*
 * IE-ONLY RULES
 */

.form {
    border: 1px solid #aaa;
    border-bottom-width: 2px; /* imitate shadow */
}

input[type="submit"]
{
    border: 1px solid #aaa;
    min-width: 90px; /* as it adds up paddings */
}
