/*
 * BASIC ELEMENT STYLING
 */

html
{
    color: #000;
    background: #FFF;
    width: 100%;
    margin: 0;
    padding: 0;
}

body
{
    background: #FFF;
    color: #000;
    width: 100%;

    font-family: Segoe UI, Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
}

a,
a:link
{
    text-decoration: none;
    background-color: inherit;
    color: #0489b7;
}

a:visited
{
    text-decoration: none;
}

a:hover
{
    text-decoration: underline;
}

a:active
{
    text-decoration: underline;
}

p,
dd
{
    line-height: 1.5;
}

strong
{
    font-weight: bold;
}

em
{
    font-style: italic;
}

abbr,
acronym
{
    border-bottom: 1px dotted #000;
    cursor: help;
}

p,
fieldset,
pre
{
    margin-bottom: 1em;
}

th
{
    font-size: 110%;
    padding: 0 0 7px 0;
    background-color: inherit;
    color: #4b4742;
}

td
{
    padding: 5px 0;
}

h1, h2, h3, h4, h5, h6
{
    font-weight: normal;
    font-size: 100%;
    background-color: inherit;
    color: #333;
}

h1
{
    font-size: 185%;
}

h2
{
    font-size: 170%;
}

h3
{
    font-size: 150%;
}

h4
{
    font-size: 137%;
}

h5
{
    font-size: 110%;
}

h6
{
    font-size: 100%;
}

body, div,
ul, ol, li,
h1, h2, h3, h4, h5, h6,
pre, code,
form, fieldset, legend,
p, blockquote
{
    margin: 0;
    padding: 0px;
}

input, textarea
{
    margin: 0;
    padding: 1px;
}

table
{
    border-collapse: collapse;
    border-spacing: 0;
    font-size: inherit;
}

fieldset,
img
{
    border: 0;
}

address, caption, cite, code, dfn,
em, strong,
th, var
{
    font-style: normal;
    font-weight: normal;
}

li
{
    list-style: none;
}

caption,
th
{
    text-align: left;
}

html[dir="rtl"] caption,
html[dir="rtl"] th
{
    text-align: right;
}

q:before,
q:after
{
    content: '';
}

abbr,
acronym
{
    border: 0;
    font-variant: normal;
}

sup
{
    vertical-align: text-top;
}

sub
{
    vertical-align: text-bottom;
}

input,
textarea,
select
{
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}

select[multiple]
{
    height: 100px;
}

legend
{ 
    background-color: inherit;
    color: #000;
}

pre, code, kbd, samp, tt
{
    font-family: monospace;
    line-height: 100%;
}

#ft
{
    clear: both;
}

#bd:after
{
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}


/*
 * MAIN DIVs
 */

#wrapper,
#doc
{
    width: 100%;
}

#doc:after
{
    content: ".";
    display: block;
    height: 0;
    width: 0;
    clear: both;
    visibility: hidden;
}

#nav-access
{
    position: absolute;
    top: -1000px;
}

html[dir="ltr"] #nav-access
{
    left: -1000px;
}

html[dir="rtl"] #nav-access
{
    right: -1000px;
}

#precontent,
#content,
#postcontent
{
    margin: 0 1em;
}

#content {
    clear: both;
}


/*
 * HEADER
 */

#header h1
{
    margin: 0;
    padding: 0;
}

#header h1 a
{
    background: url(images/logo.png) left 50% no-repeat;
    padding: 25px 0;
    padding-left: 60px;
    float: left;
    margin: 0 30px 0 20px;
    font-weight: bold;
}

html[dir="rtl"] #header h1 a
{
    background: url(images/logo.png) right 50% no-repeat;
    padding-left: 0;
    padding-right: 60px;
    margin: 0px 20px 0 30px;
    float: right;
}

#nav-main ul
{
    margin: 5px 5px 0 5px;
    position: absolute;
    right: 0px;
    top: 0px;
}

html[dir="rtl"] #nav-main ul
{
    right: auto;
    left: 0px;
}

#nav-main ul li
{
    float: left;
}

html[dir="rtl"] #nav-main ul li
{
    float: right;
}

#nav-main ul li a
{
    padding: 0 10px;
    display: block;
    font-weight: bold;
    font-size: 95%;
}

/*
 * MENUBAR
 */

.menubar
{
    visibility: visible;
    position: static;
}

.menubar ul,
.menubar li,
.menubar h6
{
    margin: 0;
    padding: 0;
}

.menubar>.bd>ul:after
{
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
    line-height: 0;
}


/*
 * FOOTER
 */

#footer
{
    background: #fff url(images/footer-bg.jpg) top center repeat-x;
    text-align: center;
    color: #898378;
    clear: both;
    font-size: 90%;
    margin-top: 2em;
}

#footer-contents
{
    margin: 0 auto;
    width: 90%;
}

#footer .nav
{
    padding: 35px 0;
}

#footer .nav li
{
    display: inline;
}

#footer .nav li:after
{
    content:  "|";
    margin: 0 10px;
}

#footer .nav li:last-child:after
{
    content: '';
    margin: 0;
}

#footer a:link,
#footer a:visited
{
    color: #898378;
}

#footer a:hover,
#footer a:active
{
    color: #69645c;
}


/*
 * MESSAGES
 */

.xhr-message
{
    position: fixed;
    height: 2em;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 9000;
    text-align: center;
}

.xhr-message span
{
    -moz-border-radius: 0 0 0.75em 0.75em;
    -webkit-border-radius: 0 0 0.75em 0.75em;
    border-radius: 0 0 0.75em 0.75em;
    border: 1px solid #ccc;
    color: #0489B7;
    line-height: 2em;
    padding: 0.5em 1em 0.5em 36px;
}

html[dir="rtl"] #xhr-activity span,
html[dir="rtl"] #xhr-error span
{
    background-position: 85% center;
    padding: 0.5em 36px 0.5em 1em;
}

#xhr-activity span,
#xhr-error span
{
    background-position: 1em center;
}

#xhr-activity span
{
    background: url("images/activity.gif") 1em center no-repeat #fff;
}

#xhr-error span
{
    background: url("images/error.png") 1em center no-repeat #fff;
}

#site-message
{
    background-color: #ffe;
    border: 1px solid #fc9;
    margin-bottom: 2em;
    padding: 10px 25px;
}

#site-message .success
{
    color: #3f3;
}

#site-message .error
{
    color: #f33;
}

.hide
{
    display: none;
}

.general-message
{
    text-align: center;
    margin-bottom: 2em;
}

.general-message h2
{
    margin-bottom: 0.7em;
}

p.help,
span.help_text
{
    font-size: 85%;
    font-style: italic;
}

/* FORM ERRORS */

ul.errorlist
{
    margin: 0;
    padding: 0;
}

.errorlist li
{
    color: #f33;
    background-color: #ffe;
    border: 1px solid #fc9;
    margin-bottom: 0.5em;
    padding: 10px 25px;
}


/*
 * PAGE BODY
 */

#body
{
    margin: 0;
    padding: 5px 0px;
    background: #fff url(images/page-bg.jpg) top left repeat-x;
}

#body:after
{
    content: ".";
    display: block;
    height: 0;
    width: 0;
    clear: both;
    visibility: hidden;
}

.intro
{
    clear: both;
    margin: 0 1em;
    padding-top: 2em;
    padding-bottom: 1em;
    line-height: 1.3em;
}

/* TABLES */

.module table, 
.module-primary table
{
    width: 100%;
}

td.language,
td.code,
td.profile,
td.username
{
    padding-left: 5px;
}

html[dir="rtl"] td.language,
html[dir="rtl"] td.code,
html[dir="rtl"] td.profile,
html[dir="rtl"] td.username
{
    padding-left: 0;
    padding-right: 5px;
}

tr.even, 
td.even, 
li.even
{
    background: #f7f7f5;
}

/* MODULES */

.clear
{
    clear: both;
}

.module
{
    width: 48%;
    float: right;
    margin: 0;
}

html[dir="rtl"] .module
{
    float: left;
}

.module.first
{
    float: left;
}

html[dir="rtl"] .module.first
{
    float: right;
}

.module .hd h2, 
.module-primary .hd h2
{
    margin: 1em 0.5em 0;
    color: #999;
    border-bottom: 1px solid #eee;
}

html[dir="rtl"] .module .hd h2,
html[dir="rtl"] .module-primary .hd h2
{
    margin-left: 0;
    margin-right: 0.5em;
}

.module .bd,
.module-primary .bd
{
    margin: 1em;
}

.module .nomargin,
.module-primary .nomargin
{
    margin: 0;
}

.module .bd h2, 
.module-primary .bd h2
{
    color: #999;
    margin-bottom: 0.5em;
}

.module .bd h3, 
.module-primary .bd h3
{
    font-size: 120%;
}

/* UPLOAD FORM / UPDATE FROM VCS / CAPTCHA */

div#upload p,
div#upload ul,
div#update p,
p.captcha,
.general-message input
{
    font-size: 85%;
    margin-bottom: 0.5em;
}


/*
 * LOGIN/REGISTER PAGE
 */

#login,
#register,
#contact
{
    width: 30em;
    margin: 2em auto;
    border: 2px solid #ccc;
    padding: 1em;
    background-color: #e5edef;
    text-align: left;
}

#login[dir="rtl"],
#register[dir="rtl"],
#contact[dir="rtl"]
{
    text-align: right;
}

#login h2,
#register h2,
#contact h2
{
    margin-bottom: 0.7em;
}

#login p,
#register p,
#contact p
{
    margin-bottom: 1em;
}


#loginform,
#registerform,
#contactform
{
    font-size: 85%;
}

#login input[type="text"],
#login input[type="password"],
#login select,
#register input[type="text"],
#register input[type="password"],
#contact input[type="text"],
#contact input[type="password"],
#contact textarea
{
    width: 97%;
}

#login .submit,
#register .submit,
#contact .submit
{
    margin-bottom: 0;
    text-align: right;
}

#login[dir="rtl"] .submit,
#register[dir="rtl"] .submit,
#contact[dir="rtl"] .submit
{
    text-align: left;
}

.loginlink,
.registerlink
{
    width: 20em;
    margin: 0 auto 8em;
    padding: 0 1em;
    font-size: 137%;
    text-align: center;
}


/*
 * ABOUT PAGE
 */

p.about
{
    margin-bottom: 1em;
}


/*
 * DOCUMENTATION
 */

.documentation
{
    margin: 2em;
}

.documentation p
{
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}

.documentation ul li
{
    list-style-type: square;
    list-style-position: inside;
}

.documentation ol li
{
    list-style-type: inherit;
    list-style-position: inside;
}

p.top
{
    margin-left: 2em;
}


/*
 * TABBED MENU
 */

div#submenu
{
    border-bottom: 1px solid #afaba3;
    clear: both;
    height: 34px;
    margin-bottom: 8px;
}

div#submenu-tabs
{
    float: left;
    font-weight: bold;
}

html[dir="rtl"] div#submenu-tabs
{
    float: right;
}

div#submenu-tabs a
{
    background-color: inherit;
    border: 1px solid transparent;
    color: #4b4740;
    display: block;
    float: left;
    height: 24px;
    line-height: 22px;
    margin: 8px 4px 0;
    padding: 0 11px;
    text-decoration: none;
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
}

html[dir="rtl"] div#submenu-tabs a
{
    float: right;
}

div#submenu-tabs a:hover
{
    background-color: #fff !important;
    border-color: #777 #777 #fff;
    border-style: solid;
    border-width: 1px;
    line-height: 20px;
    margin-top: 9px;
    color: #666 !important;
}

div#submenu-tabs a.admintab:hover
{
    background-color: #f60 !important;
    border-bottom-color: #f60 !important;
    color: #fff !important;
}

div#submenu-tabs a:visited
{
    color: #888;
}

body.dashboard div#submenu-tabs a.dashboard,
body.settings div#submenu-tabs a.settings,
body.profile div#submenu-tabs a.profile,
body.password div#submenu-tabs a.password,
body.admindashboard div#submenu-tabs a.admindashboard,
body.admingeneral div#submenu-tabs a.admingeneral,
body.adminusers div#submenu-tabs a.adminusers,
body.adminlanguages div#submenu-tabs a.adminlanguages,
body.adminprojects div#submenu-tabs a.adminprojects,
body.adminpermissions div#submenu-tabs a.adminpermissions,
body.projectoverview div#submenu-tabs a.projectoverview,
body.projectadmin div#submenu-tabs a.projectadmin,
body.projectperm div#submenu-tabs a.projectperm,
body.languageoverview div#submenu-tabs a.languageoverview,
body.languagenews div#submenu-tabs a.languagenews,
body.languageadmin div#submenu-tabs a.languageadmin,
body.tpoverview div#submenu-tabs a.tpoverview,
body.tpnews div#submenu-tabs a.tpnews,
body.tptranslate div#submenu-tabs a.tptranslate,
body.tpreview div#submenu-tabs a.tpreview,
body.tpadminpermissions div#submenu-tabs a.tpadminpermissions,
body.tpadminfiles div#submenu-tabs a.tpadminfiles
{
    background-color: #fff;
    border-color: #777 #777 #fff;
    border-style: solid;
    border-width: 1px;
    color: black;
    height: 30px;
    line-height: 28px;
    margin-top: 3px;
    padding: 0 11px;
}


/*
 * SETTINGS PAGE
 */

div.settings-container
{
    display: block;
    margin: 0 auto 2em;
    margin: 1em;
}

div.centered
{
    width: 95%;
}

.settings-container h2
{
    color: #999;
    margin: 1em 0 0.5em;
}

.settings-container p
{
    margin-bottom: 1em;
}

.settings-container form label,
.settings-container form input,
.settings-container form select
{
    font-size: 85%;
}

.settings-container input,
.settings-container select,
.settings-container textarea,
#login input[type="text"],
#login input[type="password"],
#login select,
#register input[type="text"],
#register input[type="password"]
{
    display: block;
}

.settings-container table
{
    width: 100%;
    margin-bottom: 1em;
}

.settings-container td
{
    font-size: inherit;
}

div#settings
{
    margin-bottom: 2em;
}

/* ADMIN TABLE BACKGROUNDS */

.other-selected
{
    background-color: #8ec904 !important;
}

.delete-selected
{
    background-color: #f60 !important;
}

.other-selected a,
.delete-selected a
{
    color: #fff;
}

/* COMMON BUTTONS */

.common-buttons-block
{
    margin-bottom: 1em;
}

.common-buttons-block input
{
    margin-bottom: 0.3em;
}

.common-buttons-block input[type="submit"]
{
    cursor: pointer;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    background-position: 10px 50%;
    background-repeat: no-repeat;
    border: 1px solid #ccc;
    padding: 5px 10px 5px 33px;
    min-height: 16px;
    min-width: 110px;
    margin-bottom: 1em;
}

html[dir="rtl"] .common-buttons-block input[type="submit"]
{
    padding: 5px 33px 5px 10px;
    background-position: 90% center;
}

.common-buttons-block input[type="submit"]:hover,
.common-buttons-block input[type="submit"]:active,
.common-buttons-block input[type="submit"]:focus
{
    border-color: #999;
    border-style: solid;
}

.common-buttons-block .accept
{
    background-image: url('images/accept.png');
}

.common-buttons-block .login
{
    background-image: url('images/door_in.png');
}

.common-buttons-block .news-publish
{
    background-image: url('images/newspaper_go.png');
}

.common-buttons-block .password-change
{
    background-image: url('images/key_go.png');
}

.common-buttons-block .register
{
    background-image: url('images/user_go.png');
}

.common-buttons-block .save
{
    background-image: url('images/database_save.png');
}

.common-buttons-block .send
{
    background-image: url('images/email_go.png');
}

.common-buttons-block .term-extract
{
    background-image: url('images/book_next.png');
    margin: 0 auto;
}

.upload input[type="submit"]
{
    background-image: url('images/page_get.png');
}

.vcs-update input[type="submit"]
{
    background-image: url('images/drive_network.png');
}


/*
 * SUMMARIES
 */

div.newsitem-sep
{
    border-bottom: 1px solid #ddd;
    margin: 1.5em 0 2em;
}

#translationsummarylegend div {
    font-size: 75%;
    color: #888;
    font-style: italic;
}

html[dir="ltr"] #translationsummarylegend div {
  float: left;
  margin-right: 2em;
}

html[dir="rtl"] #translationsummarylegend div {
  float: right;
  margin-left: 2em;
}

#translationsummarylegend div img
{
    vertical-align: middle;
    width: 25px;
    height: 15px;
    padding: 0px 5px;
}

div#rss-alerts ul,
div.latestnews ul
{
    margin: 0 1em;
}

div#rss-alerts li,
div.latestnews li
{
    list-style-type: square;
}

div.latestnews p.subscribe
{
    background-image: url('images/feed.png');
    background-repeat: no-repeat;
    margin-top: 1em;
    /* ltr */
    background-position: left center;
    padding-left: 2em;
}

html[dir="rtl"] div.latestnews p.subscribe
{
    /* undo ltr */
    padding-left: 0;
    /* rtl */
    background-position: right center;
    text-align: right;
    padding-right: 2em;
}

div.topcontributors
{
    margin-top: 0;
    padding-top: 3em;
    margin-bottom: 2em;
}

table.topcontributors
{
    width: 100%;
}

table.topcontributors th
{
    color: #999;
    font-size: 85%;
    padding: 0 10px 7px 10px;
}

table.topcontributors td
{
    font-size: inherit;
    padding: 5px 10px;
}

td.stats-number
{
    padding-right: 10px;
    text-align: right;
}

td.stats-name
{
    font-weight: bold;
}

html[dir="rtl"] td.language,
html[dir="rtl"] td.stats-name,
html[dir="rtl"] select#id_ui_lang option
{
    text-align: right !important;
}

div#innernav {
  margin: 1.5em 1em 0;
}

div#actionlinks {
  margin-bottom: 1.5em;
}

div.item-statistics
{
    background-color: inherit;
    color: #4B4740;
    font-size: 1.5em;
}

div.item-statistics dl
{
    margin: 0;
}

div.item-statistics dl dt
{
    clear: left;
    float: left;
    text-align: right;
    width: 100px;
}

html[dir="rtl"] div.item-statistics dl dt
{
    clear: right;
    float: right;
    text-align: left;
}

div.item-statistics dl dd
{
    line-height: inherit;
    margin: 0 0 0 110px;
}

html[dir="rtl"] div.item-statistics dl dd
{
    margin: 0 110px 0 0;
}

div.small
{
    font-size: 1em;
}

.tiny
{
    font-size: 0.9em;
}

img.error
{
    vertical-align: middle;
}

/* 
 * Pretty Graphs, mostly from http://l10n.gnome.org/
 */

div.graph
{
    height: 14px;
    width: 100px;
    border: 0 none;
    position: relative;
}

div.translated
{
    position: absolute;
    top: 2px;
    height: 100%;
    background: #448844;
    background: url('images/bar-translated.png');
    background-repeat: repeat-x;
    color: black;
}

div.goodchange
{
    position: absolute;
    top: 2px;
    height: 100%;
    background: #55DD55;
    background: url('images/bar-goodchange.png');
    background-repeat: repeat-x;
    color: black;
}

div.fuzzy
{
    position: absolute;
    top: 2px;
    height: 100%;
    background: #4444AA;
    background: url('images/bar-fuzzy.png');
    background-repeat: repeat-x;
    color: black;
}

div.untranslated
{
    position: absolute;
    height: 100%;
    top: 2px;
    background: #FF4444;
    background: url('images/bar-untranslated.png');
    background-repeat: repeat-x;
    color: black;
}

div.graph[dir="ltr"] div.translated
{
    left: 0%;
}

div.graph[dir="rtl"] div.translated
{
    right: 0%;
}

/* SORTABLE */

table.sortable th
{
    cursor: pointer;
    color: #999;
    font-size: 85%;
}

table.sortable th.sorttable_sorted,
table.sortable th.sorttable_sorted_reverse {
    color: #000;
}

.sortkey
{
    display: none;
}

/* PAGER */

div.translation-nav
{
    margin-bottom: 1.3em;
}

ul.pager
{
    margin: 10px;
    padding: 5px;
}

ul.pager li
{
    float: left;
}

html[dir="rtl"] ul.pager li
{
    float: right;
}

ul.pager li a,
ul.pager li a:visited
{
    border: 1px solid #76b0bf;
    text-decoration: none;
}

ul.pager li a:hover
{
    background-color: #76b0bf;
    color: #fff;
}

ul.pager li span.current-link,
ul.pager li a
{
    margin: 0.2em;
    padding: 0.2em 0.7em;
}

ul.pager li a.nth-link,
ul.pager li a.prevnext-link
{
    font-weight: bold;
}

ul.pager li span.current-link
{
    background-color: #76b0bf;
    color: #fff;
    border: 1px solid #76b0bf;
    font-weight: bold;
}


/*
 * NAVIGATION BAR
 */

.title a
{
    unicode-bidi: embed;
}

div#breadcrumbs
{
    float: left;
    margin-top: 23px;
}

html[dir="rtl"] div#breadcrumbs
{
    float: right;
    margin-left: 0;
    margin-right: 3em;
}

/* SEARCH */

div#search
{
    /* this should better be fixed in html template */
    position: absolute;
    right: 2em;
    top: 143px;
}

div#search[dir="rtl"]
{
    right: auto;
    left: 2em;
}

div#search input[type=text]
{
    border: 1px solid #76b0bf;
    height: 16px;
    width: 145px;
    font-size: 10pt;
}

div#search .advancedlink
{
    width: 20px;
    height: 20px;
    padding: 0;
    border: 0;
    margin: 0 0 0 -5px;
    cursor: pointer;
    vertical-align: top; /* IE alignment fix */
}

div#search[dir="rtl"] .advancedlink
{
    margin: 0 -5px 0 0;
}

div.advancedsearch
{
    background-color: #fff;
    border-bottom: 1px solid #76b0bf;
    border-left: 1px solid #76b0bf;
    border-right: 1px solid #76b0bf;
    overflow: auto;
    padding-bottom: 3px;
    padding-left: 3px;
    padding-right: 8px;
    position: absolute;
    z-index: 2;
    display: none;
    margin-top: 0;
    width: 155px;
}

#search[dir="rtl"] div.advancedsearch
{
    padding-left: 8px;
    padding-right: 3px;
}

div.nodefaultsearch
{
    background-color: #f1f3f5 !important;
}

label.inputHint
{
    display: none;
}

.togglesearch
{
    cursor: pointer;
    vertical-align: text-top;
}

/* Fix for Opera + RTL */
div#search[dir="rtl"] .togglesearch
{
    margin-left: -5px;
}

/* FILENAMES, STATS */

.icon
{
    float: left;
    margin-right: 8px;
}

.icon[dir="rtl"]
{
    float: right;
    margin-left: 8px;
}

.translations-nav
{
    clear: both;
    margin-top: 1em;
}

.translations-nav:after
{
    content: ".";
    display: block;
    height: 0;
    width: 0;
    clear: both;
    visibility: hidden;
}

.translations-nav li
{
    float: left;
    padding: 0 0 0 9px;
}

html[dir="rtl"] .translations-nav li
{
    float: right;
    padding: 0 9px 0 0;
}

.translations-nav li:after
{
    content:  "|";
    margin: 0 0 0 10px;
}

html[dir="rtl"] .translations-nav li:after
{
    content:  "|";
    margin: 0 10px 0 0;
}

.translations-nav li:last-child:after,
html[dir="rtl"] .translations-nav li:last-child:after
{
    content: '';
    margin: 0;
}

.translations-nav a:link
{
    color: #807970;
}

.translations-nav a:visited
{
    color: #807970;
}

.translations-nav .important
{
    font-weight: bold;
}


/*
 * MISC
 */

a.collapse,
a.slide
{
    cursor: pointer;
}

.collapsethis,
.slidethis
{
    display: none;
}


/*
 * LANGUAGE SPECIFIC SETTINGS
 */

/*
 * Language codes that are styled with right-to-left (rtl) layout:
 *
 * ar (Arabic)
 * arc (Aramaic)
 * dv (Dhivehi)
 * fa (Persian)
 * he (Hebrew)
 * ks (Kashmir)
 * ps (Pashto)
 * ur (Urdu)
 * yi (Yiddish)
 *
 * See: http://translate.sourceforge.net/wiki/l10n/displaysettings
 * Also see: pagelayout.py::languagedir()
 *
 */

/* Doesn't work: [dir="rtl"] */
*:lang(ar), *:lang(arc), *:lang(dv), *:lang(fa), *:lang(he), *:lang(ks), *:lang(ps), *:lang(ur), *:lang(yi)
{
    /* If any styling is necessary for the rtl languages, add it here */
    direction: rtl;
}

:lang(ak)
{
    font-family: Lucida, "DejaVu Sans", inherit;
}

:lang(ar)
{
    font-family: sans-serif;
    font-size: 1em;
}

:lang(bn)
{
    font-family: FreeSans, MuktiNarrow, Vrinda, inherit;
    font-size: medium;
    line-height: 110%;
}

:lang(el)
{
    font-family: "DejaVu Sans", inherit;
}

:lang(fa)
{
    font-family: Terafik, Traffic, Roya, Nazli, Nazanin, sans;
    font-size: large;
}

:lang(ja),
:lang(ko)
{
    font-size: medium;
}

:lang(zh)
{
    font-size: large;
}

:lang(km)
{
    font-family: "Khmer OS System", "Khmer OS", "Khmer Kampongtrach", "CDT Khmer", inherit;
    line-height: 170%;
}

:lang(vi)
{
    font-family: "Lucida Grande", "Vu Phu Tho", "DejaVu Sans", inherit;
}

:lang(vi) a:hover[href]
{
    text-decoration: none;
    color: #606047;
}

:lang(vi) a:active[href]
{
    text-decoration: none;
    color: #606047;
}

/* FIX FOR HEADING SIZES */

h2:lang(bn),
h2:lang(ja),
h2:lang(ko),
h2:lang(zh)
{
    font-size: 170%;
}

h2:lang(bn) a,
h2:lang(ja) a,
h2:lang(ko) a,
h2:lang(zh) a
{
    font-size: 100%;
}


/*
 * Tipsy CSS
 */
.tipsy { padding: 5px; font-size: 10px; position: absolute; z-index: 100000; }
  .tipsy-inner { padding: 5px 8px 4px 8px; background-color: black; color: white; max-width: 200px; text-align: center; }
  .tipsy-inner { border-radius: 3px; -moz-border-radius:3px; -webkit-border-radius:3px; }
  .tipsy-arrow { position: absolute; background: url('images/tipsy.gif') no-repeat top left; width: 9px; height: 5px; }
  .tipsy-n .tipsy-arrow { top: 0; left: 50%; margin-left: -4px; }
    .tipsy-nw .tipsy-arrow { top: 0; left: 10px; }
    .tipsy-ne .tipsy-arrow { top: 0; right: 10px; }
  .tipsy-s .tipsy-arrow { bottom: 0; left: 50%; margin-left: -4px; background-position: bottom left; }
    .tipsy-sw .tipsy-arrow { bottom: 0; left: 10px; background-position: bottom left; }
    .tipsy-se .tipsy-arrow { bottom: 0; right: 10px; background-position: bottom left; }
  .tipsy-e .tipsy-arrow { top: 50%; margin-top: -4px; right: 0; width: 5px; height: 9px; background-position: top right; }
  .tipsy-w .tipsy-arrow { top: 50%; margin-top: -4px; left: 0; width: 5px; height: 9px; }
