/*
 * TRANSLATE PAGE
 */

table.translate-table
{
    width: 100%;
    table-layout: fixed;
}

table.translate-table td
{
    vertical-align: top;
}

td.translation-action
{
    min-height: 1.5em;
}

td.translation-action img
{
    display: block;
    margin: 0 auto;
}

th.translate-original,
th.translate-translation
{
    width: 49%;
}

th.translate-edit
{
    width: 2%;
}

table[dir="rtl"] td.translate-original
{
    padding-left: 5px;
}

.translate-view .translation-text
{
    padding: 1px 0;
    line-height: 1.3;
}

.translation-text
{
    max-width: 100%;
    min-height: 1.5em;
    overflow: auto;
}

div.sources .translation-text
{
    padding: 1px;
}

div.translate-plural .translation-text
{
    padding: 1px;
}

.translation-text-headers
{
    font-weight: bolder;
    color: #006699;
    position: relative;
}

div.translate-plural .translation-text-headers
{
    font-weight: normal;
    padding: 0px 5px;
}

.translation-space
{
    padding: 0 4px 2px;
    margin: 0 0.2em;
    background-image: url('images/squiggle.png');
    background-repeat: repeat-x;
    background-position: text-bottom;
    vertical-align: text-top;
}

/* TRANSLATION UNIT LAYOUT */

div.translate-container
{
    position: relative;
}

div.translate-left
{
    float: left;
    width: 24.5%;
}

div.translate-middle
{
    width: 50%;
    margin: 0 auto;
    position: relative;
}

div.translate-right
{
    float: right;
    width: 24.5%;
}

/* ORIGINAL */

div.source-language > div.translation-text-headers
{
    min-height: 18px;
}

.translate-focus div.translate-original,
div.language-name
{
    border: 1px solid black;
    background-color: #ebebeb;
    color: inherit;
}

div.language-name
{
    border-bottom: 1px solid #ebebeb;
    padding: 1px 5px 0px;
    display: inline-block;
    position: absolute;
    bottom: -1px;
}

div.translation-text-headers[dir="rtl"] div.language-name
{
    margin-right: -2px;
}

.translate-focus div.translate-original,
{
    color: #000;
}

div.alternative div.translate-original,
div.alternative div.language-name
{
    border: 1px solid #ccc;
    background-color: #ddd;
    color: inherit;
}

div.alternative div.language-name
{
    border-bottom: 1px solid #ddd;
}

div.translate-original
{
    min-height: 1.5em;
}

table td.translate-original
{
    padding-right: 5px;
}

/* COMMENTS */

.translate-locations,
.developer-comments,
.translate-context,
.translator-comments
{
    margin-bottom: 0.1em;
}

.translate-locations,
.developer-comments,
.translate-context
{
    overflow: auto;
    padding: 5px 5px 5px 22px;
}

.translate-locations,
.translate-context
{
    font-family: monospace;
    font-size: 75%;
}

.translate-locations
{
    background: transparent url('images/script_code.png') no-repeat 3px center;
    border: 1px solid #ddd;
}

.developer-comments
{
    background: #ffe url('images/information.png') no-repeat 3px center;
    border: 1px solid #fc9;
}

.translate-context
{
    background: #eee url('images/context.png') no-repeat 3px center;
    border: 1px solid #fff;
}

div.translator-comments
{
    text-align: center;
}

div.translator-comments textarea
{
    vertical-align: top;
    min-height: 1em;
}

.terminology div.translator-comments
{
    background: #eaf0f4 url('images/user_comment.png') no-repeat;
    background-position: 5px center;
    border: 1px solid #d2e1ed;
    overflow: auto;
    padding: 5px 25px;
}


/* TRANSLATION */

td.translate-focus
{
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    padding-top: .5em;
    padding-bottom: .5em;
    vertical-align: top;
}

td.translate-full div.translate-original,
td.translate-full textarea.translation
{
    width: 100%;
    min-height: 21px;
    padding: 1px 0 !important;
    margin: 0 auto 5px;
}

/* TM */

.sidebar
{
    padding-bottom: 10px;
}

.sidetitle
{
    letter-spacing: .1em;
    padding-bottom: .2em;
    text-align: center;
}

#tm
{
    position: relative;
}

.tm-unit
{
    margin: 5px 0px 5px 0px;
    padding: 0px 2px 0px 0px;
    background-color: #fff;
    position: relative;
    cursor: pointer;
}

tr.odd .tm-unit
{
    background-color:  #F7F7F5;
}

.tm-original
{
    font-weight: bolder;
}

.tm-translation
{
    font-style: oblique;
}

.tm-translation[dir="rtl"]
{
    text-align: right;
}

/* SUGGESTIONS */

div.translator-comments + #translate-suggestion-container
{
    margin-top: 0.5em;
}

#translate-suggestion-container
{
    margin-top: 1.8em;
}

.translate-suggestion-block
{
    position: relative;
    margin-bottom: 0.5em;
}

.translate-suggestion-block .rejectsugg img
{
    position: absolute;
    top: 0px;
    right: 0px;
    cursor: pointer;
}

.translate-suggestion-block .rejectsugg img[dir="rtl"]
{
    left: 0px;
    right: auto;
}

.translate-suggestion-block .acceptsugg img
{
    position: absolute;
    top: 0px;
    right: 20px;
    cursor: pointer;
}

.translate-suggestion-block .acceptsugg img[dir="rtl"]
{
    left: 20px;
    right: auto;
}

.translate-suggestion
{
    background-color: #ddd;
}

/* CHECKS */

div.check
{
    margin: 1em;
    float: right
}

html[dir="rtl"] div.check
{
    float: left;
}

.checkinfo
{
    vertical-align: top;
}

#translate-checks-block
{
    margin: 0 5px;
}

#translate-checks-block li
{
    display: inline;
}

#translate-checks-block .rejectcheck img
{
    vertical-align: middle;
    cursor: pointer;
}

/* CONTROLS */

.translate-buttons-block
{
    left: 101%;
    position: absolute;
    margin: 0 5px;
}

.translate-buttons-block[dir="rtl"]
{
    left: auto;
    right: 101%;
}

.translate-buttons-block input
{
    margin-bottom: 0.3em;
}

.translate-buttons-block input[type="submit"]
{
    display: block;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    background-position: 5px 50%;
    border: 1px solid #ccc;
    padding: 2px 5px 2px 23px;
    min-width: 110px;
}

.translate-buttons-block[dir="rtl"] input[type"submit"]
{
    padding: 2px 23px 2px 5px;
    background-position: 95% center;
}

.translate-buttons-block .submit
{
    background-image: url('images/good.png');
}

.translate-buttons-block .suggest
{
    background-image: url('images/suggest.png');
}

.translate-buttons-block input[type="submit"]:hover,
.translate-buttons-block input[type="submit"]:active,
.translate-buttons-block input[type="submit"]:focus
{
    border-color: #999;
    border-style: solid;
}

div#prevnext .previous,
div#prevnext .next
{
    border: none;
    color: #0489b7;
    padding: 0 2em;
    background-color: #F7F7F5;
}

tr.odd div#prevnext .previous,
tr.odd div#prevnext .next
{
    background-color: #fff;
}

div#prevnext .previous,
div#prevnext .next,
.translate-buttons-block .submit,
.translate-buttons-block .suggest
{
    background-repeat: no-repeat;
    cursor: pointer;
    min-height: 16px;
}

div#prevnext .previous
{
    background-image: url('images/prev.png');
    background-position: left;
    float: left;
}

div#prevnext[dir="rtl"] .previous
{
    background-image: url('images/next.png');
    background-position: 95% center;
    float: right;
}

div#prevnext .previous:hover,
div#prevnext .previous:active,
div#prevnext .previous:focus
{
    background-image: url('images/prev2.png');
    text-decoration: underline;
}

div#prevnext[dir="rtl"] .previous:hover,
div#prevnext[dir="rtl"] .previous:active,
div#prevnext[dir="rtl"] .previous:focus
{
    background-image: url('images/next2.png');
}

div#prevnext .next
{
    background-image: url('images/next.png');
    background-position: 95% center;
    float: right;
}

div#prevnext[dir="rtl"] .next
{
    background-image: url('images/prev.png');
    background-position: left;
    float: left;
}

div#prevnext .next:hover,
div#prevnext .next:active,
div#prevnext .next:focus
{
    background-image: url('images/next2.png');
    text-decoration: underline;
}

div#prevnext[dir="rtl"] .next:hover,
div#prevnext[dir="rtl"] .next:active,
div#prevnext[dir="rtl"] .next:focus
{
    background-image: url('images/prev2.png');
}

.translate-fuzzy-block
{
    min-width: 150px;
}

.translate-fuzzy-block label
{
    padding: 0 0.5em;
    vertical-align: middle;
}

input.fuzzycheck
{
    vertical-align: middle;
}

.translate-specialchars-block
{
    line-height: 150%;
    float: left;
}

div#prevnext[dir="rtl"] + .translate-specialchars-block
{
    float: right;
}

.translate-toolbar
{
    position: absolute;
    top: 1px;
    /* LTR */
    right: 2px;
}

div.translation-text-headers[dir="rtl"] div.translate-toolbar
{
    right: auto;
    left: 2px;
}

a.copyoriginal,
a.translate-mt,
a.writespecial,
.translate-full .translation-highlight-escape,
.translate-full .translation-highlight-html
{
    cursor: pointer;
}

/* DIFF */

.translate-diff-replace
{
    background-color: #ffff00;
    border: 1px solid #f0f000;
}

.translate-diff-delete
{
    background-color: #ccc;
    text-decoration: line-through;
}

.translate-diff-insert
{
    background-color: #80ff00;
    border: 1px solid #70f000;
}

/* HIGHLIGHT */

.translation-highlight-escape
{
    color: purple;
}

.translation-highlight-html
{
    color: #A00000;
}

/* FUZZY TRANSLATION */

div.translate-translation
{
    min-height: 1.5em;
}

td.translate-full div.translate-translation
{
    margin-bottom: 20px;
}

/* Special handling for languages with big fonts */
td.translate-full div.translate-translation:lang(bn),
td.translate-full div.translate-translation:lang(fa),
td.translate-full div.translate-translation:lang(ja),
td.translate-full div.translate-translation:lang(ko),
td.translate-full div.translate-translation:lang(zh)
{
    margin-bottom: 35px;
}

tr.translate-translation-fuzzy td.translate-translation[dir="ltr"]
{
    color: #666;
    border-left: 4px solid #aaa;
    padding-left: 3px;
}

tr.translate-translation-fuzzy td.translate-translation[dir="rtl"]
{
    color: #666666;
    border-right: 4px solid #aaa;
    padding-right: 3px;
}

tr.translate-translation-fuzzy td.translate-focus
{
    border-color: #aaa;
}

.translate-translation-fuzzy textarea.translation
{
    color: black;
    border-left: 6px groove gray;
    padding-left: 3px;
}

textarea.translation
{
    resize: vertical;
}

/* TERMINOLOGY MANAGEMENT */

td.translate-delete-terminology input
{
    display: block;
    margin: 0 auto;
}

.translate-term-original
{
    padding: 0 10px;
}

.translate-term-translation
{
    padding: 0 25px;
}

.left
{
    float: left;
}

.right
{
    float: right;
}
