/*
 * TRANSLATE PAGE
 */

/* MAIN TOOLBAR */

div#toolbar
{
    background-color: rgba(19, 112, 146, 0.75);
    filter:progid:DXImageTransform.Microsoft.gradient (startColorstr=#bf137092, endColorstr=#bf137092);
    color: #fff;
    text-align: center;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 9999;
}

div#toolbar div
{
    padding: 12px 0;
    margin: 0 auto;
}

/* TRANSLATE TABLE */

table.translate-table
{
    width: 100%;
    table-layout: fixed;
}

table.translate-table td
{
    vertical-align: middle;
}

th.translate-original,
th.translate-translation
{
    width: 50%;
}

table[dir="rtl"] td.translate-original
{
    padding-left: 5px;
}

tr.edit-row
{
    background-color: #f1f7f8;
}

tr.view-row:hover
{
    background-color: #f1f7f8;
    background-image: url('images/pencil.png');
    background-repeat: no-repeat;
    background-position: 49% center;
    cursor: pointer;
}

.translation-text
{
    max-width: 100%;
    overflow: auto;
    font-size: 115%;
}

div.sources {
    margin-top: 2em;
}

div.sources .translation-text
{
    padding: 0.5em 0;
}

div.translate-plural .translation-text
{
    padding: 0;
}

.translation-text-headers
{
    color: #999;
    font-size: 85%;
    position: relative;
}

.sources .translation-text-headers {
    border-bottom: 1px dotted #ccc;
}

div.translate-plural .translation-text-headers
{
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: -2px;
    border-bottom: 0;
}

.translation-space
{
    padding: 0 4px 2px;
    margin: 0 0.2em;
    background-image: url('images/squiggle.png');
    background-repeat: repeat-x;
    background-position: text-bottom;
    vertical-align: text-top;
}

/* TRANSLATION UNIT LAYOUT */

div.translate-container
{
    position: relative;
}

div.translate-left
{
    float: left;
    width: 24.5%;
}

div.translate-middle
{
    width: 50%;
    margin: 0 auto;
    position: relative;
}

div.translate-right
{
    float: right;
    width: 24.5%;
}

/* ORIGINAL */

div.source-language > div.translation-text-headers
{
    min-height: 18px;
}

div.language-name
{
    border-top: 1px dotted #ccc;
    border-left: 1px dotted #ccc;
    border-right: 1px dotted #ccc;
    border-bottom: 1px solid #f1f7f8;
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;

    padding: 1px 5px 0px;
    display: inline-block;
    position: absolute;
    bottom: -1px;
}

.translate-focus div.translate-original,
{
    color: #000;
}

div.alternative
{
    color: #777;
}

div.translate-original
{
    min-height: 1.5em;
}

table td.translate-original
{
    padding-right: 5px;
}

/* COMMENTS */

.translate-locations,
.developer-comments,
.translate-context,
.translator-comments
{
    margin-top: 1em;
    margin-bottom: 1em;
}

.translate-locations,
.developer-comments,
.translate-context
{
    overflow: auto;
    font-size: 85%;
    color: #666;
}

/* SHOULD WE KEEP THESE?*/
.translate-locations,
.translate-context
{
    font-family: monospace;
    font-size: 75%;
}

div.translator-comments
{
    text-align: center;
}

div.translator-comments label
{
    display: block;
    color: #999;
}

div.translator-comments textarea
{
    vertical-align: top;
    min-height: 1em;
    min-width: 100%; /* this won't work in IE I guess */
    color: #666;
    font-size: 90%;
    line-height: 1.2em;
}

.terminology div.translator-comments
{
    background: #eaf0f4 url('images/user_comment.png') no-repeat;
    background-position: 5px center;
    border: 1px solid #d2e1ed;
    overflow: auto;
    padding: 5px 25px;
}


/* TRANSLATION */

td.translate-focus
{
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding-top: .5em;
    padding-bottom: .5em;
    vertical-align: top;
}

td.translate-full div.translate-original,
td.translate-full textarea.translation
{
    width: 100%;
    margin: 0 auto 1em;
}

/* TM */

.sidebar
{
    padding: 10px 20px;
}

.sidetitle
{
    padding-bottom: 0.5em;
    color: #999;
    font-size: 85%;
}

#tm
{
    position: relative;
}

.tm-unit
{
    margin: 0 0.5em 0.5em 0;
    padding: 0.3em 0.6em;
    border: 1px dotted #999;
    cursor: pointer;
    float: left;
    font-size: 90%;
}

.tm-unit:hover {
    background-color: #fff;
}

.tm-original
{
    font-weight: bolder;
    padding-right: 0.4em;
}

.tm-translation
{
    font-style: oblique;
}

.tm-translation[dir="rtl"]
{
    text-align: right;
}

/* SUGGESTIONS */

div.translator-comments + #translate-suggestion-container
{
    margin-top: 0.5em;
}

#translate-suggestion-container
{
    margin-top: 1.8em;
}

.translate-suggestion-block
{
    position: relative;
    margin-bottom: 0.5em;
}

.translate-suggestion-block > strong
{
    color: #999;
}

.translate-suggestion-block .rejectsugg img
{
    position: absolute;
    top: 0px;
    right: 0px;
    cursor: pointer;
}

.translate-suggestion-block .rejectsugg img[dir="rtl"]
{
    left: 0px;
    right: auto;
}

.translate-suggestion-block .acceptsugg img
{
    position: absolute;
    top: 0px;
    right: 20px;
    cursor: pointer;
}

.translate-suggestion-block .acceptsugg img[dir="rtl"]
{
    left: 20px;
    right: auto;
}

.translate-suggestion
{
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 0.5em;
    color: #777;
}

/* CHECKS */

div.check
{
    margin: 1em;
    float: right;
}

html[dir="rtl"] div.check
{
    float: left;
}

.checkinfo
{
    vertical-align: top;
}

#translate-checks-block
{
    margin: 0 1em;
}

#translate-checks-block .sidetitle
{
    color: #900;
}

#translate-checks-block li
{
    display: inline-block;
    margin-right: 0.5em;
    margin-bottom: 0.8em;
    border: 1px dotted #900;
    padding: 0px 4px;
}

li.check > a {
    cursor: help;
}

#translate-checks-block .rejectcheck img
{
    vertical-align: top;
    margin-top: 2px;
    margin-bottom: 2px;
    cursor: pointer;
}

/* CONTROLS */

.translate-buttons-block
{
    left: 102%;
    position: absolute;
    margin: 0 10px;
}

.translate-buttons-block[dir="rtl"]
{
    left: auto;
    right: 102%;
}

.translate-buttons-block input[type="submit"]
{
    display: block;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    background-position: 10px 50%;
    border: 1px solid #ccc;
    padding: 5px 10px 5px 33px;
    min-width: 110px;
    margin-bottom: 1em;
}

.translate-buttons-block[dir="rtl"] input[type="submit"]
{
    padding: 5px 33px 5px 10px;
    background-position: 90% center;
}

.translate-buttons-block input.submit,
.translate-buttons-block input.suggest
{
    color: #000;
    background-color: inherit;
}

.translate-buttons-block input.submit
{
    background-image: url('images/good.png');
    background-color: #dfd;
    border-color: #3c3;
}

.translate-buttons-block input.suggest
{
    background-image: url('images/suggest.png');
    background-color: #ffd;
    border-color: #cc3;
}

.translate-buttons-block input[type="submit"]:hover,
.translate-buttons-block input[type="submit"]:active,
.translate-buttons-block input[type="submit"]:focus
{
    border-color: #999;
    border-style: solid;
}

div#prevnext .previous,
div#prevnext .next
{
    border: none;
    color: #0489b7;
    padding: 0 2em;
    background-color: transparent;
}

div#prevnext .previous,
div#prevnext .next,
.translate-buttons-block .submit,
.translate-buttons-block .suggest
{
    background-repeat: no-repeat;
    cursor: pointer;
    min-height: 16px;
}

div#prevnext .previous
{
    background-image: url('images/prev.png');
    background-position: left;
    float: left;
}

div#prevnext[dir="rtl"] .previous
{
    background-image: url('images/next.png');
    background-position: 95% center;
    float: right;
}

div#prevnext .previous:hover,
div#prevnext .previous:active,
div#prevnext .previous:focus
{
    background-image: url('images/prev2.png');
    text-decoration: underline;
}

div#prevnext[dir="rtl"] .previous:hover,
div#prevnext[dir="rtl"] .previous:active,
div#prevnext[dir="rtl"] .previous:focus
{
    background-image: url('images/next2.png');
}

div#prevnext .next
{
    background-image: url('images/next.png');
    background-position: 95% center;
    float: right;
}

div#prevnext[dir="rtl"] .next
{
    background-image: url('images/prev.png');
    background-position: left;
    float: left;
}

div#prevnext .next:hover,
div#prevnext .next:active,
div#prevnext .next:focus
{
    background-image: url('images/next2.png');
    text-decoration: underline;
}

div#prevnext[dir="rtl"] .next:hover,
div#prevnext[dir="rtl"] .next:active,
div#prevnext[dir="rtl"] .next:focus
{
    background-image: url('images/prev2.png');
}

.translate-fuzzy-block
{
    min-width: 150px;
}

.translate-fuzzy-block label
{
    vertical-align: middle;
}

input.fuzzycheck
{
    vertical-align: middle;
}

.translate-specialchars-block
{
    text-align: center;
    padding-bottom: 0.5em;
}

.translate-toolbar
{
    position: absolute;
    top: 1px;
    /* LTR */
    right: 2px;
}

div.translation-text-headers[dir="rtl"] div.translate-toolbar
{
    right: auto;
    left: 2px;
}

a.copyoriginal,
a.translate-mt,
a.writespecial,
.translate-full .translation-highlight-escape,
.translate-full .translation-highlight-html
{
    cursor: pointer;
}

a.writespecial
{
    border: 1px dotted #999;
    padding: 0 0.2em;
    min-width: 1.3em;
    margin: 2px 0;
    color: #666;
    display: inline-block;
}

a.writespecial:hover
{
    background-color: #fff;
    text-decoration: none;
}

/* DIFF */

.translate-diff-replace
{
    background-color: #ffff00;
    border: 1px solid #f0f000;
}

.translate-diff-delete
{
    background-color: #ccc;
    text-decoration: line-through;
}

.translate-diff-insert
{
    background-color: #80ff00;
    border: 1px solid #70f000;
}

/* HIGHLIGHT */

.translation-highlight-escape
{
    color: purple;
}

.translation-highlight-html
{
    color: #A00000;
}

/* FUZZY TRANSLATION */

div.translate-translation
{
    min-height: 1.5em;
}

td.translate-full div.translate-translation
{
    margin-bottom: 20px;
}

/* Special handling for languages with big fonts */
td.translate-full div.translate-translation:lang(bn),
td.translate-full div.translate-translation:lang(fa),
td.translate-full div.translate-translation:lang(ja),
td.translate-full div.translate-translation:lang(ko),
td.translate-full div.translate-translation:lang(zh)
{
    margin-bottom: 35px;
}

tr.translate-translation-fuzzy td.translate-translation,
.translate-translation-fuzzy textarea.translation
{
    color: #999;
}

tr.translate-translation-fuzzy td.translate-focus
{
    border-color: #aaa;
}

textarea.translation
{
    resize: vertical;
    font-size: 115%;
}

/* TERMINOLOGY MANAGEMENT */

td.translate-delete-terminology input
{
    display: block;
    margin: 0 auto;
}

.translate-term-original
{
    padding: 0 10px;
}

.translate-term-translation
{
    padding: 0 25px;
}

.left
{
    float: left;
}

.right
{
    float: right;
}
