#zoom {
    padding: 12px;
    position: absolute;
    right: 0px;
    top: 25px;
    font-size: 12px;
    font-weight: bold;

    filter:alpha(opacity=40);
    -moz-opacity: 0.4;
    -khtml-opacity: 0.4;
    opacity: 0.4;
}

html[dir="rtl"] #zoom {
    right: auto;
    left: 0px;
}

#zoom a {
    padding: 0 2px;
    border: 1px dotted transparent;
}

#zoom:hover {
    filter:alpha(opacity=100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
}

#zoom a:hover {
    border: 1px dotted #0489b7;
    text-decoration: none;
}

/* size overrides for different soom levels */

body.zoom-out-2 #content .documentation,
body.zoom-out-2 #content table.sortable,
body.zoom-out-2 table.translate-table,
body.zoom-out-2 table.stats {
    font-size: 90%;
}

body.zoom-out-1 #content .documentation,
body.zoom-out-1 #content table.sortable,
body.zoom-out-1 table.translate-table,
body.zoom-out-1 table.stats {
    font-size: 95%;
}

body.zoom-in-1 #content .documentation,
body.zoom-in-1 #content table.sortable,
body.zoom-in-1 table.translate-table,
body.zoom-in-1 table.stats {
    font-size: 115%;
}

body.zoom-in-2 #content .documentation,
body.zoom-in-2 #content table.sortable,
body.zoom-in-2 table.translate-table,
body.zoom-in-2 table.stats {
    font-size: 130%;
}

