{% load i18n %}
<option
  value="browse"
  data-href="{{ browse_url }}">
  {% trans "Browse" %}
</option>
<option
  value="translate"
  data-href="{{ translate_url }}">
  {% trans "Translate" %}
</option>
{% if page == 'translate' %}
<option disabled></option>
<option
  value="export" class="js-export-view"
  data-new-tab="true"
  data-export-url="{{ export_url }}">
  {% trans "Export View" %}
</option>
{% endif %}
{% if user.is_superuser or request.permissions.administrate %}
<option disabled></option>
<option
  value="admin-terminology" class="admin"
  data-href="{% url 'pootle-terminology-manage' language.code project.code %}">
  {% trans "Terminology" %}
</option>
<option
  value="admin-permissions" class="admin"
  data-href="{% url 'pootle-tp-admin-permissions' language.code project.code %}">
  {% trans "Permissions" %}
</option>
{% endif %}
