{% load url from future %}
{% load i18n baseurl %}
<ul id="tabs">
  <li><a href='{% url 'pootle-tp-overview' language.code project.code resource_path %}' class="tpoverview">{% trans "Overview" %}</a></li>
  <li><a href='{% url 'pootle-tp-translate' language.code project.code resource_path %}' class="tptranslate">{% trans "Translate" %}</a></li>
  {% if user.is_superuser or request.permissions.administrate %}
  <li><a href="{% url 'pootle-terminology-manage' language.code project.code %}" class="tpterminology admintab">{% trans "Terminology" %}</a></li>
  <li><a href="{% url 'pootle-tp-admin-permissions' language.code project.code %}" class="tpadminpermissions admintab">{% trans "Permissions" %}</a></li>
  {% endif %}
</ul>
