{% extends "translation_projects/base.html" %}
{% load url from future %}
{% load assets cache cleanhtml i18n locale search translation_project_tags goal_tags common_tags profile_tags %}
{% get_current_language as LANGUAGE_CODE %}

{% block body_id %}tpoverview{% endblock %}
{% block body_class %}{{ block.super }} js-not-loaded{% endblock %}

{% block breadcrumbs %}
  {{ block.super }}
  {% cache settings.CACHE_TIMEOUT path_trail resource_obj.id %}
    <li class="file-path"><a href="{% url 'pootle-tp-overview' language.code project.code '' %}">{{ project.code }}</a> / {{ resource_obj|trail:"/" }}</li>
  {% endcache %}
{% endblock %}

{% block header_content %}
  <div id="progressbar">
    {% include "core/_progressbar.html" %}
  </div>
  <div><a id="js-path-summary" data-target="js-path-summary-more" href="{{ url_path_summary_more }}">{% trans "Expand details" %}</a></div>
  <div id="js-path-summary-more" data-loaded="false" data-collapsed="true"></div>

{% endblock %}

{% block search %}{% render_search %}{% endblock %}

{% block content %}
<div id="translate-actions">
  <ul id="js-translate-actions-list"></ul>
</div>

{% if table %}
<div class="hd">
  <h2>{% trans "Files and Subfolders" %}</h2>
</div>

<div class="bd">
  <div class="files-subfolders" lang="{{ LANGUAGE_CODE }}">
    {% display_table table %}
  </div>
</div>
{% endif %}

{% endblock content %}

{% block scripts_extra %}
{{ block.super }}
<script type="text/javascript">
$(function() {
  PTL.search.init();
  PTL.stats.init({
      pootlePath: "{{ resource_obj.pootle_path }}",
  });
  PTL.stats.load(function () {
    $("body").spin(false);
  });

  PTL.common.updateRelativeDates();
  setInterval(PTL.common.updateRelativeDates, 6e4);

{% if upload_form %}
  $("select#id_upload_to_dir").parent().hide();
  $("input#id_file").change(function() {
    if (/\.zip$/.test($(this).val())) {
      $("select#id_upload_to").parent().hide();
      $("select#id_upload_to_dir").parent().show();
    } else {
      $("select#id_upload_to_dir").parent().hide();
      $("select#id_upload_to").parent().show();
    }
  });
{% endif %}
});
</script>
{% if user.is_superuser or request.permissions.administrate %}
{% assets "js_admin" %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
{% endif %}
{% endblock %}
