{% extends "translation_projects/base.html" %}
{% load assets baseurl cache cleanhtml i18n locale progressbar search translation_project_tags common_tags profile_tags %}
{% load url from future %}
{% get_current_language as LANGUAGE_CODE %}

{% block body_id %}tpoverview{% endblock %}

{% block breadcrumbs %}
  {{ block.super }}
  {% cache settings.CACHE_TIMEOUT path_trail resource_obj.id %}
  <li class="file-path"><a href="{{ translation_project.pootle_path|l }}">{{ project.code }}</a> / {{ resource_obj|trail:"/" }}</li>
  {% endcache %}
{% endblock %}

{% block search %}{% render_search %}{% endblock %}

{% block content %}
<div id="translate-actions">
  <!--ul>
    { for action in translate_actions }
      { if action }
        <li>{ action|safe }</li>
      { endif }
    { endfor }
  </ul-->
</div>

<div class="hd">
  <h2 class="with-progressbar">
    (<a id="js-path-summary" data-target="js-path-summary-more" href="{{ url_path_summary_more }}">{% trans "Expand details" %}</a>)
    <div id="progressbar"></div>
  </h2>
</div>

<div class="path-summary-more" id="js-path-summary-more" data-loaded="false" data-collapsed="true">
</div>

{% if table %}
<div class="bd">
  <div class="files-subfolders" lang="{{ LANGUAGE_CODE }}">
    {% display_table table %}
  </div>
</div>
{% endif %}

{% endblock content %}

{% block scripts_extra %}
{{ block.super }}
<script type="text/javascript">
$(function() {
  PTL.search.init();
  PTL.stats.init({ url: "{{ url_path_stats }}" });
  PTL.stats.load();
});
</script>
{% if user.is_superuser or request.permissions.administrate %}
{% assets "js_admin" %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
{% endif %}
{% endblock %}
