{% load i18n %}
{% load url from future %}
<option
  value="overview"
  data-href="{% url 'pootle-language-overview' language.code %}">
  {% trans "Overview" %}
</option>
<option
  value="translate"
  data-href="{% url 'pootle-language-translate' language.code %}">
  {% trans "Translate" %}
</option>
{% if user.is_superuser or request.permissions.administrate %}
<option disabled></option>
{% endif %}
<option
  value="news"{% if user.is_superuser or request.permissions.administrate %} class="admin"{%endif%}
  data-href="{% url 'pootle-notifications-language-notices' language.code %}">
  {% trans "News" %}
</option>
{% if user.is_superuser or request.permissions.administrate %}
<option
  value="admin-permissions" class="admin"
  data-href="{% url 'pootle-language-admin-permissions' language.code %}">
  {% trans "Permissions" %}
</option>
{% endif %}
