{% load url from future %}
{% load i18n %}
<ul id="tabs">
  <li><a href="{% url 'pootle-language-overview' language.code %}" class="languageoverview" title="{% trans 'Language main page' %}">{% trans "Overview" %}</a></li>
  <li><a href="{% url 'pootle-language-overview' language.code %}notices" class="languagenews" title="{% trans 'Language news' %}">{% trans "News" %}{% if user.is_superuser or request.permissions.administrate %} <span class="admin">+</span>{%endif%}</a></li>
  <li><a href="{% url 'pootle-language-translate' language.code %}" class="languagetranslate" title="{% trans 'Translate this language' %}">{% trans "Translate" %}</a></li>
  {% if user.is_superuser or request.permissions.administrate %}
  <li><a href="{% url 'pootle-language-admin-permissions' language.code %}" class="languageadmin admintab" title="{% trans 'Administrate your language permissions' %}">{% trans "Permissions" %}</a></li>
  {% endif %}
</ul>
