{% extends "languages/base.html" %}
{% load i18n baseurl cleanhtml assets common_tags search progressbar %}
{% load url from future %}

{% get_current_language as LANGUAGE_CODE %}

{% block body_id %}languageoverview{% endblock %}

{% block search %}{% render_search %}{% endblock %}

{% block content %}
<div class="hd">
  <h2 class="with-progressbar">
    {{ language.summary }}
    {% progressbar stats %}
  </h2>
</div>

<div class="bd">
  {% display_table table %}
</div>

{% endblock content %}

{% block postcontent %}
{% include "core/_top_contributors.html" %}
{% endblock postcontent %}

{% block scripts_extra %}
<script type="text/javascript">
$(function() {
  PTL.search.init();

  PTL.common.updateRelativeDates();
  setInterval(PTL.common.updateRelativeDates, 6e4);

  $("td.stats-name").filter(":not([dir])").bidi();
});
</script>
{% if user.is_superuser or request.permissions.administrate %}
{% assets "js_admin" %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
{% endif %}
{% endblock %}
