<?xml version="1.0" encoding="UTF-8"?>
<?python
from Pootle.templates import pootlepage
?>
<include py:layout="'page_layout.kid'" xmlns:py="http://purl.org/kid/ns#">

  <div id="precontent" py:def="precontent_block()">
    <div class="intro" py:content="XML(description)">this is a demo installation of pootle</div>
  </div><!--precontent-->

  <div id="content" py:def="content_block()">
    <h2 class="title" py:content="abouttitle">About Pootle</h2>
    
    <div class="info" py:content="XML(introtext)">
      <strong>Pootle</strong> is a simple web portal that should allow you to <strong>translate</strong>! Since Pootle is <strong>Free Software</strong>, you
      can download it and run your own copy if you like. You can also help participate in the development in many ways (you don't have to be able to
      program).
    </div>

    <div class="info" py:content="XML(hosttext)">
      The Pootle project itself is hosted at <a href="http://translate.sourceforge.net/">translate.sourceforge.net</a> where you can find the details about
      source code, mailing lists etc.
    </div>

    <div class="info" py:content="XML(nametext)">
      The name stands for <strong>PO</strong>-based <strong>O</strong>nline <strong>T</strong>ranslation / <strong>L</strong>ocalization <strong>E</strong>ngine, but you may need to read <a href=
      "http://www.thechestnut.com/flumps.htm">this</a>.
    </div>

    <h2 class="title" py:content="versiontitle">Versions</h2>
  </div><!--content-->

  <div id="postcontent" py:def="postcontent_block()">
    <div class="info" py:content="XML(versiontext)">
      This site is running:<br />
      Pootle<br />
      Translate Toolkit<br />
      jToolkit<br />
      Python
    </div>
  </div><!--postcontent-->

</include>

