<?xml version="1.0" encoding="UTF-8"?>
<?python
from Pootle.templates import pootlepage
?>
<!DOCTYPE html  PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns:py="http://purl.org/kid/ns#" xmlns="http://www.w3.org/1999/xhtml" xml:lang="$uilanguage" lang="$uilanguage" dir="$uidir">
<head>

  <title py:content="pagetitle">Pootle</title>

  <meta name="description" content="${meta_description}" />
  <meta name="keywords" content="${', '.join(keywords)}" />
  <link rel="stylesheet" type="text/css" href="${mediaurl}style.css" />
  <link rel="shortcut icon" href="${baseurl}favicon.ico" />
</head>

<body>

<div id="wrapper">
  <div id="doc">
    
    <div py:replace="pootlepage.header(links, sessionvars, baseurl, instancetitle)"/>

    <div id="body">
      
      <div py:if="message" class="site-message">
        <div class="info" py:if="message" py:content="XML(message)">Message</div>
      </div>
      
      <div class="intro" py:content="XML(description)">this is a demo installation of pootle</div>

      <h2 class="title" py:content="abouttitle">About Pootle</h2>

      <div class="info" py:content="XML(introtext)">
        <strong>Pootle</strong> is a simple web portal that should allow you to <strong>translate</strong>! Since Pootle is <strong>Free Software</strong>, you
        can download it and run your own copy if you like. You can also help participate in the development in many ways (you don't have to be able to
        program).
      </div>

      <div class="info" py:content="XML(hosttext)">
        The Pootle project itself is hosted at <a href="http://translate.sourceforge.net/">translate.sourceforge.net</a> where you can find the details about
        source code, mailing lists etc.
      </div>

      <div class="info" py:content="XML(nametext)">
        The name stands for <strong>PO</strong>-based <strong>O</strong>nline <strong>T</strong>ranslation / <strong>L</strong>ocalization <strong>E</strong>ngine, but you may need to read <a href=
        "http://www.thechestnut.com/flumps.htm">this</a>.
      </div>

      <h2 class="title" py:content="versiontitle">Versions</h2>

      <div class="info" py:content="XML(versiontext)">
        This site is running:<br />
        Pootle<br />
        Translate Toolkit<br />
        jToolkit<br />
        Python
      </div>
    </div><!-- end #body-->

  </div><!-- end #doc -->
</div><!-- end #wrapper -->

<div py:replace="pootlepage.footer(links, baseurl, uidir)"/>

<script src="${mediaurl}js/jquery/jquery.min.js" type="text/javascript"></script>

<!--[if lt IE 7.]>
  <script defer type="text/javascript" src="${mediaurl}js/correctpng.js"></script>
<![endif]-->

</body>
</html>
