<?xml version="1.0" encoding="UTF-8"?>
<?python
from Pootle.templates import pootlepage
?>
<include py:layout="'page_layout.kid'" xmlns:py="http://purl.org/kid/ns#">

  <div id="precontent" py:def="precontent_block()">
    <div class="info" py:if="introtext" py:content="introtext">Message</div>
  </div><!--precontent-->

  <div id="content" py:def="content_block()">
    <form action="" method="post" name="activate" id="activate">
      <table cellpadding="1" width="70%" border="0" cellspacing="1">
        <tr>
          <td colspan="1" style="width: 33%" rowspan="1" valign="top">
            <span title="${username_tooltip}" py:content="username_title">Username</span>
          </td>
	  
          <td colspan="1" style="width: 66%" rowspan="1" valign="top">
            <input style="width: 100%" type="text" name="username" value="${username}" />
          </td>
        </tr>
	
        <tr>
          <td colspan="1" style="width: 33%" rowspan="1" valign="top">
            <span title="${code_tooltip}" py:content="code_title">Activation Code</span>
          </td>
	  
          <td colspan="1" style="width: 66%" rowspan="1" valign="top">
            <input style="width: 100%" type="text" name="activationcode" value="${code}" />
          </td>
        </tr>
      </table><input type="submit" name="activate" value="${activate_text}" />
    </form>
  </div><!--content-->

</include>
