<?xml version="1.0" encoding="UTF-8"?>
<?python
from Pootle.templates import pootlepage
?>
<!DOCTYPE html  PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns:py="http://purl.org/kid/ns#" xmlns="http://www.w3.org/1999/xhtml" xml:lang="$uilanguage" lang="$uilanguage" dir="$uidir">
<head>

  <title py:content="pagetitle">Pootle User Admin Page</title>

  <link rel="stylesheet" type="text/css" href="${baseurl}style.css" />
  <link rel="shortcut icon" href="${baseurl}favicon.ico" />
</head>

<body>

<div id="wrapper">
<div id="doc">
    
  <div py:replace="pootlepage.header(links, request, baseurl, instancetitle)"/>

  <div id="body">

    <div py:if="not request.issiteadmin" class="site-message" lang="en" dir="ltr">
      <div class="info"> You do not have the rights to administer Pootle </div>
    </div>

      <div py:if="request.issiteadmin" class="module first">
          <div class="site-message" py:if="message">
              <div class="info" py:if="message" py:content="XML(message)">Message</div>
          </div>
          <div class="hd"> </div>
          <div class="bd">
            <ul class="linklist">
              <li><a href="../home/" py:content="text.home">Home page</a></li>
              <li><a href="index.html" py:content="text.admin">Main Admin page</a></li>
            </ul>
            
            <div class="fullwidthcontents">
              <h3 class="title" py:content="text.users">Users</h3>

              <form action="" method="post" name="users" id="users">
                <table cellpadding="1" cellspacing="1">
                  <tr>
                    <td colspan="1" rowspan="1" py:for="option in options">
                      <h3 class="title" py:content="option.title">Login</h3>
                    </td>
                  </tr>

                  <tr py:for="user in users">
                    <td colspan="1" rowspan="1" py:content="user.code">davidfraser</td>

                    <td colspan="1" rowspan="1" py:for="option in user.options">
                       <input name="${option.name}" type="${option.type}" value="${option.value}" checked="${option.checked}"/>
                       <span py:if="option.label" py:content="option.label"/>
                    </td>

                  </tr>

                  <tr>
                    <td colspan="1" rowspan="1" py:for="option in options">
                      <input py:if="option.newname" name="${option.newname}" type="${option.type}" value="${option.newvalue}" size="${option.size}" checked="${option.checked}"/>
                      <span py:if="option.label" py:content="option.label"/>
                    </td>
                  </tr>
                </table><input type="submit" name="changeusers" value="${text.savechanges}" />
              </form>
            </div>
          </div>
          <div class="ft"></div>
      </div>

  </div><!-- end #body-->

  <div py:replace="pootlepage.login_form(username_title, password_title, login_text, register_text, canregister, request, uilanguage)"/>
	
</div><!-- end #doc -->
</div><!-- end #wrapper -->

  <div py:replace="pootlepage.footer(links, baseurl)"/>

  <script type="text/javascript" src="/js/jquery.min.js"></script>
  <script type="text/javascript" src="/js/script.js"></script>

  <script type="text/javascript" src="${baseurl}js/sorttable.js"></script>

  <!--[if lt IE 7.]>
    <script defer type="text/javascript" src="${baseurl}js/correctpng.js"></script>
  <![endif]-->

</body>
</html>
