{% load i18n baseurl %}

<div id="submenu" lang="{{ LANGUAGE_CODE }}">
    <div id="submenu-tabs">
        <a href='{{ "."|l }}' class="admingeneral" title="{% trans 'Configure the general settings for your site' %}">{% trans "General" %}</a>
        <a href='{{ "users.html"|l }}' class="adminusers" title="{% trans 'Manage the users' %}">{% trans "Users" %}</a>
        <a href='{{ "languages.html"|l }}' class="adminlanguages" title="{% trans 'Mange the languages' %}">{% trans "Languages" %}</a>
        <a href='{{ "projects.html"|l }}' class="adminprojects" title="{% trans 'Manage the projects' %}">{% trans "Projects" %}</a>
        <a href='{{ "permissions.html"|l }}' class="adminpermissions" title="{% trans 'Manage the default permissions' %}">{% trans "Permissions" %}</a>
    </div>
</div>
