{% extends "base.html"  %}
{% load i18n baseurl %}

{% block title %}
{{ block.super }}: {% trans "Administration" %}
{% endblock %}

{% block breadcrumbs %}
<div id="breadcrumbs">
    <h2 class="title">{% block breadcrumb_content %}{% trans "Administration" %}{% endblock %}</h2>
</div>
{% endblock %}

{% block precontent %}
{% include "admin_profile_menu.html" %}
{% endblock %}

{% block content %}
<div class="settings-container centered" lang="{{ LANGUAGE_CODE }}">
    <p class="info">{% block section_description %}{% endblock %}</p>

    {% block section_body %}{% endblock %}
</div>
{% endblock %}

{% block scripts_extra %}
{{ block.super }}
<script type="text/javascript" src="{{ "js/admin.js"|m }}"></script>
{% endblock %}
