{% load i18n %}

<script type="text/javascript">
  $("input.accept").click(function(e) {
    e.preventDefault();
    PTL.editor.process_submit(e, "{{ type_class }}");
    $.fancybox.close();
  });
</script>
<div class="form" lang="{{ LANGUAGE_CODE }}">
  <form method="post" action="" id="captcha">
    {% for field, value in post_data.iteritems %}
      {% ifnotequal field "captcha" %}<input type="hidden" name="{{ field|escape }}" value="{{ value|escape }}" />{% endifnotequal %}
    {% endfor %}
    <h2>{% trans "Are You Human?" %}</h2>
    <p>{% trans "To protect the server against attacks we have to verify that submissions are made by human users." %}</p>
    <p>{% trans "Please answer this question:" %}</p>
    <p class="buttons captcha">
      <span class="question">{{ form.knotty_question|safe }} =</span>
      {{ form }}
      <input type="submit" class="accept" value="{% trans 'Confirm' %}" />
    </p>
  </form>
</div>
