{% extends "base.html" %}
{% load i18n baseurl %}

{% block title %}
{{ block.super }} » {% trans "Help" %}
{% endblock %}

{% block breadcrumb_content %}
{{ block.super }} » <span>{% trans "Help" %}</span>
{% endblock %}

{% block content %}
<div class="documentation" lang="en" dir="LTR">
    {% ifequal params.docfile "howto.html" %}
        {% include "docs/howto.html" %}
    {% else %}
        {% ifequal params.docfile "resources.html" %}
            {% include "docs/resources.html" %}
        {% else %}
            {% include "docs/index.html" %}
        {% endifequal %}
    {% endifequal %}
</div>
{% endblock %}
