<?xml version="1.0" encoding="UTF-8"?>
<?python
from Pootle.templates import pootlepage
?>

<include py:layout="'page_layout.kid'" xmlns:py="http://purl.org/kid/ns#">

  <div id="content" py:def="content_block()">
    <div id="content" dir="$uidir" lang="$uilanguage">
      <div class="contents">
	<h3 class="title" py:content="pagetitle">Error</h3>
        <div class="item-description" py:if="message" py:content="XML(message)">An error occured</div>
        <div class="item-description" py:if="traceback"><pre py:content="traceback">Traceback (most recent call last):</pre></div>
        <a href="javascript:history.back();" py:content="back">Back</a>
      </div>
    </div>
  </div><!--content-->

</include>

