{% extends "base.html"  %}

{% load baseurl i18n %}

{% block title %}
{{ block.super }}: {{ language.name }}
{% endblock %}

{% block extra_head %}
<link rel="alternate" type="application/rss+xml" href="{% url pootle_notifications.feeds.view feed_path %}" />
{% endblock %}

{% block breadcrumbs %}
<div id="breadcrumbs">
    <a href="{% filter l %}/{{ language.code }}/{% endfilter %}">{{ language.name }}</a>
</div>
{% endblock %}

{% block precontent %}
{% include "language_menu.html" %}
{% endblock %}
