{% extends "base.html"  %}

{% load baseurl i18n %}

{% block title %}
{% blocktrans with block.super as prevtitle and language.name as langname %}
{{ prevtitle }}: {{ langname }}
{% endblocktrans %}
{% endblock %}

{% block extra_head %}
<link rel="alternate" type="application/rss+xml" href="{% url pootle_notifications.feeds.view feed_path %}" />
{% endblock %}

{% block breadcrumbs %}
<div id="breadcrumbs">
    <h2 class="title"><a href="{% filter l %}/{{ language.code }}/{% endfilter %}">{{ language.name }}</a></h2>
</div>
{% endblock %}

{% block precontent %}
{% include "language_menu.html" %}
{% endblock %}
