{% extends "base.html"  %}

{% load baseurl i18n %}

{% block title %}
{{ block.super }}: {{ language.name }}
{% endblock %}

{% block breadcrumb_content %}
    {{ block.super }} » 
    <span><a href="{% filter l %}/{{ language.code }}/{% endfilter %}">{{ language.name }}</a></span>
{% endblock %}

{% block extra_head %}
<link rel="alternate" type="application/rss+xml" href="{% url pootle_notifications.feeds.view feed_path %}" />
{% endblock %}

{% block precontent %}
{% include "language_menu.html" %}
{% endblock %}
