<?xml version="1.0" encoding="UTF-8"?>
<?python
from Pootle.templates import pootlepage
?>
<!DOCTYPE html  PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns:py="http://purl.org/kid/ns#" xmlns="http://www.w3.org/1999/xhtml" xml:lang="$uilanguage" lang="$uilanguage" dir="$uidir">
<head>

  <title py:content="pagetitle">Login to Pootle</title>

  <link rel="stylesheet" type="text/css" href="${baseurl}style.css" />
  <link rel="shortcut icon" href="${baseurl}favicon.ico" />
</head>

<body>

<div id="wrapper">
  <div id="doc">
    
    <div py:replace="pootlepage.header(links, sessionvars, baseurl, instancetitle)"/>
    
    <div id="body">
      
      <div class="site-message" py:if="introtext or message">
        <div class="error" py:if="introtext" py:content="introtext">Message</div>
        <div class="info" py:if="message" py:content="XML(message)">Message</div>
      </div>

      <form action="" method="post" name="loginform" id="loginform">
        <table cellpadding="1" width="70%" cellspacing="1">
          <tr>
            <td colspan="1" rowspan="1" style="width: 33%" py:content="username_title">Username:</td>
            <td colspan="1" rowspan="1" style="width: 66%">
              <input style="width: 100%" type="text" name="username" value="${username}" />
            </td>
          </tr>

          <tr>
            <td colspan="1" rowspan="1" py:content="password_title">Password:</td>
            <td colspan="1" rowspan="1">
              <input style="width: 100%" type="password" name="password" value="" />
            </td>
          </tr>
	  
          <tr>
            <td colspan="1" rowspan="1" py:content="language_title">Language:</td>
            <td colspan="1" rowspan="1">
              <select style="width: 100%" name="language">
                <option py:for="l in languages" py:attrs="selected=l.selected" value="${l.code}" py:content="l.name">
                  Language Name
                </option>
              </select>
            </td>
          </tr>
        </table>
        <input type="submit" name="Login" value="${login_text}" />
        <input type="hidden" name="islogin" value="true" />
      </form>

    </div><!-- end #body-->

    <div py:replace="pootlepage.login_form(username_title, password_title, login_text, register_text, canregister, request, uilanguage, sessionvars)"/>
	
  </div><!-- end #doc -->
</div><!-- end #wrapper -->

<div py:replace="pootlepage.footer(links, baseurl)"/>

<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/script.js"></script>

<!--[if lt IE 7.]>
  <script defer type="text/javascript" src="${baseurl}js/correctpng.js"></script>
<![endif]-->

<script>
  $(document).ready(function () {
    // Set focus to login form
    if (document.loginform) {
      document.loginform.username.focus();
    }
  });
</script>

</body>
</html>
