<?xml version="1.0" encoding="UTF-8"?>
<?python
from Pootle.templates import pootlepage
?>

<include py:layout="'page_layout.kid'" xmlns:py="http://purl.org/kid/ns#">

  <div id="precontent" py:def="precontent_block()">
    <div class="info" py:if="introtext" py:content="introtext">Message</div>
  </div><!--precontent-->

  <div id="content" py:def="content_block()">
    <div class="module first clear">
      <div class="bd">
	<form action="" method="post">
	  <table>
	    <div py:content="XML(user_form.as_table())" />
	    <div py:content="XML(profile_form.as_table())" />
	  </table>
	  <input type="submit"/>
	</form>
      </div>
    </div>
  </div><!--content-->

</include>

      

