<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html  PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns:py="http://purl.org/kid/ns#" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <title>Pootle Page</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" type="text/css" href="${baseurl}pootle.css" />
  <link rel="shortcut icon" href="${baseurl}favicon.ico" />
  <!--[if lt IE 7.]>
    <script defer type="text/javascript" src="${baseurl}js/correctpng.js"></script>
  <![endif]-->
</head>
<body>
  <div lang="und" id="banner">
    <table cellpadding="0" width="100%" border="0" cellspacing="0">
      <tr>
        <td rowspan="1" colspan="1" align="left" width="${logo_width}" valign="top">
          <img src="${logo_image}" height="${logo_height}" width="${logo_width}" alt="${logo_alttext}" style="padding-top:5px;" />
        </td>

        <td colspan="1" rowspan="1" width="5">
          <img src="${baseurl}images/gap.png" height="5" width="5" alt="" />
        </td>

        <td colspan="1" rowspan="1" width="100%">
          <table cellspacing="0" style="height: ${banner_height}px" width="100%" cellpadding="0" border="0" class="header">
            <tr>
              <td colspan="1" align="center" rowspan="1" valign="middle">
                 <img src="${banner_image}" height="${banner_height}" alt="${banner_alttext}" style="padding-top:5px;"/>
              </td>
            </tr>

            <tr>
              <td rowspan="1" colspan="1" align="right" valign="middle" class="border_top"/>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </div>

  <div id="links" dir="$uidir" lang="$uilanguage">
    <!-- Account information -->
    <div class="account">
    <div class="side">
      <img src="${baseurl}images/person.png" class="icon" alt="" dir="$uidir" lang="$uilanguage" />
    </div>
    <div class="side" py:if="session.isopen">
      <span py:content="XML(session.status)">logged in as <b>somebody</b></span> |
      <a href="${baseurl}?islogout=1" py:content="links.logout">Log Out</a>
    </div>
    <div class="side" py:if="not session.isopen">
      <a href="${baseurl}login.html" py:content="links.login">Log In</a> | 
      <a href="${baseurl}register.html" py:content="links.register">Register</a> | 
      <a href="${baseurl}activate.html" py:content="links.activate">Activate</a>
    </div>
    </div>
    <br clear="all" />
    
    <div class="sidetitle" py:content="instancetitle">
      Pootle
    </div>
    <div class="side">
      <a href="${baseurl}" py:content="links.home">Home</a> 
      | <a href="${baseurl}projects/" py:content="links.projects">All Projects</a> 
      | <a href="${baseurl}languages/" py:content="links.languages">All Languages</a> 
      <span py:if="session.isopen"> | <a href="${baseurl}home/" py:content="links.account">My account</a> </span> 
      <span py:if="session.issiteadmin"> | <a href="${baseurl}admin/" py:content="links.admin">Admin</a> </span>
      | <a href="/doc/${links.doclang}/index.html" py:content="links.doc">Docs &amp; Help</a>
    </div>

  </div>
  <div id="about" dir="$uidir" lang="$uilanguage">
    <a href="${baseurl}about.html" py:content="aboutlink">About this Pootle server</a>
  </div>
</body>
</html>

