{% load i18n baseurl %}

{% get_current_language as LANGUAGE_CODE %}

<div id="submenu" lang="{{ LANGUAGE_CODE }}">
    <div id="submenu-tabs">
        <a href='{{ "."|l }}' class="projectoverview" title="{% trans 'Project main page' %}">{% trans "Overview" %}</a>
        <a href='{{ "notices"|l }}' class="tpnews" title="{% trans 'Project news' %}">{% trans "News" %}</a>
        {% if user.is_superuser or request.permissions.administrate %}
        <a href='{{ "admin.html"|l }}' class="projectadmin admintab" title="{% trans 'Administrate your project' %}">{% trans "Administrate" %}</a>
        <a href='{{ "permissions.html"|l }}' class="projectperm admintab" title="{% trans 'Manage project permissions' %}">{% trans "Permissions" %}</a>
        {% endif %}
    </div>
</div>
