<?xml version="1.0" encoding="UTF-8"?>
<?python
from Pootle.templates import navbar, pootlepage
?>
<!DOCTYPE html  PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns:py="http://purl.org/kid/ns#" xmlns="http://www.w3.org/1999/xhtml" xml:lang="$uilanguage" lang="$uilanguage" dir="$uidir">
<head>

  <title py:content="pagetitle">Pootle: ${project.name}</title>

  <link rel="stylesheet" type="text/css" href="${baseurl}style.css" />
  <link rel="shortcut icon" href="${baseurl}favicon.ico" />
</head>

<body>

<div id="wrapper">
<div id="doc">
    
  <div py:replace="pootlepage.header(links, sessionvars, baseurl, instancetitle)"/>

  <div id="body">

    <div py:if="message" class="site-message">
        <div class="info" py:if="message" py:content="XML(message)">Message</div>
    </div>

    <div id="nav-secondary">

      <h3 class="title">[ <a href="${baseurl}projects/${project.code}/" py:content="project.name">Project</a> ]</h3>

      <div class="item-description" py:if="sessionvars.issiteadmin">
        <a href="admin.html" py:content="adminlink">Admin</a>
      </div>

      <div class="item-statistics" py:content="project.stats">
        0 languages, average 0% translated
      </div>
    </div>

    <div class="site-message">
        <div class="info" py:content="XML(description)">
            This is the project description
        </div>
    </div>

      <div class="module-primary">
          <div class="hd">
          </div>
          <div class="bd">
              <table class="sortable stats" id="stats" cellpadding="5" cellspacing="0" width="100%">
                <thead>
                  <tr>
                    <th class="stats">${statsheadings.name}</th>
                    <th class="stats">${statsheadings.progress}</th>
                    <th class="stats">${statsheadings.summary}</th>
                    <th class="stats">${statsheadings.totalwords}</th>
                </tr>
                </thead>
                <tbody class="stats">
                  <div py:for="item in languages" py:strip="True">
                    <tr  class="item ${item.parity}">
                      <div py:replace="navbar.itemsummary(item, uidir, untranslatedtext, fuzzytext, complete)"/>
                    </tr>
                  </div>
                </tbody>
              </table>
          </div>
          <div class="ft"></div>
      </div>

      <div class="module first clear">
          <div class="hd"></div>
          <div class="bd">
              <div py:replace="pootlepage.translationsummarylegend(translationlegend)" />
          </div>
          <div class="ft"></div>
      </div>

      <div py:replace="pootlepage.topcontributerstable(topstats, topstatsheading)" />

  </div><!-- end #body-->

  <div py:replace="pootlepage.login_form(username_title, password_title, login_text, register_text, canregister, request, uilanguage, sessionvars)"/>
	
</div><!-- end #doc -->
</div><!-- end #wrapper -->

  <div py:replace="pootlepage.footer(links, baseurl)"/>

  <script type="text/javascript" src="/js/jquery.min.js"></script>
  <script type="text/javascript" src="/js/script.js"></script>

  <script type="text/javascript" src="${baseurl}js/sorttable.js"></script>

  <!--[if lt IE 7.]>
    <script defer type="text/javascript" src="${baseurl}js/correctpng.js"></script>
  <![endif]-->

</body>
</html>
