<?xml version="1.0" encoding="UTF-8"?>
<?python
from Pootle.templates import navbar, pootlepage
from Pootle.util import l
?>
<include py:layout="'page_layout.kid'" xmlns:py="http://purl.org/kid/ns#">

  <div id="breadcrumbs" py:def="breadcrumbs_block()">
    <h3 class="title">[ <a href="${l('/projects/'+project.code+'/')}" py:content="project.name">Project</a> ]</h3>
  </div><!--breadcrumbs-->
  
  <div id="nav-secondary" py:def="nav_secondary_block()">
    <div class="item-description" py:if="sessionvars.issiteadmin">
      <a href="${l('admin.html')}" py:content="adminlink">Admin</a>
    </div>
    <div class="item-statistics" py:content="project.stats">0 languages, average 0% translated</div>
  </div><!--nav-secondary-->

  <div id="precontent" py:if="description" py:def="precontent_block()">
    <div class="intro" py:content="XML(description)">
      This is the project description
    </div>
  </div><!--precontent-->

  <div id="content" py:def="content_block()">
    <div class="module-primary">
      <div class="bd">
	<table class="sortable stats" id="stats" cellpadding="5" cellspacing="0" width="100%">
	  <thead>
	    <tr>
	      <th class="stats">${statsheadings.name}</th>
	      <th class="stats">${statsheadings.progress}</th>
	      <th class="stats">${statsheadings.summary}</th>
	      <th class="stats">${statsheadings.totalwords}</th>
	    </tr>
	  </thead>
	  <tbody class="stats">
	    <div py:for="item in languages" py:strip="True">
	      <tr  class="item ${item.parity}">
		<div py:replace="navbar.itemsummary(item, uidir, untranslatedtext, fuzzytext, complete)"/>
	      </tr>
	    </div>
	  </tbody>
	</table>
      </div>
    </div>
  </div><!--content-->

  <div id="postcontent" py:def="postcontent_block()">
    <div class="module first clear">
      <div class="bd">
	<div py:replace="pootlepage.translationsummarylegend(translationlegend, mediaurl)" />
      </div>
    </div>

    <div py:replace="pootlepage.topcontributerstable(topstats, topstatsheading)" />
  </div><!--postcontent-->
</include>

