{% extends "base.html"  %}

{% load i18n %}

{% block title %}{{ block.super }}{% trans ": " %}{{ navitems.0.path.language.text }}{% trans " » " %}{{ navitems.0.path.project.text }}{% endblock %}

{% block extra_head %}
<link rel="alternate" type="application/rss+xml" href="{% url pootle_notifications.feeds.view feed_path %}" />
{% endblock %}

{% block search %}
{% include "language/search.html" %}
{% endblock %}

{% block breadcrumbs %}
<div id="breadcrumbs">
    <h2 class="title">{% include "language/item_title.html" %}</h2>
</div>
{% endblock %}

{% block precontent %}
{% include "tp_menu.html" %}
{% endblock %}
