{% extends "base.html"  %}

{% load i18n baseurl %}

{% block title %}
{{ block.super }}: {{ navitems.0.path.language.text }} » {{ navitems.0.path.project.text }}
{% endblock %}

{% block extra_head %}
<link rel="alternate" type="application/rss+xml" href="{% url pootle_notifications.feeds.view feed_path %}" />
{% endblock %}

{% block search %}
<div id="search" lang="{{ LANGUAGE_CODE }}" dir="{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}">
  <form action="{% block search_action %}translate.html{% endblock %}" method="get" id="searchform">
    <label class="inputHint" for="id_search">{% trans "Search" %}</label>{{ search_form.search }}
    <a class="advancedlink">
      {% if LANGUAGE_BIDI %}
      <img src='{{ "images/sarrow_down_rtl.png"|m }}' alt="{{ search.advanced_search_title }}" title="{{ search.advanced_search_title }}" class="togglesearch" />
      <img src='{{ "images/sarrow_up_rtl.png"|m }}' alt="{{ search.advanced_search_title }}" title="{{ search.advanced_search_title }}" class="togglesearch" style="display: none;"/>
      {% else %}
      <img src='{{ "images/sarrow_down.png"|m }}' alt="{{ search.advanced_search_title }}" title="{{ search.advanced_search_title }}" class="togglesearch" />
      <img src='{{ "images/sarrow_up.png"|m }}' alt="{{ search.advanced_search_title }}" title="{{ search.advanced_search_title }}" class="togglesearch" style="display: none;"/>
      {% endif %}
    </a>
    <div class="advancedsearch">
      {{ search_form.sfields }}
    </div>
  </form>
</div>
{% endblock %}

{% block breadcrumbs %}
<div id="breadcrumbs">
    <h2 class="title">{% block breadcrumbs_content %}{% include "language/item_title.html" %}{% endblock %}</h2>
</div>
{% endblock %}

{% block precontent %}
{% include "tp_menu.html" %}
{% endblock %}

{% block scripts_extra %}
<script type="text/javascript" src='{{ "js/search.js"|m }}'></script>
{% endblock %}
