{% extends "base.html"  %}

{% load i18n %}

{% block title %}
{% blocktrans with block.super as prevtitle and navitems.0.path.language.text as langname and navitems.0.path.project.text as projectname %}
{{ prevtitle }}: {{ langname }} » {{ projectname }}
{% endblocktrans %}
{% endblock %}

{% block extra_head %}
<link rel="alternate" type="application/rss+xml" href="{% url pootle_notifications.feeds.view feed_path %}" />
{% endblock %}

{% block search %}
{% include "language/search.html" %}
{% endblock %}

{% block breadcrumbs %}
<div id="breadcrumbs">
    <h2 class="title">{% include "language/item_title.html" %}</h2>
</div>
{% endblock %}

{% block precontent %}
{% include "tp_menu.html" %}
{% endblock %}
