{% load i18n baseurl %}

{% get_current_language as LANGUAGE_CODE %}

<div id="submenu" lang="{{ LANGUAGE_CODE }}">
    <div id="submenu-tabs">
        <a href='{{ directory.pootle_path|l }}' class="tpoverview" title="{% trans 'Translation project main page' %}">{% trans "Overview" %}</a>
        <a href='{{ directory.pootle_path|l }}notices' class="tpnews" title="{% trans 'Translation project news' %}">{% trans "News" %}{% if user.is_superuser or request.permissions.administrate %} <span class="admin">+</span>{%endif%}</a>
        <a href='{{ directory.pootle_path|l }}edit.html' class="tptranslate" title="{% trans 'Translate this project' %}">{% trans "Translate" %}</a>
        <a href='{{ directory.pootle_path|l }}review.html' class="tpreview" title="{% trans 'Review quality checks' %}">{% trans "Quality Checks" %}</a>
        {% if user.is_superuser or request.permissions.administrate %}
        <a href='{{ translation_project.pootle_path|l }}terminology_manage.html' class="tpterminology admintab" title="{% trans 'Manage terminology' %}">{% trans "Terminology" %}</a>
        <a href='{{ translation_project.pootle_path|l }}admin_permissions.html' class="tpadminpermissions admintab" title="{% trans 'Administrate your project permissions' %}">{% trans "Permissions" %}</a>
        <a href='{{ translation_project.pootle_path|l }}admin_files.html' class="tpadminfiles admintab" title="{% trans 'Administrate your project files' %}">{% trans "Files" %}</a>
        {% endif %}
    </div>
</div>
