#!/usr/bin/env python
# -*- coding: utf-8 -*-

POOTLE_INVOICES_COMPANY = "Your Company Name"
POOTLE_INVOICES_DEPARTMENT = "Your Department Name"

'''
The list of users to send invoices to.
'''
POOTLE_INVOICES_RECIPIENTS = {
    'pootler': {
        'name': 'John Doe',
        'email': 'johndoe@example.com',
        'accounting-email': 'accounting@example.com',
        'accounting-email-cc': 'accounting-cc@example.com',
        'invoice_prefix': 'PREFIX-',
        'language': 'de',
        # if a translator earned less than this value all payments will be carried over to next month
        'minimal_payment': 100,
        # you can set wire transfer reimbursement here
        'extra_add': 30,
        'paid_by': 'Your Company Name',
        'wire_info': u"""
            Name on the account: John Doe
            Bank name: BANK NAME
            SWIFT: ABCDEFGI
            Routing number: 001122334455
            Account number: 998877665
            """,
    },
}
