{% extends "about/base.html" %}
{% load i18n %}

{% get_current_language as LANGUAGE_CODE %}

{% block title %}{% trans "Evernote Translation Server" %} | {{ block.super }}{% endblock %}

{% block breadcrumbs %}
{{ block.super }}<li>{% trans "Evernote Translation Server" %}</li>
{% endblock %}

{% block content %}
<div id="about" lang="{{ LANGUAGE_CODE }}">
  <div class="documentation">
    <p>Evernote Translation Server is based on open-source <a href="http://pootle.translatehouse.org/"><i class="icon-external-link"></i> Pootle</a> and <a href="http://toolkit.translatehouse.org/"><i class="icon-external-link"></i> Translate Toolkit</a> code.</p>
  </div>
</div>
{% endblock content%}
