{% extends "about/base.html" %}
{% load i18n %}

{% get_current_language as LANGUAGE_CODE %}

{% block title %}{% trans "This Pootle Server" %} | {{ block.super }}{% endblock %}

{% block breadcrumbs %}
{{ block.super }}<li>{% trans "This Pootle Server" %}</li>
{% endblock %}

{% block content %}
<div id="about" lang="{{ LANGUAGE_CODE }}">
  <div class="documentation">
    <p>{% blocktrans %}This site is running Pootle &mdash; powerful web software to empower teams to do translation and translation management. This community tool is Free Software, and any team can use it and contribute to the Pootle community. Read more on the <a href="http://translate.sourceforge.net/"><i class="icon-external-link"></i> project website</a>.{% endblocktrans %}</p>
    <p>{{ pootle_version }}</p>
    <!-- {{ version_details }} -->
  </div>
</div>
{% endblock content%}
