{% extends "about/base.html" %}
{% load i18n %}

{% get_current_language as LANGUAGE_CODE %}

{% block title %}{% trans "Contributors" %} | {{ block.super }}{% endblock %}

{% block breadcrumbs %}
{{ block.super }}<li>{% trans "Contributors" %}</li>
{% endblock %}

{% block content %}
<div id="about">
  <div id="contributors">
    <ul>
      {% for language, projects in contributors %}
      <li class="lang">{{ language }}
        <ul>
          {% for project, users in projects %}
          <li class="proj">{{ project }}
            <ul>
              {% for user in users %}
              <li class="user">{{ user }}</li>
              {% endfor %}
            </ul>
          </li>
          {% endfor %}
        </ul>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}
