{% extends "user_profile_base_extended.html"  %}
{% load i18n baseurl %}
 
{% block title %}
{{ block.super }} » {% trans "Translation Settings" %}
{% endblock %}

{% block bodyclass %}settings{% endblock %}

{% block breadcrumb_content %}
{{ block.super }} » {% trans "Translation Settings" %}
{% endblock %}

{% block section_description %}{% trans "Here you can configure the settings related to the translation interface as well as your language preferences." %}{% endblock %}

{% block section_body %}
<form method="post" action="">
  {{ form.non_field_errors }}
  {% for field in form %}
  <p>{{ field.errors }}
    {{ field.label_tag }} {{ field }}
    {% if field.help_text %}<span class="help_text">{{ field.help_text }}</span>{% endif %}
  </p>
  {% endfor %}
  <p class="buttons">
      <input type="submit" class="save" value="{% trans 'Save' %} "/>
  </p>
</form>
{% endblock %}

{% block scripts_extra %}
<script type="text/javascript" src="{{ "js/admin.js"|m }}"></script>
{% if LANGUAGE_BIDI %}
<script type="text/javascript" src='{{ "js/jquery/jquery.bidi.js"|m }}'></script>
<script type="text/javascript">
$(document).ready(function() {
  $("select#id_ui_lang option").filter(":not([dir])").bidi();
});
</script>
{% endif %}
{% endblock %}
