{% extends "base.html"  %}
{% load i18n baseurl %}
 
{% block precontent %}
<p>{% trans "Configure your settings here." %}</p>
{% endblock %}

{% block content %}
<form method="post" action="">
{% for field in form %}

<dt>{% trans field.label_tag %}</dt>

<dd>{{ field }}</dd>

{% if field.help_text %}<dd>{% trans field.help_text %}</dd>{% endif %}

{% if field.errors %}<dd class="myerrors">{% trans field.errors %}</dd>{% endif %}

{% endfor %}
<input type="submit" value="Save"/>
</form>
{% endblock %}
