{% extends "user_profile_base_extended.html"  %}
{% load i18n %}
 
{% block title %}{{ block.super }}{% trans ' » Profile' %}{% endblock %}

{% block bodyclass %}profile{% endblock %}

{% block section_description %}{% trans "Here you can change your personal details. This information will be used in the header of the translation files." %}{% endblock %}

{% block section_body %}
<form method="post" action="">
    <p>
        <label for="id_first_name">{% trans 'First Name' %}</label>
        {{ form.first_name }}
        {{ form.first_name.errors }}
    </p>
    <p>
        <label for="id_last_name">{% trans 'Last Name' %}</label>
        {{ form.last_name }}
        {{ form.last_name.errors }}
    </p>
    <p>
        <label for="id_email">{% trans 'Email address' %}</label>
        {{ form.email }}
        {{ form.email.errors }}
    </p>
    <p>
        <input type="submit" value="{% trans 'Save' %}" />
    </p>
</form>
{% endblock %}
