{% extends "user_profile_base.html"  %}
{% load i18n baseurl %}

{% block title %}{{ block.super }}{% trans ' » Dashboard' %}{% endblock %}

{% block bodyclass %}dashboard{% endblock %}

{% block content %}
<div class="module first">
    <div class="hd">
        <h2>{% trans "Quick Links" %}</h2>
    </div>
    <div class="bd">
    {% if profile.getquicklinks %}
        {% for language in profile.getquicklinks %}
        <dl class="languagelist">
            <dt class="language">
                <a href="{% filter l %}/{{ language.code }}/{% endfilter %}">
                {% trans language.name %}
                {% if language.islangadmin %}
                    <span class="adminlink">(<a href="{% filter l %}/{{ language.code }}/admin.html{% endfilter %}">{% trans "Admin" %}</a>)</span>
                {% endif %}
                </a>
            </dt>
            {% for project in language.projects %}
            <dd>
            <a href="{% filter l %}/{{ language.code }}/{{ project.code }}/{% endfilter %}">{{ project.name }}</a>
            {% if project.isprojectadmin %}
                <span class="adminlink">(<a href="{% filter l %}/{{ language.code }}/{{ project.code }}/admin.html{% endfilter %}">{% trans "Admin" %}</a>)</span>
            {% endif %}
            </dd>
            {% endfor %}
        </dl>
        {% endfor %}
    {% else %}
            <p>{% trans "You need to " %} <a href='{{ "/accounts/edit/"|l }}'>{% trans "choose your languages and projects." %}</a></p>
    {% endif %}
    </div>
</div>
{% endblock %}

{% block postcontent %}
<div class="module">
    <div class="hd">
        <h2>{% trans "User Statistics" %}</h2>
    </div>
    <div class="bd">
        <table>
            {% for key, value in profile.getuserstatistics.items %}
            <tr>
                <th scope="row">{% trans key %}</th><td>{{ value }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}
