{% extends "base.html"  %}
{% load i18n baseurl %}

{% block content %}

<div> 
    <p>{% trans "Profiles list" %}</p>
    
    <table border="0" cellpadding="5" cellspace="5" width="100%">
        <tr>
            <th>{% trans "User name" %}</th>
            <th>{% trans "First name" %}</th>
            <th>{% trans "Last name" %}</th>
        </tr>
        <tr><td colspan="4"><hr width="75%" align="left"></td></tr>
        {% for profile in object_list %}  
        <tr>
            <td><a href="{% filter l %}/accounts/{{ profile.user.username }}/{% endfilter %}">
                    {{ profile.user.username }}
            </a></td>
            <td>{{ profile.user.first_name }}</td>
            <td>{{ profile.user.last_name }} </td>
        </tr>
        {% endfor %}

    </table>
</div>

{% endblock %}
