{% load url from future %}
{% load i18n %}
<ul id="tabs">
  <li><a href="{% url 'pootle-project-overview' project.code resource_path %}"
      class="projectoverview">{% trans "Overview" %}</a></li>
  <li><a href="{% url 'pootle-notifications-project-notices' project.code %}" class="tpnews">{% trans "News" %}{% if user.is_superuser or request.permissions.administrate %} <span class="admin">+</span>{%endif%}</a></li>
  <li><a href="{% url 'pootle-project-translate' project.code resource_path %}"
      class="projecttranslate">{% trans "Translate" %}</a></li>
  {% if user.is_superuser or request.permissions.administrate %}
  <li><a href="{% url 'pootle-project-admin-languages' project.code %}" class="projectadmin admintab">{% trans "Languages" %}</a></li>
  <li><a href="{% url 'pootle-project-admin-permissions' project.code %}" class="projectperm admintab">{% trans "Permissions" %}</a></li>
  {% endif %}
</ul>
