{% extends "layout.html" %}
{% load i18n assets common_tags %}

{% get_current_language as LANGUAGE_CODE %}

{% block title %}{% trans "Projects" %} | {{ block.super }}{% endblock %}

{% block breadcrumbs %}
{{ block.super }}{% include 'core/_breadcrumbs.html' %}
{% endblock %}

{% block content %}

<div class="bd">
    {% display_table table %}
</div>

{% endblock content %}

{% block scripts_extra %}
<script type="text/javascript">
$(function() {
  PTL.stats.init({
      pootlePath: "{{ resource_obj.pootle_path }}",
  });
  PTL.stats.load(function () {
    PTL.common.updateRelativeDates();
    setInterval(PTL.common.updateRelativeDates, 6e4);
    $("body").spin(false);
  });

  $("td.stats-name").filter(":not([dir])").bidi();
});
</script>
{% if user.is_superuser or request.permissions.administrate %}
{% assets "js_admin" %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
{% endif %}
{% endblock %}
