{% extends "projects/base.html" %}
{% load i18n baseurl cleanhtml assets common_tags search %}
{% load url from future %}
{% get_current_language as LANGUAGE_CODE %}

{% block title %}{{ project.name }} | {{ block.super }}{% endblock %}

{% block body_id %}projectoverview{% endblock %}

{% block search %}{% render_search %}{% endblock %}

{% block content %}
<div class="hd">
  <h2>{{ project.summary }}</h2>
</div>

<div class="bd">
  {% display_table table %}
</div>

{% include "core/_summary_legend.html" %}

{% endblock content %}

{% block postcontent %}
{% include "core/_top_contributors.html" %}
{% endblock postcontent %}

{% block scripts_extra %}
<script type="text/javascript">
$(function() {
  PTL.search.init();

  $("td.stats-name").filter(":not([dir])").bidi();
});
</script>
{% if user.is_superuser or request.permissions.administrate %}
{% assets "js_admin" %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
{% endif %}
{% endblock %}
