{% extends "base.html" %}
{% load i18n %}

{% block title %}
{% blocktrans with block.super as prevtitle %}{{ prevtitle }}: About{% endblocktrans %}
{% endblock %}

{% block body.id %}about{% endblock body.id %}

{% block precontent %}
    {{ description|safe}}
{% endblock precontent %}

{% block content %}
    <h2 class="title">{% trans "About Pootle" %}</h2>
    <div class="info">
        {% blocktrans %}This site is running Pootle &mdash; powerful web software to empower teams to do translation and translation management. This community tool is Free Software, and any team can use it and contribute to the Pootle community. Read more on the <a href="http://translate.sourceforge.net/">project website</a>.{% endblocktrans %}
    </div>
    <br />
    <div class="info">{{ pootle_version }}</div>
        <!--
{{ version_details }}
        -->
{% endblock content%}
