{% extends "base.html" %}
{% load i18n %}

{% block title %}{{ block.super }}{% trans ": About" %}{% endblock %}

{% block body.id %}about{% endblock body.id %}

{% block precontent %}
    {{ description|safe}}
{% endblock precontent %}

{% block content %}
    <h2 class="title">{% trans "About Pootle" %}</h2>
    <div class="info">
        {% blocktrans %}<strong>Pootle</strong> is a simple web portal that should allow you to <strong>translate</strong>! Since Pootle is <strong>Free Software</strong>, you can download it and run your own copy if you like. You can also help participate in the development in many ways (you don't have to be able to program).{% endblocktrans %}
    </div>
    <div class="info">
        {% blocktrans %}The Pootle project itself is hosted at <a href="http://translate.sourceforge.net/">translate.sourceforge.net</a> where you can find the details about source code, mailing lists etc.{% endblocktrans %}
    </div>
    <div class="info">
        {% blocktrans %}The name stands for <b>PO</b>-based <b>O</b>nline <b>T</b>ranslation / <b>L</b>ocalization <b>E</b>ngine, but you may need to read <a href="http://www.thechestnut.com/flumps.htm">this</a>.{% endblocktrans %}
    </div>
    <h2 class="title">{% trans "Versions" %}</h2>
{% endblock content%}

{% block postcontent%}
    <div class="info" dir="ltr">{{ versiontext|safe }}</div>
{% endblock postcontent%}


