{% extends "base.html" %}

{% load i18n baseurl %}

{% get_current_language as LANGUAGE_CODE %}
{% get_current_language_bidi as LANGUAGE_BIDI %}

{% block body.id %}frontpage{% endblock body.id %}

{% block precontent %}
<div class="intro">{{ description|safe }}</div>
{% endblock precontent %}

{% block content %}
<div class="module first" lang="{{ LANGUAGE_CODE }}">
    <div class="hd">
        <h2>{{ languagelink }}</h2>
    </div>
    <div class="bd">
        <table class="sortable">
            <tr>
                <th>{% trans 'Language' %}</th>
                <th>{% trans 'Overall Completion' %}</th>
                <th>{% trans 'Last Activity' %}</th>
            </tr>
            {% for item in languages %}
            <tr class="{% cycle 'even' 'odd' %}">
                <td class="language"><a href="{% filter l %}/{{ item.code }}/{% endfilter %}">{{ item.name }}</a></td>
                <td>
                    <span class="graph" dir="{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}">
                    <span class="translated" style="width: {{ item.transper }}px" title="{{ item.trans }}/{{ item.total }} words translated"> </span>
                    {% if item.fuzzy %}<span class="fuzzy" style="{%if LANGUAGE_BIDI%}right{%else%}left{%endif%}: {{ item.transper }}px; width: {{ item.fuzzyper }}px" title="{{ item.fuzzy }}/{{ item.total }} words fuzzy"> </span>{% endif %}
                    {% if item.untrans %}<span class="untranslated" style="{% if LANGUAGE_BIDI %}right{% else %}left{% endif %}: {{ item.transper|add:item.fuzzyper }}px; width: {{ item.untransper }}px" title="{{ item.untrans }}/{{ item.total }} words untranslated"> </span>{% endif %}
                    </span>
                    <span class="sortkey">{{ item.transper }}</span>
                </td> 
                <td>{{ item.lastactivity }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>

<div class="module" lang="{{ LANGUAGE_CODE }}">
    <div class="hd">
        <h2>{{ projectlink }}</h2>
    </div>
    <div class="bd">
        <table class="sortable">
            <tr>
                <th>{% trans 'Project' %}</th>
                <th>{% trans 'Overall Completion' %}</th>
                <th>{% trans 'Last Activity' %}</th>
            </tr>
            {% for item in projects %}
            <tr class="{% cycle 'even' 'odd' %}">
                <td class="project"><a href="{% filter l %}/projects/{{ item.code }}/{% endfilter %}" title="{{ item.description }}">{{ item.name }}</a></td>
                <td>
                    <span class="graph" dir="{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}">
                    <span class="translated" style="width: {{ item.transper }}px" title="{{ item.trans }}/{{ item.total }} words translated"> </span>
                    {% if item.fuzzy %}<span class="fuzzy" style="{% if LANGUAGE_BIDI %}right{% else %}left{% endif %}: {{ item.transper }}px; width: {{ item.fuzzyper }}px" title="{{ item.fuzzy }}/{{ item.total }} words fuzzy"> </span>{% endif %}
                    {% if item.untrans %}<span class="untranslated" style="{% if LANGUAGE_BIDI %}right{% else %}left{% endif %}: {{ item.transper|add:item.fuzzyper }}px; width: {{ item.untransper }}px" title="{{ item.untrans }}/{{ item.total }} words untranslated"> </span>{% endif %}
                  </span>
                  <span class="sortkey">{{ item.transper }}</span>
                </td> 
                <td>{{ item.lastactivity }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock content %}

{% block postcontent %}
<div class="module first clear" lang="{{ LANGUAGE_CODE }}">
    <div class="bd">
    {% include "translation_summary_legend.html" %}
    </div>
</div>
{% include "top_contributers_table.html" %}
{% endblock postcontent %}
