<?xml version="1.0" encoding="UTF-8"?>
<?python
from pootle_app.templates import pootlepage
from pootle_misc.baseurl import l
?>
<include py:layout="'../page_layout.kid'" xmlns:py="http://purl.org/kid/ns#">


  <div id="precontent" py:def="precontent_block()">
      <div class="intro" py:content="XML(description)">this is a demo installation of pootle</div>
  </div><!--precontent-->


  <div id="content" py:def="content_block()">
    <div class="module first">
      <div class="hd">
	<h2 py:content="languagelink">Languages</h2>
      </div>
      <div class="bd">
	<table class="sortable">
	  <tr><th>Language</th><th>Overall Completion</th><th>Last Activity</th></tr>
	  <tr py:for="zebra, lang in enumerate(languages)" class="${zebra%2 and 'odd' or 'even'}">
	    <td class="language"><a href="${l('/'+lang.code+'/')}" py:content="lang.name">Language</a></td>
	    <td>
	      <span class="graph" dir="$uidir">
		<span class="translated" style="width: ${lang.transper}px;" title="${lang.trans}/${lang.total} words translated" />
		<span class="fuzzy" style="${cssaligndir}: ${lang.transper}px; width: ${lang.fuzzyper}px" title="${lang.fuzzy}/${lang.total} words fuzzy" />
		<span class="untranslated" style="${cssaligndir}: ${lang.transper+lang.fuzzyper}px; width: ${lang.untransper}px" title="${lang.untrans}/${lang.total} words untranslated" />
	      </span>
	      <span class="sortkey">${lang.transper}%</span>
	    </td> 
	    <td>${lang.lastactivity}</td>
	  </tr>
	</table>
      </div>
    </div>

    <div class="module">
      <div class="hd">
	<h2 py:content="projectlink">Projects</h2>
      </div>
      <div class="bd">
	<table class="sortable">
	  <tr><th>Project</th><th>Overall Completion</th><th>Last Activity</th></tr>
	  <tr py:for="zebra, p in enumerate(projects)" class="${zebra%2 and 'odd' or 'even'}">
	    <td class="language"><a href="${l('/projects/'+p.code+'/')}" title="${p.description}"  py:content="p.name">Project</a></td>
	    <td>
	      <span class="graph" dir="$uidir">
		<span class="translated" style="width: ${p.transper}px" title="${p.trans}/${p.total} words translated" />
		<span class="fuzzy" style="${cssaligndir}: ${p.transper}px; width: ${p.fuzzyper}px" title="${p.fuzzy}/${p.total} words fuzzy" />
		<span class="untranslated" style="${cssaligndir}: ${p.transper+p.fuzzyper}px; width: ${p.untransper}px" title="${p.untrans}/${p.total} words untranslated" />
	      </span>
	      <span class="sortkey">${p.transper}%</span>
	    </td> 
	    <td>${p.lastactivity}</td>
	  </tr>
	</table>
      </div>
    </div>
  </div><!--content-->


  <div id="postcontent" py:def="postcontent_block()">
    <div class="module first clear">
      <div class="bd">
	<div py:replace="pootlepage.translationsummarylegend(translationlegend, mediaurl)" />
      </div>
    </div>
      
    <div py:replace="pootlepage.topcontributerstable(topstats, topstatsheading)" />
  </div><!--postcontent-->


</include>
