{% extends "base.html" %}
{% load i18n baseurl %}

{% block content %}
<div id="login">
    <form method="post" action='{{ "/accounts/login/"|l }}' 
      name="loginform" id="loginform">
    {% if form.errors %}
    <p>{% trans "Your username and password didn't match. Please try again." %}</p>
    {% endif %}  
    <p>{{ form.username.label_tag }} {{ form.username }}</p>
    <p>{{ form.password.label_tag }} {{ form.password }}</p>
    <select name="language" id="language">
    {% for lang in languages %}
        <option {% if lang.selected %}selected="selected"{% endif %}
                value="{{ lang.code}}" id="{{ lang.code}}">{{ lang.name}}</option>
    {% endfor %} 
    </select>
	<p class="submit">
        <input type="submit" name="login" value="{% trans 'Login' %}" />
        <input type="hidden" name="next" value="{{ next }}" />
    </p>
</form>
</div>
{% endblock content %}

{% block scripts_extra %}
  <script>
    $(document).ready(function () {
    // Set focus to login form
    if (document.loginform) {
        document.loginform.username.focus();
    }
    });
  </script>
{% endblock scripts_extra %}
