{% extends "layout.html" %}
{% load i18n assets %}

{% block title %}{% trans "Previous Work" %} | {{ block.super }}{% endblock %}

{% block css %}
{{ block.super }}
{% assets "css_editor" %}
<link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}" />
{% endassets %}
{% endblock css %}

{% block breadcrumbs %}
{{ block.super }}<li>{% trans "Previous Work" %}</li>
{% endblock %}

{% block content %}
<div id="history_content">
    {% include "editor/units/xhr_timeline.html" %}
</div>
{% endblock content %}
