<div id="tm-results" class="tm-server">
  <div class="extra-item-title"><%= name %></div>
  <% _.each(suggs, function (sugg, i) { %>
  <div id="tm<%= i %>" class="extra-item-block js-editor-copy-tm-text"
    data-action="overwrite" data-translation-aid="<%- sugg.target %>">
    <div class="extra-item-content">
      <div class="extra-item">
        <div class="suggestion-wrapper">
          <div class="suggestion-original" lang="<%= store.source_lang %>"
            dir="<%= store.source_dir %>"><%= PTL.utils.diff(unit.source[0], sugg.source) %></div>
          <div class="suggestion-translation" lang="<%= store.target_lang %>"
            dir="<%= store.target_dir %>"><%= PTL.utils.highlightRO(sugg.target) %></div>
        </div>
        <% if (sugg.project) { %>
        <% if (sugg.iso_submitted_on) { %>
        <div class="tm-context">
          <%= interpolate(gettext('Translated by %(fullname)s in “<span title="%(path)s">%(project)s</span>” project %(time_ago)s'), {fullname: sugg.fullname, path: sugg.path, project: sugg.project, time_ago: '<time class="extra-item-meta js-relative-date" title="' + sugg.display_submitted_on + '" datetime="' + sugg.iso_submitted_on + '">&nbsp;</time>'}, true) %>
        </div>
        <% } else { %>
        <div class="tm-context"><%= interpolate(gettext('Translated by %(fullname)s in “<span title="%(path)s">%(project)s</span>” project'), {fullname: sugg.fullname, path: sugg.path, project: sugg.project}, true) %></div>
        <% } %>
        <% } %>
      </div>
    </div>
  </div>
  <% }); %>
</div>
