{% load i18n locale %}
{% if unit.get_qualitychecks.count %}
<div class="sidetitle" lang="{{ LANGUAGE_CODE }}" title="{% trans 'Possible issues with the translation' %}">{% trans "Failing checks:" %}</div>
<ul class="checks">
  {% for check in unit.get_qualitychecks.iterator %}
  <li class="check">
    <a href="http://docs.translatehouse.org/projects/translate-toolkit/en/latest/commands/pofilter_tests.html#{{ check.name }}" target="_blank">{{ check.display_name }}</a>
    {% if canreview %}
    <a title="{% trans 'Remove quality check' %}" class="js-reject-check"
        data-check-id="{{ check.id }}"><i class="icon-block"></i></a>
    {% endif %}
  </li>
  {% endfor %}
</ul>
{% endif %}
