{% load i18n locale profile_tags common_tags %}
<div class="extra-item-block js-comment-first">
  <div class="extra-item-content">
    {% if unit.change.commented_by %}
    <div class="extra-item-gravatar">
      <a href="{% url 'pootle-user-profile' unit.change.commented_by.username %}"
	 title="{{ unit.change.commented_by.display_name|force_escape|force_escape }}">
	{% avatar unit.change.commented_by.username unit.change.commented_by.email_hash 20 %}
      </a>
    </div>
    {% endif %}
    <div class="extra-item">
      {% if cansuggest or cantranslate %}
      <a class="comment-action js-comment-remove">
        <i class="icon-reject" dir="{% locale_dir %}"
          title="{% trans 'Remove comment' %}"></i>
      </a>
      {% endif %}
      <span class="sidetitle">{% trans "Сomment:" %}</span>
      <span class="extra-item-comment">{{ unit.translator_comment }}</span>
    </div>
    {% if unit.change.commented_by and unit.change.commented_on %}
    <time class="extra-item-meta js-relative-date" title="{{ unit.change.commented_on|dateformat }}"
      datetime="{{ unit.change.commented_on.isoformat }}">&nbsp;</time>
    {% endif %}
  </div>
</div>
