<td dir="<%= unit.store.source_dir %>" class="translate-original" rowspan="1" colspan="1"
  data-target="<%= unit.url %>">
  <div class="translate-original translate-view" id="orig<%= unit.id %>">
    <% _.each(unit.source, function (source, i) { %>
    <div lang="<%= unit.store.source_lang %>" dir="<%= unit.store.source_dir %>"
      class="translation-text">
      <%= PTL.utils.highlightRO(source) %>
    </div>
    <% }); %>
  </div>
</td>
<td dir="<%= unit.store.target_dir %>" class="translate-translation
  <% if (unit.isfuzzy) { %> fuzzy-unit<% } %>"
  rowspan="1" colspan="1" data-target="<%= unit.url %>">
  <div dir="<%= unit.store.target_dir %>"
    class="translate-translation translate-view" id="trans<%= unit.id %>">
    <% _.each(unit.target, function (target, i) { %>
    <div lang="<%= unit.store.target_lang %>" class="translation-text"
      dir="<%= unit.store.target_dir %>">
      <%= PTL.utils.highlightRO(target) %>
    </div>
    <% }); %>
  </div>
</td>
