{% extends "admin_profile_base.html" %}
{% load i18n baseurl %}

{% block bodyclass %}adminusers{% endblock %}

{% comment %}
TODO: split this template into three, in order to use section_title and
section_subtitle blocks properly.
{% endcomment %}

{% block content %}
<form action="" method="post" name={{ text.formid }} id={{ text.formid }}>
    {% if text.error_msg %}
    <div id="site-message">
        <div class="error">{% trans text.error_msg %}</div>
    </div>
    {% endif %}
    {{ formset.management_form }}
    <table cellpadding="1" cellspacing="1">
            {{ formset_text }}
    </table>
    <p>
        <input type="submit" name={{ text.submitname }} value="{% trans text.savechanges %}" />
    </p>
</form>
{% endblock %}
