{% extends "admin_profile_base.html" %}
{% load i18n baseurl %}

{% block title %}
{{ block.super }} » {% trans "General Settings" %}
{% endblock %}

{% block bodyclass %}admingeneral{% endblock %}

{% block breadcrumb_content %}
{{ block.super }} » {% trans "General Settings" %}
{% endblock %}

{% block section_description %}{% trans "Configure here the general settings for your site." %}{% endblock %}

{% block section_body %}
<div id="settings">
<form action="" method="post">
    {% for field in form %}
    <p>
        {{ field.label_tag }}
        {{ field }}
        {% if field.help_text %}
        <span class="help_text">{{ field.help_text }}</span>
        {% endif %}
    </p>
    {% endfor %}
    <input type="submit" value='{% trans "Save" %}' />
</form>
</div>
{% endblock %}
