{% extends "base.html" %}
{% load i18n baseurl %}

{% block content %}
{% if user.is_superuser %}
<div class="module-primary first">
    {% endif %}
    <div class="bd">
        <ul class="linklist">
            <li><a href="{% filter l %}/accounts/{{user.username}}{% endfilter %}" > {% trans text.home %}</a></li>
            <li><a href='{{ "users.html"|l }}'>{% trans "Users" %}</a></li>
            <li><a href='{{ "languages.html"|l }}'>{% trans "Languages" %}</a></li>
            <li><a href='{{ "projects.html"|l }}'>{% trans "Projects" %}</a></li>
        </ul>
        <div class="fullwidthcontents">
            <h3 class="title"> {% trans "General options" %} </h3>
            <hr>
            <form action="" method="post" >
                        {{ form.as_p }}
                </table>
                <input type="submit" value='{% trans "Save" %}'/>
            </form>
        </div>
    </div>
</div>
    {% if user.is_superuser %}
</div>
{% endif %}

{% endblock %}

