{% extends "admin_profile_base.html" %}
{% load i18n baseurl %}

{% block title %}
{% blocktrans with block.super as prevtitle %}{{ prevtitle }} » Languages{% endblocktrans %}
{% endblock %}

{% block bodyclass %}adminlanguages{% endblock %}

{% block breadcrumb_content %}
{% blocktrans with block.super as prevtitle %}{{ prevtitle }} » Languages{% endblocktrans %}
{% endblock %}

{% block section_description %}{% trans "Here you can add, edit, and delete all the available languages in this Pootle server." %}{% endblock %}

{% block section_body %}
{% include "admin/admin_general.html" %}
{% endblock %}
