{% extends "admin_profile_base.html" %}
{% load i18n baseurl %}

{% block title %}
{{ block.super }} » {% trans "Projects" %}
{% endblock %}

{% block bodyclass %}adminprojects{% endblock %}

{% block breadcrumb_content %}
{{ block.super }} » {% trans "Projects" %}
{% endblock %}

{% block section_description %}{% trans "Here you can add, edit, and delete all the available projects in this Pootle server." %}{% endblock %}

{% block section_body %}
{% include "admin/admin_general.html" %}
{% endblock %}

{% block scripts_extra %}
<script type="text/javascript" src='{{ "js/sorttable.js"|m }}'></script>
<script type="text/javascript" src="{{ "js/selectsort.js"|m }}"></script>
{% endblock %}
