{% extends "base.html" %}
{% load i18n baseurl %}

{% block content %}
{% if user.is_superuser %}
<div class="module-primary first">
    {% endif %}
    <div class="bd">
        <ul class="linklist">
            <li><a href="{% filter l %}/accounts/{{user.username}}{% endfilter %}" > {% trans text.home %}</a></li>
            <li><a href="{% filter l %}index.html{% endfilter %}">{% trans text.admin %}</a></li>
        </ul>
        <div class="fullwidthcontents">
            <hr>
            <form action="" method="post" name="languages" id="languages">
                {% if text.error_msg %}
                <div > {{ text.error_msg }}</div>
                {% endif %}
                {{ formset.management_form }}
                <table cellpadding="1" cellspacing="1">
                    <div >
                        {{ formset_text }}
                    </div>
                </table>
                <input type="submit" name="changelanguages" value="{{ text.savechanges }}" />
            </form>
        </div>
    </div>
</div>

{% endblock %}

