{% extends "admin_profile_base.html" %}
{% load i18n baseurl %}

{% block title %}
{% blocktrans with block.super as prevtitle %}
{{ prevtitle }} » Users
{% endblocktrans %}
{% endblock %}

{% block bodyclass %}adminusers{% endblock %}

{% block section_description %}{% trans "Here you can add, edit, and delete all the available users in this Pootle server." %}{% endblock %}

{% block section_body %}
<form action="" method="post" name={{ text.formid }} id={{ text.formid }}>
    {% if text.error_msg %}
    <div id="site-message">
        <div class="error">{% trans text.error_msg %}</div>
    </div>
    {% endif %}
    {{ formset.management_form }}
    <table cellpadding="1" cellspacing="1">
            {{ formset_text }}
    </table>
    <p>
        <input type="submit" name={{ text.submitname }} value="{% trans text.savechanges %}" />
    </p>
</form>
{% endblock %}
