{% extends "admin_profile_base.html" %}
{% load i18n baseurl %}

{% block title %}
{{ block.super }} » {% trans "General Settings" %}
{% endblock %}

{% block bodyclass %}admingeneral{% endblock %}

{% block breadcrumb_content %}
{{ block.super }} » <span>{% trans "General Settings" %}</span>
{% endblock %}

{% block section_description %}{% trans "Configure here the general settings for your site." %}{% endblock %}

{% block section_body %}
{% include "admin/general_settings_form.html" %}
{% endblock %}
