{% extends "admin_profile_base.html" %}
{% load i18n baseurl %}

{% block bodyclass %}adminpermissions{% endblock %}

{% block section_description %}{% trans "Here you can add, edit, and delete the default permissions in this Pootle server." %}{% endblock %}

{% block section_body %}
<form action="" method="post" name="permissionsform" id="permissionsform">
    {{ permission_set_formset.management_form }}
    <table cellpadding="1" cellspacing="1">
        <tr>
            <th>{% trans "Username" %}</th><th>{% trans "Permissions" %}</th><th>{% trans "Delete" %}</th>
        </tr>
        {% for form in permission_set_formset.forms %}
        {{ form.as_table }}
        {% endfor %}
    </table>
    <p>
        <input type="submit" name="doupdaterights" value="{% trans 'Update Rights' %}" />
    </p>
</form>
{% endblock %}
