{% extends "admin_profile_base.html" %}
{% load i18n baseurl %}

{% block title %}
{{ block.super }} » {% trans "Dashboard" %}
{% endblock %}

{% block bodyclass %}admindashboard{% endblock %}

{% block breadcrumb_content %}
{{ block.super }} » {% trans "Dashboard" %}
{% endblock %}

{% block section_body %}
<div id="serverstats" class="module first" lang="{{ LANGUAGE_CODE }}">
  <div class="hd">
    <h2>{% trans "Server Statistics" %}</h2>
  </div>
  <div class="bd">
    <table>
      <tbody>
        <tr>
          <th scope="row">{% trans "Translated words" %}</th><td>{{ server_stats.word_count }}</td>
        </tr>
        <tr>
          <th scope="row">{% trans "Pending suggestions" %}</th><td>{{ server_stats.pending_count }}</td>
        </tr>
        <tr>
          <th scope="row">{% trans "Users" %}</th><td>{{ server_stats.user_count }}</td>
        </tr>
      </tbody>
      <tbody class="collapsethis">
        <tr>
          <th scope="row">{% trans "Active users" %}</th><td>{{ server_stats.user_active_count }}</td>
        </tr>
        <tr>
          <th scope="row">{% trans "Active projects" %}</th><td>{{ server_stats.project_count }}</td>
        </tr>
        <tr>
          <th scope="row">{% trans "Active languages" %}</th><td>{{ server_stats.language_count }}</td>
        </tr>
        <tr>
          <th scope="row">{% trans "Files" %}</th><td>{{ server_stats.store_count }}</td>
        </tr>
        <tr>
          <th scope="row">{% trans "Translated strings" %}</th><td>{{ server_stats.string_count }}</td>
        </tr>
        <tr>
          <th scope="row">{% trans "Submissions" %}</th><td>{{ server_stats.submission_count }}</td>
        </tr>
      </tbody>
      <tbody>
        <tr>
          <td colspan="2"><a class="collapse tiny">{% trans "More..." %}</a></span></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div id="support" class="module" lang="{{ LANGUAGE_CODE }}">
  <div class="hd">
    <h2>{% trans "Support" %}</h2>
  </div>
  <div class="bd">
      <p>{% trans "Pootle is developed by Translate.org.za and a community of passionate localization experts. We want Pootle to help your localization work reach its full potential." %}</p>
      <p>{% trans "You will find the following helpful for support:" %}
        <ul>
            <li><a href="http://translate.sourceforge.net/wiki/pootle/index">{% trans "The Pootle documentation" %}</a></li>
            <li><a href="http://translate.sourceforge.net/wiki/developers/mailing_lists">{% trans "The Pootle mailing list" %}</a></li>
            <li><a href="http://translate.org.za/">Translate.org.za</a> {% trans "(commercial support)" %}</li>
        </ul>
      </p>
  </div>
</div>
<div style="clear: left;"> </div>
<div id="depchecks" class="module first" lang="{{ LANGUAGE_CODE }}">
  <div class="hd">
    <h2>{% trans "Dependency Checks" %}</h2>
  </div>
  <div class="bd">
    <ul id="required">
      {% for dep in required %}
      <li class="{{ dep.state }} {{ dep.dependency }}">{{ dep.text }}</li>
      {% endfor %}
    </ul>
    {% if optional %}
    <h3>{% trans "Optional" %}</h3>
    <ul id="optional">
      {% for dep in optional %}
      <li class="warning {{ dep.dependency }}">{{ dep.text }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    {% if optimal %}
    <h3>{% trans "Optimizations" %}</h3>
    <ul id="optimal">
      {% for dep in optimal %}
      <li class="warning {{ dep.dependency }}">{{ dep.text }}</li>
      {% endfor %}
    </ul>
    {% endif %}
  </div>
</div>
{% include "admin/rss_widget.html" %}
{% endblock %}
