{% load i18n locale %}
{% if object_list %}
<table class="staticpages">
  <thead>
    <tr>
      <th>{% trans "Active" %}</th>
      <th>{% trans "Virtual Path" %}</th>
      <th>{% trans "Page Title" %}</th>
      <th>{% trans "Redirect to URL" %}</th>
      <th>{% trans "Last Edited" %}</th>
    </tr>
  </thead>
  <tbody>
  {% for page in object_list %}
    <tr class="item">
      <td>{% if page.active %}{% trans 'Yes' %}{% else %}{% trans 'No' %}{% endif %}</td>
      <td>
        <a href="{{ page.get_edit_url }}">
          <span class="action">{% trans "edit" %}</span><strong>/{{ page.virtual_path }}</strong>
        </a>
      </td>
      <td>
        <a href="{{ page.get_absolute_url }}">
          <span class="action">{% trans "view" %}</span>{{ page.title }}
        </a>
      </td>
      <td>{% if page.url %}<a href="{{ page.url }}">{{ page.url }}</a>{% endif %}</td>
      <td>
        <time class="js-relative-date" title="{{ page.modified_on|dateformat }}"
          datetime="{{ page.modified_on.isoformat }}">&nbsp;</time>
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% else %}
<p>{% trans "No pages yet." %}</p>
{% endif %}
