{% extends "home/base.html" %}
{% load i18n baseurl cleanhtml assets common_tags search %}
{% get_current_language as LANGUAGE_CODE %}

{% block body_id %}main-overview{% endblock %}

{% block search %}{% render_search %}{% endblock %}

{% block header_meta_block %}{% endblock %}

{% block content %}
<div class="module first" lang="{{ LANGUAGE_CODE }}">
  <div class="hd">
    <h2>{% trans "Languages" %}</h2>
  </div>
  <div class="bd">
    {% display_table languages_table %}
  </div>
</div>

<div class="module" lang="{{ LANGUAGE_CODE }}">
  <div class="hd">
    <h2>{% trans "Projects" %}</h2>
  </div>
  <div class="bd">
    {% display_table projects_table %}
  </div>
</div>
{% endblock content %}

{% block postcontent %}
{% include "core/_top_contributors.html" %}
{% endblock postcontent %}

{% block scripts_extra %}
<script type="text/javascript">
$(function() {
  PTL.search.init();

  PTL.common.updateRelativeDates();
  setInterval(PTL.common.updateRelativeDates, 6e4);

  $("td.language").filter(":not([dir])").bidi();
});
</script>
{% if user.is_superuser or request.permissions.administrate %}
{% assets "js_admin" %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
{% endif %}
{% endblock %}
