{% extends "home/base.html" %}

{% load i18n cleanhtml assets common_tags search %}

{% get_current_language as LANGUAGE_CODE %}

{% block body_id %}main-overview{% endblock %}

{% block search %}{% render_search %}{% endblock %}

{% block precontent %}
{% if description or can_edit %}
  <div class="markup-body{% if can_edit %} js-ctx-meta-desc{% endif %}">
    {% if description %}
      {# The surrounding div tag is kept for convenience #}
      <div>
      {{ description|clean }}
      </div>
    {% else %}
      <p class="placeholder muted">{% trans "No description set." %}</p>
    {% endif %}
    {% if can_edit %}
      {% include "admin/_settings_edit.html" %}
    {% endif %}
  </div>
{% endif %}
{% if can_edit %}
  <div class="settings-container js-edit-ctx-meta-desc" style="display:none;">
    {% include "admin/_settings_form.html" %}
  </div>
{% endif %}
{% endblock precontent %}

{% block content %}
<div class="module first" lang="{{ LANGUAGE_CODE }}">
  <div class="hd">
    <h2>{% trans "Languages" %}</h2>
  </div>
  <div class="bd">
    {% display_table languages_table %}
    {% include "core/_summary_legend.html" %}
  </div>
</div>

<div class="module" lang="{{ LANGUAGE_CODE }}">
  <div class="hd">
    <h2>{% trans "Projects" %}</h2>
  </div>
  <div class="bd">
    {% display_table projects_table %}
  </div>
</div>
{% endblock content %}

{% block postcontent %}
{% include "core/_top_contributors.html" %}
{% endblock postcontent %}

{% block scripts_extra %}
<script type="text/javascript">
$(function() {
  PTL.search.init();
  PTL.stats.init({
      pootlePath: "{{ resource_obj.pootle_path }}",
  });
  PTL.stats.load(function () {
    PTL.common.updateRelativeDates();
    setInterval(PTL.common.updateRelativeDates, 6e4);
    $("body").spin(false);
  });

  $(".markup-body, li.newsitem, .newsitem address, .newsitem blockcode, .newsitem blockquote, .newsitem :header, .newsitem p, .newsitem pre, .newsitem li, .newsitem dt, .newsitem dd, .newsitem ul, .newsitem ol, .newsitem dl, td.language").filter(":not([dir])").bidi();
});
</script>
{% if user.is_superuser or request.permissions.administrate %}
{% assets "js_admin" %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
{% endif %}
{% endblock %}
