{% extends "base.html" %}

{% load i18n baseurl progressbar %}

{% get_current_language as LANGUAGE_CODE %}
{% get_current_language_bidi as LANGUAGE_BIDI %}

{% block title %}
{{ block.super }}: {% trans "Projects" %}
{% endblock %}

{% block breadcrumb_content %}
{{ block.super }} » <span>{% trans "Projects" %}</span>
{% endblock %}

{% block body.id %}projectsindex{% endblock body.id %}

{% block content %}
<div class="module first" lang="{{ LANGUAGE_CODE }}">
  <div class="hd">
    <h2>{{ projectlink }}</h2>
  </div>
  <div class="bd">
    <table class="sortable" id="js-stats-projects">
      <tr>
        <th id="js-stats-language" class="stats">{% trans 'Project' %}</th>
        <th id="js-stats-progress" class="stats">{% trans 'Overall Completion' %}</th>
        <th id="js-stats-activity" class="stats">{% trans 'Last Activity' %}</th>
      </tr>
      {% for item in projects %}
      <tr class="{% cycle 'even' 'odd' %}">
        <td class="project"><a href="{% filter l %}/projects/{{ item.code }}/{% endfilter %}" title="{{ item.description }}">{{ item.name }}</a></td>
        <td>
          <div class="sortkey">{{ item.stats.translated.percentage }}</div>
          {% progressbar item.stats %}
        </td>
        <td>{{ item.lastactivity }}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>
{% endblock content %}

{% block postcontent %}
<div class="module first clear" lang="{{ LANGUAGE_CODE }}">
    <div class="bd">
    {% include "translation_summary_legend.html" %}
    </div>
</div>
{% include "top_contributers_table.html" %}
{% endblock postcontent %}
