{% extends "project_base.html" %}
{% load i18n baseurl cleanhtml assets %}
{% get_current_language as LANGUAGE_CODE %}

{% block title %}{{ project.name }} | {{ block.super }}{% endblock %}

{% block breadcrumbs %}
{{ block.super }}<li><a href="{%filter l%}/projects/{{ project.code }}/{%endfilter%}">{{ project.name }}</a></li>
{% endblock %}

{% block body_id %}projectoverview{% endblock %}

{% block content %}
<div class="module first">
  <div class="hd">
    <h2>{{ project.summary }}</h2>
  </div>

  <div class="bd">
    <table class="sortable stats" id="js-stats-project" cellpadding="5" cellspacing="0">
    <thead>
      <tr>
        <th id="js-stats-language" class="stats">{{ statsheadings.name }}</th>
        <th id="js-stats-progress" class="stats">{{ statsheadings.progress }}</th>
        <th id="js-stats-need-translation" class="stats-number sorttable_numeric">{{ statsheadings.need_translation }}</th>
        <th id="js-stats-activity" class="stats">{% trans 'Last Activity' %}</th>
      </tr>
    </thead>
    <tbody class="stats">
    {% for item in languages %}
    <tr class="item {% cycle 'even' 'odd' %}">
    {% include "language/item_summary.html" %}
    <td>{{ item.lastactivity }}</td>
    </tr>
    {% endfor %}
    </tbody>
    </table>
  </div>

  {% include "translation_summary_legend.html" %}
</div>

<div class="module">
  {% if project.description or can_edit %}
  <div class="hd">
    <h2>{% trans "Description" %}</h2>
  </div>

  <div id="overview-description" class="bd">


    <div id="overview-description-project"
      class="markup-body{% if can_edit %} js-ctx-meta-desc{% endif %}">
    {% if project.description_html %}
      {{ project.description_html|clean }}
    {% else %}
      <p class="placeholder muted">{% trans "No description set." %}</p>
    {% endif %}
    {% if can_edit %}
      {% include "admin/edit_links.html" %}
    {% endif %}
    </div>
  {% if can_edit %}
    <div class="settings-container js-edit-ctx-meta-desc" style="display:none;">
      {% include "admin/general_settings_form.html" with form_action="edit_settings.html" %}
    </div>
  {% endif %}

  </div>
  {% endif %}
</div>
{% endblock content %}

{% block postcontent %}
{% include "top_contributers_table.html" %}
{% endblock postcontent %}

{% block scripts_extra %}
<script type="text/javascript">
$(function() {
  $("td.stats-name").filter(":not([dir])").bidi();
});
</script>
{% if user.is_superuser or request.permissions.administrate %}
{% assets "js_admin" %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
{% endif %}
{% endblock %}
