{% extends "project_base.html" %}
{% load i18n baseurl cleanhtml assets common_tags %}
{% get_current_language as LANGUAGE_CODE %}

{% block title %}{{ project.name }} | {{ block.super }}{% endblock %}

{% block body_id %}projectoverview{% endblock %}

{% block content %}
<div class="module first">
  <div class="hd">
    <h2>
      {{ project.summary }}
      <a href="" id="js-toggle-tags" class="hide tags-aside tags-toggle">
        <i class="icon-tag"></i>
        <span id="js-toggle-tags-text">{% trans "Show tags" %}</span>
      </a>
    </h2>
  </div>

  <div class="bd">
    <form action="" method="post" class="tags-filter-form"
      enctype="multipart/form-data">
      {% csrf_token %}
      {{ tags_filter_form.non_field_errors }}
      {% for field in tags_filter_form %}
        {{ field }}
        {{ field.errors }}
      {% endfor %}
      <input type="submit" id="js-filter-form-button"
        value="{% trans "Filter" context "verb" %}"
        title="{% trans "Filter the translation projects using this tags" %}" />
    </form>
  </div>

  <div class="bd">
    {% display_table table %}
  </div>

  {% include "translation_summary_legend.html" %}
</div>

<div class="module">
  {% if project.description or can_edit %}
  <div class="hd">
    <h2>{% trans "Description" %}</h2>
  </div>

  <div id="overview-description" class="bd">
    <div id="overview-description-project"
      class="markup-body{% if can_edit %} js-ctx-meta-desc{% endif %}">
    {% if project.description %}
      {{ project.description }}
    {% else %}
      <p class="placeholder muted">{% trans "No description set." %}</p>
    {% endif %}
    {% if can_edit %}
      {% include "admin/edit_links.html" %}
    </div>
    <div class="settings-container js-edit-ctx-meta-desc" style="display:none;">
      {% include "admin/general_settings_form.html" with form_action="edit_settings.html" %}
    {% endif %}
    </div>
  </div>
  {% endif %}
</div>

{% if user.is_superuser or request.permissions.administrate %}
<div id="js-add-tag-dialog" class="form popup-inline mfp-hide" lang="{{ LANGUAGE_CODE }}">
  <h2>{% trans "Add tag" %}</h2>
  {% include "common/xhr_add_tag_form.html" %}
</div>
{% endif %}
{% endblock content %}

{% block postcontent %}
{% include "top_contributers_table.html" %}
{% endblock postcontent %}

{% block scripts_extra %}
<script type="text/javascript">
$(function() {
  $("td.stats-name").filter(":not([dir])").bidi();
});
</script>
{% if user.is_superuser or request.permissions.administrate %}
{% assets "js_admin" %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
{% endif %}
{% endblock %}
