{% extends "base.html" %}

{% load i18n baseurl progressbar %}

{% get_current_language as LANGUAGE_CODE %}

{% block title %}{% trans "Projects" %} | {{ block.super }}{% endblock %}

{% block breadcrumbs %}
{{ block.super }}<li>{% trans "Projects" %}</li>
{% endblock %}

{% block content %}
<div class="module first" lang="{{ LANGUAGE_CODE }}">
  <div class="hd">
    <h2>{% trans "Projects" %}</h2>
  </div>
  <div class="bd">
    <table class="sortable" id="js-stats-projects">
      <tr>
        <th id="js-stats-language" class="stats">{% trans 'Project' %}</th>
        <th id="js-stats-progress" class="stats">{% trans 'Overall Completion' %}</th>
        <th id="js-stats-activity" class="stats">{% trans 'Last Activity' %}</th>
      </tr>
      {% for item in projects %}
      <tr class="{% cycle 'even' 'odd' %}">
        <td class="project"><a href="{% filter l %}/projects/{{ item.code }}/{% endfilter %}" title="{{ item.description }}">{{ item.name }}</a></td>
        <td>
          <div class="sortkey">{{ item.stats.translated.percentage }}</div>
          {% progressbar item.stats %}
        </td>
        <td>{{ item.lastactivity }}</td>
      </tr>
      {% endfor %}
    </table>
  </div>

  {% include "translation_summary_legend.html" %}
</div>
{% endblock content %}

{% block postcontent %}
{% include "top_contributers_table.html" %}
{% endblock postcontent %}
