{% extends "project_base.html" %}

{% load i18n assets baseurl %}

{% get_current_language as LANGUAGE_CODE %}

{% block title %}{% trans "Administrate" %} | {{ project.name }} | {{ block.super }}{% endblock %}

{% block breadcrumbs %}
{{ block.super }}<li><a href="{% filter l %}/projects/{{ project.code }}/{% endfilter %}">{{ project.name }}</a></li><li>{% trans "Administrate" %}</li>
{% endblock %}

{% block css %}
{{ block.super }}
{% assets "css_admin" %}
<link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}" />
{% endassets %}
{% endblock %}

{% block body_id %}projectadmin{% endblock %}

{% block content %}
<div class="settings-container centered" lang="{{ LANGUAGE_CODE }}">
    <p>{% trans "Here you can add, edit, or delete the languages for this project." %}</p>
    {% include "admin/admin_general.html" %}
</div>
{% endblock %}

{% block scripts_extra %}
{% assets "js_admin" %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
{% endblock %}
