{% extends "project_base.html" %}

{% load i18n baseurl %}

{% get_current_language as LANGUAGE_CODE %}

{% block title %}
{{ block.super }} » {{ project.name }} » {% trans "Administrate" %}
{% endblock %}

{% block bodyclass %}projectadmin{% endblock %}

{% block breadcrumbs_content %}
<a href="{% filter l %}/projects/{{ project.code }}/{% endfilter %}">{{ project.name }}</a>
{% endblock breadcrumbs_content %}

{% block content %}
<div class="settings-container centered" lang="{{ LANGUAGE_CODE }}">
    <p>{% trans "Here you can add, edit, or delete the languages for this project." %}</p>
    {% include "admin/admin_general.html" %}
</div>
{% endblock %}
