{% extends "base.html" %}
{% load i18n baseurl %}

{% block content %}

{% if user.is_superuser %}
<div class="module first">
    {% endif %}
    <div class="bd">
        <h3 class="title"><a href="{%filter l %}index.html{% endfilter %}"> {% trans main_link %}</a></h3>
        <br clear="all" />
        <form action="" method="post" name="updatelangform">
            <h3 class="title" >{% trans existing_title %}</h3>
            <hr />
            <table class="sortable" id="existing_languages">
                <thead>
                    <tr>
                        <th >{% trans full_name %}</th>
                        <th >{% trans iso_code %}</th>
                    </tr>
                </thead>
                <div >
                    {{ formset.management_form.as_table }}
                </div>

                {% for form in formset.forms %}
                <tr class="item item-{{ forloop.counter0 }}">
                    <td><span > {{ form.id.as_hidden }}</span><a href="{% filter l %}../../{{ form.instance.code }}/{{ project.code }}/admin.html{% endfilter %}"> {{ form.instance.fullname }} 
                    </a></td>
                    <td><span >{{ form.instance.code }}</span></td>
                    {% if has_template %}
                    <div>
                        <td><span > {{ form.update.as_widget}} </span></td>
                        <td><a href="{% filter l %}?doupdatelanguage=1&amp;updatelanguage={{ form.instance.code }} {% endfilter %}">
                                {{ update_link }}
                        </a></td>
                    </div>
                    {% endif %}
                    <td><a href="{% filter l %}?initialize=1&amp;updatelanguage={{form.instance.code}}{% endfilter %}">
                            {{ initialize_link }} </a></td>
                </tr>

                {% endfor %}

            </table>
            <div >
                {{ new_language_form.as_p }}
            </div>

            <input type="submit" name="doupdatelanguage" value="{% trans update_button %}"/>
        </form>
    </div>
</div>

</div>

{% if user.is_superuser %}
</div>
{% endif %}

{% endblock %}

