{% extends "project_base.html" %}

{% load i18n baseurl cleanhtml %}

{% get_current_language as LANGUAGE_CODE %}
{% get_current_language_bidi as LANGUAGE_BIDI %}

{% block title %}
{{ block.super }} » {{ project.name }}
{% endblock %}

{% block body.id %}projectindex{% endblock body.id %}

{% block bodyclass %}projectoverview{% endblock %}

{% block breadcrumbs_content %}
<a href="{%filter l%}/projects/{{ project.code }}/{%endfilter%}">{{ project.name }}</a>
{% endblock breadcrumbs_content %}

{% block content %}
<div class="intro">
    {{ description|safe|linebreaks|clean }}
</div>

<div class="item-statistics" lang="{{ LANGUAGE_CODE }}">{{ project.stats }}</div>

<div class="module-primary" lang="{{ LANGUAGE_CODE }}">
    <div class="bd">
        <table class="sortable stats" id="stats" cellpadding="5" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th class="stats">{{ statsheadings.name }}</th>
                <th class="stats">{{ statsheadings.progress }}</th>
                <th class="stats sorttable_numeric">{{ statsheadings.summary }}</th>
                <th class="stats">{{ statsheadings.totalwords }}</th>
            </tr>
        </thead>
        <tbody class="stats">
        {% for item in languages %}
            <tr class="item {% cycle 'even' 'odd' %}">
            {% include "language/item_summary.html" %}
            </tr>
        {% endfor %}
        </tbody>
        </table>
    </div>
</div>
{% endblock content %}

{% block postcontent %}
<div class="module first clear" lang="{{ LANGUAGE_CODE }}">
    <div class="bd">
    {% include "translation_summary_legend.html" %}
    </div>
</div>
{% include "top_contributers_table.html" %}
{% endblock postcontent %}

{% block scripts_extra %}
<script type="text/javascript" src='{{ "js/sorttable.js"|m }}'></script>
<script type="text/javascript" src='{{ "js/jquery/jquery.bidi.js"|m }}'></script>
<script type="text/javascript">
 $(document).ready(function() {
 	$(".intro").filter(":not([dir])").bidi();
 	});
</script>
{% endblock %}
