{% load i18n %}
<table class="graph" original-title="
<span class='legend translated'></span>{% blocktrans %}<span class='value translated'>{{ translated_percent_display }}</span> translated{% endblocktrans %}<br />
<span class='legend fuzzy'></span>{% blocktrans %}<span class='value fuzzy'>{{ fuzzy_percent_display }}</span> needs work{% endblocktrans %}<br />
<span class='legend untranslated'></span>{% blocktrans %}<span class='value untranslated'>{{ untranslated_percent_display }}</span> untranslated{% endblocktrans %}">
  <tr>
    <td class="translated" style="width: {{ translated_bar }}%"><span></span></td>
    <td class="fuzzy" style="width: {{ fuzzy_bar }}%"><span></span></td>
    <td class="untranslated" style="width: {{ untranslated_bar }}%"><span></span></td>
  </tr>
</table>
