{% load i18n %}
<table class="graph" original-title="
<span class='legend translated'></span>{% blocktrans %}{{ translated_percent_display }} translated{% endblocktrans %}<br />
<span class='legend fuzzy'></span>{% blocktrans %}{{ fuzzy_percent_display }} needs work{% endblocktrans %}<br />
<span class='legend untranslated'></span>{% blocktrans %}{{ untranslated_percent_display }} untranslated{% endblocktrans %}">
  <tr>
    <td class="translated" style="width: {{ translated_bar }}%"><span></span></td>
    <td class="fuzzy" style="width: {{ fuzzy_bar }}%"><span></span></td>
    <td class="untranslated" style="width: {{ untranslated_bar }}%"><span></span></td>
  </tr>
</table>
