{% load i18n %}
<table class="graph" original-title="
<span class='legend translated'></span>{{ translated_percent_display }}<br />
<span class='legend fuzzy'></span>{{ fuzzy_percent_display }}<br />
<span class='legend untranslated'></span>{{ untranslated_percent_display }}">
  <tr>
    <td class="translated" style="width: {{ translated_bar }}%"><span></span></td>
    <td class="fuzzy" style="width: {{ fuzzy_bar }}%"><span></span></td>
    <td class="untranslated" style="width: {{ untranslated_bar }}%"><span></span></td>
  </tr>
</table>
