{% extends 'layout.html' %}
{% load search store_tags %}

{% block body_class %}browser{% endblock %}

{% block actions_block %}
{% if page == 'browse' or page == 'translate' %}
<div id="actions" class="header">
  <div id="translate-filters">
    {% block search %}{% render_search %}{% endblock %}
    {% block filters %}{% endblock %}
  </div>
  <div id="translate-actions">{% block actions %}{% endblock %}</div>
</div>
{% endif %}
{% endblock %}

{% block scripts_extra %}
  {{ block.super }}
  <script id="last_action" type="text/template">
    {% include_raw "stats/last_action.html" %}
  </script>
  <script id="last_updated" type="text/template">
    {% include_raw "stats/last_updated.html" %}
  </script>
{% endblock %}
