{% extends browser_extends %}

{% load assets cleanhtml i18n locale translation_project_tags common_tags profile_tags %}

{% get_current_language as LANGUAGE_CODE %}

{% block header_content_block %}
<div id="top-stats" class="header">
  {% block header_content %}
  <a id="js-path-summary" data-target="js-path-summary-more" href="#">
    <div id="progressbar">
      <i id="js-expand-icon" class="icon-expand-stats"
         title="{% trans 'Expand details' %}"></i>
      {% include "browser/_progressbar.html" %}
    </div>
  </a>

  <div class="path-summary-more" id="js-path-summary-more" data-loaded="false" data-collapsed="true">
    <div class="hd">
      <h3><span>{% trans "Translation Statistics" %}</span></h3>
    </div>
    <div class="bd">
      <table class="stats" lang="{{ LANGUAGE_CODE }}" dir="{% locale_dir %}">
        <tbody>
          {% for item in translation_states %}
          <tr id="stats-{{ item.state }}">
            <td id="stats-name">{{ item.title }}</td>
            <td class="stats-number"><a href="{{ item.url }}"></a></td>
            <td class="stats-percentage"><span></span>%</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="bd">
      <table class="last">
        <tbody>
          <tr id="js-last-updated">
            <td>{% trans "Last updated" %}</td>
            <td class="last-updated"></td>
          </tr>
          <tr id="js-last-action">
            <td>{% trans "Last action" %}</td>
            <td class="last-action"></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div id="js-stats-checks" class="hide stats-checks">
      <div class="hd">
        <h3><span>{% trans "Failing Checks" %}</span></h3>
      </div>
      <div class="bd">
      {% for item in check_categories %}
        <div id="check-{{ item.code }}" class="checks js-checks">
          <h4 class="clear">{{ item.title }}</h4>
          {% for check in item.checks %}
          <div class="check js-check" data-code="{{ check.code }}">
            <div class="check-name"><a href="{{ check.url }}">{{ check.title }}</a></div>
            <div class="check-count"><a href="{{ check.url }}">0</a></div>
          </div>
          {% endfor %}
        </div>
      {% endfor %}
      <div class="clear"></div>
      </div>
    </div>
  </div>
  {% endblock %}
</div>
{% endblock %}

{% block actions %}
{% include 'browser/_actions.html' %}
{% endblock %}

{% block pre_content %}
{% if announcement or display_download %}
<div id="sidebar"
  class="js-sidebar{% if announcement_displayed %} sidebar-open{% endif %}">

  {% if display_download %}
  <a href="{% url 'pootle-export' %}?path={{ pootle_path }}"
    title="{% trans 'Download translation files' %}">
    <i class="icon-download"></i> <span>{% trans 'Download' %}</span>
  </a>
  {% endif %}

  {% if announcement %}
  {% include "staticpages/_body.html" with page=announcement %}
  {% endif %}

  <a id="sidebar-toggle" class="js-sidebar-toggle"></a>
</div>
{% endif %}
{% endblock %}

{% block content %}
{% if project and project.disabled %}
<div class="alert alert-danger">
{% trans "This project is disabled and visible to administrators only." %}
</div>
{% endif %}

<div id="autorefresh-notice">
  {% blocktrans %}Some data on this page is currently being calculated, and the page will be refreshed automatically in <strong>30 seconds</strong>.{% endblocktrans %}
  <a href="#" class="js-stats-refresh">{% trans "Refresh now" %}</a>
</div>

{% if table %}
<div class="bd" lang="{{ LANGUAGE_CODE }}">
  {% display_table table %}
</div>
{% endif %}
{% endblock content %}

{% block scripts_extra %}
{{ block.super }}

<script type="text/javascript">
$(function () {
  PTL.search.init();
  PTL.stats.init({
    pootlePath: "{{ pootle_path }}",
    data: {{ stats|safe }}
  });

  {% if 'finished' in request.GET %}
  PTL.msg.show({
    text: '{% trans "Congratulations! You have completed this task!" %}',
    level: 'success',
    language: '{{ LANGUAGE_CODE }}'
  });
  {% endif %}
});
</script>
{% endblock %}
