{% extends browser_extends %}
{% load assets cleanhtml i18n locale translation_project_tags common_tags profile_tags %}
{% get_current_language as LANGUAGE_CODE %}

{% block body_class %}{{ block.super }} js-not-loaded{% endblock %}

{% block header_content_block %}
<div id="top-stats" class="header">
  {% block header_content %}
  <a id="js-path-summary" data-target="js-path-summary-more" href="#">
    <div id="progressbar">
      <i id="js-expand-icon" class="icon-expand-stats"
         title="{% trans "Expand details" %}"></i>
      {% include "browser/_progressbar.html" %}
    </div>
  </a>

  <div class="path-summary-more" id="js-path-summary-more" data-loaded="false" data-collapsed="true">
    <div class="hd">
      <h3><span>{% trans "Translation Statistics" %}</span></h3>
    </div>
    <div class="bd">
      <table class="stats" lang="{{ LANGUAGE_CODE }}" dir="{% locale_dir %}">
        <tbody>
          {% for item in translation_states %}
          <tr id="stats-{{ item.state }}">
            <td id="stats-name">{{ item.title }}</td>
            <td class="stats-number"><a href="{{ item.url }}"></a></td>
            <td class="stats-percentage"><span></span>%</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="bd">
      <table class="last">
        <tbody>
          <tr id="js-last-updated">
            <td>{% trans "Last updated" %}</td>
            <td class="last-updated"></td>
          </tr>
          <tr id="js-last-action">
            <td>{% trans "Last action" %}</td>
            <td class="last-action"></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div id="js-stats-checks" class="hide stats-checks">
      <div class="hd">
        <h3><span>{% trans "Failing Checks" %}</span></h3>
      </div>
      <div class="bd">
      {% for item in check_categories %}
        <div id="check-{{ item.code }}" class="checks js-checks">
          <h4 class="clear">{{ item.title }}</h4>
          {% for check in item.checks %}
          <div class="check js-check" data-code="{{ check.code }}">
            <div class="check-name"><a href="{{ check.url }}">{{ check.title }}</a></div>
            <div class="check-count"><a href="{{ check.url }}">0</a></div>
          </div>
          {% endfor %}
        </div>
      {% endfor %}
      <div class="clear"></div>
      </div>
    </div>
  </div>
  {% endblock %}
</div>
{% endblock %}

{% block actions %}
{% include 'browser/_actions.html' %}
{% endblock %}

{% block pre_content %}
{% if announcement %}
<div id="sidebar"
  class="js-sidebar{% if announcement_displayed %} sidebar-open{% endif %}">
  {% include "staticpages/_body.html" with page=announcement %}
  <a id="sidebar-toggle" class="js-sidebar-toggle"></a>
</div>
{% endif %}
{% endblock %}

{% block content %}
{% if table %}
<div class="bd">
  <div class="files-subfolders" lang="{{ LANGUAGE_CODE }}">
    {% display_table table %}
  </div>
</div>
{% endif %}
{% endblock content %}

{% block scripts_extra %}
{{ block.super }}

<script type="text/javascript">
$(function () {
  PTL.search.init();
  PTL.stats.init({
      pootlePath: "{{ pootle_path }}",
      data: {{ table.data }}
  });

  PTL.common.updateRelativeDates();
  setInterval(PTL.common.updateRelativeDates, 6e4);

  {% if announcement %}
  PTL.common.fixSidebarHeight();
  $(window).on('resize', PTL.common.fixSidebarHeight);
  {% endif %}
  $("td.stats-name").filter(":not([dir])").bidi();

  {% if 'finished' in request.GET %}
  PTL.msg.show({
    text: '{% trans "Congratulations! You have completed this task!" %}',
    level: 'success',
    language: '{{ LANGUAGE_CODE }}'
  });
  {% endif %}
});
</script>
{% if user.is_superuser or request.permissions.administrate %}
{% assets "js_admin" %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
{% endif %}
{% endblock %}
