{% extends "language_base.html" %}
{% load i18n baseurl cleanhtml assets %}

{% get_current_language as LANGUAGE_CODE %}

{% block body.id %}languageindex{% endblock body.id %}

{% block bodyclass %}languageoverview{% endblock bodyclass %}

{% block content %}
<div class="module first">
  <div class="hd">
    <h2>{{ language.summary }}</h2>
  </div>

  <div class="bd">
    <table class="sortable stats" id="js-stats-language" cellpadding="5" cellspacing="0">
      <thead>
        <tr>
          <th id="js-stats-project" class="stats">{{ statsheadings.name }}</th>
          <th id="js-stats-progress" class="stats">{{ statsheadings.progress }}</th>
          <th id="js-stats-need-translation" class="stats-number sorttable_numeric">{{ statsheadings.need_translation }}</th>
          <th id="js-stats-activity" class="stats">{% trans 'Last Activity' %}</th>
        </tr>
      </thead>
      <tbody class="stats">
      {% for item in projects %}
        <tr class="item {% cycle 'even' 'odd' %}">
        {% include "language/item_summary.html" %}
        <td>{{ item.lastactivity }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>

    {% include "translation_summary_legend.html" %}
  </div>
</div>

<div class="module">
  {% if language.description_html or user.is_superuser %}
  <div class="hd">
    <h2>{% trans "Description" %}</h2>
  </div>

  <div id="overview-description" class="bd">
    {% if user.is_superuser or request.permissions.administrate %}
      {% include "admin/edit_links.html" %}
      <div class="settings-container js-admin-description" style="display: none;">
        {% include "admin/general_settings_form.html" with form_action="edit_settings.html" %}
      </div>
    {% endif %}

    {% if language.description_html %}
    <div id="overview-description-language" class="markup-body">
      {{ language.description_html|safe|clean }}
    </div>
    {% endif %}
  </div>
  {% endif %}
</div>
{% endblock content %}

{% block postcontent %}
{% include "top_contributers_table.html" %}
{% endblock postcontent %}

{% block scripts_extra %}
<script type="text/javascript">
$(document).ready(function() {
  $("td.stats-name").filter(":not([dir])").bidi();
});
</script>
{% if user.is_superuser or request.permissions.administrate %}
{% assets "js_admin" %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
{% endif %}
{% endblock %}
