{% load i18n common_tags %}
{% if nav %}
<li class="navigation">
  <select id="js-select-navigation" data-initial-code="{{ page }}"
    style="visibility: hidden;">
    {% include nav %}
  </select>
</li>
{% endif %}
<li>
  <select id="js-select-language" data-initial-code="{{ language.code }}"
    style="visibility: hidden;">
    <option value=""></option>
    {% for lang in ALL_LANGUAGES %}
    <option value="{{ lang.code }}">{{ lang.name }}</option>
    {% endfor %}
  </select>
</li>
<li>
  <select id="js-select-project" data-initial-code="{{ project.code }}"
    style="visibility: hidden;">
    <option value=""></option>
    {% for proj in ALL_PROJECTS %}
    <option value="{{ proj.code }}">{{ proj.name }}</option>
    {% endfor %}
  </select>
</li>
{% if project %}
{% if page == 'overview' or page == 'translate' %}
<li>
  <select id="js-select-resource"
    data-initial-code="{% if resource_path_parts %}ctx-{% endif %}{{ resource_path }}"
    style="visibility: hidden;">
    <option value=""></option>
    {% if resource_path_parts %}
    {% for res in resource_path_parts %}
    <option value="ctx-{{ res }}"
      {% if res|count:'/' == 0 %}class="select2-resource-root"{% endif %}
      data-icon="{% if not res or res|endswith:'/' %}folder{% else %}file{% endif %}">
      {{ res }}
    </option>
    {% endfor %}
    <option disabled></option>{# Hack that works as a separator #}
    {% endif %}
    {% for res in project.resources %}
    <option value="{{ res }}"
      {% if res|count:'/' == 0 %}class="select2-resource-root"{% endif %}
      data-icon="{% if not res or res|endswith:'/' %}folder{% else %}file{% endif %}">
      {{ res }}
    </option>
    {% endfor %}
  </select>
</li>
{% endif %}
{% endif %}
{% if page == 'translate' %}
<li>
  <select id="js-filter-status">
    {# Translators: This refers to "All strings" #}
    <option selected="selected" value="all">{% trans "All" %}</option>
    <option value="translated">{% trans "Translated" %}</option>
    <option value="incomplete">{% trans "Incomplete" %}</option>
    <option value="untranslated">{% trans "Untranslated" %}</option>
    <option value="fuzzy">{% trans "Needs work" %}</option>
    <option value="suggestions">{% trans "Suggestions" %}</option>
    <option value="my-suggestions">{% trans "My suggestions" %}</option>
    <option value="my-submissions">{% trans "My submissions" %}</option>
    {% comment %}Translators: This is a type of filtering criterion that
    selects the strings that have been submitted by me at some point
    in time but have been overwritten by other users.{% endcomment %}
    <option value="my-submissions-overwritten">{% trans "My overwritten submissions" %}</option>
    <option value="checks">{% trans "Checks" %}</option>
  </select>
</li>
<li class="js-filter-checks-wrapper hide">
  <select id="js-filter-checks">
    <option selected value="none">------</option>
    {% for item in check_categories %}
    <optgroup label="{{ item.title }}">
      {% for check in item.checks %}
      <option value="{{ check.code }}" data-title="{{ check.title }}"></option>
      {% endfor %}
    </optgroup>
    {% endfor %}
  </select>
</li>
<li class="js-filter-sort-wrapper hide">
  {# Translators: a drop-down control follows this string, creating a sentence such as "Sort: as in file", or "Sort: by time" #}
  <span>{% trans "Sort" %}</span>
  <select id="js-filter-sort">
    <option selected value="file">{% trans "as in file" %}</option>
    <option value="-time">{% trans "by submission time, newest on top" %}</option>
    <option value="+time">{% trans "by sumission time, oldest on top" %}</option>
  </select>
</li>
{% endif %}
