{% load i18n common_tags profile_tags %}
{% if top_scorers %}
<label>{% trans 'Top contributors:' %}</label>
<ul class="top-scorers">
  {% for item in top_scorers.items|slice:":3" %}
    {% with user=item.user %}
    <li class="top-scorer">
      <div class="place">{% blocktrans with position=forloop.counter %}#{{ position }}{% endblocktrans %}</div>
      <div class="user">
        <a href="{{ user.get_absolute_url }}">
	  {% avatar user.username user.email_hash 20 %}
          <span class="user-name user-info">{{ user.display_name }}</span>
        </a>
      </div>
      <div class="number">{{ item.public_total_score }}</div>
    </li>
    {% endwith %}
  {% endfor %}
</ul>
<div class="clear"></div>
{% endif %}
