{% load i18n humanize profile_tags %}
<table class="top-scorers-table">
  {% if top_scorers %}
    <tbody>
    {% for item in top_scorers %}
      {% with user=item.user %}
      <tr>
        <td class="number">{% blocktrans with position=forloop.counter %}#{{ position }}{% endblocktrans %}</td>
        <td class="user top-scorer">
          <a href="{{ user.get_absolute_url }}">
            <img src="{{ user|gravatar:20 }}" class="avatar" />
            <span class="user-name">{{ user.display_name }}</span>
          </a>
        </td>
        <td class="number">
          <span original-title='
              <span class="value untranslated">{{ item.suggested }}</span> suggested<br/>
              <span class="value translated">{{ item.translated }}</span> translated<br/>
              <span class="value fuzzy">{{ item.reviewed }}</span> reviewed<br/>'>
            {% if item.public_total_score > 0 %}+{% endif %}{{ item.public_total_score|intcomma }}
          </span>
        </td>
      </tr>
      {% endwith %}
    {% endfor %}
    </tbody>
  {% endif %}
</table>
