{% load i18n locale %}
{% if stats %}
<table class="graph" title="&lt;span class='legend translated'&gt;&lt;/span&gt;{% blocktrans with stats.translated.percentage as percent %}{{ percent }}% translated{% endblocktrans %}&lt;br /&gt;
                            &lt;span class='legend fuzzy'&gt;&lt;/span&gt;{% blocktrans with stats.fuzzy.percentage as percent %}{{ percent }}% fuzzy{% endblocktrans %}&lt;br /&gt;
                            &lt;span class='legend untranslated'&gt;&lt;/span&gt;{% blocktrans with stats.untranslated.percentage as percent %}{{ percent }}% untranslated{% endblocktrans %}
                            ">
  <tr>
    <td class="translated" style="width: {{ stats.translated.percentage }}%">&nbsp;</td>
    <td class="fuzzy" style="width: {{ stats.fuzzy.percentage }}%">&nbsp;</td>
    <td class="untranslated">&nbsp;</td>
  </tr>
</table>
{% endif %}
