<div id="search">
  <form
    action="{{ search_action }}"
    method="get"
    id="search-form"
    {% if is_disabled %}class="is-disabled"{% endif %}
  >
    <div class="search-wrapper">
      {{ search_form.search }}
      <button class="btn-search">
        <i class="icon-search"></i>
      </button>
    </div>
    <div class="search-container js-search-container hide">
      <div class="search-fields js-search-fields">
        {{ search_form.sfields }}
      </div>
      <div class="search-options js-search-options">
        {{ search_form.soptions }}
      </div>
    </div>
  </form>
</div>
