{% load i18n locale %}
{% load progressbar %}
{% load url from future %}

<table class="sortable stats" id="{{ table.id }}" cellpadding="5"
cellspacing="0" width="100%" lang="{{ LANGUAGE_CODE }}" dir="{% locale_dir %}">
  <thead>
    <tr>
      {% for th in table.headings %}
      <th id="js-stats-{{ th.id }}" class="{{ th.class }}">
        {{ th.display_name }}
      </th>
      {% endfor %}
    </tr>
  </thead>
  <tbody class="stats">
    {% for item in table.items %}

    <tr class="item {% cycle 'even' 'odd' %}{% if 'total' in table.fields %}{% if item.total_words == 0 %} empty{% endif %}{% endif %}">

      {% if 'name' in table.fields %}
      <td class="stats-name"{% if item.description %} title="{{ item.description|striptags }}"{% endif %}>
        <a href="{{ item.href }}">{% if item.icon %}<i class="icon-{{ item.icon }}"></i> {% endif %}<span>{{ item.title }}</span></a>
        {% if item.stats.errors %}
        <i class="icon-error"></i>
        {% endif %}
      </td>
      {% endif %}

      {% if 'language' in table.fields %}
      <td class="language">
        <a href="{% url 'pootle-language-overview' item.code %}">{{ item.name }}</a>
      </td>
      {% endif %}

      {% if 'project' in table.fields %}
      <td class="project">
        <a href="{% url 'pootle-project-overview' item.code %}"
          title="{{ item.description }}">{{ item.name }}</a>
      </td>
      {% endif %}

      {% if item.stats %}

      {% if 'progress' in table.fields %}
      <td class="stats-graph">
        <div class="sortkey">{{ item.stats.translated.percentage }}</div>
        {% if table.proportional %}
        {% progressbar item.stats stats.total.words %}
        {% else %}
        {% progressbar item.stats %}
        {% endif %}
      </td>
      {% endif %}

      {% if 'total' in table.fields %}
      <td class="stats-number total">
        {% if item.total_words > 0 %}
        <a href="{{ item.href_all }}">{{ item.total_words }}</a>
        {% else %}
        <span class="muted">0</span>
        {% endif %}
      </td>
      {% endif %}
      
      {% if 'need-translation' in table.fields %}
      <td class="stats-number need-translation">
        {% if item.todo_words > 0 %}
        <a href="{{ item.href_todo }}" title="{{ item.todo_tooltip }}">{{ item.todo_words }}</a>
        {% else %}
        <span class="muted">0</span>
        {% endif %}
      </td>
      {% endif %}
      
      {% if 'suggestions' in table.fields %}
      <td class="stats-number suggestions">
        {% if item.stats.suggestions > 0 %}
        <a href="{{ item.href_sugg }}">{{ item.stats.suggestions }}</a>
        {% else %}
        <span class="muted">0</span>
        {% endif %}
      </td>
      {% endif %}
      
      {% if 'activity' in table.fields %}
      <td class="last-activity">{{ item.lastactivity }}</td>
      {% endif %}
      
      {% else %}
        {% for i in table.fields %}<td></td>{% endfor %}
      {% endif %}
    </tr>

    {% endfor %}
  </tbody>
</table>
