{% load i18n locale %}
{% load progressbar %}
{% load url from future %}

<table class="sortable stats js-not-loaded" id="{{ table.id }}" cellpadding="5"
cellspacing="0" width="100%" lang="{{ LANGUAGE_CODE }}" dir="{% locale_dir %}">
  <thead>
    <tr>
      {% for th in table.headings %}
      <th id="js-stats-{{ th.id }}" class="{{ th.class }}">
        {{ th.display_name }}
      </th>
      {% endfor %}
    </tr>
  </thead>
  <tbody class="stats">
    {% for item in table.items %}

    <tr class="item {% cycle 'even' 'odd' %}{% if 'total' in table.fields %}{% if item.total_words == 0 %} empty{% endif %}{% endif %}">

      {% if 'name' in table.fields %}
      <td class="stats-name"{% if item.description %} title="{{ item.description|striptags }}"{% endif %}>
        <a href="{{ item.href }}">{% if item.icon %}<i class="icon-{{ item.icon }}"></i> {% endif %}<span>{{ item.title }}</span></a>
      </td>
      {% endif %}

      {% if 'language' in table.fields %}
      <td class="language">
        <a href="{% url 'pootle-language-overview' item.code %}">{% if item.icon %}<i class="icon-{{ item.icon }}"></i> {% endif %}<span>{{ item.name }}</span></a>
      </td>
      {% endif %}

      {% if 'project' in table.fields %}
      <td class="project">
        <a href="{% url 'pootle-project-overview' item.code %}"
          title="{{ item.description }}">{% if item.icon %}<i class="icon-{{ item.icon }}"></i> {% endif %}<span>{{ item.name }}</span></a>
      </td>
      {% endif %}

      {% if 'progress' in table.fields %}
      <td class="stats-graph">
        <div id="translated-percentage-{{ item.code }}" class="sortkey"></div>
        <div id="progressbar-{{ item.code }}"></div>
      </td>
      {% endif %}

      {% if 'total' in table.fields %}
      <td id="total-words-{{ item.code }}" class="stats-number total js-total">
        <a class="non-zero" href="{{ item.href_all }}"></a>
        <span class="zero muted">0</span>
      </td>
      {% endif %}

      {% if 'need-translation' in table.fields %}
      <td id="need-translation-{{ item.code }}" class="stats-number need-translation js-need-translation">
        <a class="non-zero" href="{{ item.href_todo }}"></a>
        <span class="zero muted">0</span>
      </td>
      {% endif %}

      {% if 'suggestions' in table.fields %}
      <td id="suggestions-{{ item.code }}" class="stats-number suggestions js-suggestions">
        <a class="non-zero" href="{{ item.href_sugg }}"></a>
        <span class="zero muted">0</span>
      </td>
      {% endif %}

      {% if 'activity' in table.fields %}
      <td id="last-activity-{{ item.code }}" class="last-activity"></td>
      {% endif %}
    </tr>

    {% endfor %}
  </tbody>
</table>
