{% extends "base.html" %}

{% load i18n baseurl %}

{% block title %}
{{ block.super }} » {% trans "Account Activated" %}
{% endblock %}

{% block breadcrumb_content %}
{{ block.super }} » <span>{% trans "Account Activated" %}</span>
{% endblock %}

{% block content %}
<div class="form message success">
    <h2>{% trans "Account Activated" %}</h2>
    <p>{% blocktrans %}The account has been activated for username "{{ account }}". You can now proceed to log in.{% endblocktrans %}
    </p>
</div>
{% endblock %}
