{% extends "base.html" %}
{% load i18n baseurl %}

{% block title %}
{{ block.super }} » {% trans "Password Reset" %}
{% endblock %}

{% block breadcrumb_content %}
{{ block.super }} » <span>{% trans "Password Reset" %}</span>
{% endblock %}

{% block content %}
<div class="form message success">
    <h2>{% trans 'Password Reset Complete.' %}</h2>

    <p>{% blocktrans %}Your password has been set. You may go ahead and <a href="{{ login_url }}">log in</a> now.{% endblocktrans %}</p>
</div>
{% endblock %}
