{% extends "base.html" %}

{% load i18n baseurl %}

{% block title %}
{{ block.super }}: {% trans "Reset Password" %}
{% endblock %}

{% block breadcrumb_content %}
{{ block.super }} » <span>{% trans "Reset Password" %}</span>
{% endblock %}

{% block content %}
<div class="form message success">
    <h2>{% trans 'Reset Password' %}</h2>

    <p>{% trans "We've e-mailed you instructions for setting your password to the e-mail address you submitted. You should receive it shortly." %}</p>
</div>
{% endblock %}
